  <!-- Content -->
  <main id="page-container" role="main">


	  {{>beta}}


    <a class="back-link" href="/">Back to the index</a>


		<div class="grid-row">


      <div class="column-two-thirds">


        <h1 class="heading-xlarge">Beech Farm</h1>


        <section>

          <h2 class="heading-medium">Business eligibilty</h2>

          <div class="checklist-done">
            <p>This business has enough eligible land.</p>
          </div>

          <div class="checklist-notmet">
            <p>This business doesn't have enough eligible land.</p>
          </div>

          <div class="checklist-done">
            <p>This business has enough entitlements.</p>
          </div>

          <div class="checklist-inprogress">
            <p>Tell us more about your <a href="#">business activities</a>.</p>
          </div>

          <div class="checklist-done">
            <p>This business is eligible for rural payments.</p>
          </div>

          <div class="checklist-done">
            <p>This business isn't eligible because its main activity isn't farming. If you think it is eligible, or is exempt from the rules, call <b>03000 200 301</b>.</p>
          </div>

        </section>


        <section>

          <h2 class="heading-medium">Give someone access to this business</h2>

          <div class="checklist-inprogress">

            <p>You can give people access to your business if you'd like them to complete your application for you.</p>

            <p>They'll need to give you their customer reference number, which they can get by registering with this service.</p>

            <p><a href="#">Give access to this business</a></p>

          </div>

        </section>


        <section>

          <h2 class="heading-medium">View your land parcels</h2>

          <div class="checklist-inprogress">

            <p>You can view the information we currently have about your land.</p>

            <p>We’ll send you a message when you’re able to come back and update your land details.</p>

            <p><a href="#">View your land parcels</a></p>

          </div>

        </section>


      </div>


      <div class="column-third">


        <img alt="*" src="http://placehold.it/600x600/dee0e2" class="img-border img-responsive">


        <div class="hcard" itemtype="http://schema.org/Organization" itemscope>

          <h2 class="heading-small">Business details</h2>

          <div class="hcard-adr" itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope>
            <div itemprop="streetAddress">Pooley Bridge</div>
            <div itemprop="addressLocality">Penrith</div>
            <div itemprop="addressRegion">Cumbria</div>
            <div itemprop="postalCode">CH3 6NZ</div>
            <div itemprop="addressCountry">United Kingdom</div>
          </div>

        </div>


        <h2 class="heading-small">Manage business</h2>

        <p><a href="#">View business details</a></p>


      </div>


		</div>


	</main>
	<!-- End -->