    <a class="link-back" href="/sitiagri/land/">Back to Land</a>
    
    
    <div class="grid-row">
      
      
      <div class="column-two-thirds">
        
        
        <h1 class="heading-xlarge">Land cover<span class="heading-secondary">Beech Farm</span></h1>
    
    
        <p class="lede">Maecenas et neque luctus, feugiat velit quis, porta augue. Vestibulum et dictum turpis, in rhoncus quam.</p>
        
        
        <p><a class="guidance-open" href="#">Help and guidance</a></p>
        
        
      </div>
      
      
    </div>
    
    
    <iframe class="iframe" scrolling="no" src="/iframe/index.html" frameborder="0" tabindex="-1"></iframe> 
    
    
    <div class="guidance" aria-hidden="true" data-position="right" aria-labelledby="help-and-guidance">
      
      
      <div class="guidance-header">
        
        <h2 class="guidance-title" id="help-and-guidance">Help and guidance</h2>
        
        <button class="guidance-close" type="button" title="Close Help &amp; guidance">
          <span class="icon icon-close">Close</span>
        </button>
        
        <button class="guidance-move" type="button" title="Move to the left of the screen">
          <span class="icon icon-switch">Move to the left of the screen</span>
        </button>
        
      </div>
      
            
      <div class="guidance-content">
        
        
        <div class="guidance-inner">
        
        
        <div class="collapsible">
        
        
          <div class="collapsible-item">
        
            <div class="collapsible-heading">
              <h3><span class="collapsible-heading-primary">Benefits</span></h3>
            </div>
            
            <div class="collapsible-content">
              
              <p>Cras ut tincidunt risus. Mauris faucibus lectus turpis, sit amet rutrum mauris euismod eleifend. Etiam id dolor ipsum. <a href="#" rel="external">Pellentesque</a> sit amet posuere nulla, eu accumsan purus.</p>
              
              <p><img src="http://placehold.it/401x267" alt="placeholder"></p>
        
              <p>Mauris faucibus lectus turpis, sit amet rutrum mauris euismod eleifend.</p>
              
            </div>
          
          </div>
          
          
          <div class="collapsible-item">
        
            <div class="collapsible-heading">
              <h3><span class="collapsible-heading-primary">Births, deaths, marriages and care</span></h3>
            </div>
            
            <div class="collapsible-content">
              
              <p>Cras ut tincidunt risus. Mauris faucibus lectus turpis, sit amet rutrum mauris euismod eleifend. Etiam id dolor ipsum. <a href="#" rel="external">Pellentesque</a> sit amet posuere nulla, eu accumsan purus.</p>
              
              <p><img src="http://placehold.it/401x267" alt="placeholder"></p>
        
              <p>Mauris faucibus lectus turpis, sit amet rutrum mauris euismod eleifend.</p>
              
            </div>
          
          </div>
          
          
          <div class="collapsible-item is-open">
        
            <div class="collapsible-heading">
              <h3><span class="collapsible-heading-primary">Childcare and parenting</span></h3>
            </div>
            
            <div class="collapsible-content">
              
              <p>Cras ut tincidunt risus. Mauris faucibus lectus turpis, sit amet rutrum mauris euismod eleifend. Etiam id dolor ipsum. <a href="#" rel="external">Pellentesque</a> sit amet posuere nulla, eu accumsan purus.</p>
              
              <p><img src="http://placehold.it/401x267" alt="placeholder"></p>
        
              <p>Mauris faucibus lectus turpis, sit amet rutrum mauris euismod eleifend.</p>
              
            </div>
          
          </div>
          
          
          <div class="collapsible-item">
        
            <div class="collapsible-heading">
              <h3><span class="collapsible-heading-primary">Citizenship and living in the UK</span></h3>
            </div>
            
            <div class="collapsible-content">
              
              <p>Cras ut tincidunt risus. Mauris faucibus lectus turpis, sit amet rutrum mauris euismod eleifend. Etiam id dolor ipsum. <a href="#" rel="external">Pellentesque</a> sit amet posuere nulla, eu accumsan purus.</p>
              
              <p><img src="http://placehold.it/401x267" alt="placeholder"></p>
        
              <p>Mauris faucibus lectus turpis, sit amet rutrum mauris euismod eleifend.</p>
              
            </div>
          
          </div>
          
          
          <div class="collapsible-item">
        
            <div class="collapsible-heading">
              <h3><span class="collapsible-heading-primary">Crime, justice and the law</span></h3>
            </div>
            
            <div class="collapsible-content">
              
              <p>Cras ut tincidunt risus. Mauris faucibus lectus turpis, sit amet rutrum mauris euismod eleifend. Etiam id dolor ipsum. <a href="#" rel="external">Pellentesque</a> sit amet posuere nulla, eu accumsan purus.</p>
              
              <p><img src="http://placehold.it/401x267" alt="placeholder"></p>
        
              <p>Mauris faucibus lectus turpis, sit amet rutrum mauris euismod eleifend.</p>
              
            </div>
          
          </div>
          
          
          <div class="collapsible-item">
        
            <div class="collapsible-heading">
              <h3><span class="collapsible-heading-primary">Disabled people</span></h3>
            </div>
            
            <div class="collapsible-content">
              
              <p>Cras ut tincidunt risus. Mauris faucibus lectus turpis, sit amet rutrum mauris euismod eleifend. Etiam id dolor ipsum. <a href="#" rel="external">Pellentesque</a> sit amet posuere nulla, eu accumsan purus.</p>
              
              <p><img src="http://placehold.it/401x267" alt="placeholder"></p>
        
              <p>Mauris faucibus lectus turpis, sit amet rutrum mauris euismod eleifend.</p>
              
            </div>
          
          </div>
          
          
          <div class="collapsible-item">
        
            <div class="collapsible-heading">
              <h3><span class="collapsible-heading-primary">Driving and transport</span></h3>
            </div>
            
            <div class="collapsible-content">
              
              <p>Cras ut tincidunt risus. Mauris faucibus lectus turpis, sit amet rutrum mauris euismod eleifend. Etiam id dolor ipsum. <a href="#" rel="external">Pellentesque</a> sit amet posuere nulla, eu accumsan purus.</p>
              
              <p><img src="http://placehold.it/401x267" alt="placeholder"></p>
        
              <p>Mauris faucibus lectus turpis, sit amet rutrum mauris euismod eleifend.</p>
              
            </div>
          
          </div>
          
          
          <div class="collapsible-item">
        
            <div class="collapsible-heading">
              <h3><span class="collapsible-heading-primary">Education and learning</span></h3>
            </div>
            
            <div class="collapsible-content">
              
              <p>Cras ut tincidunt risus. Mauris faucibus lectus turpis, sit amet rutrum mauris euismod eleifend. Etiam id dolor ipsum. <a href="#" rel="external">Pellentesque</a> sit amet posuere nulla, eu accumsan purus.</p>
              
              <p><img src="http://placehold.it/401x267" alt="placeholder"></p>
        
              <p>Mauris faucibus lectus turpis, sit amet rutrum mauris euismod eleifend.</p>
              
            </div>
          
          </div>
          
          
          <div class="collapsible-item">
        
            <div class="collapsible-heading">
              <h3><span class="collapsible-heading-primary">Employing people</span></h3>
            </div>
            
            <div class="collapsible-content">
              
              <p>Cras ut tincidunt risus. Mauris faucibus lectus turpis, sit amet rutrum mauris euismod eleifend. Etiam id dolor ipsum. <a href="#" rel="external">Pellentesque</a> sit amet posuere nulla, eu accumsan purus.</p>
              
              <p><img src="http://placehold.it/401x267" alt="placeholder"></p>
        
              <p>Mauris faucibus lectus turpis, sit amet rutrum mauris euismod eleifend.</p>
              
            </div>
          
          </div>
          
          
          <div class="collapsible-item">
        
            <div class="collapsible-heading">
              <h3><span class="collapsible-heading-primary">Environment and countryside</span></h3>
            </div>
            
            <div class="collapsible-content">
              
              <p>Cras ut tincidunt risus. Mauris faucibus lectus turpis, sit amet rutrum mauris euismod eleifend. Etiam id dolor ipsum. <a href="#" rel="external">Pellentesque</a> sit amet posuere nulla, eu accumsan purus.</p>
              
              <p><img src="http://placehold.it/401x267" alt="placeholder"></p>
        
              <p>Mauris faucibus lectus turpis, sit amet rutrum mauris euismod eleifend.</p>
              
            </div>
          
          </div>
          
          
          <div class="collapsible-item">
        
            <div class="collapsible-heading">
              <h3><span class="collapsible-heading-primary">Housing and local services</span></h3>
            </div>
            
            <div class="collapsible-content">
              
              <p>Cras ut tincidunt risus. Mauris faucibus lectus turpis, sit amet rutrum mauris euismod eleifend. Etiam id dolor ipsum. <a href="#" rel="external">Pellentesque</a> sit amet posuere nulla, eu accumsan purus.</p>
              
              <p><img src="http://placehold.it/401x267" alt="placeholder"></p>
        
              <p>Mauris faucibus lectus turpis, sit amet rutrum mauris euismod eleifend.</p>
              
            </div>
          
          </div>
          
          
          <div class="collapsible-item">
        
            <div class="collapsible-heading">
              <h3><span class="collapsible-heading-primary">Money and tax</span></h3>
            </div>
            
            <div class="collapsible-content">
              
              <p>Cras ut tincidunt risus. Mauris faucibus lectus turpis, sit amet rutrum mauris euismod eleifend. Etiam id dolor ipsum. <a href="#" rel="external">Pellentesque</a> sit amet posuere nulla, eu accumsan purus.</p>
              
              <p><img src="http://placehold.it/401x267" alt="placeholder"></p>
        
              <p>Mauris faucibus lectus turpis, sit amet rutrum mauris euismod eleifend.</p>
              
            </div>
          
          </div>
          
          
          <div class="collapsible-item">
        
            <div class="collapsible-heading">
              <h3><span class="collapsible-heading-primary">Passport, travel and living abroad</span></h3>
            </div>
            
            <div class="collapsible-content">
              
              <p>Cras ut tincidunt risus. Mauris faucibus lectus turpis, sit amet rutrum mauris euismod eleifend. Etiam id dolor ipsum. <a href="#" rel="external">Pellentesque</a> sit amet posuere nulla, eu accumsan purus.</p>
              
              <p><img src="http://placehold.it/401x267" alt="placeholder"></p>
        
              <p>Mauris faucibus lectus turpis, sit amet rutrum mauris euismod eleifend.</p>
              
            </div>
          
          </div>
          
          
          <div class="collapsible-item">
        
            <div class="collapsible-heading">
              <h3><span class="collapsible-heading-primary">Visas and immigration</span></h3>
            </div>
            
            <div class="collapsible-content">
              
              <p>Cras ut tincidunt risus. Mauris faucibus lectus turpis, sit amet rutrum mauris euismod eleifend. Etiam id dolor ipsum. <a href="#" rel="external">Pellentesque</a> sit amet posuere nulla, eu accumsan purus.</p>
              
              <p><img src="http://placehold.it/401x267" alt="placeholder"></p>
        
              <p>Mauris faucibus lectus turpis, sit amet rutrum mauris euismod eleifend.</p>
              
            </div>
          
          </div>
          
          
          <div class="collapsible-item">
        
            <div class="collapsible-heading">
              <h3><span class="collapsible-heading-primary">Working, jobs and pensions</span></h3>
            </div>
            
            <div class="collapsible-content">
              
              <p>Cras ut tincidunt risus. Mauris faucibus lectus turpis, sit amet rutrum mauris euismod eleifend. Etiam id dolor ipsum. <a href="#" rel="external">Pellentesque</a> sit amet posuere nulla, eu accumsan purus.</p>
              
              <p><img src="http://placehold.it/401x267" alt="placeholder"></p>
        
              <p>Mauris faucibus lectus turpis, sit amet rutrum mauris euismod eleifend.</p>
              
            </div>
          
          </div>
        
        
        </div>
        
        
        </div>
        

      </div>
      
      
    </div>