    <a class="link-back" href="/pages/accountable-people/your-businesses/">Back Your businesses</a>
    
    
    <h1 class="heading-xlarge">B &amp; G Farms <span class="heading-secondary">{{loggedUser}}</span></h1>
    
    
    <h2 class="heading-medium">Accountable people</h2>
    
    
    <div class="alert-info text" role="alert">
    
      <div class="alert-message">
        <p>Have you told us about people accountable for this business? If you have not told us about your stakeholders, <span class="bold-small">any payments due to you may be witheld</span>.</p>
        <p><a class="button" href="#">Tell us about accountable people</a></p>
      </div>
    
    </div>
    
    
    <h2 class="heading-medium">Give access to this business</h2>
    
    
    <div class="text">
      
      <p>You can give people access to your business if you'd like them to complete your application for you.</p>
      
      <p>They'll need to give you their customer reference number, which they can get by registering with this service.</p>
      
      <p><a href="#">Give access to this business</a></p>
      
    </div>