    <a class="back-link" href="/">Back to the index</a>
    
    
    <h1 class="heading-xlarge">Accountable people <span class="heading-secondary">Beech Farm</span></h1>
    
    
    <div class="alert-success" role="alert">
    
      <span class="icon icon-tick" role="presentation"></span>
      
      <div class="alert-message text">
        <p>We have received the accountable person information.</p>
      </div>
    
    </div>
    

    <p class="lede text">You must tell us about the accountable people for this business.</p>


    <details>
  
      <summary><span class="summary">What is an accountable person?</span></summary>
      
      <div class="panel-indent text">
        <p>An accountable person is anyone in a business who receives a payment from the <abbr title="European Union">EU</abbr>. There can be more than one accountable person in a business.</p>
      </div>
    
    </details>
    
    <p>Accountable people are:</p>
    
    <ul class="list-bullet">
      <li>business owners</li>
      <li>directors</li>
      <li>partners</li>
      <li>anyone with a 10&#37; or higher share</li>
      <li>anyone with controlling voting rights (if different to shares)</li>
    </ul>
    
    <h2 class="heading-medium">Before you start</h2>
    
    <p>You need to tell us the following about each accountable person:</p>
    
    <ul class="list-bullet">
      <li>full name</li>
      <li>email address</li>
      <li>National Insurance number</li>
      <li>percentage share (or voting rights if different to shares) in the business</li>
      <li>role within the business (for example, a director)</li>
    </ul>
    
    <p><a class="button" href="/pages/accountable-people/business-ownership/" role="button">Add an accountable person</a></p>


    <h2 class="heading-medium">People accountable for this business</h2>
  
  
    <table class="table">
      
      <caption class="visuallyhidden">People accountable for this business</caption>
      
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Role</th>
          <th class="numeric" scope="col">&#37; share</th>
          <th class="numeric" scope="col">&#37; rights</th>
          <th class="last" scope="col">View or update</th>
        </tr>
      </thead>
      
      <tfoot>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td class="numeric"><span class="bold-medium">100</span></td>
          <td class="numeric"><span class="bold-medium">100</span></td>
          <td>&nbsp;</td>
        </tr>
      </tfoot>
      
      <tbody>
        <tr>
          <td>Sydney Bechett</td>
          <td>Business owner</td>
          <td class="numeric">100</td>
          <td class="numeric">100</td>
          <td class="last"><a href="#" title="View Sydney Bechett">View <span class="visuallyhidden">Sydney Bechett</span></a></td>
        </tr>
      </tbody>
      
    </table>