    <a class="back-link" href="/">Back to the index</a>
    
    
    <h1 class="heading-xlarge">Accountable people<span class="heading-secondary">Beech Farm</span></h1>
    
    
    <div class="alert-success" role="alert">
    
      <span class="icon icon-tick" role="presentation"></span>
      
      <div class="alert-message text">
        <p>We have received the accountable person information you have submitted.</p>
      </div>
    
    </div>
    

    <div class="text">
      
      <p class="lede">In order to comply with <abbr title="European Union">EU</abbr> regulations you must tell us about accountable people for this business.</p>
      
      <p>Accountable people include:</p>
      
      <ul class="list-bullet">
        <li>business owner</li>
        <li>directors</li>
        <li>partners</li>
        <li>anyone with a 10&#37; or higher share</li>
        <li>anyone with controlling voting rights (if not a shareholder)</li>
      </ul>
      
      <h2 class="heading-medium">Before you start</h2>
      
      <p>For each accountable person you will need the following information to hand:</p>
      
      <ul class="list-bullet">
        <li>full name</li>
        <li>email address</li>
        <li>National Insurance number</li>
        <li>percentage share (or voting rights) in the business</li>
        <li>role within the business (for example, a director)</li>
      </ul>
      
      <p><a class="button" href="/pages/accountable-people/business-ownership/" role="button">Add an accountable person</a></p>
    
    </div>


    <h2 class="heading-medium">People accountable for this business</h2>
  
  
    <table class="table">
      
      <caption class="visuallyhidden">People accountable for this business</caption>
      
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Role</th>
          <th class="numeric" scope="col">&#37; share</th>
          <th class="numeric" scope="col">&#37; rights</th>
          <th class="last" scope="col">View or update</th>
        </tr>
      </thead>
      
      <tfoot>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td class="numeric"><span class="bold-medium">80</span></td>
          <td class="numeric"><span class="bold-medium">35</span></td>
          <td>&nbsp;</td>
        </tr>
      </tfoot>
      
      <tbody>
        <tr>
          <td>Trevor Saint</td>
          <td>Business owner</td>
          <td class="numeric">60</td>
          <td class="numeric">10</td>
          <td class="last"><a href="#" title="View Trevor Saint">View <span class="visuallyhidden">Trevor Saint</span></a></td>
        </tr>
        <tr>
          <td>Steve Roberts</td>
          <td>Director</td>
          <td class="numeric">10</td>
          <td class="numeric">&ndash;</td>
          <td class="last"><a href="#" title="View Steve Roberts">View <span class="visuallyhidden">Steve Roberts</span></a></td>
        </tr>
        <tr>
          <td>Alan Jennings</td>
          <td>Business partner</td>
          <td class="numeric">10</td>
          <td class="numeric">&ndash;</td>
          <td class="last"><a href="#" title="View Alan Jennings">View <span class="visuallyhidden">Alan Jennings</span></a></td>
        </tr>
      </tbody>
      
    </table>