  <a class="link-back" href="/">Back to the index</a>


	<h1 class="heading-xlarge">Related</h1>
	
	
	<!-- introduction -->
  <div class="text">
    
    <p>Related content needs to sit inside the <a href="/snippets/#layout">layout grid</a>.</p>
    
    <h2 class="heading-medium">Looking for the HTML?</h2>
    
    <p>The HTML snippets can be found in the <a href="/snippets/#related">snippets page</a>.</p>
    
  </div>


  <!-- related content -->
  <div class="example example-grid">
  
    <div class="grid-row">
    
      <div class="column-third">
      
        <div class="related">
        
          <div class="related-section">
          
            <h2 class="related-section-title">Dealing with <abbr title="Her Majesty's Revenue and Customs">HMRC</abbr></h2>
            
            <ul class="related-section-links">
              <li><a href="/">Get help with tax</a></li>
              <li><a href="/" rel="external">Handling someone's personal tax affairs on their behalf</a></li>
            </ul>
          
          </div>
          
          <div class="related-section">
          
            <h2 class="related-section-title">Elsewhere on GOV.UK</h2>
            
            <ul class="related-section-links">
              <li><a href="/">Claiming and dealing with tax credits for someone else</a></li>
              <li><a href="/">Claim and deal with Child Benefit for someone else</a></li>
            </ul>
          
          </div>
        
        </div>
      
      </div>
    
    </div>
  
  </div>
  
  
  <p><a href="#content">Back to the top</a></p>