  {{>breadcrumb}}


  <form class="form" method="get" action="#">
    
    
    <h1 class="heading-large">{{page_name}}</h1>
    
    
    <div class="text">
    
      <p class="lede">Keeping your personal details up to date saves time when applying for grants and schemes.</p>
      
      <p>You must complete all fields, unless they're marked as (optional).</p>
      
    </div>


    <fieldset> 
      
      
      <legend class="heading-medium">Personal details</legend>     


      <div class="form-group">
        <label class="form-label" for="title">Title (optional)</label>
        <input class="form-control form-control-1-8" id="title" type="text" value="Miss">
      </div>


      <div class="form-group">
        <label class="form-label" for="first-name">First name</label>
        <input class="form-control" id="first-name" type="text" value="Mia">
      </div>


      <div class="form-group">
        <label class="form-label" for="middle-name">Middle name (optional)</label>
        <input class="form-control" id="middle-name" type="text" value="Jane">
      </div>


      <div class="form-group">
        <label class="form-label" for="last-name">Last name</label>
        <input class="form-control" id="last-name" type="text" value="Wallace">
      </div>


      <div class="form-group">

        <fieldset>

          <legend>
            <span class="form-label">Date of birth</span>
          </legend>

          <div class="form-date">
            
            <span class="form-hint">For example, 31 3 1980</span>

          	<div class="form-group form-group-day">
          		<label class="form-label" for="dob-day">Day</label>
          		<input class="form-control" id="dob-day" type="text" value="18">
          	</div>

          	<div class="form-group form-group-month">
          		<label class="form-label" for="dob-month">Month</label>
          		<input class="form-control" id="dob-month" type="text" value="10">
          	</div>

          	<div class="form-group form-group-year">
          		<label class="form-label" for="dob-year">Year</label>
          		<input class="form-control" id="dob-year" type="text" value="1969">
          	</div>

          </div>

        </fieldset>

      </div>
    
    
    </fieldset>
    
          
    <fieldset>
      
      
      <legend class="heading-medium">Address</legend> 
      
      
      <div class="toggle">
      
        <p><a class="toggle-link" href="#find-postcode">Find a UK address</a></p>
        
        <div class="toggle-content">
          
          <div class="panel-indent">
          
            <div class="form-group-compound">
  
              <label class="form-label" for="postcode-search">Postcode</span></label>
    
              <div class="form-search">
                <input class="form-control form-control-1-8" type="text" id="postcode-search" value="RG27 6YL">
                <button class="button" type="button">Find UK address</button>
              </div>
    
            </div>
            
            <div class="form-group">
            
              <label class="form-label visuallyhidden" for="addresses">Addresses</label>
      
              <select class="form-control-select" for="addresses">
                <option>Found 12 addresses</option>
                <option value="1">1 Monument Way, Bodmin</option>
                <option value="2">2 Monument Way, Bodmin</option>
                <option value="3">3 Monument Way, Bodmin</option>
                <option value="4">4 Monument Way, Bodmin</option>
                <option value="5">5 Monument Way, Bodmin</option>
                <option value="6">6 Monument Way, Bodmin</option>
                <option value="7">7 Monument Way, Bodmin</option>
                <option value="8">8 Monument Way, Bodmin</option>
                <option value="9">9 Monument Way, Bodmin</option>
                <option value="10">10 Monument Way, Bodmin</option>
                <option value="11">11 Monument Way, Bodmin</option>
                <option value="12">12 Monument Way, Bodmin</option>
              </select>
              
            </div>
          
          </div>
          
        </div>
      
      </div>
      
      
      <div class="form-group form-group-compound">		
				<label class="form-label" for="address-line-1">Street</label>
				<input class="form-control" id="address-line-1" type="text" value="Pooley Bridge">
			</div>
			

			<div class="form-group">
				<label class="form-label visuallyhidden" for="address-line-2">Street</label>
				<input class="form-control" id="address-line-2" type="text">
			</div>
			

			<div class="form-group">
				<label class="form-label" for="address-town">Town or City</label>
				<input class="form-control form-control-1-4" id="address-town" type="text" value="Penrith">
			</div>
			

			<div class="form-group">
				<label class="form-label" for="address-postcode">Postcode</label>
				<input class="form-control form-control-1-8" id="address-postcode" type="text" value="CH3 6NZ">
			</div>       
      
      
    </fieldset>
    
          
    <fieldset>
      
      
      <legend class="heading-medium">Email and telephone</legend>
      
      
      <p>You must enter either a landline or mobile number.</p>
      
      
      <div class="form-group">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" id="email" type="email" value="mia.wallace@beechfarm.co.uk">
      </div>
      

      <div class="form-group">
        <label class="form-label" for="landline">Landline</label>
        <input class="form-control form-control-1-4" id="landline" type="tel" value="0147 9643 7573">
      </div>
      

      <div class="form-group">
        <label class="form-label" for="mobile">Mobile</label>
        <input class="form-control form-control-1-4" id="mobile" type="tel" value="0797 8377 7457">
      </div>
      
      
    </fieldset>      
    

    <div class="form-group">
      
      <button class="button" type="submit">Save</button>
    
      <p><a href="/">Back</a></p>
      
    </div>


  </form>