    <a class="link-back" href="/sitiagri/business-overview/yes/">Back to Business overview</a>
    

    <div class="grid-row">
      
      
      <div class="column-two-thirds">
        
        
        <h1 class="heading-xlarge">Entitlements <span class="heading-secondary">Beech Farm</span></h1>
    
    
        <p class="lede">Check what entitlements you have for the Basic Payment Scheme and transfer any that you’ve sold or leased.</p>
        
        
        <p class="lead-in">Options</p>
        
        <ul class="list-bullet">
          <li><a href="/sitiagri/entitlements/view/">view entitlements</a></li>
          <li><a href="/sitiagri/entitlements/transfer/">transfer entitlements</a></li>
        </ul>
        
        
      </div>
      
      
    </div>
