    <a class="link-back" href="/sitiagri/business-overview/yes/">Back to Business overview</a>

    
    <div class="grid-row">
      
      <div class="column-two-thirds">
        
        <h1 class="heading-xlarge">Common rights <span class="heading-secondary">Beech Farm</span></h1>
    
        <p class="lede">Check and update any grazing rights you hold for common land.</p>
        
      </div>
      
    </div>
