    <a class="link-back" href="/sitiagri/business-overview/yes/">Back to Business overview</a>
    
    
    <div class="grid-row">
      
      
      <div class="column-two-thirds">
    
    
        <h1 class="heading-xlarge">Accountable people <span class="heading-secondary">Beech Farm</span></h1>
    
    
        <p class="lede">You must tell us about <b>all</b> the accountable people for this business that fall into the categories below.</p>
    
    
        <details>
      
          <summary><span class="summary">Why do you need to tell us about accountable people?</span></summary>
          
          <div class="panel-indent">
            
            <p>It means we can check whether someone is accountable for more than one business. If they are, we might have to count those businesses as one for purposes of claiming payments.</p>
            
          </div>
        
        </details>
        
        
        <p>Examples of accountable people are:</p>
        
        
        <ul class="list-bullet">
          <li>sole trader business owners</li>
          <li>directors</li>
          <li>partners</li>
          <li>trustees/executors</li>
        </ul>
        
        
        <p>Shareholders are accountable people if they fall into one or more of the following 4 categories:</p>
        
        
        <ul class="list-bullet">
          <li>are one of only two shareholders &ndash; both parties are accountable</li>
          <li>are one of three or more shareholders &ndash; at least the three highest shareholders are accountable</li>
          <li>have 50&#37; or more shares/votes (either on their own or in combination with others), or</li>
          <li>hold 10&#37; or more of shares</li>
        </ul>
        
        
        <h2 class="heading-medium">Before you start</h2>
        
        
        <p>You need to tell us the following about each accountable person:</p>
        
        
        <ul class="list-bullet">
          <li>full name</li>
          <li>National Insurance number &ndash; if this person doesn't have a National Insurance number, phone us on 03000 200 301</li>
        </ul>
        
        
        <p>If you're not a sole trader, you also need to tell us the following:</p>
        
        
        <ul class="list-bullet">
          <li>percentage share (or voting rights if different to shares) in the business</li>
        </ul>
      
  
        <p><a class="button" href="/accountable-people/business-ownership/" role="button">Continue</a></p>
      
    
      </div>
      
      
    </div>