    <div id="global-breadcrumb">
      <ol>
        <li><a href="/">RPA Style Guide</a></li>
        <li><a href="/sitiagri/">Business overview</a></li>
        <li>Manage your entitlements</li>
      </ol>
    </div>
    
    
    <h1 class="heading-xlarge">Manage your entitlements</h1>
    
    
    <ul class="list-bullet">
      <li><a href="#">view entitlements</a></li>
      <li><a href="#">transfer entitlements</a></li>
      <li><a href="#">print entitlements</a></li>
    </ul>