  <!-- Content -->
  <main id="page-container" role="main">


	  {{>beta}}


		<a class="back-link" href="../check-business-details/">Back to check business details</a>


    <div class="grid-row">


      <div class="column-two-thirds">


        <h1 class="heading-xlarge">Beech Farm</h1>


        <!-- add peole to the business -->
        <section>

          <h2 class="heading-medium">Add people to the business</h2>

          <p>Add agents and other people who can act on behalf of this business.</p>

          <p><a href="../people-accountable/">Add people to this business</a></p>

        </section>
        <!-- end -->


        <!-- check the land parcels -->
        <section>

          <h2 class="heading-medium">Check the land parcels</h2>

          <p>Check and update the information held about this business's land.</p>

          <p><a href="#">Check the land parcels</a></p>

        </section>
        <!-- end -->


        <!-- apply for a scheme -->
        <section>

          <h2 class="heading-medium">Apply for a scheme</h2>

          <p>You can only apply for schemes between 10 April and 10 June 2015.</p>

          <p><a href="#">Check which schemes you might be eligible for</a></p>

        </section>
        <!-- end -->


      </div>


      <!-- business details -->
      <div class="column-third">


        <img class="img-border img-responsive" src="/assets/images/map/map-image.png" alt="*">


        <h2 class="heading-small">Business details</h2>


        <div class="hcard" itemtype="http://schema.org/Organization" itemscope>

          <div itemprop="name">Beech Farm</div>

          <div class="hcard-adr" itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope>
            <div itemprop="streetAddress">Pooley Bridge</div>
            <div itemprop="addressLocality">Penrith</div>
            <div itemprop="addressRegion">Cumbria</div>
            <div itemprop="postalCode">CH3 6NZ</div>
            <div itemprop="addressCountry">United Kingdom</div>
          </div>

          <div itemprop="email"><a href="mailto:info@beechfarm.co.uk">info@beechfarm.co.uk</a></div>
          <div>Landline: <span itemprop="telephone">0147 9643 7770</span></div>
          <div>Mobile: <span itemprop="telephone">07231 839 187</span></div>

        </div>


        <ul>
          <li><a href="/">Update these details</a></li>
          <li><a href="/">Close this business</a></li>
        </ul>


      </div>
      <!-- end -->


    </div>


	</main>
	<!-- End -->