<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en-GB"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en-GB"><!--<![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>{{doctitle}} : Rural Payments</title>

    <script>
      (function(){if(navigator.userAgent.match(/IEMobile\/10\.0/)){var d=document,c="appendChild",a=d.createElement("style");a[c](d.createTextNode("@-ms-viewport{width:auto!important}"));d.getElementsByTagName("head")[0][c](a);}})();
    </script>

    <!--[if gt IE 8]><!--><link href="/assets/govuk/stylesheets/govuk-template.css" media="screen" rel="stylesheet"><!--<![endif]-->
    <!--[if IE 8]><link href="/assets/govuk/stylesheets/govuk-template-ie8.css" media="screen" rel="stylesheet"><![endif]-->

    <link href="/assets/govuk/stylesheets/govuk-template-print.css" media="print" rel="stylesheet">

    <!--[if IE 8]>
    <script>
      (function(){if(window.opera){return;}
       setTimeout(function(){var a=document,g,b={families:(g=
       ["nta"]),urls:["/assets/govuk/stylesheets/fonts-ie8.css"]},
       c="govuk/javascripts/vendor/goog/webfont-debug.js",d="script",
       e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
       ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
       .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
      })()
    </script>
    <![endif]-->

    <!--[if gte IE 9]><!-->
    <link href="/assets/govuk/stylesheets/fonts.css" media="all" rel="stylesheet">
    <!--<![endif]-->

    <!--[if lt IE 9]>
      <script src="/assets/govuk/javascripts/ie.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/assets/govuk/images/favicon.ico" type="image/x-icon">

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/govuk/images/apple-touch-icon-144x144.png">

    <!-- For iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/govuk/images/apple-touch-icon-114x114.png">

    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/govuk/images/apple-touch-icon-72x72.png">

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="/assets/govuk/images/apple-touch-icon-57x57.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/assets/govuk/images/opengraph-image.png">


    <!--[if gt IE 8]><!--><link href="/assets/stylesheets/main.css" media="all" rel="stylesheet"><!--<![endif]-->
    <!--[if IE 8]><link href="/assets/stylesheets/main-ie8.css" media="all" rel="stylesheet"><![endif]-->

    <link href="/assets/stylesheets/print.css" media="print" rel="stylesheet">

  </head>

  <body>

  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

  {{#if openLayers}}
  <script src="/assets/javascripts/vendor/openlayers.js"></script>
  {{/if}}