<!-- Header -->
<div id="skiplink-container">
  <div>
    <a href="#content" class="skiplink">Skip to main content</a>
  </div>
</div>

<div id="global-cookie-message">
  <div class="outer-block">
    <div class="inner-block">
      <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
    </div>
  </div>
</div>

<header class="with-proposition" id="global-header" role="banner">

  <div class="header-wrapper">

    <div class="header-global">

      <div class="header-logo">
        <a href="https://www.gov.uk/" title="Go to the Department for Environment Food & Rural Affairs homepage" id="logo" class="content">
          <img src="/assets/images/govuk-crest.png" width="35" height="31" alt="*">
          <span class="break">Department </span> 
          <span class="break">for Environment </span> 
          <span class="break">Food &amp; Rural Affairs </span>
        </a>
      </div>

    </div>

    <div class="header-proposition">

      <div class="content">
        <a class="js-header-toggle menu" href="#proposition-links">Menu</a>
        <nav id="proposition-menu">
          <a href="/" id="proposition-name">Defra Dan</a>
          <ul id="proposition-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Recently viewed</a></li>
            <li><a href="#">Sign out</a></li>
          </ul>
        </nav>
      </div>

    </div>

  </div>

</header>

<div id="global-header-bar">
  <div class="inner-block">
    <div class="header-bar"></div>
  </div>
</div>
<!-- End -->
