<nav class="business-menu">

  <ul class="business-links">
    <li><a href="#">Red Farm</a></li>
    <li><a href="#">Land</a></li>
    <li><a href="#">People and permissions</a></li>
    <li><a href="#">Scheme eligibility</a></li>
    <li><a href="#">Entitlements</a></li>
    <li><a href="#">BPS Application</a></li>
  </ul>

</nav>