		<a class="back-link" href="../">Back to forms</a>


    <div class="text">

		  <h1 class="heading-xlarge">Register for Rural Payments</h1>

		  <p class="lede">Enter the 10-digit Customer Reference Number provided to you by Rural Payments and your email address.</p>

    </div>


		<form class="form form-group" method="get" action="/">


      <!-- form group -->
			<div class="form-group">
				<label class="form-label" for="customer-reference">Customer Reference Number</label>
				<span class="form-hint">It'll be in your email inbox. For example, 1234567890.</span>
				<input class="form-control" type="text" id="customer-reference">
			</div>
			<!-- end -->


      <!-- form group -->
			<div class="form-group">
				<label class="form-label" for="email">Enter your email address</label>
				<input class="form-control" type="email" id="email">
			</div>
			<!-- end -->


      <!-- form group -->
			<div class="form-group">
				<button class="button" type="submit">Register</button>
			</div>
			<!-- end -->


		</form>


    <div class="text">

      <div class="alert-info" role="alert">

        <div class="alert-message">
          <p>Unauthorised access to this system constitutes an offence under the Computer Misuse Act 1990. You must follow Defra or Defra Network organisational policies and codes of conduct relating to the use of computer systems, and
          agree to the terms of the Personal Commitment Statement.</p>

          <p>Activity on the Defra network computer systems may be monitored and/or recorded to secure the effective operation of the system and for other lawful puposes.</p>
        </div>

      </div>

    </div>