		<a class="back-link" href="/">Back to index</a>


    <div class="text">

      <h1 class="heading-xlarge">Rural Payments</h1>

      <p class="lede">You must accept the terms and conditions of this service before using it.</p>

    </div>


    <form class="form" method="get" action="personal-details/">

      <div class="form-group">
        <label class="form-checkbox" for="checkbox-terms-and-conditions">
        <input id="checkbox-terms-and-conditions" value="checkbox-terms-and-conditions" type="checkbox">
          I accept the <a href="/">terms and conditions</a>
        </label>
      </div>

      <button class="button">Continue</button>

    </form>