    <a class="link-back" href="/">Back to the index</a>


    <form class="form" method="get" action="/pages/confirm-journey/personal-details/">

    
      <h1 class="form-title heading-large">Example: Rural Payments</h1>


      <div class="text">
        <p class="lede">You must accept the terms and conditions of this service before using it.</p>
      </div>


      <div class="form-group">
        
        <label class="form-checkbox" for="checkbox-terms-and-conditions">
        <input id="checkbox-terms-and-conditions" value="checkbox-terms-and-conditions" type="checkbox">
          I accept the <a href="/">terms and conditions</a>
        </label>
        
      </div>
      

      <button class="button">Continue</button>
      

    </form>