		<a class="back-link" href="../your-contact-preferences/">Back to your contact preferences</a>


    <div class="grid-row">


      <div class="column-two-thirds">


        <h1 class="heading-xlarge">Check business details <span class="heading-secondary">Beech Farm</span></h1>


    		<p class="lede">Please check that the details below are correct.</p>


        <!-- business contact details -->
        <section>

      		<h2 class="heading-large">Business contact details</h2>

          <div class="summary">

            <ul itemtype="http://schema.org/Organization" itemscop>

              <li>
                <h4 class="summary-title">Business name</h4>
                <div class="summary-value" itemprop="name">Beech Farm</div>
              </li>

              <li>
                <h4 class="summary-title">Address</h4>
                <div class="summary-value" itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope="">
                  <div itemprop="streetAddress">Pooley Bridge</div>
                  <div itemprop="addressLocality">Penrith</div>
                  <div itemprop="addressRegion">Cumbria</div>
                  <div itemprop="postalCode">CH3 6NZ</div>
                  <div itemprop="addressCountry">United Kingdom</div>
                </div>
              </li>

              <li>
                <h4 class="summary-title">Landline</h4>
                <div class="summary-value" itemprop="telephone">07337938476</div>
              </li>

              <li>
                <h4 class="summary-title">Mobile</h4>
                <div class="summary-value" itemprop="telephone">07449654321</div>
              </li>

              <li>
                <h4 class="summary-title">Email</h4>
                <div class="summary-value" itemprop="email"><a href="mailto:mia.wallace@beechfarm.co.uk">mia.wallace@beechfarm.co.uk</a></div>
              </li>

            </ul>

          </div>

        </section>
        <!-- end -->


        <!-- reference numbers -->
        <section>

          <h2 class="heading-large">Reference numbers</h2>

          <div class="summary">

            <ul>

              <li>
                <h4 class="summary-title">Single Business Identifier</h4>
                <div class="summary-value">222223250</div>
              </li>

              <li>
                <h4 class="summary-title"><abbr title="Value Added Tax">VAT</abbr> Registration Number</h4>
                <div class="summary-value">GB999 9999 73</div>
              </li>

            </ul>

          </div>

        </section>
        <!-- end -->


        <!-- button container -->
        <div class="button-container">
          <a class="button" href="../additional-business-details/" role="button">Continue</a>
          <p><a href="../amend-business-details/">Amend these details</a></p>
        </div>
        <!-- end -->


      </div>


      <div class="column-third">

        {{>map}}

      </div>


    </div>