		<a class="link-back" href="/pages/confirm-journey/your-contact-preferences/">Back to Your contact preferences</a>


    <div class="grid-row">


      <div class="column-two-thirds">


        <h1 class="heading-xlarge">Check business details <span class="heading-secondary">Beech Farm</span></h1>


    		<p class="lede">Please check that the details below are correct.</p>
    		
    		
    		
    		<h2 class="heading-medium">Business contact details</h2>
    		
    		<table class="table-summary" itemtype="http://schema.org/Organization" itemscope>
  
          <caption class="visuallyhidden">Business contact details</caption>
          
          <tbody>
          
            <tr>
              <th class="table-summary-title" scope="row">Business name</th>
              <td class="table-summary-content" itemprop="name">Beech Farm</td>
            </tr>
            
            <tr>
              <th class="table-summary-title" scope="row">Address</th>
              <td class="table-summary-content">
                <div itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope>
                  <div itemprop="streetAddress">Pooley Bridge</div>
                  <div itemprop="addressLocality">Penrith</div>
                  <div itemprop="addressRegion">Cumbria</div>
                  <div itemprop="postalCode">CH3 6NZ</div>
                  <div itemprop="addressCountry">United Kingdom</div>
                </div>
              </td>
            </tr>
            
            <tr>
              <th class="table-summary-title" scope="row">Landline</th>
              <td class="table-summary-content" itemprop="telephone">07337938476</td>
            </tr>
            
            <tr>
              <th class="table-summary-title" scope="row">Mobile</th>
              <td class="table-summary-content" itemprop="telephone">07449654321</td>
            </tr>
            
            <tr>
              <th class="table-summary-title" scope="row">Email</th>
              <td class="table-summary-content" itemprop="email"><a href="mailto:info@beechfarm.co.uk">info@beechfarm.co.uk</a></td>
            </tr>
          
          </tbody>
        
        </table>
        
        
        <h2 class="heading-medium">Reference numbers</h2>
        
        <table class="table-summary">
    
          <caption class="visuallyhidden">Business reference numbers for business</caption>
          
          <tbody>
            
            <tr>
              <th class="table-summary-title" scope="row">Single Business Identifier</th>
              <td class="table-summary-content">222223250</td>
            </tr>
            
            <tr>
              <th class="table-summary-title" scope="row"><abbr title="Value Added Tax">VAT</abbr> Registration Number</th>
              <td class="table-summary-content">GB999 9999 73</td>
            </tr>
          
          </tbody>
        
        </table>


        <a class="button" href="/pages/confirm-journey/additional-business-details/" role="button">Continue</a>
        
        <p><a href="/pages/confirm-journey/update-business-details/">Update these details</a></p>


      </div>


      <div class="column-third">

        {{>map}}

      </div>


    </div>