    <a class="link-back" href="/sitiagri/entitlements/">Back to Entitlements</a>
    
    
    <div class="grid-row">
      
      
      <div class="column-two-thirds">
        
        
        <h1 class="heading-xlarge">View entitlements <span class="heading-secondary">Beech Farm</span></h1>
    
    
        <p class="lede">These are the entitlements you have for the Basic Payment Scheme.</p>
        
        
      </div>
      
      
    </div>