	<a class="back-link" href="/">Back to the index</a>


	<h1 class="heading-xlarge">Application appstatus</h1>
  
  
  <div class="text">
    
    <p class="lede">A customer has submitted an application via fasttrack, post or handed in will be able to see their current application appstatus.</p>
    
    <p>A collection of scenarios exist as illustrated below:</p>
    
  </div>
  
  
  <h3 class="heading-medium">No application received</h3>
  
  <p>Single business only</p>
  
  <div class="example">
    
    <div class="appstatus" role="alert">
      
      <h1 class="appstatus-title">Basic Payment Scheme 2015</h1>
      
      <p class="lede">We have not yet received a claim for your business. If you believe this information to be incorrect, please contact Rural Payments on 03000 200 301.</p>
      
    </div>

  </div>
  
  
  <h3 class="heading-medium">No application received</h3>
  
  <p>Single business only</p>
  
  <div class="example">
    
    <div class="appstatus" role="alert">
      
      <h1 class="appstatus-title">Basic Payment Scheme 2015</h1>
      
      <p class="lede">We have not yet received a claim for this business. If you believe this information to be incorrect, please contact Rural Payments on 03000 200 301.</p>
      
    </div>

  </div>
  

  <h3 class="heading-medium">Application received</h3>
  
  <p>Single business only</p>
  
  <div class="example">
    
    <div class="appstatus" role="alert">
      
      <h1 class="appstatus-title">Basic Payment Scheme 2015</h1>
      
      <p class="lede">A claim for your business, received by Rural Payments on 31 May 2015, is <strong>being processed</strong>. If you believe this information to be incorrect, please contact Rural Payments on 03000 200 301.</p>
      
      <ol class="appstatus-steps">
        <li><span class="appstatus-complete">Received <img src="/assets/images/icons/icon-complete.png" title="Complete" alt="Complete"></span></li>
        <li><span class="appstatus-processing">Being processed</span></li>
        <li><span>Approved</span></li>
      </ol>
      
    </div>

  </div>
  
  
  <h3 class="heading-medium">Application(s) received</h3>
  
  <p>Single business or multiple businesses</p>
  
  <div class="example">
    
    <div class="appstatus" role="alert">
      
      <h1 class="appstatus-title">Basic Payment Scheme 2015</h1>
      
      <p class="lede">A claim for this business, received by Rural Payments on 31 May 2015, is <strong>being processed</strong>. If you believe this information to be incorrect, please contact Rural Payments on 03000 200 301.</p>
      
      <ol class="appstatus-steps">
        <li><span class="appstatus-complete">Received <img src="/assets/images/icons/icon-complete.png" title="Complete" alt="Complete"></span></li>
        <li><span class="appstatus-processing">Being processed</span></li>
        <li><span>Approved</span></li>
      </ol>
      
    </div>

  </div>
  
  
  <h3 class="heading-medium">Application processed</h3>
  
  <p>Single business or multiple businesses</p>
  
  <div class="example">
    
    <div class="appstatus" role="alert">
      
      <h1 class="appstatus-title">Basic Payment Scheme 2015</h1>
      
      <p class="lede">A claim for your business, received by Rural Payments on 31 May 2015, has been <strong>approved</strong>. If you believe this information to be incorrect, please contact Rural Payments on 03000 200 301.</p>
      
      <ol class="appstatus-steps">
        <li><span class="appstatus-complete">Received <img src="/assets/images/icons/icon-complete.png" title="Complete" alt="Complete"></span></li>
        <li><span class="appstatus-complete">Processed <img src="/assets/images/icons/icon-complete.png" title="Complete" alt="Complete"></span></li>
        <li><span class="appstatus-complete">Approved <img src="/assets/images/icons/icon-complete.png" title="Complete" alt="Complete"></span></li>
      </ol>
      
    </div>

  </div>
  
  
  <h3 class="heading-medium">Application(s) processed</h3>
  
  <p>Single business or multiple businesses</p>
  
  <div class="example">
    
    <div class="appstatus" role="alert">
      
      <h1 class="appstatus-title">Basic Payment Scheme 2015</h1>
      
      <p class="lede">A claim for this business, received by Rural Payments on 31 May 2015, has been <strong>approved</strong>. If you believe this information to be incorrect, please contact Rural Payments on 03000 200 301.</p>
      
      <ol class="appstatus-steps">
        <li><span class="appstatus-complete">Received <img src="/assets/images/icons/icon-complete.png" title="Complete" alt="Complete"></span></li>
        <li><span class="appstatus-complete">Processed <img src="/assets/images/icons/icon-complete.png" title="Complete" alt="Complete"></span></li>
        <li><span class="appstatus-complete">Approved <img src="/assets/images/icons/icon-complete.png" title="Complete" alt="Complete"></span></li>
      </ol>
      
    </div>

  </div>
  

  <h3 class="heading-medium">No application(s) received</h3>
  
  <p>Multiple businesses</p>
  
  <div class="example">
    
    <div class="appstatus" role="alert">
      
      <h1 class="appstatus-title">Basic Payment Scheme 2015</h1>
      
      <p class="lede">We have not yet received any claims for these businesses. If you believe this information to be incorrect, please contact Rural Payments on 03000 200 301.</p>
      
    </div>

  </div>
  
  
  <h3 class="heading-medium">One or more applications received</h3>
  
  <p>Multiple businesses</p>
  
  <div class="example">
    
    <div class="appstatus" role="alert">
      
      <h1 class="appstatus-title">Basic Payment Scheme 2015</h1>
      
      <p class="lede">We have received one or more claims for these businesses. You can check the appstatus of each claim by clicking on each business below.</p>
      
    </div>

  </div>

  
  <p><a href="#content">Back to the top</a></p>