		<a class="back-link" href="../">Back to Fallow field</a>


    <div class="grid-row">


      <div class="column-half">


        <h1 class="heading-xlarge">Pond</h1>


        <div class="toggle">

          <p>Mark the location on the map</p>

          <p><a class="toggle-link" href="#">Drawing tips</a></p>

          <div class="toggle-content">

            <ul class="list-bullet">
              <li>Switch to 'Photo' to see an arial photo of the land</li>
              <li>Use the zoom and full screen controls to make the map bigger</li>
            </ul>

          </div>

        </div>


        <form class="form" method="get" action="/">


          <div class="form-group">
            <label class="form-label" for="land-use">Area</label>
            <input class="form-control form-control-1-8" id="land-use" type="text" value="0.05"> ha
          </div>


          <div class="form-group">
            <label class="form-label" for="enquiry">Additional notes (optional)</label>
            <textarea class="form-control form-control-3-4 form-control-textarea" id="enquiry" rows="3" cols="50">This is a lovely pond setting&hellip;</textarea>
          </div>


          <div class="form-group">
            <button class="button" type="submit">Continue</button>
            <p><a href="../">Back</a></p>
          </div>


        </form>


      </div>


      <div class="column-half">

        {{>map}}

        <h2 class="heading-small">Land parcel details</h2>

        <dl class="description-list">
          <dt>Parcel area</dt>
          <dd>5.6ha</dd>
          <dt>Parcel ID</dt>
          <dd>SJ8063_3254</dd>
        </dl>

      </div>


    </div>