		<a class="back-link" href="/">Back to Bodmin Agr Ltd</a>


    <div class="grid-row">


      <div class="column-two-thirds">


        <h1 class="heading-xlarge">Check your land</h1>


        <p class="lede">Check each land parcel and confirm whether the information is accurate.</p>


        <table class="table-land-parcels">
          <caption class="visuallyhidden">Land parcel information</caption>
          <thead>
            <tr>
              <th scope="col">Land parcel name</th>
              <th scope="col">ID</th>
              <th class="numeric" scope="col">Area (ha)</th>
              <th class="checked last" scope="col">Checked</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Arable land</th>
              <td><span class="text-secondary">SJ8063_3931</span></td>
              <td class="numeric">5.76</td>
              <td class="checked last"><span class="tag tag-done">Yes</span></td>
            </tr>
            <tr>
              <th scope="row">Top field</th>
              <td><span class="text-secondary">SJ8063_5971</span></td>
              <td class="numeric">6.05</td>
              <td class="checked last"><span class="tag">No</span></td>
            </tr>
            <tr>
              <th scope="row">East field</th>
              <td><span class="text-secondary">SJ8063_4541</span></td>
              <td class="numeric">0.49</td>
              <td class="checked last"><span class="tag">No</span></td>
            </tr>
            <tr>
              <th scope="row"><a href="fallow-field/">Fallow field</a></th>
              <td><span class="text-secondary">SJ8063_3254</span></td>
              <td class="numeric">5.6</td>
              <td class="checked last"><span class="tag">No</span></td>
            </tr>
            <tr>
              <th scope="row">The Fen</th>
              <td><span class="text-secondary">SJ8063_4248</span></td>
              <td class="numeric">4.56</td>
              <td class="checked last"><span class="tag">No</span></td>
            </tr>
            <tr>
              <th scope="row">Wheat and Barle</th>
              <td><span class="text-secondary">SJ8063_1039</span></td>
              <td class="numeric">5.34</td>
              <td class="checked last"><span class="tag">No</span></td>
            </tr>
            <tr>
              <th scope="row">Untilted</th>
              <td><span class="text-secondary">SJ8063_1039</span></td>
              <td class="numeric">5.34</td>
              <td class="checked last"><span class="tag">No</span></td>
            </tr>
            <tr>
              <th scope="row">Untilted</th>
              <td><span class="text-secondary">SJ8063_4461</span></td>
              <td class="numeric">3.25</td>
              <td class="checked last"><span class="tag">No</span></td>
            </tr>
            <tr>
              <th scope="row">Untilted</th>
              <td><span class="text-secondary">SJ8063_4369</span></td>
              <td class="numeric">2.1</td>
              <td class="checked last"><span class="tag">No</span></td>
            </tr>
            <tr>
              <th scope="row">Untilted</th>
              <td><span class="text-secondary">SJ8063_4774</span></td>
              <td class="numeric">7.12</td>
              <td class="checked last"><span class="tag">No</span></td>
            </tr>
          </tbody>
        </table>


      </div>


      <div class="column-third">

        {{>map}}

        <h2 class="heading-small">Land details</h2>

        <dl class="description-list">
          <dt>Total area</dt>
          <dd>63.18ha</dd>
        </dl>

        <ul>
          <li><a href="/">Add land</a></li>
          <li><a href="/">Remove land</a></li>
        </ul>

      </div>


    </div>