  <!-- Content -->
  <main id="page-container" role="main">


	  {{>beta}}


		<a class="back-link" href="/">Back to Bodmin Agr Ltd</a>


    <div class="grid-row">


      <div class="column-two-thirds">


        <h1 class="heading-xlarge">Check your land</h1>


        <p class="lede">Check each land parcel and confirm whether the information is accurate.</p>


        <!-- land parcels information -->
        <table class="table-land-parcels">
          <caption class="visuallyhidden">Land parcel information</caption>
          <thead>
            <tr>
              <th scope="col">Land parcel name</th>
              <th scope="col">ID</th>
              <th class="numeric" scope="col">Area</th>
              <th class="checked" scope="col">Checked</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" data-title="Land parcel name">Arable land</th>
              <td data-title="ID"><span class="text-secondary">SJ8063_3931</span></td>
              <td class="numeric" data-title="Area">5.76ha</td>
              <td class="checked" data-title="Checked"><span class="tag tag-done">Yes</span></td>
            </tr>
            <tr>
              <th scope="row" data-title="Land parcel name">Top field</th>
              <td data-title="ID"><span class="text-secondary">SJ8063_5971</span></td>
              <td class="numeric" data-title="Area">6.05ha</td>
              <td class="checked" data-title="Checked"><span class="tag">No</span></td>
            </tr>
            <tr>
              <th scope="row" data-title="Land parcel name">East field</th>
              <td data-title="ID"><span class="text-secondary">SJ8063_4541</span></td>
              <td class="numeric" data-title="Area">0.49ha</td>
              <td class="checked" data-title="Checked"><span class="tag">No</span></td>
            </tr>
            <tr>
              <th scope="row" data-title="Land parcel name"><a href="fallow-field/">Fallow field</a></th>
              <td data-title="ID"><span class="text-secondary">SJ8063_3254</span></td>
              <td class="numeric" data-title="Area">5.6ha</td>
              <td class="checked" data-title="Checked"><span class="tag">No</span></td>
            </tr>
            <tr>
              <th scope="row" data-title="Land parcel name">The Fen</th>
              <td data-title="ID"><span class="text-secondary">SJ8063_4248</span></td>
              <td class="numeric" data-title="Area">4.56ha</td>
              <td class="checked" data-title="Checked"><span class="tag">No</span></td>
            </tr>
            <tr>
              <th scope="row" data-title="Land parcel name">Wheat and Barle</th>
              <td data-title="ID"><span class="text-secondary">SJ8063_1039</span></td>
              <td class="numeric" data-title="Area">5.34ha</td>
              <td class="checked" data-title="Checked"><span class="tag">No</span></td>
            </tr>
            <tr>
              <th scope="row" data-title="Land parcel name">Untilted</th>
              <td data-title="ID"><span class="text-secondary">SJ8063_1039</span></td>
              <td class="numeric" data-title="Area">5.34ha</td>
              <td class="checked" data-title="Checked"><span class="tag">No</span></td>
            </tr>
            <tr>
              <th scope="row" data-title="Land parcel name">Untilted</th>
              <td data-title="ID"><span class="text-secondary">SJ8063_4461</span></td>
              <td class="numeric" data-title="Area">3.25ha</td>
              <td class="checked" data-title="Checked"><span class="tag">No</span></td>
            </tr>
            <tr>
              <th scope="row" data-title="Land parcel name">Untilted</th>
              <td data-title="ID"><span class="text-secondary">SJ8063_4369</span></td>
              <td class="numeric" data-title="Area">2.1ha</td>
              <td class="checked" data-title="Checked"><span class="tag">No</span></td>
            </tr>
            <tr>
              <th scope="row" data-title="Land parcel name">Untilted</th>
              <td data-title="ID"><span class="text-secondary">SJ8063_4774</span></td>
              <td class="numeric" data-title="Area">7.12ha</td>
              <td class="checked" data-title="Checked"><span class="tag">No</span></td>
            </tr>
          </tbody>
        </table>
        <!-- end -->


      </div>


      <div class="column-third">

        <img class="img-border img-responsive" src="http://placehold.it/600x600/dee0e2" alt="*">

        <h2 class="heading-small">Land details</h2>

        <dl class="description-list">
          <dt>Total area</dt>
          <dd>63.18ha</dd>
        </dl>

        <ul>
          <li><a href="/">Add land</a></li>
          <li><a href="/">Remove land</a></li>
        </ul>

      </div>


    </div>


	</main>
	<!-- End -->