{{>docheader}}


  {{>angularscripts}}
  {{>header}}


  <!-- Content -->
  <main id="content" role="main">


  {{>beta}}

  {{>navigation}}


  {{{body}}}


  </main>
  <!-- end -->


  {{>footer}}


  {{>scripts}}


{{>docfooter}}