{{>docheader}}


  {{>angularscripts}}
  
  
  {{#if internalHeader}}
  {{>header-defra}}
  {{else}}
  {{>header}}
  {{/if}}


  <!-- Content -->
  <main id="content" role="main">


  {{#if phase}}
  {{>phase}}
  {{/if}}
  
  
  {{#if businessMenu}}
  {{>navigation}}
  {{/if}}


  {{{body}}}


  </main>
  <!-- end -->


  {{>footer}}


  {{>scripts}}


{{>docfooter}}