{{>docheader}}
  
  
  {{#if internalHeader}}
    {{>header-defra}}
  {{else}}
    {{>header}}
  {{/if}}
  

  <main id="content" role="main">


  {{#if phase}}
  {{>phase}}
  {{/if}}


  {{{body}}}


  </main>


  {{>footer}}


  {{>scripts}}


{{>docfooter}}