	<a class="link-back" href="/">Back to the index</a>


	<h1 class="heading-xlarge">Tabs</h1>
	
	
	<!-- introduction -->
  <div class="text">
    
    <h2 class="heading-medium">Looking for the HTML?</h2>
    
    <p>The HTML snippets can be found in the <a href="/elements/snippets/#tabs">snippets page</a>.</p>
    
  </div>
	
	
	<!-- tabbed content -->
  <div class="example">
  
    <div class="tabs">
    
      <div class="tabs-nav">
      
        <ul class="tabs-list">
          <li class="active"><a href="#before-you-start">Before you start</a></li>
          <li><a href="#need-to-know">Need to know</a></li>
          <li><a href="#ways-to-apply">Ways to apply</a></li>
        </ul>
      
      </div>
    
      <div class="tabs-content">
      
        <div class="tabs-panel" id="before-you-start">
        
          <div class="text">
          
            <p>To get your first provisional driving licence online for a car, motorcycle or moped you must:</p>
            
            <ul class="list-bullet">
              <li>be a resident of Great Britain &ndash; there’s a different service in <a href="http://www.nidirect.gov.uk/applying-for-a-provisional-driving-licence" rel="external">Northern Ireland</a></li>
              <li>meet the minimum age requirement</li>
              <li>meet the <a href="/driving-eyesight-rules">minimum eyesight requirement</a></li>
              <li>not be prevented from driving for any reason</li>
              <li>pay &pound;50 by MasterCard, Visa, Electron, Maestro or Delta debit or credit card</li>
              <li>have a valid <abbr title="United Kngdom">UK</abbr> passport or <a href="/driving-licence-application-identity-documents">other form of identity</a></li>
              <li>have your National Insurance number if known</li>
              <li>provide addresses where you’ve lived for the last 3 years</li>
            </ul>
          
          </div>
        
        </div>
      
        <div class="tabs-panel" id="need-to-know">
        
          <ul class="list-bullet">
            <li>Proof of identification required</li>
            <li>3 years of address details required</li>
            <li>Debit or credit card required</li>
          </ul>
          
        </div>
        
        <div class="tabs-panel" id="ways-to-apply">
        
          <div class="text">
          
            <p>You can apply by post by completing a D1 application form, which you can get from the <a href="#"><abbr title="Driver and Vehicle Licensing Agency">DVLA</abbr> form ordering service</a> or from a Post Office.</p>
            
            <p>You’ll also need to include:</p>
            
            <ul class="list-bullet">
              <li>original documentation confirming your identity</li>
              <li>a colour <a href="/photos-for-passports">passport-style photograph</a></li>
              <li>the fee of &pound;50 by cheque or postal order payable to <abbr title="Driver and Vehicle Licensing Agency">DVLA</abbr> (do not send cash)</li>
            </ul>
            
            <p>Send your completed application and payment to <abbr title="Driver and Vehicle Licensing Agency">DVLA</abbr>, Swansea, SA99 1AD.</p>
            
            <p>If you’re including non&ndash;<abbr title="United Kingdom">UK</abbr> identity documents send your application and payment to <abbr title="Driver and Vehicle Licensing Agency">DVLA</abbr>, Swansea, SA99 1AF.</p>
          
          </div>
        
        </div>
      
      </div>
    
    </div>
  
  </div>
  
  
  <p><a href="#content">Back to the top</a></p>