    <a class="link-back" href="/">Back to the index</a>
    
    
    <h1 class="heading-xlarge">{{pagetitle}}</h1>
    
    
    <p>Welcome, Ian Barclay.</p>
    

    <div class="tabs tabs-alt">
    
      <div class="tabs-nav">
        
        <ul class="tabs-list">
          <li><a href="#tab-1">Businesses</a></li>
          <li><a href="#tab-2">Messages (2)</a></li>
          <li><a href="#tab-3">Applications</a></li>
        </ul>
        
      </div>
      
      <div class="tabs-content">
      
        <div class="tabs-panel" id="tab-1">
            
          <div class="tabs-panel-inner">
          
            <h2 class="heading-medium">Businesses</h2>
            
            <ul class="list-summary">
              <li class="list-summary-item"><a href="#">Black Horse Farm. Black Horse Lane, Reading R5 6PQ</a></li>
              <li class="list-summary-item"><a href="#">Agri Agents Ltd. Low Street, West Yorkshire, YR4 XP2</a></li>
              <li class="list-summary-item"><a href="#">Bodmin Agri Ltd. Monument Way, Bodmin PL31 1NZ</a></li>
            </ul>
            
            <a class="button" href="#">Add another business</a>
            
          </div>
          
        </div>
        
        <div class="tabs-panel" id="tab-2">
          
          <div class="tab-panel-inner">
            
            <h2 class="heading-medium">Messages</h2>
            
            <p>You have 1 new messaage</p>
            
            <div class="collapsible">
        
        
              <!-- item -->
              <div class="collapsible-item">
                
                <div class="collapsible-heading">
                  <h3><span class="collapsible-heading-primary">You have been given access to Agri Agents Ltd.</span> <span class="collapsible-heading-secondary">15 Sep 2014</span></h3>
                </div>
                
                <div class="collapsible-content">
                  <div class="text">
                    <p>John Smith has given you permission to view and amend information about this business and make applications on their behalf.</p>
                    <p><a href="#">Go to this business</a>.</p>
                  </div>
                </div>
                
              </div>
              <!-- end -->
              
              
              <!-- item -->
              <div class="collapsible-item">
                
                <div class="collapsible-heading">
                  <h3><span class="collapsible-heading-primary">You have been given access to Bodmin Agri Ltd.</span> <span class="collapsible-heading-secondary">10 Sep 2014</span></h3>
                </div>
                
                <div class="collapsible-content">
                  <div class="text">
                    <p>John Smith has given you permission to view and amend information about this business and make applications on their behalf.</p>
                    <p><a href="#">Go to this business</a>.</p>
                  </div>
                </div>
                
              </div>
              <!-- end -->
              
              
              <!-- item -->
              <div class="collapsible-item">
                
                <div class="collapsible-heading">
                  <h3><span class="collapsible-heading-primary">Welcome to Rural Payments</span> <span class="collapsible-heading-secondary">5 Sep 2014</span></h3>
                </div>
                
                <div class="collapsible-content">
                  <div class="text">
                    <p>Fusce a risus libero. Nam risus purus, pharetra eget porttitor in, dictum ut enim. In auctor, purus vitae luctus tempor.</p>
                  </div>
                </div>
                
              </div>
              <!-- end -->
              
            
            </div>
          
          </div>
          
        </div>
        
        <div class="tabs-panel" id="tab-3">
            
          <div class="tabs-panel-inner">
            
            <h2 class="heading-medium">Applications in progress</h2>
            
            <ul class="list-summary">
              <li class="list-summary-item"><a href="#">Black Horse Farm, Basic Payment Scheme</a></li>
              <li class="list-summary-item"><a href="#">Agri Agents Ltd. Basic Payment Scheme</a></li>
            </ul>
            
            <h2 class="heading-medium">Submitted appications</h2>
            
            <ul class="list-summary">
              <li class="list-summary-item"><a href="#">Bodmin Agri Ltd. Basic Payment Scheme</a></li>
            </ul>
          
          </div>
          
        </div>
      
      </div>
    
    </div>