  {{>breadcrumb}}
  

  <div class="grid-row">
    
    
    <div class="column-two-thirds">
      
      
      <h1 class="heading-xlarge">{{page_name}} <span class="heading-secondary">{{business_name}}</span></h1>
  
  
      <p class="lede">Apply for the Basic Payment Scheme and update your application.</p>
      
      
      <p><a class="help-open" href="#">Help</a></p>
      
      
      <p class="lead-in">Options:</p>
      
      <ul class="list-bullet">
        <li><a href="/sitiagri/applications-and-claims/apply/">apply for BPS</a></li>
        <li><a href="/sitiagri/applications-and-claims/update/">update your BPS application</a></li>
      </ul>
      
      
    </div>
    
    
  </div>
  
  
  {{>help}}
  