	  <a class="link-back" href="/">Back to index</a>


    <div class="text">

      <h1 class="heading-xlarge">Check and submit your removal of land</h1>

    </div>


    <table class="table-land-removal">
      <caption class="visuallyhidden">Land parcels information</caption>
      <thead>
        <tr>
          <th scope="col">Land parcel name</th>
          <th scope="col"><abbr title="Single Business Identifier">SBI</abbr></th>
          <th scope="col"><abbr title="County Parish Holding">CPH</abbr></th>
          <th class="numeric" scope="col">Area (<abbr title="Hectare">ha</abbr>)</th>
          <td class="last" scope="col"><a href="#">Edit <span class="visuallyhidden">land parcels</span></a></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Arable land</th>
          <td>SJ8063_3931</td>
          <td>09 / 018 / 0085 09</td>
          <td class="numeric">5.76</td>
          <td class="last"></td>
        </tr>
        <tr>
          <th scope="row">Top field</th>
          <td>SJ8063_5971</td>
          <td>09 / 018 / 0085 10</td>
          <td class="numeric">6.05</td>
          <td class="last"></td>
        </tr>
        <tr>
          <th scope="row">East field</th>
          <td>SJ8063_4541</td>
          <td>09 / 018 / 0085 11</td>
          <td class="numeric">0.49</td>
          <td class="last"></td>
        </tr>
        <tr>
          <th scope="row">Fallow field</th>
          <td>SJ8063_3254</td>
          <td>09 / 018 / 0085 12</td>
          <td class="numeric">5.6</td>
          <td class="last"></td>
        </tr>
      </tbody>
    </table>


    <table class="table-land-removal-summary">
      <caption class="visuallyhidden">Land parcels information summary</caption>
      <tbody>
        <tr>
          <th scope="row">Transfer date</th>
          <td>12 November 2014</td>
          <td class="last"><a href="#">Edit <span class="visuallyhidden">transfer date</span></a></td>
        </tr>
        <tr>
          <th scope="row">Additional information</th>
          <td>Sold to a nice big houses developer</td>
          <td class="last"><a href="#">Edit <span class="visuallyhidden">additional information</span></a></td>
        </tr>
      </tbody>
    </table>


    <button class="button">Remove land</button>
    
    <p><a href="/">Cancel</a></p>
    
    
    