  {{>breadcrumb}}


  <div class="grid-row">


    <div class="column-half">


      <h1 class="heading-xlarge">{{page_name}}</h1>


      <form class="form" method="post" action="#">


        <p>Area of land: 6.5<abbr title="Hectare">ha</abbr></p>


        <p>Area of land minus other features: 5.75<abbr title="Hectare">ha</abbr></p>


        <div class="form-group">
          
          <label for="crop-area">Area of this crop:</label>
          
          <input class="form-control form-control-1-8" id="crop-area" type="text" value="5.75"> <abbr title="Hectare">ha</abbr>
          
        </div>


        <div class="form-group">
          <label class="form-label" for="enquiry">Additional notes (optional)</label>
          <textarea class="form-control form-control-3-4 form-control-textarea" id="enquiry" rows="3" cols="50"></textarea>
        </div>


        <div class="form-group">
          <button class="button" type="sumbit">Save and return</button>
        </div>


        <p><a href="#">Back</a></p>
        

      </form>


    </div>


    <div class="column-half">

      {{>map}}

      <h2 class="heading-small">Land parcel details</h2>

      <dl class="list-parcel">
        <dt>Parcel area</dt>
        <dd>5.6<abbr title="Hectare">ha</abbr></dd>
        <dt>Parcel ID</dt>
        <dd>SJ8063 3254</dd>
      </dl>

    </div>


  </div>