// Open Layers Map
// ==========================================================================


//@import 'vendor/openlayers.scss';


.map-container {
  border: 1px solid #bfc1c3;
  clear: both;
  position: relative;
  width: 100%;

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

}


.map {
  @include abs-pos(0, 0, 0, 0);
  height: 100%;
  width: 100%;
}


// Zoom Group

.olControlZoom {
  margin-left: -1px;
  margin-bottom: -1px;
}


  // Zoom Out

  .olControlZoomOut {
    font-family: "nta",Arial,sans-serif;
    background-color: white;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 33px;
    font-size: 24px;
    text-decoration: none;
    border: 1px solid #bfc1c3;
    display: block;
    margin-top: -1px;
    position: relative;
  }


  // Zoom In

  .olControlZoomIn {
    font-family: "nta",Arial,sans-serif;
    background-color: white;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 33px;
    font-size: 24px;
    text-decoration: none;
    border: 1px solid #bfc1c3;
    display: block;
  }


// Attribution

.olControlAttribution {
  display: none;
}



.olControlZoom {
  bottom: 0; left: 0;
}