<h1 class="heading-large">capdBlockLabel</h1>

<div>
    <input type="checkbox" ng-model="zero">
    <input type="checkbox" ng-model="one">
    <input type="checkbox" ng-model="two">
    <input type="checkbox" ng-model="three">
</div>

<fieldset>


    <div class="form-group form-group-compound">
        <label class="block-label">
            <input name="radio-inline-group" value="Yes" type="radio" ng-model="radiosVisible"> Yes
        </label>

        <label class="block-label">
            <input name="radio-inline-group" value="No" type="radio" ng-model="radiosVisible"> No
        </label>
    </div>


    <div class="form-group">


        <ol class="form-checkboxes" ng-show="radiosVisible">

            <li class="block-list">
                <label>
                    <input type="checkbox" ng-click="zero = !zero" ng-checked="zero">
                    <span class="code">Zero</span>
                </label>
                <span class="title">Zero</span>
            </li>


            <li class="block-list">
                <label>
                    <input type="checkbox" ng-model="one">
                    <span class="code">One</span>
                </label>
                <span class="title">Minimum land management</span>
            </li>


            <li class="block-list">
                <label>
                    <input type="checkbox" ng-model="two">
                    <span class="code">Two</span>
                </label>
                <div class="details">Soil organic matter
                    <ul class="list-bullet">
                        <li>Burnt heather, rough grass, broken and vaccinium</li>
                    </ul>
                </div>
            </li>


            <li class="block-list">
                <label>
                    <input type="checkbox" ng-model="three">
                    <span class="code">Three</span>
                </label>
                <div class="details">Boundaries
                    <ul class="list-bullet">
                        <li>Hedgerows</li>
                        <li>Stone walls</li>
                        <li>Earth and stone banks</li>
                    </ul>
                </div>
            </li>

        </ol>


    </div>


</fieldset>