    <a class="link-back" href="/sitiagri/business-overview/yes/">Back to Business overview</a>
    
    
    <div class="grid-row">
      
      <div class="column-two-thirds">
        
        <h1 class="heading-xlarge">Business details <span class="heading-secondary">Beech Farm</span></h1>
    
        <p class="lede">These are the details we hold for this business.</p>
        
      </div>
      
    </div>
