  {{>breadcrumb}}
  
  
  <h1 class="heading-xlarge"><span class="heading-secondary">{{title}}</span> {{page_name}}</h1>
  
  
  <p class="lede">Ensure all <abbr title="Accessible Rich Internet Applications">ARIA</abbr> attributes are applied.</p>


  <h3 class="heading-medium">Link</h3>
  
  <p class="text">This link associates with the dialog overlay using the 'data-target' attribute.</p>

  <pre><code class="prettyprint">
   &lt;a href=&quot;#&quot; data-toggle=&quot;dialog&quot; data-target=&quot;dialog-1&quot;&gt;sign out&lt;/a&gt;
  </code></pre>


  <h3 class="heading-medium">Dialog overlay</h3>
  
  <p class="text">The dialog overlay can either be located in the page or called via <abbr title="Asynchronous JavaScript and XML">AJAX</abbr>.</p>

  <pre><code class="prettyprint">
  &lt;div class=&quot;dialog&quot; id=&quot;dialog-1&quot; aria-hidden=&quot;true&quot;&gt;
  
    &lt;div class=&quot;dialog-holder&quot; aria-labelledby=&quot;title-1&quot; aria-describedby=&quot;content-1&quot; role=&quot;alertdialog&quot;&gt;
    
      &lt;div class=&quot;dialog-content&quot; id=&quot;content-1&quot; role=&quot;document&quot; tabindex=&quot;0&quot;&gt;
      
        &lt;h1 class=&quot;dialog-heading&quot; id=&quot;title-1&quot;&gt;Sign out&lt;/h1&gt;
      
        &lt;form class=&quot;form&quot;&gt;
        
          &lt;p&gt;This will end your session. Are you sure you want to sign out?&lt;/p&gt;
          
          &lt;div class=&quot;dialog-actions&quot;&gt;
            &lt;button class=&quot;button&quot;&gt;Yes&lt;/button&gt;
            &lt;a class=&quot;dialog-cancel&quot; href=&quot;#&quot;&gt;No&lt;/a&gt;
          &lt;/div&gt;
          
          &lt;button class=&quot;dialog-close&quot; aria-label=&quot;close&quot; type=&quot;button&quot;&gt;
            &lt;span class=&quot;icon icon-close&quot;&gt;x&lt;/span&gt;
          &lt;/button&gt;
        
        &lt;/form&gt;
      
      &lt;/div&gt;
    
    &lt;/div&gt;
  
  &lt;/div&gt;
  </code></pre>


  <h3 class="heading-medium">Examples</h3>
  
  <ul class="list-bullet">
		<li><a href="/" data-toggle="dialog" data-target="dialog-1">sign out</a></li>
		<li><a href="/" data-toggle="dialog" data-target="dialog-2">lock customers account</a></li>
		<li><a href="/" data-toggle="dialog" data-target="dialog-3">duplicate found</a></li>
		<li><a href="/" data-toggle="dialog" data-target="dialog-4">provide feedback</a></li>
		<li><a href="/" data-toggle="dialog" data-target="dialog-5">change owner</a></li>
		<li><a href="/" data-toggle="dialog" data-target="dialog-6">warning</a></li>
		<li><a href="/" data-toggle="dialog" data-target="dialog-7">remove a person</a></li>
		<li><a href="/" data-toggle="dialog" data-target="dialog-8">archive customer record</a></li>
	</ul>


	<div class="dialog" id="dialog-1" aria-hidden="true">

    <div class="dialog-holder" aria-labelledby="dialog-title-1" aria-describedby="dialog-content-1" role="alertdialog">

      <div class="dialog-content" id="dialog-content-1" role="document" tabindex="0">

        <h1 class="dialog-heading" id="dialog-title-1">Sign out</h1>

        <form class="form">

          <p>This will end your session. Are you sure you want to sign out?</p>

          <div class="dialog-actions">
            <button class="button">Yes</button>
            <a class="dialog-cancel" href="/">No</a>
          </div>

          <button class="dialog-close" aria-label="close" type="button">
            <span class="icon icon-close">x</span>
          </button>

        </form>

      </div>

    </div>

	</div>


	<div class="dialog" id="dialog-2" aria-hidden="true">

    <div class="dialog-holder" aria-labelledby="dialog-title-2" aria-describedby="dialog-content-2" role="alertdialog">

      <div class="dialog-content" id="dialog-content-2" role="document" tabindex="0">

        <h1 class="dialog-heading" id="dialog-title-2">Lock customer's account</h1>

        <form class="form">

          <div class="form-group">
            
            <label for="reason">
              <span class="form-label">Give a reason for locking this customer's account</span>
            </label>
            
            <textarea class="form-control form-control-textarea" id="reason" rows="3" cols="50"></textarea>
            
          </div>

          <div class="dialog-actions">
            <button class="button">Lock customer's account</button>
            <a class="dialog-cancel" href="#">Cancel</a>
          </div>

          <button class="dialog-close" aria-label="close" type="button">
            <span class="icon icon-close">x</span>
          </button>

        </form>

      </div>

    </div>

	</div>


	<div class="dialog" id="dialog-3" aria-hidden="true">

    <div class="dialog-holder" aria-labelledby="dialog-title-3" aria-describedby="dialog-content-3" role="alertdialog">

      <div class="dialog-content" id="dialog-content-3" role="document" tabindex="0">

        <h1 class="dialog-heading" id="dialog-title-3">Duplicate found</h1>

        <form class="form">

          <p>The firm of agents <b>Dan Firm</b> already exists with the same landline number. Are you sure you want to continue to create this new firm of agents?</p>

          <div class="dialog-actions">
            <button class="button">Yes</button>
            <a class="dialog-cancel" href="#">No</a>
          </div>

          <button class="dialog-close" aria-label="close" type="button">
            <span class="icon icon-close">x</span>
          </button>

        </form>

      </div>

    </div>

	</div>


	<div class="dialog" id="dialog-4" aria-hidden="true">

    <div class="dialog-holder" aria-labelledby="dialog-title-4" aria-describedby="dialog-content-4" role="alertdialog">

      <div class="dialog-content" id="dialog-content-4" role="document" tabindex="0">

        <h1 class="dialog-heading" id="dialog-title-4">Lock customer's account</h1>

        <form class="form">

          <div class="form-group">
            
            <label for="comments">
              <span class="form-label">Comments</span>
              <span class="form-hint">Don't leave any sensitive details, such as phone numbers</span>
            </label>
            
            <textarea class="form-control form-control-textarea" id="comments" rows="3" cols="50"></textarea>
            
          </div>

          <div class="dialog-actions">
            <button class="button">Submit</button>
            <a class="dialog-cancel" href="#">Cancel</a>
          </div>

          <button class="dialog-close" aria-label="close" type="button">
            <span class="icon icon-close">x</span>
          </button>

        </form>

      </div>

    </div>

	</div>


	<div class="dialog" id="dialog-5" aria-hidden="true">

    <div class="dialog-holder" aria-labelledby="dialog-title-5" aria-describedby="dialog-content-5" role="alertdialog">

      <div class="dialog-content" id="dialog-content-5" role="document" tabindex="0">

        <h1 class="dialog-heading" id="dialog-title-5">Change owner</h1>

        <form class="form">

          <p>Are you sure you want to assign this case to <b>Connor Senior?</b></p>

          <div class="dialog-actions">
            <button class="button">Yes</button>
            <a class="dialog-cancel" href="#">No</a>
          </div>

          <button class="dialog-close" aria-label="close" type="button">
            <span class="icon icon-close">x</span>
          </button>

        </form>

      </div>

    </div>

	</div>


	<div class="dialog" id="dialog-6" aria-hidden="true">

    <div class="dialog-holder" aria-labelledby="dialog-title-6" aria-describedby="dialog-content-6" role="alertdialog">

      <div class="dialog-content" id="dialog-content-6" role="document" tabindex="0">

        <h1 class="dialog-heading" id="dialog-title-6">Change owner</h1>

        <form class="form">

          <p>The total landuse area you have entered is <b>4.90 ha</b>, which is less than the parcel size. Are you sure you want to continue?</p>

          <div class="dialog-actions">
            <button class="button">Yes</button>
            <a class="dialog-cancel" href="#">No</a>
          </div>

          <button class="dialog-close" aria-label="close" type="button">
            <span class="icon icon-close">x</span>
          </button>

        </form>

      </div>

    </div>

	</div>


	<div class="dialog" id="dialog-7" aria-hidden="true">

    <div class="dialog-holder" aria-labelledby="dialog-title-7" aria-describedby="dialog-content-7" role="alertdialog">

      <div class="dialog-content" id="dialog-content-7" role="document" tabindex="0">

        <h1 class="dialog-heading" id="dialog-title-7">Remove a person</h1>

        <form class="form">

          <p>Are you sure you want to remove <b>Connor Senior</b> from this business? This person will no longer be able to access this business online.</p>

          <div class="dialog-actions">
            <button class="button">Yes</button>
            <a class="dialog-cancel" href="#">No</a>
          </div>

          <button class="dialog-close" aria-label="close" type="button">
            <span class="icon icon-close">x</span>
          </button>

        </form>

      </div>

    </div>

	</div>
	

	<div class="dialog" id="dialog-8" aria-hidden="true">

    <div class="dialog-holder" aria-labelledby="dialog-title-8" aria-describedby="dialog-content-8" role="alertdialog">

      <div class="dialog-content" id="dialog-content-8" role="document" tabindex="0">

        <h1 class="dialog-heading" id="dialog-title-8">Archive customer record</h1>

        <form class="form">

          <p>Are you sure you would like to archive xxx?</p>

          <div class="dialog-actions">
            <button class="button">Yes</button>
            <a class="dialog-cancel" href="#">No</a>
          </div>

          <button class="dialog-close" aria-label="close" type="button">
            <span class="icon icon-close">x</span>
          </button>

        </form>

      </div>

    </div>

	</div>