// ==========================================================================
// Utilities
// ==========================================================================

@import 'compass';


// ==========================================================================
// Import GOV.UK frontend toolkit in part
// ==========================================================================

@import '../govuk/sass/colours';
@import '../govuk/sass/conditionals';
@import '../govuk/sass/typography';


// ==========================================================================
// Internal
// ==========================================================================


// Audit trail

.audit-trail {
  
  &-item {
    @include core-16;
    background-color: $grey-4;
    margin-top: 19px;
    padding: 19px;
    
    &:first-child {
      margin-top: 0;
    }
    
    p {
      margin-bottom: 0;
    }
    
  }
  
}


// Exception if audit trail sits within tabs

.tabs {
  
  .audit-trail {
    
    @include media(tablet) {
      margin-left: -1em;
      margin-right: -1em;
    }
    
  }
  
}



// Logo

#global-header #logo {
  font-weight: normal;
  height: auto;
  font-size: inherit;
  
  img {
    top: auto;
    padding-right: 0;
  }
  
}


.break {
  clear: both;
  display: block;
}


// Icons

.icon-lock,
.icon-deactivate {
  background-image: url('../images/icons/statuses.png');
  background-size: auto; // Reset
  float: left;
  margin-right: 10px;
  overflow: hidden;
  
  @include device-pixel-ratio() {
    background-image: url('../images/icons/statuses-2x.png');
    background-size: 200%;
  }
  
}


.icon-lock {
  background-position: 0 0;
}


.icon-deactivate {
  background-position: -22px -22px;
}


// Table

.table {
  
  &-customer-search {
    
    .statuses {
      float: right;
      
      .icon {
        margin-right: 0;
        margin-left: 10px;
      }
      
    }
    
    
  }  
  
}

