// ==========================================================================
// Utilities
// ==========================================================================

@import 'compass';


// ==========================================================================
// Import GOV.UK frontend toolkit in part
// ==========================================================================

@import '../govuk/sass/colours';
@import '../govuk/sass/conditionals';
@import '../govuk/sass/typography';


// ==========================================================================
// Internal
// ==========================================================================


// Audit trail

.audit-trail {
  
  &-item {
    @include core-16;
    background-color: $grey-4;
    margin-top: 19px;
    padding: 19px;
    
    p {
      margin-bottom: 0;
    }
    
  }
  
}


// Logo

#global-header #logo {
  font-weight: normal;
  height: auto;
  font-size: inherit;
  
  img {
    top: auto;
    padding-right: 0;
  }
  
}


.break {
  clear: both;
  display: block;
}

