    <div id="global-breadcrumb">
      <ol>
        <li><a href="/">RPA Style Guide</a></li>
        <li><a href="/sitiagri/">Business overview</a></li>
        <li>Manage your entitlements</li>
      </ol>
    </div>
    

    <div class="grid-row">
      
      <div class="column-two-thirds">
        
        <h1 class="heading-xlarge">Manage your entitlements</h1>
    
        <p class="lede">Phasellus semper, odio ac sagittis auctor, ex enim mattis justo, lacinia luctus odio erat a arcu.</p>
        
        <p>Curabitur ac laoreet nisi. Maecenas et neque luctus, feugiat velit quis, porta augue. Vestibulum et dictum turpis, in rhoncus quam. Cras mattis aliquet auctor.</p>
        
        <ul class="list-bullet">
          <li><a href="/sitiagri/manage-your-entitlements/view/">view entitlements</a></li>
          <li><a href="/sitiagri/manage-your-entitlements/transfer/">transfer entitlements</a></li>
          <li><a href="#">print</a></li>
        </ul>
        
      </div>
      
    </div>
