  <a class="link-back" href="/">Back to the index</a>


	<h1 class="heading-xlarge">Details</h1>


  <!-- introduction -->
  <div class="text">
    
    <p>Support for <abbr title="Hypertext Markup Language">HTML</abbr>5's &lt;details&gt; and &lt;summary&gt;.</p>
    
    <h2 class="heading-medium">Looking for the HTML?</h2>
    
    <p>The HTML snippets can be found in the <a href="/elements/snippets/#details">snippets page</a>.</p>
  
  </div>


  <!-- details -->
  <div class="example">
  
    <details>
    
      <summary><span class="summary">Why aren't all prisons available?</span></summary>
      
      <div class="panel-indent text">
      
        <p>You can’t make an online visit request for all prisons (eg high-security and private prisons). If you can’t enter the prison you're visiting, contact the prison to find out how to book.</p>
      
      </div>
    
    </details>
  
  </div>
  
  
  <p><a href="#content">Back to the top</a></p>