    <a class="link-back" href="/accountable-people/">Back to the index</a>
    
    
    <h1 class="heading-xlarge">{{pagetitle}} <span class="heading-secondary">Beech Farm</span></h1>


    <div class="text">
    
    
      <p class="lede">You must tell us about <b>all</b> the accountable people for this business.</p>
  
  
      <details>
    
        <summary><span class="summary">Why do you need to tell us about accountable people?</span></summary>
        
        <div class="panel-indent">
          
          <p>We need this information because we need to make sure that all of the people representing your business are authorised to do so.</p> 
          
          <p>It also means we can check whether someone is accountable for more than one business, because we might have to count those businesses as one for the purposes of registering on Rural Payments and/or receiving payments.</p>
          
        </div>
      
      </details>
      
      
      <p>Accountable people are:</p>
      
      
      <ul class="list-bullet">
        <li>sole trader business owners</li>
        <li>directors</li>
        <li>partners</li>
      </ul>
      
      
      <p>Shareholders also count as accountable people if they:</p>
      
      
      <ul class="list-bullet">
        <li>hold 10&#37; or more of the shares</li>
        <li>are one of the 3 highest shared holders in a voting block that holds more than 50&#37; of the shares or votes</li>
      </ul>
      
      
      <h2 class="heading-medium">Before you start</h2>
      
      
      <p>You need to tell us the following about each accountable person:</p>
      
      
      <ul class="list-bullet">
        <li>full name</li>
        <li>email address</li>
        <li>National Insurance number &ndash; if this person doesn't have a National Insurance number, phone us on 03000 200 301</li>
      </ul>
      
      
      <p>If you're not a sole trader, you also need to tell us the following:</p>
      
      
      <ul class="list-bullet">
        <li>percentage share (or voting rights if different to shares) in the business</li>
      </ul>
    
    
    </div>
    
    
    <p><a class="button" href="/accountable-people/business-ownership/" role="button">Continue</a></p>