    <!-- introduction -->
    <div class="text">

      <h1 class="heading-xlarge-noback"><abbr title="Rural Payments Agency">RPA</abbr> Style Guide</h1>

      <p class="lede">This guide explains how to make <abbr title="Rural Payments Agency">RPA</abbr> look consistent with the rest of <a href="https://www.gov.uk/" rel="external">GOV.UK</a>.</p>

    </div>
    
    
    <!-- code snippets -->
    <div class="grid-row">

      <div class="column-half">

        <h3 class="heading-medium">Code snippets</h3>

        <p>You will find a collection of code snippets. <br> <a href="/snippets/">View code snippets</a></p>

      </div>

    </div>


    
    <!-- click through prototypes -->
    <h3 class="heading-medium">User journeys</h3>


    <div class="grid-row">


      <div class="column-third">

        <ul class="list-nav">
          <li><a href="/accountable-people/">Accountable people</a></li>
        </ul>

      </div>


      <div class="column-third">

        <ul class="list-nav">
          <li><a href="/confirm-journey/">Confirm journey</a></li>
        </ul>

      </div>
      
      
      <div class="column-third">

        <ul class="list-nav">
          <li><a href="/sitiagri/">SitiAgri</a></li>
        </ul>

      </div>


    </div>
    
    
    <!-- reusable elements -->
    <h3 class="heading-medium">Reusable elements</h3>


    <div class="grid-row">


      <div class="column-third">

        <ul class="list-nav">
          <li><a href="/application/">Application status</a></li>
          <li><a href="/dialogs/">Dialogs</a></li>
          <li><a href="/layout/">Layout</a></li>
          <li><a href="/typography/">Typography</a></li>
          <li><a href="/forms/">Forms</a></li>
        </ul>

      </div>


      <div class="column-third">

        <ul class="list-nav">
          <li><a href="/buttons/">Buttons</a></li>
          <li><a href="/tables/">Tables</a></li>
          <li><a href="/details/">Details</a></li>
          <li><a href="/pagination/">Pagination</a></li>
          <li><a href="/alerts/">Alerts</a></li>
        </ul>

      </div>


      <div class="column-third">

        <ul class="list-nav">
          <li><a href="/tabs/">Tabs</a></li>
          <li><a href="/collapsibles/">Collapsibles</a></li>
          <li><a href="/checklist/">Checklist</a></li>
          <li><a href="/related/">Related</a></li>
          <li><a href="/validation/">Errors &amp; Validation</a></li>
        </ul>

      </div>


    </div>


    <!-- page examples -->
    <h3 class="heading-medium">Page examples</h3>


    <div class="grid-row">


      <div class="column-third">

        <ul class="list-nav">
          <li><a href="/account/">Account</a> (New)</li>
          <li><a href="/create-new-customer/">Create new customer</a></li>
          <li><a href="/confirm-journey/people-accountable/">People accountable</a></li>
          <li><a href="/confirm-journey/people-accountable-summary/">People accountable summary</a></li>
          <li><a href="/confirm-journey/additional-business-details/">Additional businness details</a></li>
          <li><a href="/update-personal-details/">Update personal details</a></li>
          <li><a href="/parcel-summary/">Parcel summary</a></li>
          <li><a href="/parcel-details/">Parcel details</a></li>
          <li><a href="/my-account/">My account</a></li>
          <li><a href="/personal-details/">Personal details</a></li>
          <li><a href="/self-assessment/">Self assessment</a></li>
          <li><a href="/cross-compliance/">Cross compliance</a></li>
          <li><a href="/confirmation/">Confirmation</a></li>
        </ul>

      </div>


      <div class="column-third">

        <ul class="list-nav">
          <li><a href="/apply-for-bps/">Apply for bps</a></li>
          <li><a href="/update-business-details/">Update business details</a></li>
          <li><a href="/register-for-rural-payments/">Register for Rural Payments</a></li>
          <li><a href="/where-should-we-send-your-new-passport/">Send your new passport</a></li>
          <li><a href="/your-details/">Your details</a></li>
          <li><a href="/apply-for-the-basic-payment-application/">Apply for BPS</a></li>
          <li><a href="/loading/">AJAX loading spinner</a></li>
          <li><a href="/add-edit-land/">Add / Edit land</a></li>
          <li><a href="/business-details/update-business-details/">Update business details</a> (<abbr title="Has permission">HP</abbr>)</li>
          <li><a href="/bps-application/">Old bps application</a></li>
          <li><a href="/manage-land/">Manage land</a></li>
          <li><a href="/home/">Rural payments home</a></li>
        </ul>

      </div>


      <div class="column-third">

        <ul class="list-nav">
          <li><a href="/land-query/">Land query</a></li>
          <li><a href="/rural-payments/">Rural Payments</a></li>
          <li><a href="/invalid-or-missing-token/">Invalid or missing token</a></li>
          <li><a href="/removal-of-land/">Removal of land</a></li>
          <li><a href="/basic-payment-scheme-application/">BPS application</a></li>
          <li><a href="/basic-payment-scheme-application/summary/">BPS application summary</a></li>
          <li><a href="/activate-your-entitlements/">Activate your entitlements</a></li>
          <li><a href="/efas/">Ecological focus areas</a></li>
          <li><a href="/signin/">Sign in</a></li>
          <li><a href="/forgotten-your-password/">Forgotten your password?</a></li>
          <li><a href="/need-to-change-password/">Need to change password</a></li>
          <li><a href="/scheme-eligibility/">Scheme eligibility</a></li>
        </ul>

      </div>


    </div>
    

    <!-- internal users / angularJS -->
    <div class="grid-row">
      
      <div class="column-two-thirds">
        
        <h3 class="heading-medium">Internal users</h3>
        
        <div class="grid-row">
        
          <div class="column-half">
            
            <ul class="list-nav">
              <li><a href="/internal/search-customer-or-business/">Search customer or business</a></li>
              <li><a href="/internal/signin/">Sign in</a></li>
            </ul>
            
          </div>
          
          <div class="column-half">
            
            <ul class="list-nav">
              <li><a href="/internal/deactivate-user/">Deactivate user</a></li>
              <li><a href="/internal/alerts/">Alerts</a></li>
            </ul>
            
          </div>
        
        </div>
        
      </div>

      <div class="column-third">

        <h3 class="heading-medium">AngularJS</h3>

        <p>A collection of angular directives <br> <a href="/angular/">View angular directives</a></p>

      </div>

    </div>


    <!-- resources -->
    <h3 class="heading-medium">Resources</h3>
    
    <div class="grid-row">

      <div class="column-third">
        
        <ul class="list-nav">
          <li><a href="http://govuk-elements.herokuapp.com" rel="external">GOV.UK elements</a></li>
          <li><a href="https://www.gov.uk/service-manual" rel="external">Service Design Manual</a></li>
          <li><a href="https://www.gov.uk/design-principles" rel="external">Design Principles</a></li>
          <li><a href="https://developers.google.com/structured-data/testing-tool/" rel="external">Google developers</a></li>
        </ul>

      </div>

      <div class="column-third">

        <ul class="list-nav">
          <li><a href="http://html5doctor.com/" rel="external">HTML5 Doctor</a></li>
          <li><a href="http://tenon.io/" rel="external">Tenon</a></li>
          <li><a href="http://w3.org/" rel="external">W3C</a></li>
          <li><a href="http://alistapart.com/" rel="external">A List Apart</a></li>
        </ul>

      </div>
      
      <div class="column-third">
        
        <ul class="list-nav">
          <li><a href="http://smashingmagazine.com/" rel="external">Smashing Magazine</a></li>
          <li><a href="http://sassmeister.com/" rel="external">Sass Meister</a></li>
          <li><a href="http://compass-style.org/" rel="external">Compass</a></li>
          <li><a href="http://sass-lang.com/" rel="external">SASS</a></li>
        </ul>
        
      </div>

    </div>