    <div class="text">

      <h1 class="heading-xlarge-noback">Rural Payments Styleguide</h1>

      <p class="lede">This guide explains how to make Rural Payments look consistent with the rest of <a href="https://www.gov.uk" rel="external">GOV.UK</a>.</p>

    </div>



    <!-- reusable elements -->
    <h3 class="heading-medium">Reusable elements</h3>


    <div class="grid-row">


      <div class="column-third">

        <ul class="list-nav">
          <li><a href="/elements/typography/">Typography</a></li>
          <li><a href="/elements/layout/">Layout</a></li>
          <li><a href="/elements/tables/">Tables</a></li>
          <li><a href="/elements/pagination/">Pagination</a></li>
        </ul>

      </div>


      <div class="column-third">

        <ul class="list-nav">
          <li><a href="/elements/forms/">Forms</a></li>
          <li><a href="/elements/details/">Details</a></li>
          <li><a href="/elements/alerts/">Alerts</a></li>
          <li><a href="/elements/dialogs/">Dialogs</a></li>
        </ul>

      </div>


      <div class="column-third">

        <ul class="list-nav">
          <li><a href="/elements/collapsibles/">Collapsibles</a></li>
          <li><a href="/elements/checklist/">Checklist</a></li>
          <li><a href="/elements/tabs/">Tabs</a></li>
        </ul>

      </div>


    </div>
    <!-- end -->



    <!-- recent additions -->
    <h3 class="heading-medium">Recent additions</h3>


    <div class="grid-row">


      <div class="column-third">

        <ul class="list-nav">
          <li><a href="/pages/apply-for-the-basic-payment-application/">Apply for BPS</a> *</li>
          <li><a href="/pages/loading/">AJAX loading spinner</a> *</li>
          <li><a href="/pages/removal-of-land/">Removal of land</a></li>
        </ul>

      </div>


      <div class="column-third">

        <ul class="list-nav">
          <li><a href="/pages/basic-payment-scheme-application/">BPS application</a></li>
          <li><a href="/pages/activate-your-entitlements/">Activate your entitlements</a></li>
        </ul>

      </div>


      <div class="column-third">

        <ul class="list-nav">
          <li><a href="/pages/efas/">Ecological focus areas</a></li>
        </ul>

      </div>


    </div>
    <!-- end -->



    <!-- example pages -->
    <h3 class="heading-medium">Example pages</h3>


    <div class="grid-row">


      <div class="column-third">

        <ul class="list-nav">
          <li><a href="/pages/my-account/">My account</a></li>
          <li><a href="/pages/personal-details/">Personal details</a> *</li>
          <li><a href="/pages/self-assessment/">Self assessment</a></li>
          <li><a href="/pages/cross-compliance/">Cross compliance</a></li>
          <li><a href="/pages/confirmation/">Confirmation</a></li>
          <li><a href="/pages/apply-for-bps/">Apply for bps</a></li>
          <li><a href="/pages/amend-business-details/">Amend business details</a></li>
        </ul>

      </div>


      <div class="column-third">

        <ul class="list-nav">
          <li><a href="/pages/bps-application/">Old bps application</a> *</li>
          <li><a href="/pages/manage-land/">Manage land</a></li>
          <li><a href="/pages/home/">Rural payments home</a></li>
          <li><a href="/pages/land-query/">Land query</a></li>
          <li><a href="/pages/rural-payments/">Rural Payments</a></li>
          <li><a href="/pages/invalid-or-missing-token/">Invalid or missing token</a></li>
        </ul>

      </div>


      <div class="column-third">

        <ul class="list-nav">
          <li><a href="/pages/signin/">Sign in</a></li>
          <li><a href="/pages/forgotten-your-password/">Forgotten your password?</a></li>
          <li><a href="/pages/need-to-change-password/">Need to change password</a></li>
          <li><a href="/pages/scheme-eligibility/">Scheme eligibility</a></li>
          <li><a href="/pages/confirm-journey/">Confirm journey</a></li>
          <li><a href="/pages/business-details/">Business details</a> *</li>
        </ul>

      </div>


    </div>
    <!-- end -->



    <!-- code snippets / angularJS -->
    <div class="grid-row">

      <div class="column-half">

        <h3 class="heading-medium">Code snippets</h3>

        <p>You will find a collection of code snippets. <br> <a href="/elements/snippets/">View code snippets</a> *</p>

      </div>

      <div class="column-half">

        <h3 class="heading-medium">AngularJS</h3>

        <p>You will find a collection of angular directives. <br> <a href="/pages/angular/">View angular directives</a></p>

      </div>

    </div>
    <!-- end -->



    <!-- other resources / gov.uk resources -->
    <div class="grid-row">

      <div class="column-half">

        <h3 class="heading-medium">Other resources</h3>

        <ul class="list-nav">
          <li><a href="https://developers.google.com/structured-data/testing-tool/" rel="external">Google developers (Testing tool)</a></li>
          <li><a href="http://html5doctor.com/" rel="external">HTML5 Doctor</a></li>
          <li><a href="http://tenon.io/" rel="external">Tenon (Accessibility Tool)</a></li>
          <li><a href="http://w3.org/" rel="external">W3C</a></li>
          <li><a href="http://alistapart.com/" rel="external">A List Apart</a></li>
          <li><a href="http://smashingmagazine.com/" rel="external">Smashing Magazine</a></li>
          <li><a href="http://sassmeister.com/" rel="external">Sass Meister</a></li>
          <li><a href="http://compass-style.org/" rel="external">Compass</a></li>
          <li><a href="http://sass-lang.com/" rel="external">SASS</a></li>
        </ul>

      </div>

      <div class="column-half">

        <h3 class="heading-medium">GOV.UK resources</h3>

        <ul class="list-nav">
          <li><a href="http://govuk-elements.herokuapp.com" rel="external">GOV.UK elements</a></li>
          <li><a href="https://www.gov.uk/service-manual" rel="external">Service Design Manual</a></li>
          <li><a href="https://www.gov.uk/design-principles" rel="external">Design Principles</a></li>
        </ul>

      </div>

    </div>
    <!-- end -->