    <!-- introduction -->
    <div class="text">

      <h1 class="heading-xlarge-noback">Rural Payments Agency (<abbr title="Rural Payments Agency">RPA</abbr>) Style guide</h1>

      <p class="lede">This guide explains how to make <abbr title="Rural Payments Agency">RPA</abbr> look consistent with the rest of <a href="https://www.gov.uk/" rel="external">GOV.UK</a>.</p>

    </div>
    
    
    <!-- code snippets -->
    <div class="grid-row">

      <div class="column-half">

        <h3 class="heading-medium">Code snippets</h3>

        <p>You will find a collection of code snippets. <br> <a href="/elements/snippets/">View code snippets</a></p>

      </div>

    </div>


    
    <!-- click through prototypes -->
    <h3 class="heading-medium">User journeys</h3>


    <div class="grid-row">


      <div class="column-third">

        <ul class="list-nav">
          <li><a href="/pages/accountable-people/">Accountable people</a></li>
        </ul>

      </div>


      <div class="column-third">

        <ul class="list-nav">
          <li><a href="/pages/confirm-journey/">Confirm journey</a></li>
        </ul>

      </div>


    </div>
    
    
    <!-- reusable elements -->
    <h3 class="heading-medium">Reusable elements</h3>


    <div class="grid-row">


      <div class="column-third">

        <ul class="list-nav">
          <li><a href="/elements/application/">Application status</a></li>
          <li><a href="/elements/dialogs/">Dialogs</a></li>
          <li><a href="/elements/layout/">Layout</a></li>
          <li><a href="/elements/typography/">Typography</a></li>
          <li><a href="/elements/forms/">Forms</a></li>
        </ul>

      </div>


      <div class="column-third">

        <ul class="list-nav">
          <li><a href="/elements/buttons/">Buttons</a></li>
          <li><a href="/elements/tables/">Tables</a></li>
          <li><a href="/elements/details/">Details</a></li>
          <li><a href="/elements/pagination/">Pagination</a></li>
          <li><a href="/elements/alerts/">Alerts</a></li>
        </ul>

      </div>


      <div class="column-third">

        <ul class="list-nav">
          <li><a href="/elements/tabs/">Tabs</a></li>
          <li><a href="/elements/collapsibles/">Collapsibles</a></li>
          <li><a href="/elements/checklist/">Checklist</a></li>
          <li><a href="/elements/related/">Related</a></li>
          <li><a href="/elements/validation/">Errors &amp; Validation</a></li>
        </ul>

      </div>


    </div>


    <!-- page examples -->
    <h3 class="heading-medium">Page examples</h3>


    <div class="grid-row">


      <div class="column-third">

        <ul class="list-nav">
          <li><a href="/pages/create-new-customer/">Create new customer</a></li>
          <li><a href="/pages/confirm-journey/people-accountable/">People accountable</a></li>
          <li><a href="/pages/confirm-journey/people-accountable-summary/">People accountable summary</a></li>
          <li><a href="/pages/confirm-journey/additional-business-details/">Additional businness details</a></li>
          <li><a href="/pages/update-personal-details/">Update personal details</a></li>
          <li><a href="/pages/parcel-summary/">Parcel summary</a></li>
          <li><a href="/pages/parcel-details/">Parcel details</a></li>
          <li><a href="/pages/my-account/">My account</a></li>
          <li><a href="/pages/personal-details/">Personal details</a></li>
          <li><a href="/pages/self-assessment/">Self assessment</a></li>
          <li><a href="/pages/cross-compliance/">Cross compliance</a></li>
          <li><a href="/pages/confirmation/">Confirmation</a></li>
        </ul>

      </div>


      <div class="column-third">

        <ul class="list-nav">
          <li><a href="/pages/apply-for-bps/">Apply for bps</a></li>
          <li><a href="/pages/update-business-details/">Update business details</a></li>
          <li><a href="/pages/register-for-rural-payments/">Register for Rural Payments</a></li>
          <li><a href="/pages/where-should-we-send-your-new-passport/">Send your new passport</a></li>
          <li><a href="/pages/your-details/">Your details</a></li>
          <li><a href="/pages/apply-for-the-basic-payment-application/">Apply for BPS</a></li>
          <li><a href="/pages/loading/">AJAX loading spinner</a></li>
          <li><a href="/pages/add-edit-land/">Add / Edit land</a></li>
          <li><a href="/pages/business-details/update-business-details/">Update business details</a> (<abbr title="Has permission">HP</abbr>)</li>
          <li><a href="/pages/bps-application/">Old bps application</a></li>
          <li><a href="/pages/manage-land/">Manage land</a></li>
          <li><a href="/pages/home/">Rural payments home</a></li>
        </ul>

      </div>


      <div class="column-third">

        <ul class="list-nav">
          <li><a href="/pages/land-query/">Land query</a></li>
          <li><a href="/pages/rural-payments/">Rural Payments</a></li>
          <li><a href="/pages/invalid-or-missing-token/">Invalid or missing token</a></li>
          <li><a href="/pages/removal-of-land/">Removal of land</a></li>
          <li><a href="/pages/basic-payment-scheme-application/">BPS application</a></li>
          <li><a href="/pages/basic-payment-scheme-application/summary/">BPS application summary</a></li>
          <li><a href="/pages/activate-your-entitlements/">Activate your entitlements</a></li>
          <li><a href="/pages/efas/">Ecological focus areas</a></li>
          <li><a href="/pages/signin/">Sign in</a></li>
          <li><a href="/pages/forgotten-your-password/">Forgotten your password?</a></li>
          <li><a href="/pages/need-to-change-password/">Need to change password</a></li>
          <li><a href="/pages/scheme-eligibility/">Scheme eligibility</a></li>
        </ul>

      </div>


    </div>
    

    <!-- internal users / angularJS -->
    <div class="grid-row">
      
      <div class="column-two-thirds">
        
        <h3 class="heading-medium">Internal users</h3>
        
        <div class="grid-row">
        
          <div class="column-half">
            
            <ul class="list-nav">
              <li><a href="/internal/signin/">Sign in</a></li>
              <li><a href="/internal/deactivate-user/">Deactivate user</a></li>
            </ul>
            
          </div>
          
          <div class="column-half">
            
            <ul class="list-nav">
              <li><a href="/internal/alerts/">Alerts</a></li>
            </ul>
            
          </div>
        
        </div>
        
      </div>

      <div class="column-third">

        <h3 class="heading-medium">AngularJS</h3>

        <p>A collection of angular directives <br> <a href="/pages/angular/">View angular directives</a></p>

      </div>

    </div>


    <!-- resources -->
    <h3 class="heading-medium">Resources</h3>
    
    <div class="grid-row">

      <div class="column-third">
        
        <ul class="list-nav">
          <li><a href="http://govuk-elements.herokuapp.com" rel="external">GOV.UK elements</a></li>
          <li><a href="https://www.gov.uk/service-manual" rel="external">Service Design Manual</a></li>
          <li><a href="https://www.gov.uk/design-principles" rel="external">Design Principles</a></li>
          <li><a href="https://developers.google.com/structured-data/testing-tool/" rel="external">Google developers</a></li>
        </ul>

      </div>

      <div class="column-third">

        <ul class="list-nav">
          <li><a href="http://html5doctor.com/" rel="external">HTML5 Doctor</a></li>
          <li><a href="http://tenon.io/" rel="external">Tenon</a></li>
          <li><a href="http://w3.org/" rel="external">W3C</a></li>
          <li><a href="http://alistapart.com/" rel="external">A List Apart</a></li>
        </ul>

      </div>
      
      <div class="column-third">
        
        <ul class="list-nav">
          <li><a href="http://smashingmagazine.com/" rel="external">Smashing Magazine</a></li>
          <li><a href="http://sassmeister.com/" rel="external">Sass Meister</a></li>
          <li><a href="http://compass-style.org/" rel="external">Compass</a></li>
          <li><a href="http://sass-lang.com/" rel="external">SASS</a></li>
        </ul>
        
      </div>

    </div>