    <div class="grid-row">
      
      <div class="column-two-thirds">
      
        <h1 class="heading-xlarge-noback"><abbr title="Rural Payments Agency">RPA</abbr> Styleguide</h1>

        <p class="lede">This guide shows how to make Rural Payments look consistent with the rest of GOV.UK.</div>
      
      </div>
      
    </div>
    
  
    <div class="grid-row">
    
      <div class="column-third">
        <h2 class="heading-medium heading-index"><a href="/layout/">Layout</a></h2>
        <p>Grid unit proportions, gutters and spacing.</p>
      </div>
      
      <div class="column-third">
        <h2 class="heading-medium heading-index"><a href="/typography/">Typography</a></h2>
        <p>Headings, body text, links, lists, inset text, hidden text.</p>
      </div>
      
      <div class="column-third">
        <h2 class="heading-medium heading-index"><a href="/collapsibles/">Collapsibles</a></h2>
        <p>Collapsibles for hiding and showing content when required.</p>
      </div>
    
    </div>
    
    
    <div class="grid-row">
    
      <div class="column-third">
        <h2 class="heading-medium heading-index"><a href="/validation/">Errors and validation</a></h2>
        <p>Summary boxes, highlighting errors in forms. </p>
      </div>
      
      <div class="column-third">
        <h2 class="heading-medium heading-index"><a href="/tables/">Tables</a></h2>
        <p>Collection of data in tables for specific use.</p>
      </div>
      
      <div class="column-third">
        <h2 class="heading-medium heading-index"><a href="/alerts/">Alerts</a></h2>
        <p>Success, informative, eligible, error and completion alerts.</p>
      </div>
    
    </div>
    
    
    <div class="grid-row">
    
      <div class="column-third">
        <h2 class="heading-medium heading-index"><a href="/buttons/">Buttons</a></h2>
        <p>Button text, button alignment, button usage.</p>
      </div>
      
      <div class="column-third">
        <h2 class="heading-medium heading-index"><a href="/forms/">Form elements</a></h2>
        <p>Form fields, labels, focus states, radio buttons, checkboxes.</p>
      </div>
      
      <div class="column-third">
        <h2 class="heading-medium heading-index"><a href="/pagination/">Pagination</a></h2>
        <p>When to use pagination, collection of states first, middle, last items.</p>
      </div>
    
    </div>
    
    
    <div class="grid-row">
    
      <div class="column-third">
        <h2 class="heading-medium heading-index"><a href="/dialogs/">Dialogs</a></h2>
        <p>Sign out, change owner, remove a person, lock customer account.</p>
      </div>
      
      <div class="column-third">
        <h2 class="heading-medium heading-index"><a href="/tabs/">Tabs</a></h2>
        <p>Optimise screen area without sacrificing the amount of content.</p>
      </div>
      
      <div class="column-third">
        <h2 class="heading-medium heading-index"><a href="/application/">Application status</a></h2>
        <p>Visualisation for a customers application status.</p>
      </div>
    
    </div>
    
    
    <div class="grid-row">
    
      <div class="column-third">
        <h2 class="heading-medium heading-index"><a href="/checklist/">Checklist</a></h2>
        <p>Iconic checklist for eligible, not eligible and tell us more.</p>
      </div>
      
      <div class="column-third">
        <h2 class="heading-medium heading-index"><a href="/related/">Related content</a></h2>
        <p>Related content with a collection of helpful links.</p>
      </div>
      
      <div class="column-third">
        <h2 class="heading-medium heading-index"><a href="#">Page examples</a></h2>
        <p>A large collection of page examples using these elements.</p>
      </div>
    
    </div>
    
    
    <div class="grid-row">
      
      <div class="column-two-thirds">
    
        <h3 class="heading-medium">Looking for the styles?</h3>
        
        <p>The SASS files for <a href="https://github.com/Defra/rural-payments-styleguide/" rel="external">everything can be found on GitHub</a>.</p>
        
      </div>
      
    </div>