    <div class="grid-row">

      <div class="column-third">

        <h1 class="heading-large">Elements</h1>

        <ul class="list-bullet">
          <li><a href="/elements/typography/">Typography</a></li>
          <li><a href="/elements/layout/">Layout</a></li>
          <li><a href="/elements/tables/">Tables</a></li>
          <li><a href="/elements/forms/">Forms</a></li>
          <li><a href="/elements/details/">Details</a></li>
          <li><a href="/elements/alerts/">Alerts</a></li>
          <li><a href="/elements/dialogs/">Dialogs</a></li>
          <li><a href="/elements/collapsibles/">Collapsibles</a></li>
          <li><a href="/elements/checklist/">Checklist</a></li>
          <li><a href="/elements/other/">Other</a></li>
        </ul>

      </div>

      <div class="column-two-thirds">

        <h1 class="heading-large">Pages</h1>

        <div class="column-half">

          <ul class="list-bullet">
            <li><a href="/pages/my-account/">My account</a></li>
            <li><a href="/pages/personal-details/">Personal details</a></li>
            <li><a href="/pages/self-assessment/">Self assessment</a></li>
            <li><a href="/pages/cross-compliance/">Cross compliance</a></li>
            <li><a href="/pages/confirmation/">Confirmation</a></li>
            <li><a href="/pages/apply-for-bps/">Apply for bps</a></li>
            <li><a href="/pages/amend-business-details/">Amend business details</a></li>
            <li><a href="/pages/bps-application/">BPS application</a></li>
            <li><a href="/pages/manage-land/">Manage land</a></li>
            <li><a href="/pages/home/">Rural payments home</a></li>
            <li><a href="/pages/land-query/">Land query</a></li>
          </ul>

        </div>

        <div class="column-half">

          <ul class="list-bullet">
            <li><a href="/pages/rural-payments/">Rural Payments</a></li>
            <li><a href="/pages/invalid-or-missing-token/">Invalid or missing token</a></li>
            <li><a href="/pages/signin/">Sign in</a></li>
            <li><a href="/pages/forgotten-your-password/">Forgotten your password?</a></li>
            <li><a href="/pages/need-to-change-password/">Need to change password</a></li>
            <li><a href="/pages/scheme-eligibility/">Scheme eligibility</a></li>
            <li><a href="/pages/confirm-journey/">Confirm journey</a></li>
            <li><a href="/pages/business-details/">Business details</a></li>
          </ul>

        </div>

      </div>

    </div>

    <div class="grid-row">

      <div class="column-third">

        <h1 class="heading-large">Snippets</h1>

        <p>You will find all <abbr title="Hypertext Markup Language">HTML</abbr> code snippets and how they look in the browser. <br> <a href="/elements/snippets/">View html snippets</a></p>

        <h1 class="heading-large">AngularJS</h1>

        <p>You will find a collection of angular directives. <a href="/pages/angular/">View angular directives</a></p>

      </div>

      <div class="column-two-thirds">

        <h1 class="heading-large">References</h1>

        <div class="column-half">

          <ul class="list-bullet">
            <li><a href="http://html5doctor.com/" rel="external">HTML5 Doctor</a></li>
            <li><a href="http://tenon.io/" rel="external">Tenon (Accessibility Tool)</a></li>
            <li><a href="http://w3.org/" rel="external">W3C</a></li>
            <li><a href="http://alistapart.com/" rel="external">A List Apart</a></li>
          </ul>

        </div>

        <div class="column-half">

          <ul class="list-bullet">
            <li><a href="http://smashingmagazine.com/" rel="external">Smashing Magazine</a></li>
            <li><a href="http://sassmeister.com/" rel="external">Sass Meister</a></li>
            <li><a href="http://compass-style.org/" rel="external">Compass</a></li>
            <li><a href="http://sass-lang.com/" rel="external">SASS</a></li>
          </ul>

        </div>

      </div>

    </div>