		<a class="link-back" href="/pages/confirm-journey/people-accountable/">Back to people accountable</a>


    <div class="text">


      <h1 class="heading-xlarge">People accountable summary <span class="heading-secondary">Beech Farm</span></h1>


      <p class="lede">Before applying for any schemes, you need to provide us with details of people who are accountable for your business.</p>


      <h2 class="heading-medium">Accountable people</h2>


      <table class="table-summary">
       
        <caption class="visuallyhidden">People who are accountable for your business</caption>
       
        <tbody>
          
          <tr>
            <td><b>John Shelly</b> <br> <a href="mailto:j.shelly@abusiness.com">j.shelly@abusiness.com</a> <br> 07730670866</td>
            <td class="last"><a href="/">Remove <span class="visuallyhidden">John Shelly</span></a></td>
          </tr>
          
          <tr>
            <td><b>John Bloggs</b> <br> <a href="mailt:j.bloggs@abusiness.com">j.bloggs@abusiness.com</a> <br> 07740671821</td>
            <td class="last"><a href="/">Remove <span class="visuallyhidden">Joe Bloggs</span></a></td>
          </tr>
          
        </tbody>
        
      </table>


      <p><a href="/pages/confirm-journey/people-accountable/">Add another person</a></p>


      <p><a class="button" href="/pages/confirm-journey/business-details-summary/" role="button">Continue</a></p>


    </div>