  {{>breadcrumb}}


  <div class="grid-row">
    
    
    <div class="column-two-thirds">
      
      
      <form class="form" method="get" action="#">
    
    
        <h1 class="form-title heading-xlarge">{{page_name}}</h1>

        
        <!--p class="lede">Keeping your personal details up to date saves time when applying for grants and schemes.</p-->
        
        
        <div class="form-group">
        
          <fieldset class="inline">
    
            <legend>
              <span class="form-label-bold">Do you have land within the Severely Disadvantaged Area (<abbr title="Severely Disadvantaged Area">SDA</abbr>)?</span>
            </legend>
            
            <label class="block-label" for="radio-inline-1">
              <input id="radio-inline-1" name="radio-inline-group-1" value="Yes" type="radio"> Yes
            </label>
            
            <label class="block-label" for="radio-inline-2">
              <input id="radio-inline-2" name="radio-inline-group-1" value="No" type="radio"> No
            </label>
          
          </fieldset>
        
        </div>
        
        
        <div class="form-group">
        
          <fieldset class="inline">
    
            <legend>
              <span class="form-label-bold">Do you have organic land?</span>
            </legend>
            
            <label class="block-label" for="radio-inline-3">
              <input id="radio-inline-3" name="radio-inline-group-2" value="Yes" type="radio"> Yes
            </label>
            
            <label class="block-label" for="radio-inline-4">
              <input id="radio-inline-3" name="radio-inline-group-2" value="No" type="radio"> No
            </label>
          
          </fieldset>
        
        </div>
        
        
        <div class="form-group">
        
          <fieldset class="inline">
    
            <legend>
              <span class="form-label-bold">Do you have arable land?</span>
            </legend>
            
            <label class="block-label" for="radio-inline-5">
              <input id="radio-inline-5" name="radio-inline-group-3" value="Yes" type="radio"> Yes
            </label>
            
            <label class="block-label" for="radio-inline-6">
              <input id="radio-inline-6" name="radio-inline-group-3" value="No" type="radio"> No
            </label>
          
          </fieldset>
        
        </div>
        
        
        <div class="form-group">
        
          <fieldset class="inline">
    
            <legend>
              <span class="form-label-bold">Do you have grassland?</span>
            </legend>
            
            <label class="block-label" for="radio-inline-7">
              <input id="radio-inline-7" name="radio-inline-group-4" value="Yes" type="radio"> Yes
            </label>
            
            <label class="block-label" for="radio-inline-8">
              <input id="radio-inline-8" name="radio-inline-group-4" value="No" type="radio"> No
            </label>
          
          </fieldset>
        
        </div>
        
        
        <div class="form-group">
        
          <fieldset class="inline">
    
            <legend>
              <span class="form-label-bold">Are you interested in options that help farmland birds and pollinators? This includes bees, butterflies and moths</span>
            </legend>
            
            <label class="block-label" for="radio-inline-9">
              <input id="radio-inline-9" name="radio-inline-group-5" value="Yes" type="radio"> Yes
            </label>
            
            <label class="block-label" for="radio-inline-10">
              <input id="radio-inline-10" name="radio-inline-group-5" value="No" type="radio"> No
            </label>
          
          </fieldset>
        
        </div>
        
        
        <div class="form-group">
        
          <fieldset class="inline">
    
            <legend>
              <span class="form-label-bold">Are you interested in options to help breeding waders?</span>
            </legend>
            
            <label class="block-label" for="radio-inline-9">
              <input id="radio-inline-9" name="radio-inline-group-5" value="Yes" type="radio"> Yes
            </label>
            
            <label class="block-label" for="radio-inline-10">
              <input id="radio-inline-10" name="radio-inline-group-5" value="No" type="radio"> No
            </label>
          
          </fieldset>
        
        </div>
        
        
        <!--div class="form-group">
        
          <fieldset>
    
            <legend class="form-label-bold">Which types of water issue are you interested in addressing?</legend>
            
            <p>Select all that apply</p>
            
            <label class="block-label" for="checkbox-1">
              <input id="checkbox-1" value="1" type="checkbox">
              Phosphate and sediment in surface water
            </label>
            
            <label class="block-label" for="checkbox-2">
              <input id="checkbox-2" value="2" type="checkbox">
              Nitrates in surface water
            </label>
            
            <label class="block-label" for="checkbox-3">
              <input id="checkbox-3" value="3" type="checkbox">
              Nitrates in ground water
            </label>
            
            <label class="block-label" for="checkbox-4">
              <input id="checkbox-4" value="4" type="checkbox">
              Pesticides in surface water
            </label>
            
            <label class="block-label" for="checkbox-5">
              <input id="checkbox-5" value="5" type="checkbox">
              Pesticides in ground water
            </label>
            
            <label class="block-label" for="checkbox-6">
              <input id="checkbox-6" value="6" type="checkbox">
              Priority bathing waters
            </label>
          
          </fieldset>
        
        </div-->
    
    
      </form>
      
      
    </div>
    
    
  </div>