		<a class="back-link" href="../">Back to Fallow field</a>


    <div class="grid-row">


      <div class="column-half">


        <h1 class="heading-xlarge">Sweet potatoes</h1>


        <form class="form" method="get" action="../">


          <p>Area of land: 6.5ha</p>


          <p>Area of land minus other features: 5.75ha</p>


          <div class="form-group">
            
            <label for="crop-area">Area of this crop:</label>
            
            <input class="form-control form-control-1-8" id="crop-area" type="text" value="5.75"> ha
            
          </div>


          <div class="form-group">
            
            <label for="enquiry">
              <span class="form-label">Additional notes (optional)</span>
            </label>
            
            <textarea class="form-control form-control-3-4 form-control-textarea" id="enquiry" rows="3" cols="50"></textarea>
          
          </div>


          <button class="button">Save and return</button>
          <p><a href="../add-feature/">Back</a></p>


        </form>


      </div>


      <div class="column-half">

        {{>map}}

        <h2 class="heading-small">Land parcel details</h2>

        <dl class="list-parcel">
          <dt>Parcel area</dt>
          <dd>5.6ha</dd>
          <dt>Parcel ID</dt>
          <dd>SJ8063_3254</dd>
        </dl>

      </div>


    </div>