  <!-- Content -->
  <main id="page-container" role="main">


    {{>beta}}


		<a class="back-link" href="/">Back to the index</a>


		<h1 class="heading-xlarge">Layout</h1>


		<!-- Grid layout (two thirds / one third) -->
		<div class="grid-row">

			<div class="column-two-thirds">

				<h2 class="bold-small">Two thirds</h2>

				<p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

			</div>

			<div class="column-third">

				<h2 class="bold-small">One third</h2>

				<p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus.</p>

			</div>

		</div>
		<!-- End -->


		<!-- Grid layout (one half) -->
		<div class="grid-row">

			<div class="column-half">

				<h2 class="bold-small">One half</h2>

				<p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

			</div>

			<div class="column-half">

				<h2 class="bold-small">One half</h2>

				<p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

			</div>

		</div>
		<!-- End -->


		<!-- Grid layout (one third) -->
		<div class="grid-row">

			<div class="column-third">

				<h2 class="bold-small">One third</h2>

				<p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac.</p>

			</div>

			<div class="column-third">

				<h2 class="bold-small">One third</h2>

				<p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac.</p>

			</div>

			<div class="column-third">

				<h2 class="bold-small">One third</h2>

				<p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac.</p>

			</div>

		</div>
		<!-- End -->


		<!-- Grid layout (one quarter) -->
		<div class="grid-row">

			<div class="column-quarter">

				<h2 class="bold-small">One quarter</h2>

				<p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus.</p>

			</div>

			<div class="column-quarter">

				<h2 class="bold-small">One quarter</h2>

				<p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus.</p>

			</div>

			<div class="column-quarter">

				<h2 class="bold-small">One quarter</h2>

				<p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus.</p>

			</div>

			<div class="column-quarter">

				<h2 class="bold-small">One quarter</h2>

				<p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus.</p>

			</div>

		</div>
		<!-- End -->


	</main>
	<!-- End -->