  {{>breadcrumb}}
  
  
  <h1 class="heading-xlarge"><span class="heading-secondary">{{title}}</span> {{page_name}}</h1>
  
  
  <h3 class="heading-medium">Halves</h3>
  
  
  <div class="example example-grid">
  
    <div class="grid-row">
      
      <div class="column-half">
        <p>Content</p>
      </div>
      
      <div class="column-half">
        <p>Content</p>
      </div>
      
    </div>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;div class=&quot;grid-row&quot;&gt;
      
      &lt;div class=&quot;column-half&quot;&gt;&lt;/div&gt;
      
      &lt;div class=&quot;column-half&quot;&gt;&lt;/div&gt;
      
    &lt;/div&gt;
  </code></pre>
  
  
  <h3 class="heading-medium">Thirds</h3>
  
  
  <div class="example example-grid">
  
    <div class="grid-row">
      
      <div class="column-third">
        <p>Content</p>
      </div>
      
      <div class="column-third">
        <p>Content</p>
      </div>
      
      <div class="column-third">
        <p>Content</p>
      </div>
      
    </div>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;div class=&quot;grid-row&quot;&gt;
      
      &lt;div class=&quot;column-third&quot;&gt;&lt;/div&gt;
      
      &lt;div class=&quot;column-third&quot;&gt;&lt;/div&gt;
      
      &lt;div class=&quot;column-third&quot;&gt;&lt;/div&gt;
      
    &lt;/div&gt;
  </code></pre>
  
  
  <h3 class="heading-medium">Two thirds / One third</h3>
  
  
  <div class="example example-grid">
  
    <div class="grid-row">
      
      <div class="column-two-thirds">
        <p>Content</p>
      </div>
      
      <div class="column-third">
        <p>Content</p>
      </div>
      
    </div>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;div class=&quot;grid-row&quot;&gt;
      
      &lt;div class=&quot;column-two-thirds&quot;&gt;&lt;/div&gt;
      
      &lt;div class=&quot;column-third&quot;&gt;&lt;/div&gt;
      
    &lt;/div&gt;
  </code></pre>
  
  
  <h3 class="heading-medium">One third / Two thirds</h3>
  
  
  <div class="example example-grid">
  
    <div class="grid-row">
      
      <div class="column-third">
        <p>Content</p>
      </div>
      
      <div class="column-two-thirds">
        <p>Content</p>
      </div>
      
    </div>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;div class=&quot;grid-row&quot;&gt;
      
      &lt;div class=&quot;column-third&quot;&gt;&lt;/div&gt;
      
      &lt;div class=&quot;column-two-thirds&quot;&gt;&lt;/div&gt;
      
    &lt;/div&gt;
  </code></pre>
  
  
  <h3 class="heading-medium">Quarters</h3>
  
  
  <div class="example example-grid">
  
    <div class="grid-row">
      
      <div class="column-quarter">
        <p>Content</p>
      </div>
      
      <div class="column-quarter">
        <p>Content</p>
      </div>
      
      <div class="column-quarter">
        <p>Content</p>
      </div>
      
      <div class="column-quarter">
        <p>Content</p>
      </div>
      
    </div>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;div class=&quot;grid-row&quot;&gt;
    
      &lt;div class=&quot;column-quarter&quot;&gt;&lt;/div&gt;
      
      &lt;div class=&quot;column-quarter&quot;&gt;&lt;/div&gt;
      
      &lt;div class=&quot;column-quarter&quot;&gt;&lt;/div&gt;
      
      &lt;div class=&quot;column-quarter&quot;&gt;&lt;/div&gt;
    
    &lt;/div&gt;
  </code></pre>