		<a class="link-back" href="/">Back to the index</a>


    <h1 class="heading-xlarge"><abbr title="Basic Payments Scheme">BPS</abbr> application <span class="heading-secondary">Beech Farm</span></h1>


    <div class="text">

      <p class="lede">Thank you, your <abbr title="Basic Payments Scheme">BPS</abbr> application has been received</p>

			<div class="alert-complete" role="alert">

				<div class="alert-message">

					<p>Your reference number is</p>

          <strong class="alert-number">200113567</strong>

				</div>

			</div>


    </div>


    <div class="text">

			<h3 class="heading-medium">What happens next?</h3>

			<p>We've sent your application to the Rural Payments Agency.</p>

			<p>They will contact you, either to confirm your application or to ask for more information.</p>

			<p>If you have any questions about the application, contact the <abbr title="Rural Payments Agency">RPA</abbr>.</p>

    </div>