<h1 class="heading-large">capdBlockLabel</h1>

<a href="#/advanced/capd-checkbox">Advanced</a>

<h2 class="heading-medium">Radio block label</h2>

<div class="form-group form-group-compound">
    <label class="block-label">
        <input name="radio-inline-group" value="Yes" type="radio" ng-model="radioBlockLabel"> Yes
    </label>

    <label class="block-label">
        <input name="radio-inline-group" value="No" type="radio" ng-model="radioBlockLabel"> No
    </label>

    <label class="block-label">
        <input name="radio-inline-group" value="Other" type="radio"> Other
    </label>
</div>

<h2 class="heading-medium">Checkbox block label</h2>

<fieldset>
    <label class="block-label">
        <input value="waste-animal" type="checkbox">
        Waste from animal carcasses
    </label>
    <label class="block-label">
        <input value="waste-mines" type="checkbox">
        Waste from mines or quarries
    </label>
</fieldset>


<fieldset>


    <legend class="form-label-bold">Select the Good Agriculture and Environment Conditions (<abbr title="Good Agriculture and Environment Conditions">GAEC</abbr>) that will apply to your holding by ticking the relevant boxes.</legend>


    <div class="form-group">


        <ol class="form-checkboxes">

            <li class="block-list">
                <label>
                    <input type="checkbox">
                    <span class="code">GAEC 5</span>
                </label>
                <span class="title">Minimum land management</span>
            </li>


            <li class="block-list">
                <label>
                    <input type="checkbox">
                    <span class="code">GAEC 6</span>
                </label>
                <div class="details">Soil organic matter
                    <ul class="list-bullet">
                        <li>Burnt heather, rough grass, broken and vaccinium</li>
                    </ul>
                </div>
            </li>


            <li class="block-list">
                <label>
                    <input type="checkbox">
                    <span class="code">GAEC 7A</span>
                </label>
                <div class="details">Boundaries
                    <ul class="list-bullet">
                        <li>Hedgerows</li>
                        <li>Stone walls</li>
                        <li>Earth and stone banks</li>
                    </ul>
                </div>
            </li>


            <li class="block-list">
                <label><input type="checkbox">
                    <span class="code">GAEC 7B</span>
                </label>
                <span class="details">Visible public rights of way</span>
            </li>


            <li class="block-list">
                <label>
                    <input type="checkbox">
                    <span class="code">GAEC 7C</span>
                </label>
                <div class="details">Tree
                    <ul class="list-bullet">
                        <li>Trees</li>
                        <li>Trees with Tree Protection Order</li>
                    </ul>
                </div>
            </li>


        </ol>


    </div>


</fieldset>