<!-- Dialog 3 -->
<div class="dialog" aria-hidden="true">
    <div class="dialog-holder" aria-labelledby="dialog-title-1" aria-describedby="dialog-content-1" role="alertdialog">
        <div class="dialog-content" id="dialog-content-1" role="document" tabindex="0">
            <h1 class="dialog-heading" id="dialog-title-1">Sign out</h1>

            <form class="form">
                <p>
                    <label class="form-label" for="some-text-dialog">Some text</label>
                    <input class="form-control" id="some-text-dialog" type="text" ng-model="text">
                </p>
                <div class="dialog-actions">
                    <button class="button" ng-click="close(text)">Confirm</button>
                    <a href="" class="dialog-cancel" ng-click="close()">Cancel</a>
                </div>

                <button class="dialog-close" aria-label="close" type="button" ng-click="close()">
                    <span class="icon icon-close">x</span>
                </button>
            </form>
        </div>
    </div>
</div>
<!-- End -->