<div id="directive-gallery">
    <!--- capd-hello --->
    <h1 class="heading-large">capdHello</h1>
    <span capd-hello="Developer"/>
    <hr/>

    <!--- capd-tabs --->

    <div ng-include="'/javascripts/views/capd-tabs-exhibition.html'"></div>
    <hr/>

    <!--- capd-form-group --->

    <div ng-include="'/javascripts/views/capd-block-label-exhitibtion.html'"></div>
    <hr/>

    <!-- capd-collapsible-->

    <div ng-include="'/javascripts/views/capd-collapsible-exhibition.html'"></div>
    <hr/>

    <!-- capd-toggle -->

    <div ng-include="'/javascripts/views/capd-toggle-exhibition.html'"></div>

</div>