		<a class="back-link" href="/pages/accountable-people/">Back to accountable people</a>
    
    
    <h1 class="heading-xlarge">Business ownership <span class="heading-secondary">Beech Farm</span></h1>
    
    
    <form class="form" method="get" action="/pages/accountable-people/sole-trader-details/">
      
      
      <div class="text">
        
        <h2 class="form-title heading-large">Is this business operated by a sole trader?</h2>
        
        <details>
    
          <summary><span class="summary">What do you mean by a sole trader?</span></summary>
          
          <div class="panel-indent">
            <p>Donec maximus placerat turpis, varius ullamcorper ligula. In ac egestas dui. Maecenas at imperdiet turpis, non luctus lorem.</p>
            <p>Proin placerat, enim a vehicula tincidunt, risus mi rutrum felis, ut mattis augue mauris ac augue. Ut at nisi eget purus tempus vulputate sed in lacus.</p>
          </div>
        
        </details>
        
      </div>
      
        
      <div class="form-group">
        
        <fieldset class="inline">
      
          <legend class="visuallyhidden">Choose if this business is operated by a sole trader</legend>
          
          <div class="form-group form-group-compound">
          
            <label class="block-label" for="radio-inline-1">
              <input id="radio-inline-1" name="radio-inline-group" value="Yes" type="radio"> Yes
            </label>
            
            <label class="block-label" for="radio-inline-2">
              <input id="radio-inline-2" name="radio-inline-group" value="No" type="radio"> No
            </label>
          
          </div>
        
        </fieldset>
      
      </div>
    
    
      <button class="button" type="submit">Continue</button>
      
      
    </form>
    
    
    <!--h2 class="heading-medium">People accountable for this business</h2>
  
  
    <table class="table">
      
      <caption class="visuallyhidden">People accountable for this business</caption>
      
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Role</th>
          <th class="numeric" scope="col">&#37; share</th>
          <th class="numeric last" scope="col">&#37; rights</th>
        </tr>
      </thead>
      
      <tfoot>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td class="numeric"><span class="bold-medium">80</span></td>
          <td class="numeric last"><span class="bold-medium">35</span></td>
        </tr>
      </tfoot>
      
      <tbody>
        <tr>
          <td>Trevor Saint</td>
          <td>Business owner</td>
          <td class="numeric">60</td>
          <td class="numeric last">10</td>
        </tr>
        <tr>
          <td>Steve Roberts</td>
          <td>Director</td>
          <td class="numeric">10</td>
          <td class="numeric last">&ndash;</td>
        </tr>
        <tr>
          <td>Alan Jennings</td>
          <td>Business partner</td>
          <td class="numeric">10</td>
          <td class="numeric last">&ndash;</td>
        </tr>
      </tbody>
      
    </table-->
    
    