		<a class="back-link" href="/pages/accountable-people/">Back to accountable people</a>
    
    
    <h1 class="heading-xlarge">Business ownership <span class="heading-secondary">Beech Farm</span></h1>
    
    
    <form class="form" method="get" action="/pages/accountable-people/sole-trader-details/">
      
      
      <h2 class="heading-medium">Is this business run by a sole trader?</h2>
      
      
      <details>
  
        <summary><span class="summary">What do you mean by a sole trader?</span></summary>
        
        <div class="panel-indent text">
          <p>Being a sole trader means they are accountable for the business on their own. They do not have to work alone and can take on staff if they want to.</p>
          <p>They have 100&#37; of the shares in the business and (if applicable) have 100&#37; of the voting rights.</p>
        </div>
      
      </details>
    
        
      <div class="form-group">
        
        <fieldset class="inline">
      
          <legend class="visuallyhidden">Choose if this business is operated by a sole trader</legend>
          
          <div class="form-group form-group-compound">
          
            <label class="block-label" for="radio-inline-1">
              <input id="radio-inline-1" name="radio-inline-group" value="Yes" type="radio"> Yes
            </label>
            
            <label class="block-label" for="radio-inline-2">
              <input id="radio-inline-2" name="radio-inline-group" value="No" type="radio"> No
            </label>
          
          </div>
        
        </fieldset>
      
      </div>
    
    
      <button class="button" type="submit">Continue</button>
      
      
    </form>