		<a class="link-back" href="/accountable-people/">Back to Accountable people</a>
    
    
    <div class="grid-row">
      
      
      <div class="column-two-thirds">
    
        
        <h1 class="heading-xlarge">{{pagetitle}} <span class="heading-secondary">Beech Farm</span></h1>
        
        
        <form class="form" id="form-business-ownership" method="post">
          
          
          <h2 class="heading-medium">Is this business run by a sole trader?</h2>
          
          
          <details>
      
            <summary><span class="summary">What is a sole trader?</span></summary>
            
            <div class="panel-indent">
              <p>A 'sole trader' is a person who has complete responsibility for the profits and losses of their business. They are self&ndash;employed but don’t have to work alone &ndash; they can employ other people as well.</p>
            </div>
          
          </details>
        
            
          <div class="form-group">
            
            <fieldset class="inline">
          
              <legend class="visuallyhidden">Choose if this business is operated by a sole trader</legend>
              
              <div class="form-group form-group-compound">
              
                <label class="block-label" for="radio-inline-1">
                  <input id="radio-inline-1" name="radio-inline-group" value="Yes" type="radio"> Yes
                </label>
                
                <label class="block-label" for="radio-inline-2">
                  <input id="radio-inline-2" name="radio-inline-group" value="No" type="radio"> No
                </label>
              
              </div>
            
            </fieldset>
          
          </div>
        
        
          <button class="button" type="submit" disabled="disabled">Continue</button>
          
          
        </form>
    
    
      </div>
      
      
    </div>