    <a class="link-back" href="/sitiagri/applications-and-claims/">Back to Applications and claims</a>
    
    
    <div class="grid-row">
      
      
      <div class="column-two-thirds">
        
        
        <h1 class="heading-xlarge">Apply for <abbr title="Basic Payment Scheme">BPS</abbr> <span class="heading-secondary">Beech Farm</span></h1>
    
    
        <p class="lede">Fill in your <abbr title="Basic Payment Scheme">BPS</abbr> application.</p>
        
        
      </div>
      
      
    </div>