<div class="pager">

    <div class="pager-controls">
        <a class="pager-prev" href="" data-ng-click="previousPage()" data-ng-show="currentPage !== 1">Prev</a>
        <ul class="pager-items">
            <li ng-repeat="page in virtualPages">
                <a href="" ng-if="page !== currentPage" data-ng-click="goToPage(page)">{{page}}</a>
                <span data-ng-if="page === currentPage">{{page}}</span>
            </li>
        </ul>
        <a class="pager-next" href="" data-ng-click="nextPage()" data-ng-show="currentPage !== pagesCount">Next</a>
    </div>

    <div class="pager-summary">Showing {{pageSizeInfo.leftBound}} &ndash; {{pageSizeInfo.rightBound}} of {{totalElements}} {{itemLabel}}</div>
</div>