<!-- Dialog 1 -->
<div class="dialog" aria-hidden="true">
    <div class="dialog-holder" aria-labelledby="dialog-title-1" aria-describedby="dialog-content-1" role="alertdialog">
        <div class="dialog-content" id="dialog-content-1" role="document" tabindex="0">
            <h1 class="dialog-heading" id="dialog-title-1">Sign out</h1>

            <form class="form">
                <p>This will end your session. Are you sure you want to sign out?</p>

                <div class="dialog-actions">
                    <button class="button">Yes</button>
                    <a class="dialog-cancel" href="/">No</a>
                </div>

                <button class="dialog-close" aria-label="close" type="button">
                    <span class="icon icon-close">x</span>
                </button>
            </form>
        </div>
    </div>
</div>
<!-- End -->