		<a class="link-back" href="/">Back to index</a>


		<h1 class="heading-xlarge">My account <span class="heading-secondary">Sidney Bechet</span></h1>


    <div class="tabs">

    	<div class="tabs-nav">

    		<ul class="tabs-list">
    			<li><a href="#overview">Overview</a></li>
    			<li><a href="#applications">Applications</a></li>
    			<li><a href="#messages">Messages</a></li>
    		</ul>

    	</div>

      <div class="tabs-content">

        <div class="tabs-panel" id="overview">

          <div class="tabs-panel-inner">

            <div class="grid-row">
    
              <div class="column-two-thirds">
    
            	  <h2 class="heading-large">Overview</h2>
    
            		<p class="lede">You need to check your business and land details</p>
    
            		<p>If the land or contact details we have for any of your businesses are wrong, you need to contact us as soon as possible
                to update them. In the future you'll be able to do this online.</p>
    
                <p>You have:</p>
    
            	  <div class="alert-info" role="alert">
    
            			<div class="alert-message">
    
            				<h3 class="alert-header"><span class="alert-number">4</span> businesses to check</h3>
    
            				<p>To check your business details, select 'Check business' in the table below.</p>
    
            			</div>
    
            		</div>
    
                <details>
    
            			<summary><span class="summary">You can also give people permissions. Find out more.</span></summary>
    
            			<div class="panel-indent">
            				<p>To help you, you can give an agent, family member or others permission to use <abbr title="Common Agricultural Policy">CAP</abbr> Information Service
            				on your behalf. You can do this by selecting 'View or give permissions' in the table below.</p>
            			</div>
    
            		</details>
    
            		<h3 class="heading-medium">Businesses</h3>
    
            		<p>We have listed below all of the businesses you are associated with, or that you act on behalf of. If this is wrong, phone us on 03000 200 301.</p>
    
            		<div class="alert-info" role="alert">
    
            			<div class="alert-message">
    
            				<p>To view your business details, view and amend land parcels and land cover, select 'View business' in the table below.</p>
    
            			</div>
    
            		</div>
    
            		<table>
    
            		  <caption class="visuallyhidden">Busness details listing</caption>
    
            			<thead>
    
            				<tr>
            					<th scope="col">Business</th>
            					<th class="action" scope="col">Permissions</th>
            					<th class="action last" scope="col">View or check</th>
            				</tr>
    
            			</thead>
    
            			<tbody>
    
            				<tr>
            					<th scope="row">Hansels Farm <br> <span class="sbi">SJ8063_4774</span></th>
            					<td class="action"><a href="/">View or give permissions <span class="visuallyhidden">to Hansels Farm</span></a></td>
            					<td class="action last"><a href="/">View business <span class="visuallyhidden">Hansels Farm</span></a></td>
            				</tr>
    
            				<tr>
            					<th scope="row">Willow Farm <br> <span class="sbi">SJ8063_4461</span></th>
            					<td class="action"><a href="/">View or give permissions <span class="visuallyhidden">to Willow Farm</span></a></td>
            					<td class="action last"><a href="/">View business <span class="visuallyhidden">Willow Farm</span></a></td>
            				</tr>
    
            			</tbody>
    
            		</table>
    
            		<div class="text">
    
              		<h3 class="heading-medium">Add business</h3>
    
              		<p>You will be asked to give details of your business and any other people legally responsible for it.</p>
    
              		<p>Because you are adding this business we'll assume you're the owner. If you're not the owner, don't add the business.</p>
    
                  <button class="button">Add business</button>
    
                </div>
    
              </div>
    
              <div class="column-third">
    
                <div class="related">
    
                  <div class="related-section">
    
                    <h2 class="related-section-title">Manage your account</h2>
    
                    <ul class="related-section-links">
                      <li><a href="/">View and amend personal details</a></li>
                    </ul>
    
                  </div>
    
                  <div class="related-section">
    
                    <h2 class="related-section-title">Manage business</h2>
    
                    <ul class="related-section-links">
                      <li><a href="/">Add business</a></li>
                    </ul>
    
                  </div>
    
                </div>
    
              </div>
    
            </div>
          
          </div>

        </div>

        <div class="tabs-panel" id="applications">
          
          <div class="tabs-panel-inner">

            <div class="grid-row">
  
              <div class="column-two-thirds">
  
                <h2 class="heading-large">Applications</h2>
  
            		<p>Praesent nec ultrices purus. Nunc eget interdum quam. Quisque mauris lectus, porta quis erat vel, luctus efficitur leo.</p>
  
                <table>
  
                  <caption class="visuallyhidden">Busness applications listing</caption>
  
                	<thead>
  
                		<tr>
                			<th scope="col">Business</th>
                			<th scope="col">Status</th>
                			<th class="action" scope="col"><span class="visuallyhidden">Action</span></th>
                		</tr>
  
                	</thead>
  
                	<tbody>
  
                		<tr>
                			<td scope="row" data-title="Business">Beech Farm</td>
                			<td data-title="Status">In Progress</td>
                			<td class="action last"><a href="/">Continue <span class="visuallyhidden">Beech Farm</span></a></td>
                		</tr>
  
                		<tr>
                			<td scope="row" data-title="Business">Red Farm</td>
                			<td data-title="Status">In Progress</td>
                			<td class="action last"><a href="/">Continue <span class="visuallyhidden">Red Farm</span></a></td>
                		</tr>
  
                		<tr>
                			<td scope="row" data-title="Business">Ashbury Company</td>
                			<td data-title="Status">Submitted</td>
                			<td class="action last"><a href="/">View <span class="visuallyhidden">Ashbury Company</span></a></td>
                		</tr>
  
                	</tbody>
  
                </table>
  
              </div>
  
              <div class="column-third">
  
                <div class="related">
  
                  <div class="related-section">
    
                    <h2 class="related-section-title">Manage your account</h2>
    
                    <ul class="related-section-links">
                      <li><a href="/">View and amend personal details</a></li>
                    </ul>
    
                  </div>
    
                  <div class="related-section">
    
                    <h2 class="related-section-title">Manage business</h2>
    
                    <ul class="related-section-links">
                      <li><a href="/">Add business</a></li>
                    </ul>
    
                  </div>
    
                </div>
              
              </div>
              
            </div>
          
          </div>

        </div>

        <div class="tabs-panel" id="messages">
          
          <div class="tabs-panel-inner">

            <h2 class="heading-large">Messages</h2>
  
            <div class="text">
              <p>Praesent nec ultrices purus. Nunc eget interdum quam. Quisque mauris lectus, porta quis erat vel, luctus efficitur leo.</p>
            </div>
  
          </div>
        
        </div>

      </div>

    </div>