// ==========================================================================
// Base
// ==========================================================================


// Images

.img {

  &-border {
    border: 1px solid $grey-2;
  }

  &-responsive {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
  }

}



// Aria hidden attribute

[aria-hidden=true] {
  @extend .visuallyhidden;
}