// ==========================================================================
// Details
// ==========================================================================

.details {
  margin-bottom: 1.05263em; // 20px
  overflow: hidden;


  dt {
    @extend .bold-small;

    @include media(tablet) {
  		float: left;
  		width: 40%;
  	}

  }


  dd {
    display: block;
  	@include media(tablet) {
    	@include box-sizing(border-box);
  		float: right;
  		padding-left: 20px;
  		width: 60%;
  	}
  }


}
