// Defra
// ==========================================================================


// Override the global header bar with DEFRA colour

#global-header-bar .header-bar {
	background-color: $department-for-environment-food-rural-affairs;
}



// Page header

.page-header {
  margin: 1em 1em 3em 1em;
  padding: 0 0 2em 0;

  @include media(desktop) {
    margin: 1em 2em 3em 2em;
  }

  .hgroup {
    padding: 0;

    h1 {
      @include bold-48;
      color: $text-colour;
      padding-top: 0.7rem;
      padding-bottom: 1.3rem;
    }

    h2.subtitle{
      margin: 0;
      color: $secondary-text-colour;
      @include core-24;
    }
  }
}



// Tabs

.tabs {
	background-color: #fff;

	&:after {
		clear: both;
		content: '.';
		display: block;
		height: 0;
		visibility: hidden;
	}

}

.tabs-list {
	border-top: 1px solid $grey-2;
	margin: 0 -1em;
	padding: 0;

	@include media(tablet) {
		border-top: none;
		float: left;
		margin: 0;
	}

	li {
		@include core-16;
		margin: 0;
		padding: 0;

		@include media(tablet) {
			float: left;
		}

	}

	a {
		border-bottom: 1px solid $grey-2;
		display: block;
		line-height: 3.5em;
		padding: 0 1em;

		@include media(tablet) {
			border: 1px solid transparent;
			border-bottom: none;
			float: left;
			height: 2.25em;
			line-height: 2.25em;
			margin-bottom: -1px;
			text-align: center;
		}

		&:hover {
			background-color: $grey-3;
		}

		&.active {
			background-color: #fff;
			color: $text-colour;
			cursor: default;
			text-decoration: none;

			@include media(tablet) {
				border: 1px solid $grey-2;
				border-bottom: 1px solid #fff;
			}

		}

	}

}

.tabs-content {
	padding: 1em 0 0;

	@include media(tablet) {
		border-top: 1px solid $grey-2;
		padding: 1em 1em 0;

	}

}



// Footer colour extended

html {
	background-color: $grey-3;
}


body {
	background-color: $page-colour;
}



// Steps

.steps {
	padding: 1em 0;
}

.steps-heading {
	@include bold-36();
}

.steps-pos {
	display: block;
	@include core-19;
	@extend .text-secondary;
}



// Summary

.summary {

	ul {
		margin: 0;
	}

	li {
		border-bottom: 1px solid $grey-2;
		clear: both;
		margin: 0;
		overflow: hidden;
		padding: .5em 0;
	}

}

.summary-title {
	display: block;
	@extend .bold-small;

	@include media(tablet) {
		float: left;
		width: 30%;
	}

}

.summary-value {
	display: block;
	@include media(tablet) {
		float: right;
		width: 70%;
	}

}







