// Forms
// ==========================================================================


.form-multiple-checkboxes {
  margin-top: 2em;

  ul {
    margin-bottom: 0;
  }


  label {
    @include user-select(none);
  }


  > li {
    @include clearfix;
    margin-bottom: 0;
    overflow: visible;

    &:hover {
      background-color: $grey-4;
    }

  }


  .block-label {
    @include box-sizing(border-box);
    width: 100%;
  }


  .form-checkbox {
    margin: 0;
    padding: 15px;

    input {
      float: left;
      margin: 5px;
    }

  }


  .code {
    font-weight: bold;
    margin: 0 20px 0 10px;
    float: left;
  }


  .details {
    display: block;
    overflow: hidden;
  }


}


