// ==========================================================================
// Forms
// ==========================================================================


.form-checkboxes {
  margin-top: 2em;

  ul {
    margin-bottom: 0;
  }

  .code {
    font-weight: bold;
    margin: 0 20px 0 10px;
    display: block;
    float: left;
  }

  .details {
    display: block;
    overflow: hidden;
  }

}


.form-control {
    min-height: 35px;
    max-height: 400px;
    resize: vertical;
}

