// Icons
// ==========================================================================


// Alert icons

div[class*="alert-"] {

  .icon {
  	float: left;
  	height: em(22);
  	margin-right: em(20);
  	overflow: hidden;
  	width: em(22);

  	&-tick {
      background-image: url("../images/icons/icon-tick.png");
    	@include device-pixel-ratio() {
    		background-image: url("../images/icons/icon-tick-2x.png");
    		background-size: 100%;
    	}
  	}

  	&-cross {
      background-image: url("../images/icons/icon-cross.png");
    	@include device-pixel-ratio() {
    		background-image: url("../images/icons/icon-cross-2x.png");
    		background-size: 100%;
    	}
  	}

  	&-close {
      background-image: url("../images/icons/icon-close.png");
    	@include device-pixel-ratio() {
    		background-image: url("../images/icons/icon-close-2x.png");
    		background-size: 100%;
    	}
  	}

  }

}

