// ==========================================================================
// VCard
// ==========================================================================


.contact-details {

  .adr {
    margin-bottom: em(20, 16);

    @include media(tablet) {
      margin-bottom: em(20);
    }

  }

  margin-bottom: em(20, 16);

  @include media(tablet) {
    margin-bottom: em(20);
  }

}

