// ==========================================================================
// Overrides
// ==========================================================================


// Footer colour extended / font rendering fixes

html {
  -webkit-text-size-adjust: 100%; /* 1 */
  -ms-text-size-adjust: 100%; /* 1 */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-color: $grey-3;
}


body {
  @include box-sizing(border-box);
	background-color: $page-colour;
}


.back-link {
  display: inline-block;
  margin-top: 30px;
}


// Removes addition border and padding in firefox

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}


// Exception for date inputs

.form-date {

  .form-group {

    .form-label {
      color: $secondary-text-colour;
    }

  }

}

