// ==========================================================================
// Tabs
// ==========================================================================


.tabs {
  margin-bottom: 1.05263em; // 20px


  // Nav
  &-nav {
    background-color: #fff;

    &:after {
  		clear: both;
  		content: '.';
  		display: block;
  		height: 0;
  		visibility: hidden;
  	}

  }


  // List
  &-list {
    border-top: 1px solid $grey-2;
    margin: 0;

    @include media(tablet) {
      border-top: 0 none;
    }

    li {
      @include core-19;
      margin: 0;
      border-bottom: 1px solid $grey-2;

      @include media(tablet) {
        border-bottom: 0 none;
        float: left;
        margin: 0 0 -1px;
        padding: 0;
      }

      &.active a {
        background-color: #fff;
        color: $text-colour;
        cursor: default;
        text-decoration: none;

        &:focus {
          outline: none;
        }

        @include media(tablet) {
          border: 1px solid $grey-2;
          border-bottom: 1px solid transparent;
          margin-top: 0;
          margin-bottom: 0;
          padding: em(13) em(18) em(14);
        }

      }

    }

    a {
      background-color: #fff;
      display: block;
      padding: em(9);
      text-decoration: none;

      &:hover {
        background-color: $grey-3;
      }

      @include media(tablet) {
        background-color: $grey-3;
        border: 0 none;
        float: left;
        margin: em(5) em(5) em(5) 0;
        padding: em(9) em(19);
        text-align: center;
      }

    }

  }


  // Content
  &-content {
    padding: em(19) 0 0;

  	@include media(tablet) {
  		border-top: 1px solid $grey-2;
  		padding: em(19) em(19) 0;
  	}

  }


}

