// Tabs
// ==========================================================================

.tabs-nav {
	background-color: #fff;

	&:after {
		clear: both;
		content: '.';
		display: block;
		height: 0;
		visibility: hidden;
	}

}

.tabs-list {
	border-top: 1px solid $grey-2;
	margin: 0 -1em;
	padding: 0;

	@include media(tablet) {
		border-top: none;
		float: left;
		margin: 0;
	}

	li {
		@include core-16;
		margin: 0;
		padding: 0;

		@include media(tablet) {
			float: left;
		}

		&.active a {
			background-color: #fff;
			color: $text-colour;
			cursor: default;
			text-decoration: none;

			@include media(tablet) {
				border: 1px solid $grey-2;
				border-bottom: 1px solid #fff;
			}

		}

	}

	a {
		border-bottom: 1px solid $grey-2;
		display: block;
		line-height: 3.5em;
		padding: 0 1em;

		@include media(tablet) {
			border: 1px solid transparent;
			border-bottom: none;
			float: left;
			height: 2.25em;
			line-height: 2.25em;
			margin-bottom: -1px;
			text-align: center;
		}

		&:hover {
			background-color: $grey-3;
		}

	}

}

.tabs-content {
	padding: 1em 0 0;

	@include media(tablet) {
		border-top: 1px solid $grey-2;
		padding: 1em 1em 0;

	}

}