		<a class="link-back" href="/pages/accountable-people/business-ownership/accountable-person/summary/">Back to Accountable people summary</a>
    
    
    <div class="text">
      
      <h1 class="heading-xlarge">{{pagetitle}} <span class="heading-secondary">Beech Farm</span></h1>

    </div>
    
    
    <form class="form" method="get" action="/pages/accountable-people/business-ownership/accountable-person/business-details/">
      
      
      <div class="text">
      
        <h2 class="heading-medium">Have you given us all the accountable people details for this business?</h2>
      
      </div>
    
        
      <div class="form-group">
        
        <fieldset class="inline">
      
          <legend class="visuallyhidden">Choose if you have given us all the accountable people details for this business</legend>
          
          <div class="form-group form-group-compound">
          
            <label class="block-label" for="radio-inline-1" data-target="complete">
              <input id="radio-inline-1" name="radio-inline-group" value="Yes" type="radio"> Yes
            </label>
            
            <label class="block-label" for="radio-inline-2" data-target="complete-later">
              <input id="radio-inline-2" name="radio-inline-group" value="No" type="radio"> No
            </label>
          
          </div>
          
          <div class="panel-indent text js-hidden" id="complete">
            <p>I have completed the details of all business owners, partners, directors, shareholders with 10&#37; or higher shares, people with controlling voting rights.</p>
          </div>          
          
          <div class="panel-indent text js-hidden" id="complete-later">
            <p>I have not completed all the details yet, but will confirm later.</p>
          </div>
        
        </fieldset>
      
      </div>
    
    
      <button class="button" type="submit">Continue</button>
      
      
    </form>