  {{>breadcrumb}}


  <div class="grid-row">
    
    
    <div class="column-two-thirds">
      

    	<form class="form" method="post" action="#">
      	
      	
      	<h1 class="form-title heading-xlarge">Your personal details</h1>
    
    
        <div class="error-summary" tabindex="-1" aria-labelledby="error-summary-heading" role="group">
        
          <h1 class="heading-medium error-summary-heading" id="error-summary-heading">Message to alert the user to a problem goes here</h1>
        
          <p>Optional description of the error(s) and how to correct them</p>
        
          <ul class="error-summary-list">
            <li><a href="#error-ni-number">Descriptive link to the question with an error</a></li>
          </ul>
        
        </div>
    
    
        <div class="form-group">
    
          <label class="form-label-bold" id="full-name" for="full-name">
            Full name 
            <span class="form-hint">As shown on your birth certificate or passport</span>
          </label>
    
          <input class="form-control" type="text" name="fullName" id="full-name">
        
        </div>
        
        
        <div class="form-group error">
    
          <label class="form-label-bold" id="error-ni-number" for="ni-number">
            National Insurance number 
            <span class="form-hint">It's on your National Insurance card, benefit letter, payslip or P60. <br> For example, 'VO 12 34 56 D'.</span>
            <span class="error-message" id="error-message-ni-number">Error message about National Insurance number goes here</span>
          </label>
    
          <input class="form-control" type="text" aria-describedby="error-message-ni-number" name="niNumber" id="ni-number">
    
        </div>
        
        
        <button class="button" type="submit">Continue</button>
    
    
    	</form>
      
      
    </div>
    
    
  </div>


	