    <a class="link-back" href="/">Back to RPA Style Guide</a>

    
    <div class="grid-row">
      
      
      <div class="column-two-thirds">
        
        
        
        <h1 class="heading-xlarge">Business overview <span class="heading-secondary">Beech Farm</span></h1>
        
        
        <p class="lede">Manage different areas of your farm business here.</p>
    


        <h2 class="heading-medium">Accountable people</h2>
        
        <div class="text">
          
          <p>Have you told us about people accountable for this business? If you have not told us, any payments due to the business for 2016 may be withheld.</p>
          
          <div class="panel-indent">
            <p>If you do not have permissions to change the details for this business, you will need to contact the business owner or someone with suitable permissions.</p>
          </div>
        
        </div>
        
        
        
        <h2 class="heading-medium">Give access to this business</h2>
        
        <div class="text">
          
          <p>You can give people access to your business if you'd like them to complete your application for you.</p>
        
        </div>
        
        
        
        <h2 class="heading-medium">Business details</h2>
        
        <div class="text">
          
          <p>Check the details we hold for your business.</p>
          
        </div>

        
        
        <h2 class="heading-medium">Land</h2>
        
        <div class="text">
          
          <p>Make changes to your land cover and land use. Transfer land to another business, or print a map of an individual land parcel.</p>
          
        </div>

        
        
        <h2 class="heading-medium">Entitlements</h2>
        
        <div class="text">
          
          <p>Check what entitlements you have for the Basic Payment Scheme and transfer any that you’ve sold or leased.</p>
          
        </div>



        <h2 class="heading-medium">Common rights</h2>
        
        <div class="text">
          
          <p>Check and update any grazing rights you have for common land.</p>
          
        </div>
        
        
        
        <h2 class="heading-medium">Applications and claims</h2>
        
        <div class="text">
          
          <p>Apply for the Basic Payment Scheme and update your application. Track the progress of your application online and look at your previous claims.</p>
          
        </div>
        
        
        
      </div>
      
      
      <div class="column-third">
        
        
        <h2 class="heading-medium">Business details</h2>


        <div itemscope="" itemtype="http://schema.org/Organization" class="hcard">
    
          <div class="visuallyhidden" itemprop="name">Beech Farm</div>
    
          <div itemscope="" itemprop="address" itemtype="http://schema.org/PostalAddress" class="hcard-adr">
            <div itemprop="streetAddress">Beech Farm</div>
            <div itemprop="addressLocality">Pooley Bridge</div>
            <div itemprop="addressRegion">Penrith</div>
            <div itemprop="postalCode">CA10 2NP</div>
            <div itemprop="addressCountry">United Kingdom</div>
          </div>
    
          <div itemprop="email"><a href="mailto:contact@beechfarm.co.uk">contact@beechfarm.co.uk</a></div>
          <div>Landline: <span itemprop="telephone">0147 9643 7770</span></div>
          <div>Mobile: <span itemprop="telephone">07231 839 187</span></div>
    
        </div>
    
        
        <!--p><a href="#">View full business details</a></p-->
            
            
      </div>
      
      
    </div>