  {{>breadcrumb}}
  
  
  <div class="grid-row">


    <div class="column-two-thirds">
      
      
      <h1 class="heading-xlarge">Rural Payments</h1>


      <p class="lede">Call the Rural Payments Agency to create an account. This takes about 20 minutes.</p>


      <div class="panel-indent">

        <p class="bold-medium">Call 03000 200 301 to create an account</p>

        <p>Monday to Friday, 8:30am to 5pm <br> Closed weekends, public and bank holidays</p>

        <p>Once you've done this you can <a href="/">finish creating your account</a>.</p>

      </div>


      <p>Or you can <a href="/">create an account with GOV.UK Verify</a>.</p>


      <h2 class="heading-medium">Sign in</h2>

      <p>If you've already created an account, sign in here.</p>

      <p><a href="/signin/">Sign in to Rural Payments</a></p>

      <p><a href="/">Sign in with GOV.UK Verify</a></p>

      
    </div>
    
      
  </div>