  {{>breadcrumb}}

  <div class="grid-row">
    
    
    <div class="column-two-thirds">
      
      
      <form class="form" method="get" action="#">
  		
  		
    		<h1 class="form-title heading-xlarge">{{page_name}}</h1>
  
  
  			<div class="form-group">
  				
  				<label class="form-label" for="full-name">
  				  Full name 
  				  <span class="form-hint">As shown on your birth certificate or passport</span>
  				</label>
  				
  				<input class="form-control" type="text" id="full-name">
  				
  			</div>
  
  
  			<div class="form-group">
    			
  				<label class="form-label" for="ni-number">
  				  National Insurance number 
  					<span class="form-hint">It's on your National Insurance card, benefit letter, payslip or P60. <br> For example, 'VO 12 34 56 D'.</span>
  				</label>
  				
  				<input class="form-control" id="ni-number" type="text">
  				
  			</div>
  
  
  			<div class="form-group">
  
  				<fieldset>
  
            <legend class="form-label">Date of birth</legend>
  
            <div class="form-date">
  
              <span class="form-hint">For example, 31 3 1980</span>
  
            	<div class="form-group form-group-day">
            		<label for="dob-day">Day</label>
            		<input class="form-control" id="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
            	</div>
  
            	<div class="form-group form-group-month">
            		<label for="dob-month">Month</label>
            		<input class="form-control" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
            	</div>
  
            	<div class="form-group form-group-year">
            		<label for="dob-year">Year</label>
            		<input class="form-control" id="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
            	</div>
  
            </div>
  
          </fieldset>
          
  			</div>
  
  
  			<div class="form-group">
    			
    			<button class="button">Continue</button>
  
    			<ul>
    				<li><a href="../">Skip this section for now</a></li>
    				<li><a href="../">Back</a></li>
    			</ul>
    			
  			</div>


		  </form>
		

    </div>
    
    
  </div>