    <a class="link-back" href="/sitiagri/">Back to Business overview</a>
    
    
    <div class="grid-row">
      
      <div class="column-two-thirds">
        
        <h1 class="heading-xlarge">Manage your farm business <span class="heading-secondary">Beech Farm</span></h1>
    
        <p class="lede">Phasellus semper, odio ac sagittis auctor, ex enim mattis justo, lacinia luctus odio erat a arcu.</p>
        
        <ul class="list-bullet">
          <li><a href="/sitiagri/manage-your-farm-business/business-details/">View farm business details</a></li>
        </ul>
        
      </div>
      
    </div>
