		<a class="back-link" href="/">Back to index</a>


		<h1 class="heading-xlarge">Scheme eligibility <span class="heading-secondary">Red Farm</span></h1>


    <div class="text">

		  <p class="lede">Based on the information you've given us, here are the schemes you might be able to apply for. Any changes to your land and business details might affect whether you can apply or not.</p>

      <div class="alert-info" role="alert">

      	<div class="alert-message">
      		<p>If you disagree with any of the information on this page relating to your eligibility, you can appeal by contacting us via our 
        		service centre on <span class="bold-small">0800 xxx xxx</span> or by emailing us at <a href="mailto:xxx@xxx.gov.uk">xxx@xxx.gov.uk</a>.</p>
      	</div>

      </div>

    </div>


    <div class="text">

      <h2 class="heading-large">Basic Payment Scheme (<abbr title="Basic Payment Scheme">BPS</abbr>)</h2>

      <p class="bold-small"><abbr title="Basic Payment Scheme">BPS</abbr> application window is open:</p>

      <ul class="list-bullet">
        <li>The application window closes on 15 May.</li>
        <li>You can submit applications after 15 May but late claim penalties apply.</li>
        <li>You cant submit an application after 9 June using this system. To apply after this daye, you'll need to contact the Rural Payments Agency.</li>
      </ul>

      <p><a class="button" href="/" role="button">Apply for BPS</a></p>

      <p>As part of the new Common Agricultural Policy (<abbr title="Common Agricultural Policy">CAP</abbr>), SPS will be replaced with a new scheme called the Basic Payment Scheme (<abbr title="Basic Payment Scheme">BPS</abbr>). It will start in 2005.</p>

      <p class="bold-small">To apply for the Basic Payment Scheme (<abbr title="Basic Payment Scheme">BPS</abbr>), you'll need to:</p>

      <ul class="list-bullet">
        <li>be an 'active farmer'</li>
        <li>have 5 hectares or more of eligible agricultural land</li>
        <li>have 5 or more <abbr title="Basic Payment Scheme">BPS</abbr> entitlements</li>
      </ul>

      <div class="alert-info" role="alert">

        <span class="icon icon-tick" aria-hidden="true"></span>

        <div class="alert-message">
          <p>Based on the information you have given us, you might be eligble to receive entitlements from the National Reserve.</p>
        </div>

      </div>

    </div>


    <div class="grid-row">


      <div class="column-two-thirds">

        <h2 class="heading-large">Greening requirements</h2>

        <p>Content goes here&hellip;</p>

      </div>


      <div class="column-third">

        <div class="related">

          <div class="related-section">

            <h2 class="related-section-title">Learn more about</h2>

            <ul class="related-section-links">
              <li><a href="/">Greening payment 2015</a></li>
              <li><a href="/">Tell me about Ecological Focus Areas (<abbr title="Ecological Focus Areas">EFAs</abbr>)</a></li>
            </ul>

          </div>

          <div class="related-section">

            <h2 class="related-section-title">Manage <abbr title="Ecological Focus Areas">EFAs</abbr></h2>

            <ul class="related-section-links">
              <li><a href="/">Link goes here</a></li>
              <li><a href="/">Link goes here</a></li>
            </ul>

          </div>

        </div>

      </div>


    </div>


    <div class="grid-row">


      <div class="column-two-thirds">

        <h2 class="heading-large">Young farmer payment</h2>

        <p>Content goes here&hellip;</p>

      </div>


      <div class="column-third">

        <div class="related">

          <div class="related-section">

            <h2 class="related-section-title">Learn more about</h2>

            <ul class="related-section-links">
              <li><a href="/">Young Farmer Payment</a></li>
            </ul>

          </div>

        </div>

      </div>


    </div>


    <div class="grid-row">


      <div class="column-two-thirds">

        <h2 class="heading-large">Entitlements from National Reserve</h2>

        <p>Content goes here&hellip;</p>

      </div>


      <div class="column-third">

        <div class="related">

          <div class="related-section">

            <h2 class="related-section-title">Learn more about</h2>

            <ul class="related-section-links">
              <li><a href="/">Entitlements from National Reserve</a></li>
              <li><a href="/">The National Reserve</a></li>
            </ul>

          </div>

        </div>

      </div>


    </div>


    <div class="grid-row">


      <div class="column-two-thirds">

        <h2 class="heading-large">Cross compliance</h2>

        <p>Content goes here&hellip;</p>

      </div>


      <div class="column-third">

        <div class="related">

          <div class="related-section">

            <h2 class="related-section-title">Learn more about</h2>

            <ul class="related-section-links">
              <li><a href="/">Cross compliance guidance for 2015</a></li>
              <li><a href="/">Lists of SMRs and GAECs from 2015</a></li>
              <li><a href="/">Farming Advice Service</a></li>
            </ul>

          </div>

        </div>

      </div>


    </div>