    <div class="text">

      <a class="back-link" href="/">Back to index</a>

		  <h1 class="heading-xlarge">Sign in to Rural Payments</h1>

		  <p class="lede">Enter the 10-digit Customer Reference Number provided to you by Rural Payments and your password.</p>

    </div>


		<form class="form form-group" method="get" action="/">

			<div class="form-group">
				<label class="form-label" for="customer-reference">Customer Reference Number</label>
				<span class="form-hint">It'll be in your email inbox. For example, 1234567890.</span>
				<input class="form-control" type="text" id="customer-reference">
			</div>

			<div class="form-group">
				<label class="form-label" for="password">Enter your password</label>
				<input class="form-control" type="password" id="password">
			</div>

			<div class="form-group">
				<button class="button" type="submit">Sign in</button>
				<p><a href="/">Forgotten your password?</a></p>
			</div>

		</form>


    <div class="text">

      <div class="alert-info" role="alert">

        <div class="alert-message">
          <p>Unauthorised access to this system constitutes an offence under the Computer Misuse Act 1990. You must follow Defra or Defra Network organisational policies and codes of conduct relating to the use of computer systems, and
          agree to the terms of the Personal Commitment Statement.</p>

          <p>Activity on the Defra network computer systems may be monitored and/or recorded to secure the effective operation of the system and for other lawful puposes.</p>
        </div>

      </div>

    </div>