  {{>breadcrumb}}


  <div class="grid-row">
    
    
    <div class="column-two-thirds">

    
    	<form class="form" method="get" action="/">  		
    		
    		
    		<h1 class="form-title heading-xlarge">{{page_name}}</h1>
    		
    		
    		<p class="lede">Enter the 10&ndash;digit Customer Reference Number provided to you by Rural Payments and your password.</p>  		  
    
    
    		<div class="form-group">
    			
    			<label class="form-label" for="customer-reference">
    			  Customer Reference Number 
    			  <span class="form-hint">It'll be in your email inbox. For example, 1234567890.</span>
    			</label>
    			
    			<input class="form-control" id="customer-reference" type="text">
    			
    		</div>
    		
    
    		<div class="form-group">
    			<label class="form-label" for="password">Enter your password</label>
    			<input class="form-control" id="password" type="password">
    		</div>
    
    			
    	  <button class="button" type="submit">Sign in</button>
    			
    			
        <p><a href="/forgotten-your-password/">Forgotten your password?</a></p>
    		
    
    	</form>
    
    
      <div class="panel-indent">
            
        <p>Unauthorised access to this system constitutes an offence under the Computer Misuse Act 1990. You must follow Defra or Defra Network organisational policies and codes of conduct relating to the use of computer systems, and agree to the terms of the Personal Commitment Statement.</p>
    
        <p>Activity on the Defra network computer systems may be monitored and/or recorded to secure the effective operation of the system and for other lawful puposes.</p>
        
      </div>
      
      
    </div>
    
    
  </div>