		<a class="back-link" href="../">Back to Fallow field</a>


    <div class="grid-row">


      <div class="column-half">


        <h1 class="heading-xlarge">What do you want to add to this land?</h1>


        <form class="form" method="get" action="../add-feature-details/">


          <div class="form-group">

            <label for="land-use">
              <span class="form-label">Enter the land use or feature</span>
              <span class="form-hint">For example 'Pond', 'Trees' or 'Farmyard'</span>
            </label>

            <input class="form-control form-control-3-4" id="land-use" type="text" value="Sweet potatoes">

          </div>


          <button class="button">Continue</button>


        </form>


      </div>


      <div class="column-half">

        {{>map}}
        
        <p class="map-print">
          <a href="/">View or download a print-friendly map</a> (<abbr title="Portable Document Format">PDF</abbr>)
          <span class="map-print-message hidden">The print service is currently unavailable.</span>
        </p>
        
        <h3 class="heading-small">Is this information up to date?</h3>
        
        <p class="font-xsmall">If you have already asked us to make changes to information about your land, they might not show here yet.</p>
        
        <p class="font-xsmall">If you need to tell us about any changes to your land you should fill in an <a href="/">RLE1 form </a>.</p>

      </div>


    </div>