  {{>breadcrumb}}

  <div class="grid-row">
    
    
    <div class="column-two-thirds">
      
      
      <h1 class="heading-xlarge">{{page_name}}</h1>
      
      
      <h3 class="heading-medium">Before you continue, you need to have</h3>


  		<ul class="list-bullet">
  		  <li>checked that you are eligible to apply for <abbr title="Basic Payments Scheme">BPS</abbr></li>
        <li>told us about all the land at your disposal for 2015</li>
        <li>told us about land use for 2015</li>
        <li>checked that entitlements are correct</li>
        <li>completed the cross compliance declaration</li>
  		</ul>
  
  
  		<h3 class="heading-medium">You may also need to have</h3>
  
  
  		<ul class="list-bullet">
  		  <li>selected Ecological Focus Areas</li>
        <li>applied to the National Reserve</li>
        <li>told us that you are interested in the young farmer payment</li>
  		</ul>
  		
  		
  		<p><a class="button" href="#">Continue application</a></p>
        
        
    </div>
    
    
  </div>