		<a class="link-back" href="/pages/confirm-journey/check-business-details/">Back to Check business details</a>


    <div class="text">

      <h1 class="heading-xlarge">Additional business details <span class="heading-secondary">Beech Farm</span></h1>

      <p class="lede">Before applying for any schemes, you need to provide us with these additional business details. You can do this now or choose to do it later.</p>

      <p><a href="/pages/confirm-journey/people-accountable/">Continue and provide additional business details later</a></p>

    </div>
    
    
    <form class="form" method="get" action="/pages/confirm-journey/people-accountable/">
      
      
      <!-- Business details -->
      <fieldset>
        
        
        <legend class="heading-medium">Business details</legend>
      
      
        <div class="form-group">
        
          <label for="legal-status">
            <span class="form-label">Legal status</span>
          </label>
          
          <select class="form-control-select" id="legal-status">
            <option>-- Please make a selection --</option>
            <option>Charitable Interest Organisation (CIO)</option>
            <option>Community Interest Company (CIC)</option>
            <option>Government (Central)</option>
            <option>Government (Local)</option>
            <option>Limited Liability Partnership (LLP)</option>
            <option>Limited Partnership (LP)</option>
            <option>Non-UK Company</option>
            <option>Private Limited Company (Ltd)</option>
            <option>Public Limited Company (PLC)</option>
            <option>Sole Proprietorship</option>
            <option>The Crown</option>
            <option>Trust</option>
            <option>Unlimited Company (Ultd)</option>
          </select>
          
        </div>
      
      
        <div class="form-group">
        
          <label for="business-type">
            <span class="form-label">Type of business</span>
          </label>
          
          <select class="form-control-select" id="business-type">
            <option>-- Please make a selection --</option>
            <option>Abattoir/Slaughterhouse</option>
            <option>Agency</option>
            <option>Agent</option>
            <option>Agricultural Production</option>
            <option>Airport</option>
            <option>Auction</option>
            <option>Catering Butcher</option>
            <option>Charity (Non Profit Organisation)</option>
            <option>Cold Store</option>
            <option>Commons or Graziers Association</option>
            <option>Contractor</option>
            <option>Cutting Plant</option>
            <option>Education Provider/Training</option>
            <option>Exporter</option>
            <option>Farmer controlled business</option>
            <option>Financial Services</option>
            <option>Forestry/Woodland owner</option>
            <option>Government Department</option>
            <option>Horticultural business</option>
            <option>Importer</option>
            <option>Intervention/Private Storage</option>
            <option>Land Owner or Management</option>
            <option>Leader group</option>
            <option>Local Authority</option>
            <option>Marketing Company</option>
            <option>Official Receiver/Administrator</option>
            <option>Permanent Sports ground/facility</option>
            <option>Processor/Catering</option>
            <option>Producer Organisation</option>
            <option>Producer Organisation Memberg</option>
            <option>Promotion or Marketing of UK Agricultural Products</option>
            <option>Public Sector Organisation</option>
            <option>Publicly Funded Organisation</option>
            <option>Railway services</option>
            <option>Real estate services (landlords)</option>
            <option>Recreational grounds/recreation</option>
            <option>Rural community or third sector organisation</option>
            <option>Supplier</option>
            <option>Tourism</option>
            <option>Trader (other)</option>
            <option>Transport or Distributor</option>
            <option>Waterworks</option>
          </select>
          
        </div>
      
      
        <div class="form-group">
        
          <fieldset>
            
            <legend>
              <span class="form-label">Date your business was registered</span>
            </legend>
            
            <div class="form-date">
              
              <span class="form-hint">For example, 31 3 1980</span>
  
            	<div class="form-group form-group-day">
            		
            		<label for="dob-day">
            		  <span class="form-label">Day</span>
            		</label>
            		
            		<input class="form-control" id="dob-day" type="text">
            		
            	</div>
  
            	<div class="form-group form-group-month">
            	
            		<label for="dob-month">
            		  <span class="form-label">Month</span>
            		</label>
            		
            		<input class="form-control" id="dob-month" type="text">
            		
            	</div>
  
            	<div class="form-group form-group-year">
            		
            		<label for="dob-year">
            		  <span class="form-label">Year</span>
            		</label>
            		
            		<input class="form-control" id="dob-year" type="text">
            		
            	</div>
  
            </div>
            
          </fieldset>
          
        </div>
      
      
        <div class="form-group">
        
          <fieldset>
            
            <legend>
              <span class="form-label visuallyhidden">Registered land</span>
            </legend>
            
            <div class="text">
              <p>Does your business have any land registered in Wales, Scotland or Northern Ireland?</p>
            </div>
            
            <label class="block-label" for="checkbox-1">
              <input id="checkbox-1" value="wales" type="checkbox">Wales
            </label>
            
            <label class="block-label" for="checkbox-2">
              <input id="checkbox-2" value="scotland" type="checkbox">Scotland
            </label>
            
            <label class="block-label" for="checkbox-3">
              <input id="checkbox-3" value="northern-ireland" type="checkbox">Northern Ireland
            </label>
            
          </fieldset>
          
        </div>
      
      
        <div class="form-group form-group-compound">
          
          <fieldset class="inline">
            
            <legend>
              <span class="form-label visuallyhidden">Business operation</span>
            </legend>
            
            <div class="text">
              <p>Does your business operate any of the following additional business activities: airport, estate agency, permanent sports, ground, property development, railway, recreation ground or waterworks?</p>
            </div>
            
            <label class="block-label" for="radio-indent-1">
              <input id="radio-indent-1" name="radio-indent-group" value="Yes" type="radio"> Yes
            </label>
  
            <label class="block-label" for="radio-indent-2">
              <input id="radio-indent-2" name="radio-indent-group" value="No" type="radio"> No
            </label>
            
          </fieldset>
          
       </div>
        
        
      </fieldset>
      
      
      <!-- Reference numbers -->
      <fieldset>
        
        
        <legend class="heading-medium">Reference numbers</legend>
      
      
        <div class="form-group">
            
          <label for="company-house-reg">
            <span class="form-label">Companies House registration (if applicable)</span>
          </label>
          
          <input class="form-control form-control-1-4" id="company-house-reg" type="text">
          
        </div>
  
  
        <div class="form-group">
          
          <label for="charity-commission-reg">
            <span class="form-label">Charity Commission registration (if applicable)</span>
          </label>
          
          <input class="form-control form-control-1-4" id="charity-commission-reg" type="text">
          
        </div>
        
        
      </fieldset>
      
      
      <button class="button">Continue</button>
      
      
    </form>