		<a class="back-link" href="../personal-details/">Back to your personal details</a>


    <h1 class="heading-xlarge">Your contact details</h1>


    <p class="lede">Check the details below for any errors.</p>


    <form class="form" method="get" action="../your-contact-preferences/">


      <fieldset>

        <legend class="heading-medium">Address</legend>

        <label for="postcode-search">
          <span class="form-label">Postcode</span>
        </label>

        <div class="form-group">

          <div class="form-search">

            <div class="form-group-search">
              <input class="form-control" id="postcode-search" type="text" value="CA10 2NP">
            </div>

            <div class="form-group-button">
              <button class="button" type="button">Find UK address</button>
            </div>

          </div>

        </div>

        <div class="toggle">

          <p><a class="toggle-link" href="#">Enter address manually</a></p>

          <div class="toggle-content">

            <div class="panel-indent">

      				<fieldset>

      					<legend class="heading-medium">Your address</legend>

      					<div class="form-group form-group-compound">
      						
      						<label for="address-line-1">
      						  <span class="form-label">Street</span>
      						</label>
      						
      						<input class="form-control" id="address-line-1" type="text">
      						
      					</div>

      					<div class="form-group">
      						
      						<label for="address-line-2">
      						  <span class="form-label visuallyhidden">Street</span>
      						</label>
      						
      						<input class="form-control" id="address-line-2" type="text">
      						
      					</div>

      					<div class="form-group">
      						
      						<label for="address-town">
      						  <span class="form-label">Town or City</span>
      						</label>
      						
      						<input class="form-control form-control-1-4" id="address-town" type="text">
      						
      					</div>

      					<div class="form-group">
      						
      						<label for="address-postcode">
      						  <span class="form-label">Postcode</span>
      						</label>
      						
      						<input class="form-control form-control-1-8" id="address-postcode" type="text">
      					
      					</div>

      				</fieldset>

            </div>

          </div>

        </div>

      </fieldset>


      <!--details>

        <summary><span class="summary">I have an address in Northern Ireland or outside the United Kingdom</span></summary>

        <div class="panel-indent">

          <div class="hcard" itemtype="http://schema.org/Organization" itemscope>

            <div itemprop="name"><b>Beech Farm</b></div>

            <div class="hcard-adr" itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope>
              <div itemprop="streetAddress">Pooley Bridge</div>
              <div itemprop="addressLocality">Penrith</div>
              <div itemprop="addressRegion">Cumbria</div>
              <div itemprop="postalCode">CH3 6NZ</div>
              <div itemprop="addressCountry">United Kingdom</div>
            </div>
          </div>

        </div>

      </details-->


      <fieldset>

        <legend class="heading-medium">Email and telephone</legend>

        <p>You must enter either a landline or mobile number.</p>

        <div class="form-group">
          
          <label for="email">
            <span class="form-label">Email</span>
          </label>
          
          <input class="form-control" id="email" type="email" value="mia.wallace@beechfarm.co.uk">
          
        </div>

        <div class="form-group">
          
          <label for="landline">
            <span class="form-label">Landline</span>
          </label>
          
          <input class="form-control" id="landline" type="tel" value="0147 9643 7573">
          
        </div>

        <div class="form-group">
          
          <label for="mobile">
            <span class="form-label">Mobile</span>
          </label>
          
          <input class="form-control" id="mobile" type="tel" value="0797 8377 7457">
          
        </div>

      </fieldset>


      <button class="button" type="submit">Contine</button>


    </form>