	  <a class="link-back" href="/">Back to index</a>


    <div class="text">


      <h1 class="heading-xlarge">Ecological focus areas</h1>


      <h2 class="heading-medium">2.83&#37; of your arable land qualifies as an ecological focus area.</h2>


      <p>Based on the information you've given us, you don't meet <abbr title="Ecological focus areas">EFA</abbr> rules because you need to show more Ecological Focus Area.</p>


      <p>You need another 2.17&#37; <abbr title="Ecological focus areas">EFAs</abbr> before you meet the greening requirement.</p>


      <p><a href="/">Add more EFAs to your land</a>.</p>


      <h2 class="heading-medium">Check your ecological focus areas</h2>


      <p>Deselect features or land uses that you're already using to claim from other schemes.</p>


    </div>


    <form class="form">

  		<table class="table-form">

        <caption class="visuallyhidden">Ecological focus areas listing</caption>

  			<thead>

  				<tr>
  					<th scope="col">Parcel</th>
  					<th scope="col">Ecological focus area</th>
  					<th class="numeric" scope="col">Length (<abbr title="metres">m</abbr>)</th>
  					<th class="numeric" scope="col">Area (<abbr title="hectare">ha</abbr>)</th>
  					<th class="numeric last" scope="col"><abbr title="Ecological focus area">EFA</abbr> area (<abbr title="hectare">ha</abbr>)</th>
  				</tr>

  			</thead>

  			<tfoot>
    			<tr>
      			<th colspan="4">Total <abbr title="Ecological focus area">EFA</abbr> area:</th>
      			<td class="numeric last"><span class="bold-medium">2.83&#37;</span></td>
    			</tr>
  			</tfoot>

  			<tbody>

  				<tr>
  					<th class="top" scope="row" rowspan="4">Fallow field <br> <span class="text-secondary">SJ8063_3254</span></th>
  					<td><label><input type="checkbox" checked> Hedge</label></td>
    				<td class="numeric">152.64</td>
    				<td class="numeric">n/a</td>
    				<td class="numeric last">0.15</td>
  				</tr>

  				<tr>
  					<td><label><input type="checkbox" checked> Hedge</label></td>
    				<td class="numeric">78.23</td>
    				<td class="numeric">n/a</td>
    				<td class="numeric last">0.08</td>
  				</tr>

  				<tr>
  					<td><label><input type="checkbox" checked> Buffer strip</label></td>
    				<td class="numeric">146.22</td>
    				<td class="numeric">0.01</td>
    				<td class="numeric last">0.13</td>
  				</tr>

  				<tr>
  					<td><label><input type="checkbox" checked> Clover</label></td>
    				<td class="numeric">n/a</td>
    				<td class="numeric">4.45</td>
    				<td class="numeric last">1.34</td>
  				</tr>

  			</tbody>

  			<tbody>

  				<tr>
  					<th class="top" scope="row" rowspan="2">Wheat and Barley <br> <span class="text-secondary">SJ8063_1039</span></th>
  					<td><label><input type="checkbox" checked> Hedge</label></td>
    				<td class="numeric">152.64</td>
    				<td class="numeric">n/a</td>
    				<td class="numeric last">0.15</td>
  				</tr>

  				<tr>
  					<td><label><input type="checkbox" checked> Hedge</label></td>
    				<td class="numeric">78.23</td>
    				<td class="numeric">n/a</td>
    				<td class="numeric last">0.08</td>
  				</tr>

  			</tbody>

  		</table>

  		<button class="button">Save</button>
    
      <p><a href="/">Cancel</a></p>
      
    </form>