		<a class="link-back" href="/accountable-people/business-ownership/accountable-person/summary/">Back to Accountable people summary</a>
    
    
    <div class="grid-row">
      
      
      <div class="column-two-thirds">
    
    
        <h1 class="heading-xlarge">{{pagetitle}} <span class="heading-secondary">Beech Farm</span></h1>
          
        
        <form class="form" id="form-accountable-person-details" method="post" action="/accountable-people/business-ownership/accountable-person/confirm/">
          
          
          <div class="form-group">
          
            <label class="block-label" for="radio-1" data-target="business-owner">
              <input id="radio-1" name="owner" value="business-owner" type="radio">
              I am this accountable person
            </label>
          
            <label class="block-label" for="radio-2" data-target="owner">
              <input id="radio-2" name="owner" value="owner" type="radio">
              Enter accountable person details
            </label>
          
          </div>
          
          
          <div class="panel-indent js-hidden" id="business-owner">
            <p>Sydney Bechett</p>
          </div>
          
          
          <div class="panel-indent js-hidden" id="owner">
    
            <div class="form-group">
            
              <label for="first-name">
                <span class="form-label">First name</span>
              </label>
              
              <input class="form-control" id="first-name" name="firstName" type="text">
              
            </div>
            
            <div class="form-group">
              
              <label for="last-name">
                <span class="form-label">Last name</span>
              </label>
              
              <input class="form-control" id="last-name" name="lastName" type="text">
              
            </div>
    
          </div>
          
          
          <div class="form-group form-group-compound">
            
            <label for="ni-number">
              <span class="form-label">National Insurance number</span>
              <span class="form-hint">What is the National Insurance number of this person?</span>
            </label>
            
            <input class="form-control" id="ni-number" name="niNumber" type="text">
    
          </div>
          
          
          <details>
          
            <summary><span class="summary">Why do I need to give you National Insurance numbers?</span></summary>
            
            <div class="panel-indent">
              <p>National Insurance numbers are unique and help us tell the difference between people who have the same name as each other.</p>
            </div>
          
          </details>
        
        
          <div class="form-group">
            
            <label for="business-share">
              <span class="form-label">Share in business</span>
            </label>
            
            <input class="form-control form-control-1-8" id="businessshare" name="businessShare" type="text"> &#37;
            
          </div>
          
          
          <div class="form-group">
            
            <label for="voting-rights">
              <span class="form-label">Voting rights (if different)</span>
            </label>
            
            <input class="form-control form-control-1-8" id="voting-rights" name="votingRights" type="text"> &#37;
            
          </div>
        
          
          <div class="form-group">
          
            <fieldset class="inline">
            
              <legend>
                <span class="form-label">Is this person accountable in any other farming business that is involved in agricultural activity? (The definition of an agricultural activity can be found in the <abbr title="Basic Payment Scheme">BPS</abbr> handbook)</span>
              </legend>
              
              <div class="form-group form-group-compound">
              
                <label class="block-label" for="radio-indent-3">
                  <input id="radio-indent-3" name="radio-indent-group" value="Yes" type="radio"> Yes
                </label>
                
                <label class="block-label" for="radio-indent-4">
                  <input id="radio-indent-4" name="radio-indent-group" value="No" type="radio"> No
                </label>
              
              </div>
              
            </fieldset>
          
          </div>
        
        
          <button class="button" type="submit">Continue</button>
          
          
        </form>
        
        
      </div>
      
      
    </div>