  {{>breadcrumb}}
  
  
  <div class="grid-row">
    
    
    <div class="column-two-thirds">


      <form class="form" method="get" action="/confirm-journey/personal-details/">
    
      
        <h1 class="form-title heading-xlarge">{{page_name}}</h1>
    
    
        <p class="lede">You must accept the terms and conditions of this service before using it.</p>
    
    
        <div class="form-group">
          <label class="form-checkbox" for="checkbox-terms-and-conditions">
          <input id="checkbox-terms-and-conditions" value="checkbox-terms-and-conditions" type="checkbox">I accept the <a href="/">terms and conditions</a></label>      
        </div>
        
    
        <div class="form-group">
        
          <button class="button" type="submit">Continue</button>
        
        </div>
        
    
      </form>
  
  
    </div>
  
  
  </div>