	{{>breadcrumb}}


  <div class="grid-row">
    
    
    <div class="column-two-thirds">


      <h1 class="heading-xlarge">{{page_name}} <span class="heading-secondary">{{business_name}}</span></h1>


      <p class="lede">Before applying for any schemes, you need to provide us with details of people who are accountable for your business.</p>


      <h2 class="heading-medium">Accountable people</h2>

      <table class="table">
       
        <caption class="visuallyhidden">People who are accountable for your business</caption>
        
        <thead>
                    
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email address</th>
            <th scope="col">Telephone</th>
            <th></th>
          </tr>  
                  
        </thead>
       
        <tbody>
          
          <tr>
            <th>John Shelly</th>
            <td>j.shelly@abusiness.com</td>
            <td>07730670866</td>
            <td class="last"><a href="#">Remove <span class="visuallyhidden">John Shelly</span></a></td>
          </tr>
          
          <tr>
            <th>John Bloggs</th>
            <td>j.bloggs@abusiness.com</td>
            <td>07740671821</td>
            <td class="last"><a href="#">Remove <span class="visuallyhidden">John Bloggs</span></a></td>
          </tr>
          
        </tbody>
        
      </table>


      <p><a href="/confirm-journey/people-accountable/">Add another accountable person</a></p>


      <p><a class="button" href="/confirm-journey/business-details-summary/" role="button">Continue</a></p>


    </div>
    

  </div>