	{{>breadcrumb}}
	
	
	<div class="grid-row">
		
		
		<div class="column-two-thirds">


      <form class="form" method="get" action="/confirm-journey/check-business-details/">
  
  
        <h1 class="form-title heading-xlarge">{{page_name}}</h1>
  
  
        <h2 class="heading-medium">How would you like us to keep in touch with you?</h2>
  
        <p>Select all that apply</p>  
  
  
        <div class="form-group">
  
          <fieldset>  
    
            <legend class="visuallyhidden">How would you like us to keep in touch with you?</legend>  
            
            <label class="block-label" for="checkbox-1">
              <input id="checkbox-1" value="email" type="checkbox">
              Email
            </label>
    
            <label class="block-label" for="checkbox-2">
              <input id="checkbox-2" value="landline" type="checkbox">
              Landline
            </label>
    
            <label class="block-label" for="checkbox-3">
              <input id="checkbox-3" value="mobile" type="checkbox">
              Mobile
            </label>
    
            <label class="block-label" for="checkbox-4">
              <input id="checkbox-4" value="post" type="checkbox">
              Post
            </label>
    
          </fieldset>
        
        </div>
  
  
        <div class="form-group">
  
          <button class="button" type="submit">Continue</button>
          
        </div>
  
  
      </form>
    
    
		</div>
		
		
	</div>