    <a class="link-back" href="/accountable-people/your-businesses/yes/">Back to Your businesses</a>
    
    
    <div class="grid-row">
      
      
      <div class="column-two-thirds">
        
        
         <h1 class="heading-xlarge">{{business.name}}</h1>
    
    
        <h2 class="heading-medium">Accountable people</h2>
        
        
        <div class="alert-info text" role="alert">
        
          <div class="alert-message">
            <p>Have you told us about people accountable for this business? If you have not told us about your stakeholders, <span class="bold-small">any payments due to you may be witheld</span>.</p>
            <p><a class="button" href="/accountable-people/overview/">Tell us about accountable people</a></p>
          </div>
        
        </div>
        
        
        <h2 class="heading-medium">Give access to this business</h2>
        
        
        <div class="text">
          
          <p>You can give people access to your business if you'd like them to complete your application for you.</p>
          
          <p>They'll need to give you their customer reference number, which they can get by registering with this service.</p>
          
          <p><a href="#">Give access to this business</a></p>
          
        </div>
        
        
      </div>
      
      
      <div class="column-third">
        
        
        <h2 class="heading-small">Business details</h2>


        <div itemscope="" itemtype="http://schema.org/Organization" class="hcard">
    
          <div itemprop="name">Beech Farm</div>
    
          <div itemscope="" itemtype="http://schema.org/PostalAddress" itemprop="address" class="hcard-adr">
            <div itemprop="streetAddress">Pooley Bridge</div>
            <div itemprop="addressLocality">Penrith</div>
            <div itemprop="addressRegion">Cumbria</div>
            <div itemprop="postalCode">CH3 6NZ</div>
            <div itemprop="addressCountry">United Kingdom</div>
          </div>
    
          <div itemprop="email"><a href="mailto:info@beechfarm.co.uk">info@beechfarm.co.uk</a></div>
          <div>Landline: <span itemprop="telephone">0147 9643 7770</span></div>
          <div>Mobile: <span itemprop="telephone">07231 839 187</span></div>
    
        </div>
    
        
        <p><a href="#">View full business details</a></p>
            
            
      </div>
      
      
    </div>