  {{>breadcrumb}}
  
  
  <div class="grid-row">
    
    
    <div class="column-two-thirds">
      
      
      <h1 class="heading-xlarge">{{page_name}} <span class="heading-secondary">{{business_name}}</span></h1>
  
  
      <p class="lede">Make changes to your land cover (for example, wheat) and land use (for example, arable). Transfer land to another business, or print a map of an individual land parcel.</p>
      
      
      <p class="lead-in">Options:</p>
      
      <ul class="list-bullet">
        <li><a href="land-cover/">land cover</a></li>
        <li><a href="land-use/">land use</a></li>
        <li><a href="transfer-land/">transfer land</a></li>
        <li><a href="#">print land parcel map</a></li>
      </ul>
      
      
    </div>
    
    
  </div>