  {{>breadcrumb}}
  
  
  <div class="grid-row">
    
    
    <div class="column-two-thirds">
      
      
      <h1 class="heading-xlarge">{{page_name}} <span class="heading-secondary">{{business_name}}</span></h1>
  
  
      <p class="lede">Maecenas et neque luctus, feugiat velit quis, porta augue. Vestibulum et dictum turpis, in rhoncus quam.</p>
      
      
    </div>
    
    
  </div>