		<a class="back-link" href="../people-accountable-summary/">Back to people accountable summary</a>


    <div class="grid-row">


      <div class="column-two-thirds">


        <h1 class="heading-xlarge">Business details summary <span class="heading-secondary">Beech Farm</span></h1>


    		<h2 class="heading-medium">Business contact details</h2>
    		
    		<table class="table-summary" itemtype="http://schema.org/Organization" itemscope>
  
          <caption class="visuallyhidden">Business contact details</caption>
          
          <tbody>
          
            <tr>
              <th class="table-summary-title" scope="row">Business name</th>
              <td class="table-summary-content" itemprop="name">Beech Farm</td>
            </tr>
            
            <tr>
              <th class="table-summary-title" scope="row">Address</th>
              <td class="table-summary-content">
                <div itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope>
                  <div itemprop="streetAddress">Pooley Bridge</div>
                  <div itemprop="addressLocality">Penrith</div>
                  <div itemprop="addressRegion">Cumbria</div>
                  <div itemprop="postalCode">CH3 6NZ</div>
                  <div itemprop="addressCountry">United Kingdom</div>
                </div>
              </td>
            </tr>
            
            <tr>
              <th class="table-summary-title" scope="row">Landline</th>
              <td class="table-summary-content" itemprop="telephone">07337938476</td>
            </tr>
            
            <tr>
              <th class="table-summary-title" scope="row">Mobile</th>
              <td class="table-summary-content" itemprop="telephone">07449654321</td>
            </tr>
            
            <tr>
              <th class="table-summary-title" scope="row">Email</th>
              <td class="table-summary-content" itemprop="email"><a href="mailto:info@beechfarm.co.uk">info@beechfarm.co.uk</a></td>
            </tr>
          
          </tbody>
        
        </table>
        
        
        <h2 class="heading-medium">Reference numbers</h2>
        
        <table class="table-summary">
    
          <caption class="visuallyhidden">Business reference numbers for business</caption>
          
          <tbody>
            
            <tr>
              <th class="table-summary-title" scope="row">Single Business Identifier</th>
              <td class="table-summary-content">222223250</td>
            </tr>
            
            <tr>
              <th class="table-summary-title" scope="row"><abbr title="Value Added Tax">VAT</abbr> Registration Number</th>
              <td class="table-summary-content">GB999 9999 73</td>
            </tr>
          
          </tbody>
        
        </table>
        
        <p><a href="/">Amend business contact details and reference numbers</a></p>



        <h2 class="heading-medium">Additional details</h2>

        <table class="table-summary">
    
          <caption class="visuallyhidden">Additional details for business</caption>
          
          <tbody>
          
            <tr>
              <th class="table-summary-title" scope="row">Legal status</th>
              <td class="table-summary-content">Sole Proprietorship</td>
            </tr>
            
            <tr>
              <th class="table-summary-title" scope="row">Business type</th>
              <td class="table-summary-content">Farmer controlled business</td>
            </tr>
            
            <tr>
              <th class="table-summary-title" scope="row">Companies House registration</th>
              <td class="table-summary-content">1122334455</td>
            </tr>
            
            <tr>
              <th class="table-summary-title" scope="row">Business registered</th>
              <td class="table-summary-content">05 Jan 2001</td>
            </tr>
            
            <tr>
              <th class="table-summary-title" scope="row">Land registered</th>
              <td class="table-summary-content">Scotland</td>
            </tr>
          
          </tbody>
        
        </table>
        
        <p><a href="/">Amend additional details</a></p>
        
        
        
        <h2 class="heading-medium">People accountable</h2>

        <table class="table-summary">
    
          <caption class="visuallyhidden">People accountable for business</caption>
          
          <tbody>
          
            <tr>
              <th class="table-summary-title" scope="row">John Shelly</th>
              <td class="table-summary-content"><a href="mailto:j.shelly@business.com">j.shelly@business.com</a> <br> 07730670866</td>
            </tr>
            
            <tr>
              <th class="table-summary-title" scope="row">Joe Bloggs</th>
              <td class="table-summary-content"><a href="mailto:j.bloggs@business.com">j.blogs@business.com</a> <br> 07740671821</td>
            </tr>
          
          </tbody>
        
        </table>


        <a class="button" href="../business-overview/" role="button">I confirm that these details are correct</a>


      </div>


      <div class="column-third">

        {{>map}}

      </div>


    </div>