		<a class="back-link" href="../people-accountable-summary/">Back to people accountable summary</a>


    <div class="grid-row">


      <div class="column-two-thirds">


        <h1 class="heading-xlarge">Business details summary <span class="heading-secondary">Beech Farm</span></h1>


        <!-- business contact details -->
        <section>


      		<h2 class="heading-large">Business contact details</h2>


          <div class="summary">

            <ul itemtype="http://schema.org/Organization" itemscop>

              <li>
                <h4 class="summary-title">Business name</h4>
                <div class="summary-value" itemprop="name">Beech Farm</div>
              </li>

              <li>
                <h4 class="summary-title">Address</h4>
                <div class="summary-value" itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope="">
                  <div itemprop="streetAddress">Pooley Bridge</div>
                  <div itemprop="addressLocality">Penrith</div>
                  <div itemprop="addressRegion">Cumbria</div>
                  <div itemprop="postalCode">CH3 6NZ</div>
                  <div itemprop="addressCountry">United Kingdom</div>
                </div>
              </li>

              <li>
                <h4 class="summary-title">Landline</h4>
                <div class="summary-value" itemprop="telephone">07337938476</div>
              </li>

              <li>
                <h4 class="summary-title">Mobile</h4>
                <div class="summary-value" itemprop="telephone">07449654321</div>
              </li>

              <li>
                <h4 class="summary-title">Email</h4>
                <div class="summary-value" itemprop="email"><a href="mailto:info@beechfarm.co.uk">info@beechfarm.co.uk</a></div>
              </li>

            </ul>

          </div>


        </section>
        <!-- end -->


        <!-- reference numbers -->
        <section>


          <h2 class="heading-large">Reference numbers</h2>


          <div class="summary">

            <ul>

              <li>
                <h4 class="summary-title">Single Business Identifier</h4>
                <div class="summary-value">222223250</div>
              </li>

              <li>
                <h4 class="summary-title"><abbr title="Value Added Tax">VAT</abbr> Registration Number</h4>
                <div class="summary-value">GB999 9999 73</div>
              </li>

            </ul>

          </div>


          <p><a href="#">Amend business contact details and reference numbers</a></p>


        </section>
        <!-- end -->


        <!-- business contact details -->
        <section>


      		<h2 class="heading-large">Additional details</h2>


          <div class="summary">

            <ul>

              <li>
                <h4 class="summary-title">Legal status</h4>
                <div class="summary-value">Sole Proprietorship</div>
              </li>

              <li>
                <h4 class="summary-title">Business type</h4>
                <div class="summary-value">Farmer controlled business</div>
              </li>

              <li>
                <h4 class="summary-title">Companies House registration</h4>
                <div class="summary-value">1122334455</div>
              </li>

              <li>
                <h4 class="summary-title">Business registered</h4>
                <div class="summary-value">07449654321</div>
              </li>

              <li>
                <h4 class="summary-title">Land registered</h4>
                <div class="summary-value">Scotland</div>
              </li>

            </ul>

          </div>


          <p><a href="#">Amend additional details</a></p>


        </section>
        <!-- end -->


        <!-- people accountable -->
        <section>


          <h2 class="heading-large">People accountable</h2>


          <div class="summary">

            <ul>

              <li>
                <h4 class="summary-title">John Shelly</h4>
                <div class="summary-value"><a href="mailto:j.shelly@abusiness.com">j.shelly@abusiness.com</a> <br> 07730670866</div>
              </li>

              <li>
                <h4 class="summary-title">Joe Bloggs</h4>
                <div class="summary-value"><a href="mailto:j.bloggs@abusiness.com">j.bloggs@abusiness.com</a> <br> 07740671821</div>
              </li>

            </ul>

          </div>


        </section>
        <!-- end -->


        <!-- actions -->
        <div class="button-container">
          <a class="button" href="../business-overview/" role="button">I confirm that these details are correct</a>
        </div>
        <!-- end -->


      </div>


      <div class="column-third">

        <img class="img-border img-responsive" src="/assets/images/map/map-image.png" alt="*">

      </div>


    </div>