		<a class="back-link" href="/">Back to index</a>


    <div class="text">

      <h1 class="heading-xlarge">Invalid or missing token</h1>

      <p class="lede">The link in the email is no longer valid.</p>

      <p>If you haven't set your password yet, you'll need to contact us on <span class="bold-small">03000 200 301</span> and we will send you another email with a new link.</p>

      <p><a class="button" href="/" role="button">Sign in</a>

    </div>