	  <a class="link-back" href="/">Back to BPS application</a>


    <div class="text">


      <h1 class="heading-xlarge">Cross compliance</h1>


      <form class="form">


        <fieldset>

          <legend class="form-label-bold">Select the Statutory Management Requirements (<abbr title="Statutory Management Requirements">SMRs</abbr>) that apply to this business.</legend>

          <div class="form-group">

            <ol class="form-checkboxes">

              <li class="block-list">
                <label>
                  <input type="checkbox">
                  <span class="code">SMR 1</span>
                </label>
                <div class="details">Nitrate Vulnerable Zones</div>
              </li>

              <li class="block-list">
                <label>
                  <input type="checkbox">
                  <span class="code">SMR 2</span>
                </label>
                <div class="details">Nitrate Vulnerable Zones
                  <ul class="list-bullet">
                    <li>land within a Special Protection Area</li>
                    <li>land within a Special Area of Conservation</li>
                  </ul>
                </div>
              </li>

              <li class="block-list">
                <label>
                  <input type="checkbox">
                  <span class="code">SMR 3</span>
                </label>
                <span class="details">Habitats</span>
              </li>

              <li class="block-list">
                <label>
                  <input type="checkbox">
                  <span class="code">SMR 4</span>
                </label>
                <span class="details">Food and Feed Law</span>
              </li>

              <li class="block-list">
                <label>
                  <input type="checkbox">
                  <span class="code">SMR 5</span>
                </label>
                <span class="details">Hormones</span>
              </li>

              <li class="block-list">
                <label>
                  <input type="checkbox">
                  <span class="code">SMR 6</span>
                </label>
                <span class="details">Pig identification and registration</span>
              </li>

              <li class="block-list">
                <label>
                  <input type="checkbox">
                  <span class="code">SMR 7</span>
                </label>
                <span class="details">Cattle identification and registration</span>
              </li>

              <li class="block-list">
                <label>
                  <input type="checkbox">
                  <span class="code">SMR 3</span>
                </label>
                <span class="details">Sheep and goat indentification</span>
              </li>

              <li class="block-list">
                <label>
                  <input type="checkbox">
                  <span class="code">SMR 3</span>
                </label>
                <span class="details">TSEs</span>
              </li>

              <li class="block-list">
                <label>
                  <input type="checkbox">
                  <span class="code">SMR 3</span>
                </label>
                <span class="details">Use of plant protection products</span>
              </li>

              <li class="block-list">
                <label>
                  <input type="checkbox">
                  <span class="code">SMR 3</span>
                </label>
                <span class="details">Welfare of pigs</span>
              </li>

              <li class="block-list">
                <label>
                  <input type="checkbox">
                  <span class="code">SMR 3</span>
                </label>
                <span class="details">Welfare of calvess</span>
              </li>

              <li class="block-list">
                <label>
                  <input type="checkbox">
                  <span class="code">SMR 3</span>
                </label>
                <span class="details">Habitats</span>
              </li>

            </ol>

          </div>

        </fieldset>
        

        <fieldset>

          <legend class="form-label-bold">Select the Good Agriculture and Environment Conditions (<abbr title="Good Agriculture and Environment Conditions">GAEC</abbr>) that apply to this business.</legend>

          <div class="form-group">

            <ol class="form-checkboxes">

              <li class="block-list">
                <label>
                  <input type="checkbox">
                  <span class="code">GAEC 1</span>
                </label>
                <span class="details">Watercourses</span>
              </li>

              <li class="block-list">
                <label>
                  <input type="checkbox">
                  <span class="code">GAEC 2</span>
                </label>
                <span class="details">Water abstraction</span>
              </li>

              <li class="block-list">
                <label>
                  <input type="checkbox">
                  <span class="code">GAEC 3</span>
                </label>
                <span class="details">Groundwater</span>
              </li>

              <li class="block-list">
                <label>
                  <input type="checkbox">
                  <span class="code">GAEC 4</span>
                </label>
                <span class="details">Minimum soil cover</span>
              </li>

              <li class="block-list">
                <label>
                  <input type="checkbox">
                  <span class="code">GAEC 5</span>
                </label>
                <span class="title">Minimum land management</span>
              </li>

              <li class="block-list">
                <label>
                  <input type="checkbox">
                  <span class="code">GAEC 6</span>
                </label>
                <div class="details">Soil organic matter
                  <ul class="list-bullet">
                    <li>Burnt heather, rough grass, broken and vaccinium</li>
                  </ul>
                </div>
              </li>

              <li class="block-list">
                <label>
                  <input type="checkbox">
                  <span class="code">GAEC 7A</span>
                </label>
                <div class="details">Boundaries
                  <ul class="list-bullet">
                    <li>Hedgerows</li>
                    <li>Stone walls</li>
                    <li>Earth and stone banks</li>
                  </ul>
                </div>
              </li>

              <li class="block-list">
                <label><input type="checkbox">
                  <span class="code">GAEC 7B</span>
                </label>
                <span class="details">Visible public rights of way</span>
              </li>

              <li class="block-list">
                <label>
                  <input type="checkbox">
                  <span class="code">GAEC 7C</span>
                </label>
                <div class="details">Tree
                  <ul class="list-bullet">
                    <li>Trees</li>
                    <li>Trees with Tree Protection Order</li>
                  </ul>
                </div>
              </li>

              <li class="block-list">
                <label>
                  <input type="checkbox">
                  <span class="code">GAEC 7D</span>
                </label>
                <span class="details">Sites of Special Scientific Interest (<abbr title="Sites of Special Scientific Interest">SSSIs</abbr>) (<abbr title="Good Agricultural and Environment Conditions">GAEC</abbr> 7D)</span>
              </li>

              <li class="block-list">
                <label>
                  <input type="checkbox">
                  <span class="code">GAEC 7E</span>
                </label>
                <span class="details">Historical Features (GAEC 7E)</span>
              </li>

            </ol>

          </div>

        </fieldset>


        <button class="button">Save and continue application</button>


      </form>


    </div>
