	  <a class="back-link" href="/">Back to index</a>


    <div class="text">


      <h1 class="heading-xlarge">Basic payment scheme application</h1>


      <p class="lede">Check that this information is correct before submitting your basic payment scheme application.</p>


    </div>




    <!-- business details -->
    <div class="table-summary-heading">
      <h2 class="heading-medium">Business details</h2>
      <a class="change" href="#">Change <span class="visuallyhidden">business details</span></a>
    </div>

    <table class="table-summary">

      <caption class="visuallyhidden">Business details listing</caption>

      <tbody itemtype="http://schema.org/Organization" itemscope>

        <tr>
          <th class="table-summary-title" scope="row">Business name</th>
          <td class="table-summary-content" itemprop="name">Bodmin Agri Ltd.</td>
          <td class="table-summary-action"></td>
        </tr>

        <tr>
          <th class="table-summary-title" scope="row"><abbr title="Single Business Identifier">SBI</abbr></th>
          <td class="table-summary-content">1234567890</td>
          <td class="table-summary-action"></td>
        </tr>

        <tr>
          <th class="table-summary-title" scope="row">Business address</th>
          <td class="table-summary-content" itemtype="http://schema.org/PostalAddress" itemprop="address" itemscope>
            <div itemprop="streetAddress">Nodmin Agri Ltd.</div>
            <div itemprop="addressLocality">Monument Way</div>
            <div itemprop="addressRegion">Bodmin</div>
            <div itemprop="postalCode">PL31 1NZ</div>
            <div itemprop="addressCountry">United Kingdom</div>
          </td>
          <td class="table-summary-action"></td>
        </tr>

        <tr>
          <th class="table-summary-title" scope="row">'Active farmer' requirements</th>
          <td class="table-summary-content">Met</td>
          <td class="table-summary-action"></td>
        </tr>

      </tbody>

    </table>
    <!-- end business details -->




    <!-- payment details -->
    <h2 class="heading-medium">Payment</h2>

    <table class="table-summary">

      <caption class="visuallyhidden">Payment details listing</caption>

      <tbody>

        <tr>
          <th class="table-summary-title" scope="row">Currency to be paid in</th>
          <td class="table-summary-content">Pounds (&pound;)</td>
          <td class="table-summary-action"><a href="#">Change <span class="visuallyhidden">currency</span></a></td>
        </tr>

        <tr>
          <th class="table-summary-title" scope="row">Apply for young farmers payment</th>
          <td class="table-summary-content">No</td>
          <td class="table-summary-action"><a href="#">Change <span class="visuallyhidden">young farmers payment</span></a></td>
        </tr>

      </tbody>

    </table>
    <!-- end -->




    <!-- land and entitlements -->
    <h2 class="heading-medium">Land and entitlements</h2>

    <table class="table-summary">

      <caption class="visuallyhidden">Land and entitlements listing</caption>

      <tbody>

        <tr>
          <th class="table-summary-title" scope="row">Is any of this land coded SA2/SA3?</th>
          <td class="table-summary-content" >No</td>
          <td class="table-summary-action"><a href="#">Change <span class="visuallyhidden">SA2/SA3 declaration</span></a></td>
        </tr>

        <tr>
          <th class="table-summary-title" scope="row">Apply for new entitlements</th>
          <td class="table-summary-content">No</td>
          <td class="table-summary-action"><a href="#">Change <span class="visuallyhidden">new entitlements application</span></a></td>
        </tr>

      </tbody>

    </table>

    <table>

      <caption class="visuallyhidden"></caption>

      <thead>
        <tr>
          <th>Region</th>
          <th class="numeric">Total area (<abbr title="Hectare">ha</abbr>)</th>
          <th class="numeric">Eligible area (<abbr title="Hectare">ha</abbr>)</th>
          <th class="numeric">Total entitlements</th>
          <th class="numeric last">Activated entitlements</th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <th>Non-severely disadvantaged area (Non&ndash;<abbr title="Severely Disadvantaged Area">SDA</abbr>)</th>
          <td class="numeric">250.23</td>
          <td class="numeric">225.43</td>
          <td class="numeric">230.00</td>
          <td class="numeric last">225.00</td>
        </tr>

      </tbody>

    </table>


    <p><a href="#">Change your active entitlements</a></p>
    <!-- end land and entitlements -->




    <!-- greening -->
    <h2 class="heading-medium">Greening</h2>

    <table class="table-summary">

      <caption class="visuallyhidden">Greening listing</caption>

      <tbody>

        <tr>
          <th class="table-summary-title" scope="row">Crop diversification requirement</th>
          <td class="table-summary-content">Met</td>
          <td class="table-summary-action"></td>
        </tr>

        <tr>
          <th class="table-summary-title" scope="row">Arable land cover</th>
          <td class="table-summary-content">230.00ha</td>
          <td class="table-summary-action"></td>
        </tr>

        <tr>
          <th class="table-summary-title" scope="row">Required <abbr title="Ecological Focus Area">EFA</abbr> cover</th>
          <td class="table-summary-content">11.50ha (5&#37;)</td>
          <td class="table-summary-action"></td>
        </tr>

        <tr>
          <th class="table-summary-title" scope="row">Declared <abbr title="Ecological Focus Area">EFA</abbr> cover</th>
          <td class="table-summary-content">15.32ha (6.7&#37;)</td>
          <td class="table-summary-action"></td>
        </tr>

        <tr>
          <th class="table-summary-title" scope="row">Use organic land for <abbr title="Ecological Focus Areas">EFAs</abbr></th>
          <td class="table-summary-content">No</td>
          <td class="table-summary-action"><a href="#">Change <span class="visuallyhidden">organic land exemption</span></a></td>
        </tr>

        <tr>
          <th class="table-summary-title" scope="row">Exempt from crop diversification</th>
          <td class="table-summary-content">No</td>
          <td class="table-summary-action"><a href="#">Change <span class="visuallyhidden">crop diversification exemption</span></a></td>
        </tr>

      </tbody>

    </table>


    <p><a href="#">Check your EFAs</a></p>
    <!-- end greening -->




    <!-- cross compliance -->
    <div class="table-summary-heading">
      <h2 class="heading-medium">Cross compliance</h2>
      <a class="change" href="#">Change <span class="visuallyhidden">cross compliance</span></a>
    </div>

    <table class="table-summary">

      <caption class="visuallyhidden">Cross compliance listing</caption>

      <tbody>

        <tr>
          <th class="table-summary-title" scope="row">Statutory management requirements (<abbr title="Statutory Management Requirements">SMR</abbr>)</th>
          <td class="table-summary-content">
            <ul class="list-bullet">
              <li>SMR1 &ndash; Nitrate vulnerable zones</li>
              <li>SMR2 &ndash; Wild birds</li>
              <li>SMR6 &ndash; Pig identification and registration</li>
              <li>SMR12 &ndash; Welfare of pigs</li>
            </ul>
          </td>
          <td class="table-summary-action"></td>
        </tr>

        <tr>
          <th class="table-summary-title" scope="row">Good agriculture and environment conditions (<abbr title="Good agriculture and environment conditions">GAEC</abbr>)</th>
          <td class="table-summary-content">None</td>
          <td class="table-summary-action"></td>
        </tr>

      </tbody>

    </table>
    <!-- end cross compliance -->




    <!-- land in other countries -->
    <div class="table-summary-heading">
      <h2 class="heading-medium">Land in other countries</h2>
      <a class="change" href="#">Change <span class="visuallyhidden">land in other countries</span></a>
    </div>

    <table class="table-summary">

      <caption class="visuallyhidden">Land in other countries listing</caption>

      <tbody>

        <tr>
          <th class="table-summary-title" scope="row">Does this business have any land in other countries?</th>
          <td class="table-summary-content">No</td>
          <td class="table-summary-action"></td>
        </tr>

      </tbody>

    </table>
    <!-- end land in other countries -->




    <div class="text">

      <p>You can't amend or withdraw your application until a later date. Are you sure you want to submit now?</p>

      <p><a class="button button-get-started" href="#" role="button">Submit your application</a></p>

    </div>