	  <a class="back-link" href="/">Back to index</a>


    <div class="text">


      <h1 class="heading-xlarge">BPS application <span class="heading-secondary">B &amp; G Farms</span></h1>


      <p class="lede">This is a summary of the information submitted for the 2015 BPS application.</p>


      <h2 class="heading-medium">Application summary</h2>


      <div class="alert-complete" role="alert">

				<div class="alert-message">

					<p>Your reference number is</p>

          <strong class="alert-number">200113567</strong>

				</div>

			</div>


			<p>First submitted on: <span class="bold-small">3 March 2015</span></p>


    </div>


    <h2 class="heading-medium">Business details</h2>

    <table class="table-summary">

      <caption class="visuallyhidden">Business details listing</caption>

      <tbody itemtype="http://schema.org/Organization" itemscope>

        <tr>
          <th class="table-summary-title" scope="row">Business name</th>
          <td class="table-summary-content" itemprop="name">Bodmin Agri Ltd.</td>
        </tr>

        <tr>
          <th class="table-summary-title" scope="row"><abbr title="Single Business Identifier">SBI</abbr></th>
          <td class="table-summary-content">1234567890</td>
        </tr>

        <tr>
          <th class="table-summary-title" scope="row">Business address</th>
          <td class="table-summary-content" itemtype="http://schema.org/PostalAddress" itemprop="address" itemscope>
            <div itemprop="streetAddress">Nodmin Agri Ltd.</div>
            <div itemprop="addressLocality">Monument Way</div>
            <div itemprop="addressRegion">Bodmin</div>
            <div itemprop="postalCode">PL31 1NZ</div>
            <div itemprop="addressCountry">United Kingdom</div>
          </td>
        </tr>

        <tr>
          <th class="table-summary-title" scope="row">'Active farmer' requirements</th>
          <td class="table-summary-content"><span class="text-warning">Not provided</span></td>
        </tr>

      </tbody>

    </table>


    <h2 class="heading-medium">Payment</h2>

    <table class="table-summary">

      <caption class="visuallyhidden">Payment details listing</caption>

      <tbody>

        <tr>
          <th class="table-summary-title" scope="row">Currency to be paid in</th>
          <td class="table-summary-content">Pounds (&pound;)</td>
        </tr>

        <tr>
          <th class="table-summary-title" scope="row">Apply for young farmers payment</th>
          <td class="table-summary-content">No</td>
        </tr>

      </tbody>

    </table>


    <h2 class="heading-medium">Greening</h2>

    <table class="table-summary">

      <caption class="visuallyhidden">Greening listing</caption>

      <tbody>

        <tr>
          <th class="table-summary-title" scope="row">Crop diversification requirement</th>
          <td class="table-summary-content">Met</td>
        </tr>

        <tr>
          <th class="table-summary-title" scope="row">Arable land cover</th>
          <td class="table-summary-content">230.00ha</td>
        </tr>

        <tr>
          <th class="table-summary-title" scope="row">Required <abbr title="Ecological Focus Area">EFA</abbr> cover</th>
          <td class="table-summary-content">11.50ha (5&#37;)</td>
        </tr>

        <tr>
          <th class="table-summary-title" scope="row">Declared <abbr title="Ecological Focus Area">EFA</abbr> cover</th>
          <td class="table-summary-content">15.32ha (6.7&#37;)</td>
        </tr>

        <tr>
          <th class="table-summary-title" scope="row">Use organic land for <abbr title="Ecological Focus Areas">EFAs</abbr></th>
          <td class="table-summary-content">No</td>
        </tr>

        <tr>
          <th class="table-summary-title" scope="row">Exempt from crop diversification</th>
          <td class="table-summary-content">No</td>
        </tr>

      </tbody>

    </table>


    <h2 class="heading-medium">Cross compliance</h2>

    <table class="table-summary">

      <caption class="visuallyhidden">Cross compliance listing</caption>

      <tbody>

        <tr>
          <th class="table-summary-title" scope="row">Statutory management requirements (<abbr title="Statutory Management Requirements">SMR</abbr>)</th>
          <td class="table-summary-content">
            <ul class="list-bullet">
              <li>SMR1 &ndash; Nitrate vulnerable zones</li>
              <li>SMR2 &ndash; Wild birds</li>
              <li>SMR6 &ndash; Pig identification and registration</li>
              <li>SMR12 &ndash; Welfare of pigs</li>
            </ul>
          </td>
        </tr>

        <tr>
          <th class="table-summary-title" scope="row">Good agriculture and environment conditions (<abbr title="Good agriculture and environment conditions">GAEC</abbr>)</th>
          <td class="table-summary-content">None</td>
        </tr>

      </tbody>

    </table>


    <h2 class="heading-medium">Land in other countries</h2>

    <table class="table-summary">

      <caption class="visuallyhidden">Land in other countries listing</caption>

      <tbody>

        <tr>
          <th class="table-summary-title" scope="row">Does this business have any land in other countries?</th>
          <td class="table-summary-content">
            <ul class="list-bullet">
              <li>Wales</li>
              <li>Scotland</li>
            </ul>
          </td>
        </tr>

      </tbody>

    </table>