  {{>breadcrumb}}


  <div class="grid-row">
    
    
    <div class="column-two-thirds">


      <h1 class="heading-xlarge">{{page_name}}</h1>
  
  
      <form class="form" method="get" action="/land-query/">
  
  
        <div class="form-group">
          <label class="form-label" for="enquiry">Your query</label>
          <textarea class="form-control form-control-3-4 form-control-textarea" id="enquiry" rows="6" cols="50"></textarea>
        </div>
  
  
        <div class="form-group">
  
          <button class="button" type="submit">Finish and submit query</button>
  
        </div>
        
        
        <p><a href="/land-query/">Cancel</a></p>
  
  
      </form>
    
    
    </div>


  </div>