		<a class="back-link" href="/">Back to index</a>


    <div class="text">

      <h1 class="heading-xlarge"><abbr title="Basic Payment Scheme">BPS</abbr> application <span class="heading-secondary">Beech Farm</span></h1>

      <p class="lede">This is a summary of the details you’ve already given us to support the application. We’ll save any changes you make, so you can come back and continue later.</p>

      <p>When you are happy with the details you&#8217;ve given us, you can submit the application.</p>

    </div>


    <div class="grid-row">

      <div class="column-two-thirds">

        <div class="text">

          <h2 class="heading-large">Information to support the application</h2>

          <p>When you&#8217;re happy with the details you&#8217;ve given us, you can submit the application. You can still make changes to this information before you submit.</p>

        </div>

      </div>

      <div class="column-third">

        <div class="related">

      	  <div class="related-section">

            <h3 class="related-section-title">Learn more about</h3>

            <ul class="related-section-links">
              <li><a href="/">Definitions for BPS application</a></li>
            </ul>

      	  </div>

      	</div>

      </div>

    </div>


    <h3 class="heading-medium">1. Land and entitlements</h3>

    <table>
      <caption class="visuallyhidden">Land and entitlements overview listing</caption>
      <thead>
        <tr>
          <th scope="col">Region</th>
          <th class="numeric" scope="col">Total agricultural area (ha)</th>
          <th class="numeric" scope="col">Total area eligible (ha)</th>
          <th class="numeric" scope="col">Entitlements</th>
          <th class="numeric last" scope="col">Total area to activate entitlements (ha)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">SDA</td>
          <td class="numeric">12.24</td>
          <td class="numeric">10.56</td>
          <td class="numeric">10.00</td>
          <td class="numeric last">10.00</td>
        </tr>
        <tr>
          <td scope="row">Non SDA</td>
          <td class="numeric">5.01</td>
          <td class="numeric">4.00</td>
          <td class="numeric">4.00</td>
          <td class="numeric last">4.00</td>
        </tr>
      </tbody>
    </table>


    <p><a href="/">Amend area to activate BPS entitlements</a></p>


    <h3 class="heading-medium">2. Ecological focus area</h3>

    <table class="table-summary">
      <caption class="visuallyhidden">Ecological focus area listing</caption>
      <tbody>
        <tr>
          <th class="table-summary-title" scope="row">Total arable area</th>
          <td class="table-summary-content">100ha</td>
        </tr>
        <tr>
          <th class="table-summary-title" scope="row">Minimum EFAs required</th>
          <td class="table-summary-content">5ha</td>
        </tr>
        <tr>
          <th class="table-summary-title" scope="row">Total EFAs identified</th>
          <td class="table-summary-content">4.5ha</td>
        </tr>
      </tbody>
    </table>

    <p><a href="/">View and amend EFAs</a></p>


    <div class="text">

      <h3 class="heading-medium">3. Crop diversification</h3>

      <p>You have met your crop diversification obligation.</p>

      <p><a href="/">Amend land use</a></p>

      <h3 class="heading-medium">4. Young farmer payment</h3>

      <p><a href="/">I don't want to apply for young farmer payment</a></p>

      <h3 class="heading-medium">5. Cross compliance</h3>

      <p><a href="/">View and amend cross compliance</a></p>

    </div>


    <form class="form">

      <h2 class="heading-large">Go ahead with the application</h2>

      <div class="form-group">

        <fieldset class="inline">

          <legend>
            <span class="form-label">Do you want to go ahead with the application based on these details?</span>
          </legend>

          <div class="form-group">
            
            <label class="block-label" for="radio-indent-1">
              <input id="radio-indent-1" name="radio-indent-group" value="Yes" type="radio">Yes
            </label>
            
            <label class="block-label" for="radio-indent-2">
              <input id="radio-indent-2" name="radio-indent-group" value="No" type="radio">No
            </label>
            
          </div>

        </fieldset>

      </div>
      
      <button class="button">Save and continue</button>
      <p><a href="/">Save and return to scheme eligibility</a></p>

    </form>