  <!-- Content -->
  <main id="page-container" role="main">


	  {{>beta}}


		<a class="back-link" href="/">Back to index</a>


    <article>


      <!-- text block -->
      <div class="text">

        <h1 class="heading-xlarge"><abbr title="Basic Payment Scheme">BPS</abbr> application <span class="heading-secondary">Beech Farm</span></h1>

        <p class="lede">This is a summary of the details you’ve already given us to support the application. We’ll save any changes you make, so you can come back and continue later.</p>

        <p>When you are happy with the details you&#8217;ve given us, you can submit the application.</p>

      </div>
      <!-- end -->


      <!-- grid row -->
      <div class="grid-row">

        <div class="column-two-thirds">

          <div class="text">

            <h3 class="heading-large">Information to support the application</h3>

            <p>When you&#8217;re happy with the details you&#8217;ve given us, you can submit the application. You can still make changes to this information before you submit.</p>

          </div>

        </div>

        <div class="column-third">

          <div class="related">

        	  <div class="related-section">

              <h2 class="related-section-title">Learn more about</h2>

              <ul class="related-section-links">
                <li><a href="/">Definitions for BPS application</a></li>
              </ul>

        	  </div>

        	</div>

        </div>

      </div>
      <!-- end -->


      <h3 class="heading-medium">1. Land and entitlements</h3>


      <!-- table -->
      <table>
        <caption class="visuallyhidden">Land and entitlements overview</caption>
        <thead>
          <tr>
            <th scope="col">Region</th>
            <th scope="col">Total agricultural area</th>
            <th scope="col">Total area eligible for <abbr title="Basic Payment Scheme">BPS</abbr></th>
            <th scope="col">Entitlements</th>
            <th scope="col">Total area to activate entitlements to claim <abbr title="Basic Payment Scheme">BPS</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row" data-title="Region">SDA</td>
            <td data-title="Total agricultural area">12.24 ha</td>
            <td data-title="Total area eligible for">10.56 ha</td>
            <td data-title="Entitlements">10.00 ha</td>
            <td data-title="Total area to activate entitlements to claim">10.00 ha</td>
          </tr>
          <tr>
            <td scope="row" data-title="Region">Non SDA</td>
            <td data-title="Total agricultural area">5.01 ha</td>
            <td data-title="Total area eligible for">4.00 ha</td>
            <td data-title="Entitlements">4.00 ha</td>
            <td data-title="Total area to activate entitlements to claim">4.00 ha</td>
          </tr>
        </tbody>
      </table>
      <!-- end -->


      <p><a href="/">Amend area to activate BPS entitlements</a></p>


      <!-- text block -->
      <div class="text">

        <h3 class="heading-medium">2. Ecological focus area</h3>

        <div class="summary">
          <ul>
            <li>
              <h4 class="summary-title">Total arable area:</h4>
              <div class="summary-value">100ha</div>
            </li>
            <li>
              <h4 class="summary-title">Minimum <abbr title="Ecological Focus Areas">EFAs</abbr> required:</h4>
              <div class="summary-value">5 ha</div>
            </li>
            <li>
              <h4 class="summary-title">Total <abbr title="Ecological Focus Areas">EFAs</abbr> identified:</h4>
              <div class="summary-value">4.5ha</div>
            </li>
          </ul>
        </div>

        <p><a href="/">View and amend EFAs</a></p>

      </div>
      <!-- end -->


      <!-- text block -->
      <div class="text">

        <h3 class="heading-medium">3. Crop diversification</h3>

        <p>You have met your crop diversification obligation.</p>

        <p><a href="/">Amend land use</a></p>

      </div>
      <!-- end -->


      <!-- text block -->
      <div class="text">

        <h3 class="heading-medium">4. Young farmer payment</h3>

        <p><a href="/">I don't want to apply for young farmer payment</a></p>

      </div>
      <!-- end -->


      <!-- text block -->
      <div class="text">

        <h3 class="heading-medium">5. Cross compliance</h3>

        <p><a href="/">View and amend cross compliance</a></p>

      </div>
      <!-- end -->


      <!-- form -->
      <form class="form" method="get" action="/">


        <h1 class="heading-large">Go ahead with the application</h1>


        <!-- form group -->
        <div class="form-group">

          <fieldset class="inline">

            <legend class="form-label">Do you want to go ahead with the application based on these details?</legend>

            <div class="form-group">
              <label class="block-label" for="radio-indent-1">
                <input id="radio-indent-1" name="radio-indent-group" value="Yes" type="radio">Yes
              </label>
              <label class="block-label" for="radio-indent-2">
                <input id="radio-indent-2" name="radio-indent-group" value="No" type="radio">No
              </label>
            </div>

          </fieldset>

        </div>
        <!-- end -->


        <!-- form group -->
        <div class="form-group">
          <button class="button" type="submit">Save and continue</button>
          <p><a href="../">Save and return to scheme eligibility</a></p>
        </div>
        <!-- end -->


      </form>
      <!-- end -->


    </article>


	</main>
	<!-- End -->