		<a class="back-link" href="/pages/accountable-people/sole-trader-details/">Back to sole trader details</a>
    
    
    <h1 class="heading-xlarge">Confirm sole trader details <span class="heading-secondary">Beech Farm</span></h1>
    
    
    <h2 class="heading-medium">Declaration</h2>
    
    <p>Check the details of the accountable person.</p>
    
    
    <table class="table-summary">
    
      <caption class="visuallyhidden">Business details</caption>
      
      <tbody>
      
        <tr>
          <th class="table-summary-title" scope="row">Name</th>
          <td class="table-summary-content">Shirley Dick</td>
        </tr>
        
        <tr>
          <th class="table-summary-title" scope="row">Email</th>
          <td class="table-summary-content">s.dick@kainos.com</td>
        </tr>
        
        <tr>
          <th class="table-summary-title" scope="row">National Insurance number</th>
          <td class="table-summary-content">NE NN NN NN D</td>
        </tr>
        
        <tr>
          <th class="table-summary-title" scope="row">Role</th>
          <td class="table-summary-content">Business owner (sole trader)</td>
        </tr>
        
        <tr>
          <th class="table-summary-title" scope="row">&#37; share</th>
          <td class="table-summary-content">100</td>
        </tr>
        
        <tr>
          <th class="table-summary-title" scope="row">&#37; rights</th>
          <td class="table-summary-content">100</td>
        </tr>
      
      </tbody>
    
    </table>
        
        
        
    <form class="form" method="get" action="/pages/accountable-people/success/">
        
      <fieldset class="inline">
      
        <legend>
          <span class="form-label">I confirm that these details are correct</span>
        </legend>
        
        <div class="form-group form-group-compound">
        
          <label class="block-label" for="radio-inline-1">
            <input id="radio-inline-1" name="radio-inline-group" value="Yes" type="radio"> Yes
          </label>
          
          <label class="block-label" for="radio-inline-2">
            <input id="radio-inline-2" name="radio-inline-group" value="No" type="radio"> No
          </label>
        
        </div>
      
      </fieldset>
      
      
      <button class="button" type="submit">Submit</button>
      
    
    </form>
    
    
    
    <h2 class="heading-medium">People accountable for this business</h2>
  
  
    <table class="table">
      
      <caption class="visuallyhidden">People accountable for this business</caption>
      
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Role</th>
          <th class="numeric" scope="col">&#37; share</th>
          <th class="numeric" scope="col">&#37; rights</th>
          <th class="last" scope="col">View or update</th>
        </tr>
      </thead>
      
      <tfoot>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td class="numeric"><span class="bold-medium">80</span></td>
          <td class="numeric"><span class="bold-medium">35</span></td>
          <td>&nbsp;</td>
        </tr>
      </tfoot>
      
      <tbody>
        <tr>
          <td>Trevor Saint</td>
          <td>Business owner</td>
          <td class="numeric">60</td>
          <td class="numeric">10</td>
          <td class="last"><a href="#" title="View Trevor Saint">View <span class="visuallyhidden">Trevor Saint</span></a></td>
        </tr>
        <tr>
          <td>Steve Roberts</td>
          <td>Director</td>
          <td class="numeric">10</td>
          <td class="numeric">&ndash;</td>
          <td class="last"><a href="#" title="View Steve Roberts">View <span class="visuallyhidden">Steve Roberts</span></a></td>
        </tr>
        <tr>
          <td>Alan Jennings</td>
          <td>Business partner</td>
          <td class="numeric">10</td>
          <td class="numeric">&ndash;</td>
          <td class="last"><a href="#" title="View Alan Jennings">View <span class="visuallyhidden">Alan Jennings</span></a></td>
        </tr>
      </tbody>
      
    </table>
    
    