<div id="alerts">


  <h2 class="heading-large">Alerts</h2>


  <!-- success -->
  <h3 class="heading-medium">Success</h3>
  
  
  <div class="example">
  
    <div class="alert-success text" role="alert">
    
      <span class="icon icon-tick" role="presentation"></span>
      
      <div class="alert-message">
      
        <p>You have amended your business details</p>
      
      </div>
    
    </div>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;div class=&quot;alert-success&quot; role=&quot;alert&quot;&gt;
    
      &lt;span class=&quot;icon icon-tick&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;
      
      &lt;div class=&quot;alert-message&quot;&gt;
        &lt;p&gt;You have amended your business details&lt;/p&gt;
      &lt;/div&gt;
    
    &lt;/div&gt;
  </code></pre>


  <!-- information -->
  <h3 class="heading-medium">Information</h3>
  
  
  <div class="example">
  
    <div class="alert-info text" role="alert">
    
      <div class="alert-message">
      
        <p>To view your business details, view and amend land parcels and land cover, select 'View business' in the table below.</p>
      
      </div>
    
    </div>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;div class=&quot;alert-info&quot; role=&quot;alert&quot;&gt;
    
      &lt;div class=&quot;alert-message&quot;&gt;
        &lt;p&gt;To view your business details, view and amend land parcels and land cover, 
        select 'View business' in the table below.&lt;/p&gt;
      &lt;/div&gt;
    
    &lt;/div&gt;
  </code></pre>


  <!-- eligible -->
  <h3 class="heading-medium">Eligible</h3>
  
  
  <div class="example">
  
    <div class="alert-info text" role="alert">
    
      <span class="icon icon-tick" role="presentation"></span>
      
      <div class="alert-message">
        <p>Based on the information you have given us, you might be eligble to receive entitlements from the National Reserve.</p>
      </div>
    
    </div>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;div class=&quot;alert-info&quot; role=&quot;alert&quot;&gt;
    
      &lt;span class=&quot;icon icon-tick&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;
      
      &lt;div class=&quot;alert-message&quot;&gt;
        &lt;p&gt;Based on the information you have given us, you might be eligble to receive 
        entitlements from the National Reserve.&lt;/p&gt;
      &lt;/div&gt;
    
    &lt;/div&gt;
  </code></pre>


  <!-- not eligible -->
  <h3 class="heading-medium">Not eligible</h3>
  
  
  <div class="example">
  
    <div class="alert-info text" role="alert">
    
      <span class="icon icon-cross" role="presentation"></span>
      
      <div class="alert-message">
        <p>Based on the information you have given us, you are not eligble to receive entitlements from the National Reserve.</p>
      </div>
    
    </div>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;div class=&quot;alert-info&quot; role=&quot;alert&quot;&gt;
    
      &lt;span class=&quot;icon icon-cross&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;
      
      &lt;div class=&quot;alert-message&quot;&gt;
        &lt;p&gt;Based on the information you have given us, you are not eligble to receive 
        entitlements from the National Reserve.&lt;/p&gt;
      &lt;/div&gt;
    
    &lt;/div&gt;
  </code></pre>


  <!-- error -->
  <h3 class="heading-medium">Error</h3>
  
  
  <div class="example">
  
    <div class="alert-error text" role="alert">
    
      <span class="icon icon-cross" role="presentation"></span>
      
      <div class="alert-message">
        <p>The land use area you've entered is greater than the size of the parcel. Check and try again.</p>
      </div>
    
    </div>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;div class=&quot;alert-error&quot; role=&quot;alert&quot;&gt;
    
      &lt;span class=&quot;icon icon-cross&quot; role=&quot;presentation&quot;&gt;&lt;/span&gt;
      
      &lt;div class=&quot;alert-message&quot;&gt;
        &lt;p&gt;The land use area you've entered is greater than the size of the parcel. 
        Check and try again.&lt;/p&gt;
      &lt;/div&gt;
    
    &lt;/div&gt;
  </code></pre>


  <!-- informative -->
  <h3 class="heading-medium">Informative</h3>
  
  
  <div class="example">
  
    <div class="alert-info text" role="alert">
    
      <div class="alert-message">
      
        <h3 class="alert-header"><span class="alert-number">4</span> businesses to check</h3>
        
        <p>To check your business details, select 'Check business' in the table below.</p>
        
      </div>
    
    </div>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;div class=&quot;alert-info&quot; role=&quot;alert&quot;&gt;
    
      &lt;div class=&quot;alert-message&quot;&gt;
        &lt;h3 class=&quot;alert-header&quot;&gt;&lt;span class=&quot;alert-number&quot;&gt;4&lt;/span&gt; businesses to check&lt;/h3&gt;
        &lt;p&gt;To check your business details, select 'Check business' in the table below.&lt;/p&gt;
      &lt;/div&gt;
    
    &lt;/div&gt;
  </code></pre>


  <!-- completion -->
  <h3 class="heading-medium">Completion</h3>
  
  
  <div class="example">
  
    <div class="alert-complete text" role="alert">
    
      <div class="alert-message">
      
        <p>Your reference number is</p>
        
        <strong class="alert-number">200113567</strong>
        
      </div>
    
    </div>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;div class=&quot;alert-complete&quot; role=&quot;alert&quot;&gt;
    
      &lt;div class=&quot;alert-message&quot;&gt;
        &lt;p&gt;Your reference number is&lt;/p&gt;
        &lt;strong class=&quot;alert-number&quot;&gt;200113567&lt;/strong&gt;
      &lt;/div&gt;
    
    &lt;/div&gt;
  </code></pre>


  <!-- reference -->
  <h3 class="heading-medium">Reference</h3>
  
  
  <div class="example">
  
    <div class="alert-info text" role="alert">
    
      <div class="alert-message">
      
        <p>CPH number</p>
        
        <strong class="alert-number">200113567</strong>
        
      </div>
    
    </div>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;div class=&quot;alert-info&quot; role=&quot;alert&quot;&gt;
    
      &lt;div class=&quot;alert-message&quot;&gt;
        &lt;p&gt;CPH number&lt;/p&gt;
        &lt;strong class=&quot;alert-number&quot;&gt;200113567&lt;/strong&gt;
      &lt;/div&gt;
    
    &lt;/div&gt;
  </code></pre>
  
  
  <p><a href="#alerts">Back to the top</a></p>


</div>