<div id="buttons">


  <h2 class="heading-large">Buttons</h2>
  
  
  <!-- button text -->
  <h3 class="heading-medium">Button text</h3>
  
  
  <div class="example">
    <button class="button" type="button">Save and continue</button>
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;button class=&quot;button&quot; type=&quot;button&quot;&gt;Save and continue&lt;/button&gt;
  </code></pre>
  
  
  <div class="example">
    <button class="button button-get-started" type="button">Start now</button>
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;button class=&quot;button button-get-started&quot; type=&quot;button&quot;&gt;Start now&lt;/button&gt;
  </code></pre>
  
  
  <div class="example">
    
      <form class="form">
       
        <div class="form-group">
          <label class="form-label" for="form-email-address-1">Email address</label>
          <input class="form-control" type="text" id="form-email-address-1">
        </div>
       
        <div class="form-group">
          <button class="button" type="button">Save and continue</button>
          <p><a href="#">Back</a></p>
        </div>
        
      </form>
      
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;div class=&quot;form-group&quot;&gt;
      &lt;label class=&quot;form-label&quot; for=&quot;form-email-address-1&quot;&gt;Email address&lt;/label&gt;
      &lt;input class=&quot;form-control&quot; type=&quot;text&quot; id=&quot;form-email-address-1&quot;&gt;
    &lt;/div&gt;
    
    &lt;div class=&quot;form-group&quot;&gt;
      &lt;button class=&quot;button&quot; type=&quot;button&quot;&gt;Save and continue&lt;/button&gt;
      &lt;p&gt;&lt;a href=&quot;#&quot;&gt;Back&lt;/a&gt;&lt;/p&gt;
    &lt;/div&gt;
  </code></pre>
  
  
  <!-- disabled button -->
  <h3 class="heading-medium">Disabled button</h3>
  
  
  <div class="example">
    <button class="button" type="button" disabled="disabled">Primary button</button>
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;button class=&quot;button&quot; type=&quot;button&quot; disabled=&quot;disabled&quot;&gt;Primary button&lt;/button&gt;
  </code></pre>
  
  
  <p><a href="#content">Back to the top</a></p>


</div>