<div id="checklist">


  <h2 class="heading-large">Checklist</h2>
  
  
  <!-- checklist -->
  <div class="example">
  
    <div class="checklist-done">
      <p>This business has enough eligible land.</p>
    </div>
    
    <div class="checklist-notmet">
      <p>This business doesn't have enough eligible land.</p>
    </div>
    
    <div class="checklist-inprogress">
      <p>Tell us more about your <a href="#">business activities</a>.</p>
    </div>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;div class=&quot;checklist-done&quot;&gt;
      &lt;p&gt;This business has enough eligible land.&lt;/p&gt;
    &lt;/div&gt;
    
    &lt;div class=&quot;checklist-notmet&quot;&gt;
      &lt;p&gt;This business doesn't have enough eligible land.&lt;/p&gt;
    &lt;/div&gt;
    
    &lt;div class=&quot;checklist-inprogress&quot;&gt;
      &lt;p&gt;Tell us more about your &lt;a href=&quot;#&quot;&gt;business activities&lt;/a&gt;.&lt;/p&gt;
    &lt;/div&gt;
  </code></pre>
  
  
  <p><a href="#content">Back to the top</a></p>


</div>