<div id="collapsibles">

  
  <h2 class="heading-large">Collapsibles</h2>


  <!-- collapsibles -->
  <div class="example">
  
  
    <section class="collapsible">
    
    
      <h2 class="heading-medium">People legally responsible for the business</h2>
      
      
      <div class="collapsible-item">
      
        <div class="collapsible-heading">
          <h3 class="name"><span>Mia Wallace</span></h3>
          <p class="owns">Percentage of business owned 40%</p>
        </div>
        
        <div class="collapsible-content">
        
          <dl class="details">
            <dt>Date became owner</dt>
            <dd>18 June 1972</dd>
            <dt>Email address</dt>
            <dd>m.wallace@abusiness.com</dd>
            <dt>Phone number</dt>
            <dd>07730670866</dd>
            <dt>Date of birth</dt>
            <dd>18 September 1964</dd>
            <dt>National Insurance</dt>
            <dd>QQ 12 34 56 A</dd>
          </dl>
        
        </div>
      
      </div>
      
      
      <div class="collapsible-item">
      
        <div class="collapsible-heading">
          <h3 class="name"><span>John Shelly</span></h3>
          <p class="owns">Percentage of business owned 30%</p>
        </div>
        
        <div class="collapsible-content">
        
          <dl class="details">
            <dt>Date became owner</dt>
            <dd>12 March 1984</dd>
            <dt>Email address</dt>
            <dd>j.shelly@abusiness.com</dd>
            <dt>Phone number</dt>
            <dd>07760670286</dd>
            <dt>Date of birth</dt>
            <dd>05 April 1978</dd>
            <dt>National Insurance</dt>
            <dd>QQ 18 34 53 B</dd>
          </dl>
        
        </div>
      
      </div>
      
      
      <div class="collapsible-item">
      
        <div class="collapsible-heading">
          <h3 class="name"><span>Peter Burns</span></h3>
          <p class="owns">Percentage of business owned 30%</p>
        </div>
        
        <div class="collapsible-content">
        
          <dl class="details">
            <dt>Date became owner</dt>
            <dd>10 October 1987</dd>
            <dt>Email address</dt>
            <dd>p.burns@abusiness.com</dd>
            <dt>Phone number</dt>
            <dd>06760670352</dd>
            <dt>Date of birth</dt>
            <dd>25 July 1977</dd>
            <dt>National Insurance</dt>
            <dd>QQ 28 45 53 A</dd>
          </dl>
        
        </div>
      
      </div>
    
    
    </section>
  
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;section class=&quot;collapsible&quot;&gt;
    
      &lt;h2 class=&quot;heading-medium&quot;&gt;People legally responsible for the business&lt;/h2&gt;
      
      &lt;div class=&quot;collapsible-item&quot;&gt;
        &lt;div class=&quot;collapsible-heading&quot;&gt;
          &lt;h3 class=&quot;name&quot;&gt;&lt;span&gt;Mia Wallace&lt;/span&gt;&lt;/h3&gt;
          &lt;p class=&quot;owns&quot;&gt;Percentage of business owned 40%&lt;/p&gt;
          &lt;/div&gt;
          &lt;div class=&quot;collapsible-content&quot;&gt;
          &lt;p&gt;Some content goes here...&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      
      &lt;div class=&quot;collapsible-item&quot;&gt;
        &lt;div class=&quot;collapsible-heading&quot;&gt;
          &lt;h3 class=&quot;name&quot;&gt;&lt;span&gt;John Shelly&lt;/span&gt;&lt;/h3&gt;
          &lt;p class=&quot;owns&quot;&gt;Percentage of business owned 30%&lt;/p&gt;
          &lt;/div&gt;
          &lt;div class=&quot;collapsible-content&quot;&gt;
          &lt;p&gt;Some content goes here...&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      
      &lt;div class=&quot;collapsible-item&quot;&gt;
        &lt;div class=&quot;collapsible-heading&quot;&gt;
          &lt;h3 class=&quot;name&quot;&gt;&lt;span&gt;Peter Burns&lt;/span&gt;&lt;/h3&gt;
          &lt;p class=&quot;owns&quot;&gt;Percentage of business owned 30%&lt;/p&gt;
          &lt;/div&gt;
          &lt;div class=&quot;collapsible-content&quot;&gt;
          &lt;p&gt;Some content goes here...&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    
    &lt;/section&gt;
  </code></pre>


  <p><a href="#content">Back to the top</a></p>


</div>