<div id="details">


  <h2 class="heading-large">Details</h2>
  
  
  <div class="text">
    <p>Support for HTML5's &lt;details&gt; and &lt;summary&gt;</p>
  </div>
  
  
  <!-- details -->
  <div class="example">
  
    <details>
    
      <summary><span class="summary">Why aren't all prisons available?</span></summary>
      
      <div class="panel-indent">
      
        <p>You can’t make an online visit request for all prisons (eg high-security and private prisons). If you can’t enter the prison you're visiting, contact the prison to find out how to book.</p>
      
      </div>
    
    </details>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;details&gt;
    
      &lt;summary&gt;&lt;span class=&quot;summary&quot;&gt;Why aren't all prisons available?&lt;/span&gt;&lt;/summary&gt;
      
      &lt;div class=&quot;panel-indent&quot;&gt;
        &lt;p&gt;You can&#x2019;t make an online visit request for all prisons (eg high-security and private prisons). 
        If you can&#x2019;t enter the prison you're visiting, contact the prison to find out how to book.&lt;/p&gt;
      &lt;/div&gt;
    
    &lt;/details&gt;
  </code></pre>
  
  
  <p><a href="#details">Back to the top</a></p>


</div>