<div id="forms">


  <h2 class="heading-large">Forms</h2>
  
  
  <div class="text">
  
    <p>Keep forms as simple as possible.</p>
    
    <h3 class="heading-medium">Optional and mandatory fields</h3>
    
    <ul class="list-bullet">
      <li>only ask for the information you absolutely need</li>
      <li>if you do ask for optional information, mark the labels of optional fields with '(optional)'</li>
      <li>don't mark mandatory fields with asterisks</li>
    </ul>
  
  </div>
  
  
  <!-- labels -->
  <h3 class="heading-medium">Labels</h3>
  
  
  <ul class="list-bullet text">
    <li>all form fields should be given labels</li>
    <li>don't hide labels, unless the surrounding context makes them unnecessary</li>
    <li>labels should be aligned above their fields</li>
    <li>label text should be short, direct and in sentence case</li>
    <li>avoid colons at the end of labels</li>
    <li>labels should be associated with form fields using the <b>for</b> attribute</li>
  </ul>
  
  <p>Click on the label 'Full name' to bring focus to the form field.</p>
  
  
  <div class="example">
    <form>
      <label class="form-label" for="full-name">Full name</label>
      <input class="form-control" id="full-name" type="text">
    </form>
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;label class=&quot;form-label&quot; for=&quot;full-name&quot;&gt;Full name&lt;/label&gt;
    &lt;input class=&quot;form-control&quot; id=&quot;full-name&quot; type=&quot;text&quot;&gt;
  </code></pre>
  
  
  <!-- spacing -->
  <h3 class="heading-medium">Spacing between form elements</h3>
  
  
  <div class="text">
    
    <p>Ensure there is sufficient spacing between form elements.</p>
    
    <p>Use '.form-group' to create spacing when wrapping label and input pairs.</p>
  
  </div>
  
  
  <div class="example">
    <form>
      <div class="form-group">
        <label class="form-label" for="first-name">First name</label>
        <input class="form-control" id="first-name" type="text">
      </div>
      <div class="form-group">
        <label class="form-label" for="last-name">Last name</label>
        <input class="form-control" id="last-name" type="text">
      </div>
    </form>
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;div class=&quot;form-group&quot;&gt;
      &lt;label class=&quot;form-label&quot; for=&quot;first-name&quot;&gt;First name&lt;/label&gt;
      &lt;input class=&quot;form-control&quot; id=&quot;first-name&quot; type=&quot;text&quot;&gt;
    &lt;/div&gt;
    
    &lt;div class=&quot;form-group&quot;&gt;
      &lt;label class=&quot;form-label&quot; for=&quot;last-name&quot;&gt;Last name&lt;/label&gt;
      &lt;input class=&quot;form-control&quot; id=&quot;last-name&quot; type=&quot;text&quot;&gt;
    &lt;/div&gt;
  </code></pre>
  
  
  <!-- hint text -->
  <h3 class="heading-medium">Hint text</h3>
  
  
  <ul class="list-bullet text">
    <li>don't use placeholder text in form fields, as this will disappear once content is entered into the form field</li>
    <li>use hint text for supporting contextual help, this will always be shown</li>
    <li>hint text should sit above a form field</li>
    <li>ensure hint text can be read correctly by screen readers</li>
  </ul>
  
  
  <div class="example">
  
    <form>
    
      <label class="form-label" for="ni-number">
        National Insurance number
        <span class="form-hint">It'll be on your last payslip. For example, JH 21 90 0A.</span>
      </label>
      
      <input class="form-control" id="ni-number" type="text">
    
    </form>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;label class=&quot;form-label&quot; for=&quot;ni-number&quot;&gt;
      National Insurance number
      &lt;span class=&quot;form-hint&quot;&gt;It'll be on your last payslip. For example, JH 21 90 0A.&lt;/span&gt;
    &lt;/label&gt;
    
    &lt;input class=&quot;form-control&quot; id=&quot;ni-number&quot; type=&quot;text&quot;&gt;
  </code></pre>
  
  
  <!-- dates -->
  <h3 class="heading-medium">Dates</h3>
  
  
  <div class="example">
  
    <form>
    
      <fieldset>
      
        <legend class="form-label">Date of birth</legend>
        
        <div class="form-date">
        
          <p class="form-hint">For example, 31 3 1980</p>
          
          <div class="form-group form-group-day">
            <label for="dob-day">Day</label>
            <input class="form-control" id="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
          </div>
          
          <div class="form-group form-group-month">
            <label for="dob-month">Month</label>
            <input class="form-control" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
          </div>
          
          <div class="form-group form-group-year">
            <label for="dob-year">Year</label>
            <input class="form-control" id="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
          </div>
        
        </div>
      
      </fieldset>
    
    </form>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;fieldset&gt;
    
      &lt;legend class=&quot;form-label&quot;&gt;Date of birth&lt;/legend&gt;
      
      &lt;div class=&quot;form-date&quot;&gt;
      
        &lt;p class=&quot;form-hint&quot;&gt;For example, 31 3 1980&lt;/p&gt;
        
        &lt;div class=&quot;form-group form-group-day&quot;&gt;
          &lt;label for=&quot;dob-day&quot;&gt;Day&lt;/label&gt;
          &lt;input class=&quot;form-control&quot; id=&quot;dob-day&quot; type=&quot;number&quot; pattern=&quot;[0-9]*&quot; min=&quot;0&quot; max=&quot;31&quot;&gt;
        &lt;/div&gt;
        
        &lt;div class=&quot;form-group form-group-month&quot;&gt;
          &lt;label for=&quot;dob-month&quot;&gt;Month&lt;/label&gt;
          &lt;input class=&quot;form-control&quot; id=&quot;dob-month&quot; type=&quot;number&quot; pattern=&quot;[0-9]*&quot; min=&quot;0&quot; max=&quot;12&quot;&gt;
        &lt;/div&gt;
        
        &lt;div class=&quot;form-group form-group-year&quot;&gt;
          &lt;label for=&quot;dob-year&quot;&gt;Year&lt;/label&gt;
          &lt;input class=&quot;form-control&quot; id=&quot;dob-year&quot; type=&quot;number&quot; pattern=&quot;[0-9]*&quot; min=&quot;0&quot; max=&quot;2014&quot;&gt;
        &lt;/div&gt;
      
      &lt;/div&gt;
    
    &lt;/fieldset&gt;
  </code></pre>
  
  
  <!-- selects -->
  <h3 class="heading-medium">Drop&ndash;down lists</h3>
  
  
  <div class="text">
  
    <p>It's advisable to avoid using drop&ndash;lists (the HTML select element) and use radio buttons or checkboxes instead.</p>
    
    <p><a href="https://www.youtube.com/watch?v=CUkMCQR4TpY" rel="external">Watch Alice Bartlett present the failings of select boxes to meet the needs of less technically capable users</a>.</p>
    
  </div>
  
  
  <div class="example">
    <form>
      <label class="form-label" for="legal-status">Legal status</label>
      <select class="form-control-select" id="legal-status">
        <option>-- Please make a selection --</option>
        <option value="1">Charitable Interest Organisation</option>
        <option value="2">Community Interest Company</option>
        <option value="3">Government (Central)</option>
        <option value="4">Government Limited Liability Partnership</option>
      </select>
    </form>
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;label class=&quot;form-label&quot; for=&quot;legal-status&quot;&gt;Legal status&lt;/label&gt;
    
    &lt;select class=&quot;form-control-select&quot; id=&quot;legal-status&quot;&gt;
      &lt;option&gt;-- Please make a selection --&lt;/option&gt;
      &lt;option value=&quot;1&quot;&gt;Charitable Interest Organisation&lt;/option&gt;
      &lt;option value=&quot;2&quot;&gt;Community Interest Company&lt;/option&gt;
      &lt;option value=&quot;3&quot;&gt;Government (Central)&lt;/option&gt;
      &lt;option value=&quot;4&quot;&gt;Government Limited Liability Partnership&lt;/option&gt;
    &lt;/select&gt;
  </code></pre>
  
  
  <!-- search -->
  <h3 class="heading-medium">Search</h3>
  
  
  <div class="example">
  
    <form>
    
    <fieldset>
    
      <legend class="form-label">What are you looking for?</legend>
      
      <div class="form-search">
      
        <div class="form-group-search">
          <input class="form-control" id="search" type="text">
        </div>
        
        <div class="form-group-button">
          <button class="button" type="button">Search</button>
        </div>
      
      </div>
    
    </fieldset>
    
    </form>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;fieldset&gt;
    
      &lt;legend class=&quot;form-label&quot;&gt;What are you looking for?&lt;/legend&gt;
      
      &lt;div class=&quot;form-search&quot;&gt;
      
        &lt;div class=&quot;form-group-search&quot;&gt;
          &lt;input class=&quot;form-control&quot; id=&quot;search&quot; type=&quot;text&quot;&gt;
        &lt;/div&gt;
        
        &lt;div class=&quot;form-group-button&quot;&gt;
          &lt;button class=&quot;button&quot; type=&quot;button&quot;&gt;Search&lt;/button&gt;
        &lt;/div&gt;
      
      &lt;/div&gt;
    
    &lt;/fieldset&gt;
  </code></pre>
  
  
  <!-- textarea -->
  <h3 class="heading-medium">Textarea</h3>
  
  
  <div class="example">
  
    <form>
      <label class="form-label" for="enquiry">Enquiry</label>
      <textarea class="form-control form-control-textarea" id="enquiry" rows="6" cols="50"></textarea>
    </form>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;label class=&quot;form-label&quot; for=&quot;enquiry&quot;&gt;Enquiry&lt;/label&gt;
    &lt;textarea class=&quot;form-control form-control-textarea&quot; id=&quot;enquiry&quot; rows=&quot;6&quot; cols=&quot;50&quot;&gt;&lt;/textarea&gt;
  </code></pre>
  
  
  <!-- radio buttons -->
  <h3 class="heading-medium">Radio buttons</h3>
  
  
  <div class="text">
    
    <ul class="list-bullet">
      <li>use these to let users choose a single option from a list</li>
      <li>for more than two options, radio buttons should be stacked</li>
      <li>radio buttons with large hit areas are easier to select with a mouse or touch devices</li>
    </ul>
  
  </div>
  
  
  <div class="example">
  
    <form>
    
      <fieldset class="inline">
      
        <legend class="form-label">Do you know their National Insurance number?</legend>
        
        <div class="form-group form-group-compound">
        
          <label class="block-label" for="radio-inline-1">
            <input id="radio-inline-1" name="radio-inline-group" value="Yes" type="radio"> Yes
          </label>
          
          <label class="block-label" for="radio-inline-2">
            <input id="radio-inline-2" name="radio-inline-group" value="No" type="radio"> No
          </label>
        
        </div>
      
      </fieldset>
    
    </form>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;fieldset class=&quot;inline&quot;&gt;
    
      &lt;legend class=&quot;form-label&quot;&gt;Do you know their National Insurance number?&lt;/legend&gt;
      
      &lt;div class=&quot;form-group form-group-compound&quot;&gt;
      
        &lt;label class=&quot;block-label&quot; for=&quot;radio-inline-1&quot;&gt;
          &lt;input id=&quot;radio-inline-1&quot; name=&quot;radio-inline-group&quot; value=&quot;Yes&quot; type=&quot;radio&quot;&gt; Yes
        &lt;/label&gt;
        
        &lt;label class=&quot;block-label&quot; for=&quot;radio-inline-2&quot;&gt;
          &lt;input id=&quot;radio-inline-2&quot; name=&quot;radio-inline-group&quot; value=&quot;No&quot; type=&quot;radio&quot;&gt; No
        &lt;/label&gt;
      
      &lt;/div&gt;
    
    &lt;/fieldset&gt;
  </code></pre>
  
  
  <div class="example">
  
    <form>
    
      <label class="block-label" for="radio-1">
        <input id="radio-1" name="radio-group" value="Northern Ireland" type="radio">
        Northern Ireland
      </label>
      
      <label class="block-label" for="radio-2">
        <input id="radio-2" name="radio-group" value="Isle of Man or the Channel Islands" type="radio">
        Isle of Man or the Channel Islands
      </label>
      
      <p class="form-block">or</p>
      
      <label class="block-label" for="radio-3">
        <input id="radio-3" name="radio-group" value="I am a British citizen living abroad" type="radio">
        I am a British citizen living abroad
      </label>
    
    </form>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;label class=&quot;block-label&quot; for=&quot;radio-1&quot;&gt;
      &lt;input id=&quot;radio-1&quot; name=&quot;radio-group&quot; value=&quot;Northern Ireland&quot; type=&quot;radio&quot;&gt;
      Northern Ireland
    &lt;/label&gt;
    
    &lt;label class=&quot;block-label&quot; for=&quot;radio-2&quot;&gt;
      &lt;input id=&quot;radio-2&quot; name=&quot;radio-group&quot; value=&quot;Isle of Man or the Channel Islands&quot; type=&quot;radio&quot;&gt;
      Isle of Man or the Channel Islands
    &lt;/label&gt;
    
    &lt;p class=&quot;form-block&quot;&gt;or&lt;/p&gt;
    
    &lt;label class=&quot;block-label&quot; for=&quot;radio-3&quot;&gt;
      &lt;input id=&quot;radio-3&quot; name=&quot;radio-group&quot; value=&quot;I am a British citizen living abroad&quot; type=&quot;radio&quot;&gt;
      I am a British citizen living abroad
    &lt;/label&gt;
  </code></pre>
  
  
  <!-- checkboxes -->
  <h3 class="heading-medium">Checkboxes</h3>
  
  
  <ul class="list-bullet text">
    <li>use these to select either on/off toggles or multiple selections</li>
    <li>make it clear with words when users can select one or multiple options</li>
  </ul>
  
  
  <div class="example">
  
    <form>
    
      <fieldset>
      
        <legend class="form-label-bold">Which types of waste do you transport regularly?</legend>
        
        <p>Select all that apply</p>
        
        <label class="block-label" for="checkbox-1">
          <input id="checkbox-1" value="waste-animal" type="checkbox">
          Waste from animal carcasses
        </label>
        
        <label class="block-label" for="checkbox-2">
          <input id="checkbox-2" value="waste-mines" type="checkbox">
          Waste from mines or quarries
        </label>
        
        <label class="block-label" for="checkbox-3">
          <input id="checkbox-3" value="farm-agricultural" type="checkbox">
          Farm or agricultural waste
        </label>
      
      </fieldset>
    
    </form>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;fieldset&gt;
    
      &lt;legend class=&quot;form-label-bold&quot;&gt;Which types of waste do you transport regularly?&lt;/legend&gt;
      
      &lt;p&gt;Select all that apply&lt;/p&gt;
      
      &lt;label class=&quot;block-label&quot; for=&quot;checkbox-1&quot;&gt;
        &lt;input id=&quot;checkbox-1&quot; value=&quot;waste-animal&quot; type=&quot;checkbox&quot;&gt;
        Waste from animal carcasses
      &lt;/label&gt;
      
      &lt;label class=&quot;block-label&quot; for=&quot;checkbox-2&quot;&gt;
        &lt;input id=&quot;checkbox-2&quot; value=&quot;waste-mines&quot; type=&quot;checkbox&quot;&gt;
        Waste from mines or quarries
      &lt;/label&gt;
      
      &lt;label class=&quot;block-label&quot; for=&quot;checkbox-3&quot;&gt;
        &lt;input id=&quot;checkbox-3&quot; value=&quot;farm-agricultural&quot; type=&quot;checkbox&quot;&gt;
        Farm or agricultural waste
      &lt;/label&gt;
    
    &lt;/fieldset&gt;
  </code></pre>
  
  
  <!-- alternative -->
  <ul class="list-bullet">
    <li>large hit areas aren't always appropriate</li>
    <li>only pre&ndash;select optons if there's a strong, user&ndash;centred reason to</li>
  </ul>
  
  
  <div class="example">
  
    <form>
    
      <label class="form-label" for="telephone-number">Enter your telephone number</label>
      <input class="form-control" id="telephone-number" type="text">
      
      <label class="form-checkbox" for="checkbox-telephone-number">
      <input id="checkbox-telephone-number" value="checkbox-telephone-number" type="checkbox">
        I need to be contacted using a text phone
      </label>
    
    </form>
  
  </div>
  
  <pre><code class="prettyprint">
    &lt;label class=&quot;form-label&quot; for=&quot;telephone-number&quot;&gt;Enter your telephone number&lt;/label&gt;
    &lt;input class=&quot;form-control&quot; id=&quot;telephone-number&quot; type=&quot;text&quot;&gt;
    
    &lt;label class=&quot;form-checkbox&quot; for=&quot;checkbox-telephone-number&quot;&gt;
    &lt;input id=&quot;checkbox-telephone-number&quot; value=&quot;checkbox-telephone-number&quot; type=&quot;checkbox&quot;&gt;
      I need to be contacted using a text phone
    &lt;/label&gt;
  </code></pre>
  
  
  <!-- inset elements -->
  <h3 class="heading-medium">Inset form elements</h3>
  
  
  <div class="text">
    
    <p>Insets can be used within forms to emphasise supporting information.</p>
  
    <p>Click on 'Yes' to see how this works.</p>
    
  </div>
  
  
  <div class="example">
  
    <form>
    
      <fieldset class="inline">
      
        <legend class="form-label">Do you know their National Insurance number?</legend>
        
        <div class="form-group form-group-compound">
        
          <label class="block-label" data-target="example-ni-number" for="radio-indent-1">
            <input id="radio-indent-1" name="radio-indent-group" value="Yes" type="radio">
            Yes
          </label>
          
          <label class="block-label" for="radio-indent-2">
            <input id="radio-indent-2" name="radio-indent-group" value="No" type="radio">
            No
          </label>
        
        </div>
        
        <div class="panel-indent js-hidden" id="example-ni-number">
          <label class="form-label" for="national-insurance">National Insurance number</label>
          <input class="form-control" id="national-insurance" type="text">
        </div>
      
      </fieldset>
    
    </form>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;fieldset class=&quot;inline&quot;&gt;
    
      &lt;legend class=&quot;form-label&quot;&gt;Do you know their National Insurance number?&lt;/legend&gt;
      
      &lt;div class=&quot;form-group form-group-compound&quot;&gt;
      
        &lt;label class=&quot;block-label&quot; data-target=&quot;example-ni-number&quot; for=&quot;radio-indent-1&quot;&gt;
          &lt;input id=&quot;radio-indent-1&quot; name=&quot;radio-indent-group&quot; value=&quot;Yes&quot; type=&quot;radio&quot;&gt; Yes
        &lt;/label&gt;
        
        &lt;label class=&quot;block-label&quot; for=&quot;radio-indent-2&quot;&gt;
          &lt;input id=&quot;radio-indent-2&quot; name=&quot;radio-indent-group&quot; value=&quot;No&quot; type=&quot;radio&quot;&gt; No
        &lt;/label&gt;
      
      &lt;/div&gt;
      
      &lt;div class=&quot;panel-indent js-hidden&quot; id=&quot;example-ni-number&quot;&gt;
        &lt;label class=&quot;form-label&quot; for=&quot;national-insurance&quot;&gt;National Insurance number&lt;/label&gt;
        &lt;input class=&quot;form-control&quot; id=&quot;national-insurance&quot; type=&quot;text&quot;&gt;
      &lt;/div&gt;
    
    &lt;/fieldset&gt;
  </code></pre>
  
  
  <p><a href="#forms">Back to the top</a></p>


</div>