<div id="layout">


  <h2 class="heading-large">Layout</h2>
  
  
  <!-- halves -->
  <h3 class="heading-medium">Halves</h3>
  
  
  <div class="example example-grid">
  
    <div class="grid-row">
      
      <div class="column-half">
        <p>Content</p>
      </div>
      
      <div class="column-half">
        <p>Content</p>
      </div>
      
    </div>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;div class=&quot;grid-row&quot;&gt;
      
      &lt;div class=&quot;column-half&quot;&gt;
        &lt;p&gt;Content&lt;/p&gt;
      &lt;/div&gt;
      
      &lt;div class=&quot;column-half&quot;&gt;
        &lt;p&gt;Content&lt;/p&gt;
      &lt;/div&gt;
      
    &lt;/div&gt;
  </code></pre>
  
  
  <!-- thirds -->
  <h3 class="heading-medium">Thirds</h3>
  
  
  <div class="example example-grid">
  
    <div class="grid-row">
      
      <div class="column-third">
        <p>Content</p>
      </div>
      
      <div class="column-third">
        <p>Content</p>
      </div>
      
      <div class="column-third">
        <p>Content</p>
      </div>
      
    </div>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;div class=&quot;grid-row&quot;&gt;
      
      &lt;div class=&quot;column-third&quot;&gt;
        &lt;p&gt;Content&lt;/p&gt;
      &lt;/div&gt;
      
      &lt;div class=&quot;column-third&quot;&gt;
        &lt;p&gt;Content&lt;/p&gt;
      &lt;/div&gt;
      
      &lt;div class=&quot;column-third&quot;&gt;
        &lt;p&gt;Content&lt;/p&gt;
      &lt;/div&gt;
      
    &lt;/div&gt;
  </code></pre>
  
  
  <!-- two thirds / one third -->
  <h3 class="heading-medium">Two Thirds / One Third</h3>
  
  
  <div class="example example-grid">
  
    <div class="grid-row">
      
      <div class="column-two-thirds">
        <p>Content</p>
      </div>
      
      <div class="column-third">
        <p>Content</p>
      </div>
      
    </div>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;div class=&quot;grid-row&quot;&gt;
      
      &lt;div class=&quot;column-two-thirds&quot;&gt;
        &lt;p&gt;Content&lt;/p&gt;
      &lt;/div&gt;
      
      &lt;div class=&quot;column-third&quot;&gt;
        &lt;p&gt;Content&lt;/p&gt;
      &lt;/div&gt;
      
    &lt;/div&gt;
  </code></pre>
  
  
  <!-- one third / two thirds -->
  <h3 class="heading-medium">One Third / Two Thirds</h3>
  
  
  <div class="example example-grid">
  
    <div class="grid-row">
      
      <div class="column-third">
        <p>Content</p>
      </div>
      
      <div class="column-two-thirds">
        <p>Content</p>
      </div>
      
    </div>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;div class=&quot;grid-row&quot;&gt;
      
      &lt;div class=&quot;column-third&quot;&gt;
        &lt;p&gt;Content&lt;/p&gt;
      &lt;/div&gt;
      
      &lt;div class=&quot;column-two-thirds&quot;&gt;
        &lt;p&gt;Content&lt;/p&gt;
      &lt;/div&gt;
      
    &lt;/div&gt;
  </code></pre>
  
  
  <!-- quarters -->
  <h3 class="heading-medium">Quarters</h3>
  
  
  <div class="example example-grid">
  
    <div class="grid-row">
      
      <div class="column-quarter">
        <p>Content</p>
      </div>
      
      <div class="column-quarter">
        <p>Content</p>
      </div>
      
      <div class="column-quarter">
        <p>Content</p>
      </div>
      
      <div class="column-quarter">
        <p>Content</p>
      </div>
      
    </div>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;div class=&quot;grid-row&quot;&gt;
    
      &lt;div class=&quot;column-quarter&quot;&gt;
        &lt;p&gt;Content&lt;/p&gt;
      &lt;/div&gt;
      
      &lt;div class=&quot;column-quarter&quot;&gt;
        &lt;p&gt;Content&lt;/p&gt;
      &lt;/div&gt;
      
      &lt;div class=&quot;column-quarter&quot;&gt;
        &lt;p&gt;Content&lt;/p&gt;
      &lt;/div&gt;
      
      &lt;div class=&quot;column-quarter&quot;&gt;
        &lt;p&gt;Content&lt;/p&gt;
      &lt;/div&gt;
    
    &lt;/div&gt;
  </code></pre>
  
  
  <p><a href="#content">Back to the top</a></p>


</div>