<div id="layout">


  <h2 class="heading-large">Layout</h2>
  
  
  <div class="text">
    <p>Use white space to create a visual hierarchy on the page. Design for small screens first using a single column layout.</p>
    <p>The default maximum page width is 1020px, but go wider if the content requires it.</p>
    <p>Optimise for different screen sizes, but don’t make assumptions about what devices people are using. </p>
  </div>
  
  
  <h3 class="heading-medium">Grid unit proportions</h3>
  
  
  <div class="text">
    
    <p>Introduce columns as the content requires it &ndash; base column ratios on halves, thirds or quarters of the page width.</p>
    
  </div>
  
  
  <!-- halves -->
  <h4 class="heading-small">Halves</h4>
  
  
  <div class="example example-grid">
  
    <div class="grid-row">
      
      <div class="column-half">
        <p>Content</p>
      </div>
      
      <div class="column-half">
        <p>Content</p>
      </div>
      
    </div>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;div class=&quot;grid-row&quot;&gt;
      
      &lt;div class=&quot;column-half&quot;&gt;
        &lt;p&gt;Content&lt;/p&gt;
      &lt;/div&gt;
      
      &lt;div class=&quot;column-half&quot;&gt;
        &lt;p&gt;Content&lt;/p&gt;
      &lt;/div&gt;
      
    &lt;/div&gt;
  </code></pre>
  
  
  <!-- thirds -->
  <h4 class="heading-small">Thirds</h4>
  
  
  <div class="example example-grid">
  
    <div class="grid-row">
      
      <div class="column-third">
        <p>Content</p>
      </div>
      
      <div class="column-third">
        <p>Content</p>
      </div>
      
      <div class="column-third">
        <p>Content</p>
      </div>
      
    </div>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;div class=&quot;grid-row&quot;&gt;
      
      &lt;div class=&quot;column-third&quot;&gt;
        &lt;p&gt;Content&lt;/p&gt;
      &lt;/div&gt;
      
      &lt;div class=&quot;column-third&quot;&gt;
        &lt;p&gt;Content&lt;/p&gt;
      &lt;/div&gt;
      
      &lt;div class=&quot;column-third&quot;&gt;
        &lt;p&gt;Content&lt;/p&gt;
      &lt;/div&gt;
      
    &lt;/div&gt;
  </code></pre>
  
  
  <!-- two thirds / one third -->
  <h4 class="heading-small">Two Thirds / One Third</h4>
  
  
  <div class="example example-grid">
  
    <div class="grid-row">
      
      <div class="column-two-thirds">
        <p>Content</p>
      </div>
      
      <div class="column-third">
        <p>Content</p>
      </div>
      
    </div>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;div class=&quot;grid-row&quot;&gt;
      
      &lt;div class=&quot;column-two-thirds&quot;&gt;
        &lt;p&gt;Content&lt;/p&gt;
      &lt;/div&gt;
      
      &lt;div class=&quot;column-third&quot;&gt;
        &lt;p&gt;Content&lt;/p&gt;
      &lt;/div&gt;
      
    &lt;/div&gt;
  </code></pre>
  
  
  <!-- one third / two thirds -->
  <h4 class="heading-small">One Third / Two Thirds</h4>
  
  
  <div class="example example-grid">
  
    <div class="grid-row">
      
      <div class="column-third">
        <p>Content</p>
      </div>
      
      <div class="column-two-thirds">
        <p>Content</p>
      </div>
      
    </div>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;div class=&quot;grid-row&quot;&gt;
      
      &lt;div class=&quot;column-third&quot;&gt;
        &lt;p&gt;Content&lt;/p&gt;
      &lt;/div&gt;
      
      &lt;div class=&quot;column-two-thirds&quot;&gt;
        &lt;p&gt;Content&lt;/p&gt;
      &lt;/div&gt;
      
    &lt;/div&gt;
  </code></pre>
  
  
  <!-- quarters -->
  <h4 class="heading-small">Quarters</h4>
  
  
  <div class="example example-grid">
  
    <div class="grid-row">
      
      <div class="column-quarter">
        <p>Content</p>
      </div>
      
      <div class="column-quarter">
        <p>Content</p>
      </div>
      
      <div class="column-quarter">
        <p>Content</p>
      </div>
      
      <div class="column-quarter">
        <p>Content</p>
      </div>
      
    </div>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;div class=&quot;grid-row&quot;&gt;
    
      &lt;div class=&quot;column-quarter&quot;&gt;
        &lt;p&gt;Content&lt;/p&gt;
      &lt;/div&gt;
      
      &lt;div class=&quot;column-quarter&quot;&gt;
        &lt;p&gt;Content&lt;/p&gt;
      &lt;/div&gt;
      
      &lt;div class=&quot;column-quarter&quot;&gt;
        &lt;p&gt;Content&lt;/p&gt;
      &lt;/div&gt;
      
      &lt;div class=&quot;column-quarter&quot;&gt;
        &lt;p&gt;Content&lt;/p&gt;
      &lt;/div&gt;
    
    &lt;/div&gt;
  </code></pre>
  
  
  <p><a href="#layout">Back to the top</a></p>


</div>