<div id="related">


  <h2 class="heading-large">Related</h2>
  
  
  <!-- related content -->
  <div class="example example-grid">
  
    <div class="grid-row">
    
      <div class="column-third">
      
        <div class="related">
        
          <div class="related-section">
          
            <h2 class="related-section-title">Dealing with <abbr title="Her Majesty's Revenue and Customs">HMRC</abbr></h2>
            
            <ul class="related-section-links">
              <li><a href="/">Get help with tax</a></li>
              <li><a href="/" rel="external">Handling someone's personal tax affairs on their behalf</a></li>
            </ul>
          
          </div>
          
          <div class="related-section">
          
            <h2 class="related-section-title">Elsewhere on GOV.UK</h2>
            
            <ul class="related-section-links">
              <li><a href="/">Claiming and dealing with tax credits for someone else</a></li>
              <li><a href="/">Claim and deal with Child Benefit for someone else</a></li>
            </ul>
          
          </div>
        
        </div>
      
      </div>
    
    </div>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;div class=&quot;related&quot;&gt;
    
      &lt;div class=&quot;related-section&quot;&gt;
        &lt;h2 class=&quot;related-section-title&quot;&gt;Dealing with HMRC&lt;/h2&gt;
        &lt;ul class=&quot;related-section-links&quot;&gt;
          &lt;li&gt;&lt;a href=&quot;/&quot;&gt;Get help with tax&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;/&quot; rel=&quot;external&quot;&gt;Handling someone's personal tax affairs on their behalf&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;
      
      &lt;div class=&quot;related-section&quot;&gt;
        &lt;h2 class=&quot;related-section-title&quot;&gt;Elsewhere on GOV.UK&lt;/h2&gt;
        &lt;ul class=&quot;related-section-links&quot;&gt;
          &lt;li&gt;&lt;a href=&quot;/&quot;&gt;Claiming and dealing with tax credits for someone else&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;/&quot;&gt;Claim and deal with Child Benefit for someone else&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;
    
    &lt;/div&gt;
  </code></pre>
  
  
  <p><a href="#content">Back to the top</a></p>


</div>