<div id="steps">


  <h2 class="heading-large">Steps</h2>
  
  
  <p>A multiple step process.</p>
  
  
  <!-- step process -->
  <div class="example">
    <h2 class="steps-heading"><span class="steps-pos">Step 1 of 6</span> Your details</h2>
  </div>
  
  <pre><code class="prettyprint">
    &lt;h2 class=&quot;steps-heading&quot;&gt;&lt;span class=&quot;steps-pos&quot;&gt;Step 1 of 6&lt;/span&gt; Your details&lt;/h2&gt;
  </code></pre>
  
  
  <p><a href="#steps">Back to the top</a></p>


</div>