<div id="summary">


  <h2 class="heading-large">Summary</h2>
  
  
  <div class="text">
    <p>A summary of items including <a href="http://schema.org/Organization/" rel="external">schema data</a> for a particular business.</p>
  </div>
  
  
  <!-- summary -->
  <div class="example">
  
    <h2 class="heading-medium">Business details</h2>
    
    <table class="table-summary" itemtype="http://schema.org/Organization" itemscope>
    
      <caption class="visuallyhidden">Business details</caption>
      
      <tbody>
      
        <tr>
          <th class="table-summary-title" scope="row">Business name</th>
          <td class="table-summary-content" itemprop="name">Beech Farm</td>
        </tr>
        
        <tr>
          <th class="table-summary-title" scope="row">Firm reference</th>
          <td class="table-summary-content">2000000045</td>
        </tr>
        
        <tr>
          <th class="table-summary-title" scope="row"><abbr title="Value Added Tax">VAT</abbr> registration number</th>
          <td class="table-summary-content">567890123</td>
        </tr>
        
        <tr>
          <th class="table-summary-title" scope="row">Address</th>
          <td class="table-summary-content">
          <div itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope>
            <div itemprop="streetAddress">Pooley Bridge</div>
            <div itemprop="addressLocality">Penrith</div>
            <div itemprop="addressRegion">Cumbria</div>
            <div itemprop="postalCode">CH3 6NZ</div>
            <div itemprop="addressCountry">United Kingdom</div>
          </div>
          </td>
        </tr>
        
        <tr>
          <th class="table-summary-title" scope="row">Landline</th>
          <td class="table-summary-content" itemprop="telephone">07337938476</td>
        </tr>
        
        <tr>
          <th class="table-summary-title" scope="row">Mobile</th>
          <td class="table-summary-content" itemprop="telephone">07449654321</td>
        </tr>
        
        <tr>
          <th class="table-summary-title" scope="row">Email</th>
          <td class="table-summary-content" itemprop="email"><a href="mailto:defra-user-1@kainos.com">defra-user-1@kainos.com</a></td>
        </tr>
      
      </tbody>
    
    </table>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;table class=&quot;table-summary&quot; itemtype=&quot;http://schema.org/Organization&quot; itemscope&gt;
    
      &lt;caption class=&quot;visuallyhidden&quot;&gt;Business details&lt;/caption&gt;
      
      &lt;tbody&gt;
      
        &lt;tr&gt;
          &lt;th class=&quot;table-summary-title&quot; scope=&quot;row&quot;&gt;Business name&lt;/th&gt;
          &lt;td class=&quot;table-summary-content&quot; itemprop=&quot;name&quot;&gt;Beech Farm&lt;/td&gt;
        &lt;/tr&gt;
        
        &lt;tr&gt;
          &lt;th class=&quot;table-summary-title&quot; scope=&quot;row&quot;&gt;Firm reference&lt;/th&gt;
          &lt;td class=&quot;table-summary-content&quot;&gt;2000000045&lt;/td&gt;
        &lt;/tr&gt;
        
        &lt;tr&gt;
          &lt;th class=&quot;table-summary-title&quot; scope=&quot;row&quot;&gt;VAT registration number&lt;/th&gt;
          &lt;td class=&quot;table-summary-content&quot;&gt;567890123&lt;/td&gt;
        &lt;/tr&gt;
        
        &lt;tr&gt;
          &lt;th class=&quot;table-summary-title&quot; scope=&quot;row&quot;&gt;Address&lt;/th&gt;
          &lt;td class=&quot;table-summary-content&quot;&gt;
            &lt;div itemprop=&quot;address&quot; itemtype=&quot;http://schema.org/PostalAddress&quot; itemscope&gt;
              &lt;div itemprop=&quot;streetAddress&quot;&gt;Pooley Bridge&lt;/div&gt;
              &lt;div itemprop=&quot;addressLocality&quot;&gt;Penrith&lt;/div&gt;
              &lt;div itemprop=&quot;addressRegion&quot;&gt;Cumbria&lt;/div&gt;
              &lt;div itemprop=&quot;postalCode&quot;&gt;CH3 6NZ&lt;/div&gt;
              &lt;div itemprop=&quot;addressCountry&quot;&gt;United Kingdom&lt;/div&gt;
            &lt;/div&gt;
          &lt;/td&gt;
        &lt;/tr&gt;
        
        &lt;tr&gt;
          &lt;th class=&quot;table-summary-title&quot; scope=&quot;row&quot;&gt;Landline&lt;/th&gt;
          &lt;td class=&quot;table-summary-content&quot; itemprop=&quot;telephone&quot;&gt;07337938476&lt;/td&gt;
        &lt;/tr&gt;
        
        &lt;tr&gt;
          &lt;th class=&quot;table-summary-title&quot; scope=&quot;row&quot;&gt;Mobile&lt;/th&gt;
          &lt;td class=&quot;table-summary-content&quot; itemprop=&quot;telephone&quot;&gt;07449654321&lt;/td&gt;
        &lt;/tr&gt;
        
        &lt;tr&gt;
          &lt;th class=&quot;table-summary-title&quot; scope=&quot;row&quot;&gt;Email&lt;/th&gt;
          &lt;td class=&quot;table-summary-content&quot; itemprop=&quot;email&quot;&gt;&lt;a href=&quot;mailto:&quot;&gt;defra@kainos.com&lt;/a&gt;&lt;/td&gt;
        &lt;/tr&gt;
      
      &lt;/tbody&gt;
    
    &lt;/table&gt;
  </code></pre>
  
  
  <p><a href="#summary">Back to the top</a></p>


</div>