<div id="tables">


  <h2 class="heading-large">Tables</h2>
  
  
  <!-- standard -->
  <h3 class="heading-medium">Standard</h3>
  
  
  <div class="example">
    <table>
      <caption class="visuallyhidden">Business plan execution results</caption>
      <thead>
        <tr>
          <th></th>
          <th class="numeric" scope="col">Business Plan</th>
          <th class="numeric last" scope="col">Actual</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Vehicle volumes</th>
          <td class="numeric">103,672,000</td>
          <td class="numeric last">97,424,000</td>
        </tr>
        <tr>
          <th scope="row">Driver volumes</th>
          <td class="numeric">16,891,000</td>
          <td class="numeric last">15,197,000</td>
        </tr>
        <tr>
          <th scope="row">Electronic take-up target</th>
          <td class="numeric">54&#37;</td>
          <td class="numeric last">-</td>
        </tr>
        <tr>
          <th scope="row">Electronic take-up (actual)</th>
          <td class="numeric">-</td>
          <td class="numeric last">50.3&#37;</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;table&gt;
      &lt;caption class=&quot;visuallyhidden&quot;&gt;Business plan execution results&lt;/caption&gt;
      &lt;thead&gt;
        &lt;tr&gt;
          &lt;th&gt;&lt;/th&gt;
          &lt;th class=&quot;numeric&quot; scope=&quot;col&quot;&gt;Business Plan&lt;/th&gt;
          &lt;th class=&quot;numeric last&quot; scope=&quot;col&quot;&gt;Actual&lt;/th&gt;
        &lt;/tr&gt;
      &lt;/thead&gt;
      &lt;tbody&gt;
        &lt;tr&gt;
          &lt;th scope=&quot;row&quot;&gt;Vehicle volumes&lt;/th&gt;
          &lt;td class=&quot;numeric&quot;&gt;103,672,000&lt;/td&gt;
          &lt;td class=&quot;numeric last&quot;&gt;97,424,000&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
          &lt;th scope=&quot;row&quot;&gt;Driver volumes&lt;/th&gt;
          &lt;td class=&quot;numeric&quot;&gt;16,891,000&lt;/td&gt;
          &lt;td class=&quot;numeric last&quot;&gt;15,197,000&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
          &lt;th scope=&quot;row&quot;&gt;Electronic take-up target&lt;/th&gt;
          &lt;td class=&quot;numeric&quot;&gt;54&amp;#37;&lt;/td&gt;
          &lt;td class=&quot;numeric last&quot;&gt;-&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
          &lt;th scope=&quot;row&quot;&gt;Electronic take-up (actual)&lt;/th&gt;
          &lt;td class=&quot;numeric&quot;&gt;-&lt;/td&gt;
          &lt;td class=&quot;numeric last&quot;&gt;50.3&amp;#37;&lt;/td&gt;
        &lt;/tr&gt;
      &lt;/tbody&gt;
    &lt;/table&gt;
  </code></pre>
  
  
  <!-- land features -->
  <h3 class="heading-medium">Land features</h3>
  
  
  <div class="example">
  
    <table class="table-land-features">
      <caption class="visuallyhidden">Land uses and features information</caption>
      <thead>
        <tr>
          <th scope="col">Land uses and features</th>
          <th class="numeric" scope="col">Area (<abbr title="hectare">ha</abbr>)</th>
          <th class="action last"></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Total area:</th>
          <td class="numeric"><span class="bold-medium">5.6</span></td>
          <td class="action last"></td>
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <th scope="row"><a href="/">Hedge</a> <span class="text-warning">More details required</span></th>
          <td class="numeric">0.56</td>
          <td class="action last"><a href="/">Remove</a></td>
        </tr>
        <tr>
          <th scope="row"><a href="/">Buffer strip</a></th>
          <td class="numeric">0.67</td>
          <td class="action last"><a href="/">Remove</a></td>
        </tr>
      </tbody>
    </table>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;table class=&quot;table-land-features&quot;&gt;
      &lt;caption class=&quot;visuallyhidden&quot;&gt;Land uses and features information&lt;/caption&gt;
      &lt;thead&gt;
        &lt;tr&gt;
          &lt;th scope=&quot;col&quot;&gt;Land uses and features&lt;/th&gt;
          &lt;th class=&quot;numeric&quot; scope=&quot;col&quot;&gt;Area (&lt;abbr title=&quot;hectare&quot;&gt;ha&lt;/abbr&gt;)&lt;/th&gt;
          &lt;th class=&quot;action last&quot;&gt;&lt;/th&gt;
        &lt;/tr&gt;
      &lt;/thead&gt;
      &lt;tfoot&gt;
        &lt;tr&gt;
          &lt;th&gt;Total area:&lt;/th&gt;
          &lt;td class=&quot;numeric&quot;&gt;&lt;span class=&quot;bold-medium&quot;&gt;5.6&lt;/span&gt;&lt;/td&gt;
          &lt;td class=&quot;action last&quot;&gt;&lt;/td&gt;
        &lt;/tr&gt;
      &lt;/tfoot&gt;
      &lt;tbody&gt;
        &lt;tr&gt;
          &lt;th scope=&quot;row&quot;&gt;&lt;a href=&quot;/&quot;&gt;Hedge&lt;/a&gt; &lt;span class=&quot;text-warning&quot;&gt;More details required&lt;/span&gt;&lt;/th&gt;
          &lt;td class=&quot;numeric&quot;&gt;0.56&lt;/td&gt;
          &lt;td class=&quot;action last&quot;&gt;&lt;a href=&quot;/&quot;&gt;Remove&lt;/a&gt;&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
          &lt;th scope=&quot;row&quot;&gt;&lt;a href=&quot;/&quot;&gt;Buffer strip&lt;/a&gt;&lt;/th&gt;
          &lt;td class=&quot;numeric&quot;&gt;0.67&lt;/td&gt;
          &lt;td class=&quot;action last&quot;&gt;&lt;a href=&quot;/&quot;&gt;Remove&lt;/a&gt;&lt;/td&gt;
        &lt;/tr&gt;
      &lt;/tbody&gt;
    &lt;/table&gt;
  </code></pre>
  
  
  <!-- land parcels -->
  <h3 class="heading-medium">Land parcels</h3>
  
  
  <div class="example">
  
    <table class="table-land-parcels">
      <caption class="visuallyhidden">Land parcels</caption>
      <thead>
        <tr>
          <th scope="col">Land parcel name</th>
          <th class="numeric" scope="col"><abbr title="Single Business Identifier">SBI</abbr></th>
          <th class="numeric" scope="col">Area (<abbr title="hectare">ha</abbr>)</th>
          <th class="checked last" scope="col">Checked</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><a href="#">Arable land</a></th>
          <td class="numeric"><span class="sbi">SJ8063_3931</span></td>
          <td class="numeric">5.76</td>
          <td class="checked last"><span class="tag tag-done">Yes</span></td>
        </tr>
        <tr>
          <th scope="row"><a href="#">East field</a></th>
          <td class="numeric"><span class="sbi">SJ8063_4541</span></td>
          <td class="numeric">0.49</td>
          <td class="checked last"><span class="tag">No</span></td>
        </tr>
      </tbody>
    </table>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;table class=&quot;table-land-parcels&quot;&gt;
      &lt;caption class=&quot;visuallyhidden&quot;&gt;Land parcels&lt;/caption&gt;
      &lt;thead&gt;
        &lt;tr&gt;
          &lt;th scope=&quot;col&quot;&gt;Land parcel name&lt;/th&gt;
          &lt;th class=&quot;numeric&quot; scope=&quot;col&quot;&gt;&lt;abbr title=&quot;Single Business Identifier&quot;&gt;SBI&lt;/abbr&gt;&lt;/th&gt;
          &lt;th class=&quot;numeric&quot; scope=&quot;col&quot;&gt;Area (&lt;abbr title=&quot;hectare&quot;&gt;ha&lt;/abbr&gt;)&lt;/th&gt;
          &lt;th class=&quot;checked last&quot; scope=&quot;col&quot;&gt;Checked&lt;/th&gt;
        &lt;/tr&gt;
      &lt;/thead&gt;
      &lt;tbody&gt;
        &lt;tr&gt;
          &lt;th scope=&quot;row&quot;&gt;&lt;a href=&quot;#&quot;&gt;Arable land&lt;/a&gt;&lt;/th&gt;
          &lt;td class=&quot;numeric&quot;&gt;&lt;span class=&quot;sbi&quot;&gt;SJ8063_3931&lt;/span&gt;&lt;/td&gt;
          &lt;td class=&quot;numeric&quot;&gt;5.76&lt;/td&gt;
          &lt;td class=&quot;checked last&quot;&gt;&lt;span class=&quot;tag tag-done&quot;&gt;Yes&lt;/span&gt;&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
          &lt;th scope=&quot;row&quot;&gt;&lt;a href=&quot;#&quot;&gt;East field&lt;/a&gt;&lt;/th&gt;
          &lt;td class=&quot;numeric&quot;&gt;&lt;span class=&quot;sbi&quot;&gt;SJ8063_4541&lt;/span&gt;&lt;/td&gt;
          &lt;td class=&quot;numeric&quot;&gt;0.49&lt;/td&gt;
          &lt;td class=&quot;checked last&quot;&gt;&lt;span class=&quot;tag&quot;&gt;No&lt;/span&gt;&lt;/td&gt;
        &lt;/tr&gt;
      &lt;/tbody&gt;
    &lt;/table&gt;
  </code></pre>
  
  
  <!-- screen reader optimised -->
  <h3 class="heading-medium">Screen reader optimised</h3>
  
  
  <div class="example">
  
    <table>
      
      <caption class="visuallyhidden">Busness details listing</caption>
      
      <thead>
        <tr>
          <th scope="col">Business</th>
          <th class="action" scope="col">Permissions</th>
          <th class="action last" scope="col">View or check</th>
        </tr>
      </thead>
      
      <tbody>
        <tr>
          <th scope="row">Hansels Farm <br> <span class="sbi">SJ8063_4774</span></th>
          <td class="action"><a href="/">View or give permissions <span class="visuallyhidden">to Hansels Farm</span></a></td>
          <td class="action last"><a href="/">View business <span class="visuallyhidden">Hansels Farm</span></a></td>
        </tr>
      </tbody>
      
    </table>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;table&gt;
      &lt;caption class=&quot;visuallyhidden&quot;&gt;Busness details listing&lt;/caption&gt;
      &lt;thead&gt;
        &lt;tr&gt;
          &lt;th scope=&quot;col&quot;&gt;Business&lt;/th&gt;
          &lt;th class=&quot;action&quot; scope=&quot;col&quot;&gt;Permissions&lt;/th&gt;
          &lt;th class=&quot;action last&quot; scope=&quot;col&quot;&gt;View or check&lt;/th&gt;
        &lt;/tr&gt;
      &lt;/thead&gt;
      &lt;tbody&gt;
        &lt;tr&gt;
          &lt;th scope=&quot;row&quot;&gt;Hansels Farm &lt;br&gt; &lt;span class=&quot;sbi&quot;&gt;SJ8063_4774&lt;/span&gt;&lt;/th&gt;
          &lt;td class=&quot;action&quot;&gt;&lt;a href=&quot;/&quot;&gt;View &lt;span class=&quot;visuallyhidden&quot;&gt;Hansels Farm&lt;/span&gt;&lt;/a&gt;&lt;/td&gt;
          &lt;td class=&quot;action last&quot;&gt;&lt;a href=&quot;/&quot;&gt;View &lt;span class=&quot;visuallyhidden&quot;&gt;Hansels Farm&lt;/span&gt;&lt;/a&gt;&lt;/td&gt;
        &lt;/tr&gt;
      &lt;/tbody&gt;
    &lt;/table&gt;
  </code></pre>
  
  
  <!-- search results with pagination -->
  <h3 class="heading-medium">Search results with pagination</h3>
  
  
  <div class="example">
    
    <table class="table-business-search">
      <caption class="visuallyhidden">Customer and Business search listing</caption>
      <thead>
        <tr>
          <th scope="col">Business</th>
          <th scope="col">Address</th>
          <th class="numeric" scope="col"><abbr title="Single Business Identifier">SBI</abbr></th>
          <th class="action last" scope="col"><span class="visuallyhidden">View</span></th>
        </tr>
      </thead>
      <tbody>
        <tr itemtype="http://schema.org/Organization" itemscope>
          <th scope="row" itemprop="name">Appletree</th>
          <td itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope>
            <div itemprop="streetAddress">8 Mckenzie Springs</div>
            <div itemprop="addressLocality">Menai Street</div>
            <div itemprop="addressRegion">Hatfield</div>
            <div itemprop="postalCode">RH8 6LA</div>
            <div itemprop="addressCountry">United Kingdom</div>
          </td>
          <td class="numeric"><span class="sbi">SJ8063_4461</span></td>
          <td class="action last"><a href="/">View business <span class="visuallyhidden">Appletree</span></a></td>
        </tr>
      </tbody>
    </table>
    
    <div class="pager">
    
      <div class="pager-controls">
      
        <ul class="pager-items">
          <li>1</li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
        </ul>
        
        <a class="pager-next" href="#">Next</a>
      
      </div>
      
      <div class="pager-summary">Showing 1 &ndash; 50 of 146 results</div>
    
    </div>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;table class=&quot;table-business-search&quot;&gt;
      &lt;caption class=&quot;visuallyhidden&quot;&gt;Customer and Business search listing&lt;/caption&gt;
      &lt;thead&gt;
        &lt;tr&gt;
          &lt;th scope=&quot;col&quot;&gt;Business&lt;/th&gt;
          &lt;th scope=&quot;col&quot;&gt;Address&lt;/th&gt;
          &lt;th class=&quot;numeric&quot; scope=&quot;col&quot;&gt;&lt;abbr title=&quot;Single Business Identifier&quot;&gt;SBI&lt;/abbr&gt;&lt;/th&gt;
          &lt;th class=&quot;action last&quot; scope=&quot;col&quot;&gt;&lt;span class=&quot;visuallyhidden&quot;&gt;View&lt;/span&gt;&lt;/th&gt;
        &lt;/tr&gt;
      &lt;/thead&gt;
      &lt;tbody&gt;
        &lt;tr itemtype=&quot;http://schema.org/Organization&quot; itemscope&gt;
          &lt;th scope=&quot;row&quot; itemprop=&quot;name&quot;&gt;Appletree&lt;/th&gt;
          &lt;td itemprop=&quot;address&quot; itemtype=&quot;http://schema.org/PostalAddress&quot; itemscope&gt;
            &lt;div itemprop=&quot;streetAddress&quot;&gt;8 Mckenzie Springs&lt;/div&gt;
            &lt;div itemprop=&quot;addressLocality&quot;&gt;Menai Street&lt;/div&gt;
            &lt;div itemprop=&quot;addressRegion&quot;&gt;Hatfield&lt;/div&gt;
            &lt;div itemprop=&quot;postalCode&quot;&gt;RH8 6LA&lt;/div&gt;
            &lt;div itemprop=&quot;addressCountry&quot;&gt;United Kingdom&lt;/div&gt;
          &lt;/td&gt;
          &lt;td class=&quot;numeric&quot;&gt;&lt;span class=&quot;sbi&quot;&gt;SJ8063_4461&lt;/span&gt;&lt;/td&gt;
          &lt;td class=&quot;action last&quot;&gt;&lt;a href=&quot;/&quot;&gt;View &lt;span class=&quot;visuallyhidden&quot;&gt;Appletree&lt;/span&gt;&lt;/a&gt;&lt;/td&gt;
        &lt;/tr&gt;
      &lt;/tbody&gt;
    &lt;/table&gt;
    
    &lt;div class=&quot;pager&quot;&gt;
      &lt;div class=&quot;pager-controls&quot;&gt;
        &lt;ul class=&quot;pager-items&quot;&gt;
          &lt;li&gt;1&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;2&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;3&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;4&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;5&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
        &lt;a class=&quot;pager-next&quot; href=&quot;#&quot;&gt;Next&lt;/a&gt;
      &lt;/div&gt;
      &lt;div class=&quot;pager-summary&quot;&gt;Showing 1 &amp;ndash; 50 of 146 results&lt;/div&gt;
    &lt;/div&gt;
  </code></pre>
  
  
  <!-- form elements -->
  <h3 class="heading-medium">Form elements</h3>
  
  
  <div class="example">
  
    <form class="form-table" method="post" action="/">
      <table>
        <caption class="visuallyhidden">Business plan execution results</caption>
        <thead>
          <tr>
            <th scope="col">Parcel</th>
            <th scope="col">Reference</th>
            <th scope="col">Total area (<abbr title="hectare">ha</abbr>)</th>
            <th scope="col">Eligible area (<abbr title="hectare">ha</abbr>)</th>
            <th scope="col">Land cover</th>
            <th scope="col">Land use area (<abbr title="hectare">ha</abbr>)</th>
            <th scope="col">Land use</th>
            <th class="numeric last" scope="col">Area to claim (<abbr title="hectare">ha</abbr>)</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th scope="col" colspan="7">Total:</th>
            <td class="numeric last"><span class="bold-medium">10.20</span></td>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <th scope="row">Field E</th>
            <td>NZ1234</td>
            <td>10.50</td>
            <td>10.50</td>
            <td>Arable</td>
            <td>5.40</td>
            <td>Wheat</td>
            <td class="numeric last">
              <label class="visuallyhidden" for="land-area-1">Land Area</label>
              <input class="form-control" type="text" id="land-area-1" size="5" value="5.20">
            </td>
          </tr>
          <tr>
            <th scope="row">Field F</th>
            <td>NZ1234</td>
            <td>10.50</td>
            <td>10.50</td>
            <td>Arable</td>
            <td>5.40</td>
            <td>Wheat</td>
            <td class="numeric last">
              <label class="visuallyhidden" for="land-area-2">Land Area</label>
              <input class="form-control" type="text" id="land-area-2" size="5" value="5.00">
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;form class=&quot;form-table&quot; method=&quot;post&quot; action=&quot;/&quot;&gt;
      &lt;table&gt;
        &lt;caption class=&quot;visuallyhidden&quot;&gt;Business plan execution results&lt;/caption&gt;
        &lt;thead&gt;
          &lt;tr&gt;
            &lt;th scope=&quot;col&quot;&gt;Parcel&lt;/th&gt;
            &lt;th scope=&quot;col&quot;&gt;Reference&lt;/th&gt;
            &lt;th scope=&quot;col&quot;&gt;Total area (&lt;abbr title=&quot;hectare&quot;&gt;ha&lt;/abbr&gt;)&lt;/th&gt;
            &lt;th scope=&quot;col&quot;&gt;Eligible area (&lt;abbr title=&quot;hectare&quot;&gt;ha&lt;/abbr&gt;)&lt;/th&gt;
            &lt;th scope=&quot;col&quot;&gt;Land cover&lt;/th&gt;
            &lt;th scope=&quot;col&quot;&gt;Land use area (&lt;abbr title=&quot;hectare&quot;&gt;ha&lt;/abbr&gt;)&lt;/th&gt;
            &lt;th scope=&quot;col&quot;&gt;Land use&lt;/th&gt;
            &lt;th class=&quot;numeric last&quot; scope=&quot;col&quot;&gt;Area to claim (&lt;abbr title=&quot;hectare&quot;&gt;ha&lt;/abbr&gt;)&lt;/th&gt;
          &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tfoot&gt;
          &lt;tr&gt;
            &lt;th scope=&quot;col&quot; colspan=&quot;7&quot;&gt;Total:&lt;/th&gt;
            &lt;td class=&quot;numeric last&quot;&gt;&lt;span class=&quot;bold-medium&quot;&gt;10.20&lt;/span&gt;&lt;/td&gt;
          &lt;/tr&gt;
        &lt;/tfoot&gt;
        &lt;tbody&gt;
          &lt;tr&gt;
            &lt;th scope=&quot;row&quot;&gt;Field E&lt;/th&gt;
            &lt;td&gt;NZ1234&lt;/td&gt;
            &lt;td&gt;10.50&lt;/td&gt;
            &lt;td&gt;10.50&lt;/td&gt;
            &lt;td&gt;Arable&lt;/td&gt;
            &lt;td&gt;5.40&lt;/td&gt;
            &lt;td&gt;Wheat&lt;/td&gt;
            &lt;td class=&quot;numeric last&quot;&gt;
              &lt;label class=&quot;visuallyhidden&quot; for=&quot;land-area-1&quot;&gt;Land Area&lt;/label&gt;
              &lt;input class=&quot;form-control&quot; type=&quot;text&quot; id=&quot;land-area-1&quot; size=&quot;5&quot; value=&quot;5.20&quot;&gt;
            &lt;/td&gt;
          &lt;/tr&gt;
          &lt;tr&gt;
            &lt;th scope=&quot;row&quot;&gt;Field F&lt;/th&gt;
            &lt;td&gt;NZ1234&lt;/td&gt;
            &lt;td&gt;10.50&lt;/td&gt;
            &lt;td&gt;10.50&lt;/td&gt;
            &lt;td&gt;Arable&lt;/td&gt;
            &lt;td&gt;5.40&lt;/td&gt;
            &lt;td&gt;Wheat&lt;/td&gt;
            &lt;td class=&quot;numeric last&quot;&gt;
              &lt;label class=&quot;visuallyhidden&quot; for=&quot;land-area-2&quot;&gt;Land Area&lt;/label&gt;
              &lt;input class=&quot;form-control&quot; type=&quot;text&quot; id=&quot;land-area-2&quot; size=&quot;5&quot; value=&quot;5.00&quot;&gt;
            &lt;/td&gt;
          &lt;/tr&gt;
        &lt;/tbody&gt;
      &lt;/table&gt;
    &lt;/form&gt;
  </code></pre>
  
  
  <!-- form table with checkboxes -->
  <h2 class="heading-medium">Form table with checkboxes</h2>
  
  
  <div class="example">
  
    <form class="form-table" method="post" action="/">
      <table>
        <caption class="visuallyhidden">Name of agents listing</caption>
          <thead>
            <tr>
              <th scope="col">Name of the agents</th>
            </tr>
          </thead>
        <tbody>
          <tr>
            <th scope="row">
              <label><input type="checkbox"> Clarinda Bainbridge</label>
            </th>
          </tr>
          <tr>
            <th scope="row">
              <label><input type="checkbox"> Patrick Fensome</label>
            </th>
          </tr>
        </tbody>
      </table>
    </form>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;form class=&quot;form-table&quot; method=&quot;post&quot; action=&quot;/&quot;&gt;
      &lt;table&gt;
        &lt;caption class=&quot;visuallyhidden&quot;&gt;Name of agents listing&lt;/caption&gt;
        &lt;thead&gt;
          &lt;tr&gt;
            &lt;th scope=&quot;col&quot;&gt;Name of the agents&lt;/th&gt;
          &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
          &lt;tr&gt;
            &lt;th scope=&quot;row&quot;&gt;
              &lt;label&gt;&lt;input type=&quot;checkbox&quot;&gt; Clarinda Bainbridge&lt;/label&gt;
            &lt;/th&gt;
          &lt;/tr&gt;
          &lt;tr&gt;
            &lt;th scope=&quot;row&quot;&gt;
              &lt;label&gt;&lt;input type=&quot;checkbox&quot;&gt; Patrick Fensome&lt;/label&gt;
            &lt;/th&gt;
          &lt;/tr&gt;
        &lt;/tbody&gt;
      &lt;/table&gt;
    &lt;/form&gt;
  </code></pre>
  
  
  <!-- reset passwords -->
  <h3 class="heading-medium">Reset password</h3>
  
  
  <div class="example">
  
    <table>
      <caption class="visuallyhidden">Reset user passwords</caption>
      <thead>
        <tr>
          <th scope="col" colspan="2">User name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Connor Auditor <br> <span class="email">auditor@kainos.com</span></th>
          <td class="action last"><a href="/">Reset password</a></td>
        </tr>
        <tr>
          <th scope="row">Connor Basic <br> <span class="email">basic@kainos.com</span></th>
          <td class="action last"><a href="/">Reset password</a></td>
        </tr>
      </tbody>
    </table>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;table&gt;
      &lt;caption class=&quot;visuallyhidden&quot;&gt;Reset user passwords&lt;/caption&gt;
      &lt;thead&gt;
        &lt;tr&gt;
        &lt;th scope=&quot;col&quot; colspan=&quot;2&quot;&gt;User name&lt;/th&gt;
        &lt;/tr&gt;
      &lt;/thead&gt;
      &lt;tbody&gt;
        &lt;tr&gt;
          &lt;th scope=&quot;row&quot;&gt;Connor Auditor &lt;br&gt; &lt;span class=&quot;email&quot;&gt;auditor@kainos.com&lt;/span&gt;&lt;/th&gt;
          &lt;td class=&quot;action last&quot;&gt;&lt;a href=&quot;/&quot;&gt;Reset password&lt;/a&gt;&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
          &lt;th scope=&quot;row&quot;&gt;Connor Basic &lt;br&gt; &lt;span class=&quot;email&quot;&gt;basic@kainos.com&lt;/span&gt;&lt;/th&gt;
          &lt;td class=&quot;action last&quot;&gt;&lt;a href=&quot;/&quot;&gt;Reset password&lt;/a&gt;&lt;/td&gt;
        &lt;/tr&gt;
      &lt;/tbody&gt;
    &lt;/table&gt;
  </code></pre>
  
  
  <p><a href="#tables">Back to the top</a></p>


</div>