<div id="validation">


  <h2 class="heading-large">Validation</h2>
  
  
  <div class="example">
  
    <div class="error-summary" tabindex="-1" aria-labelledby="error-summary-heading" role="group">

      <h1 class="heading-medium error-summary-heading" id="error-summary-heading">Message to alert the user to a problem goes here</h1>

      <p>Optional description of the error(s) and how to correct them</p>

      <ul class="error-summary-list">
        <li><a href="#error-full-name">Descriptive link to the question with an error</a></li>
        <li><a href="#error-ni-number">Descriptive link to the question with an error</a></li>
      </ul>

    </div>

    <h1 class="heading-large">Your personal details</h1>

    <div class="form-group error">

      <label for="full-name" id="error-full-name">
        <span class="form-label-bold">Full name</span>
        <span class="form-hint">As shown on your birth certificate or passport</span>
        <span class="error-message" id="error-message-full-name">Error message about full name goes here</span>
      </label>

      <input class="form-control" id="full-name" type="text" aria-describedby="error-message-full-name">
      
    </div>

    <div class="form-group error">

      <label for="ni-number" id="error-ni-number">
        <span class="form-label-bold">National Insurance number</span>
        <span class="form-hint">It's on your National Insurance card, benefit letter, payslip or P60.</span>
        <span class="error-message" id="error-message-ni-number">Error message about National Insurance number goes here</span>
      </label>

      <input class="form-control" id="ni-number" type="text" aria-describedby="error-message-ni-number">

    </div>

    <input class="button" type="submit" value="Continue">
  
  </div>
  
  
  <pre><code class="prettyprint">
    
    &lt;div class=&quot;error-summary&quot; tabindex=&quot;-1&quot; aria-labelledby=&quot;error-summary-heading&quot; role=&quot;group&quot;&gt;

      &lt;h1 class=&quot;heading-medium error-summary-heading&quot; id=&quot;error-summary-heading&quot;&gt;
        Message to alert the user to a problem goes here
      &lt;/h1&gt;

      &lt;p&gt;Optional description of the error(s) and how to correct them&lt;/p&gt;

      &lt;ul class=&quot;error-summary-list&quot;&gt;
        &lt;li&gt;&lt;a href=&quot;#error-full-name&quot;&gt;Descriptive link to the question with an error&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#error-ni-number&quot;&gt;Descriptive link to the question with an error&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;

    &lt;/div&gt;

    &lt;h1 class=&quot;heading-large&quot;&gt;Your personal details&lt;/h1&gt;

    &lt;div class=&quot;form-group error&quot;&gt;
      
      &lt;label for=&quot;full-name&quot; id=&quot;error-full-name&quot;&gt;
        &lt;span class=&quot;form-label-bold&quot;&gt;Full name&lt;/span&gt;
        &lt;span class=&quot;form-hint&quot;&gt;Form hint goes here&lt;/span&gt;
        &lt;span class=&quot;error-message&quot; id=&quot;error-message-full-name&quot;&gt;Error message goes here&lt;/span&gt;
      &lt;/label&gt;
      
      &lt;input class=&quot;form-control&quot; id=&quot;full-name&quot; type=&quot;text&quot; aria-describedby=&quot;error-message-full-name&quot;&gt;
      
    &lt;/div&gt;

    &lt;div class=&quot;form-group error&quot;&gt;
      
      &lt;label for=&quot;ni-number&quot; id=&quot;error-ni-number&quot;&gt;
        &lt;span class=&quot;form-label-bold&quot;&gt;National Insurance number&lt;/span&gt;
        &lt;span class=&quot;form-hint&quot;&gt;Form hint goes here&lt;/span&gt;
        &lt;span class=&quot;error-message&quot; id=&quot;error-message-ni-number&quot;&gt;Error message goes here&lt;/span&gt;
      &lt;/label&gt;
      
      &lt;input class=&quot;form-control&quot; id=&quot;ni-number&quot; type=&quot;text&quot; aria-describedby=&quot;error-message-ni-number&quot;&gt;
      
    &lt;/div&gt;

    &lt;input class=&quot;button&quot; type=&quot;submit&quot; value=&quot;Continue&quot;&gt;
    
  </code></pre>
  
  
  <p><a href="#content">Back to the top</a></p>


</div>