		<a class="back-link" href="/">Back to the index</a>


		<h1 class="heading-xlarge">Pagination</h1>


		<div class="text">

		  <p class="lede">Below you will find pagination controls. The example below does not represent a realistic item count and is solely for illustration purposes.</p>

		  <div class="alert-info" role="alert">

				<div class="alert-message">

					<p>Pagination should only be used when a large amount of records are shown. If the record count is less than '50' then don't show pagination at all.</p>

				</div>

			</div>

		</div>


		<h2 class="heading-medium">First item</h2>

    <form class="form-table" method="post" action="/">

  		<table>

        <caption class="visuallyhidden">Name of agents listing</caption>

  			<thead>

  				<tr>
  					<th scope="col">Name of the agents</th>
  				</tr>

  			</thead>

  			<tbody>

  				<tr>
  					<th scope="row" data-title="Name of the agents">
    					 <label>
    					  <input type="checkbox"> Clarinda Bainbridge
    					 </label>
    				</th>
  				</tr>

  				<tr>
  					<th scope="row" data-title="Name of the agents">
    					 <label>
    					  <input type="checkbox"> Patrick Fensome
    					 </label>
    				</th>
  				</tr>

  				<tr>
  					<th scope="row" data-title="Name of the agents">
    					 <label>
    					  <input type="checkbox"> Frances Allen
    					 </label>
    				</th>
  				</tr>

  				<tr>
  					<th scope="row" data-title="Name of the agents">
    					 <label>
    					  <input type="checkbox"> Pete Hansen
    					 </label>
    				</th>
  				</tr>

  			</tbody>

  		</table>

    </form>


		<div class="pager">

      <div class="pager-controls">

        <div class="pager-items">
          <span>1</span>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
        </div>

        <a class="pager-next" href="#">Next</a>

      </div>

      <div class="pager-summary">Showing 1 &ndash; 50 of 146 agents</div>

		</div>



		<h2 class="heading-medium">Middle items</h2>

    <form class="form-table" method="post" action="/">

  		<table>

        <caption class="visuallyhidden">Name of agents listing</caption>

  			<thead>

  				<tr>
  					<th scope="col">Name of the agents</th>
  				</tr>

  			</thead>

  			<tbody>

  				<tr>
  					<th scope="row" data-title="Name of the agents">
    					 <label>
    					  <input type="checkbox"> Tamara Adkins
    					 </label>
    				</th>
  				</tr>

  				<tr>
  					<th scope="row" data-title="Name of the agents">
    					 <label>
    					  <input type="checkbox"> Kent Douglas
    					 </label>
    				</th>
  				</tr>

  				<tr>
  					<th scope="row" data-title="Name of the agents">
    					 <label>
    					  <input type="checkbox"> Gina Warner
    					 </label>
    				</th>
  				</tr>

  				<tr>
  					<th scope="row" data-title="Name of the agents">
    					 <label>
    					  <input type="checkbox"> Jeannie Olson
    					 </label>
    				</th>
  				</tr>

  			</tbody>

  		</table>

    </form>


		<div class="pager">

      <div class="pager-controls">

        <a class="pager-prev" href="#">Prev</a>

        <div class="pager-items">
          <a href="#">71</a>
          <a href="#">72</a>
          <span>73</span>
          <a href="#">74</a>
          <a href="#">75</a>
        </div>

        <a class="pager-next" href="#">Next</a>

      </div>

      <div class="pager-summary">Showing 25 &ndash; 50 of 146 agents</div>

		</div>



		<h2 class="heading-medium">Last item</h2>

    <form class="form-table" method="post" action="/">

  		<table>

        <caption class="visuallyhidden">Name of agents listing</caption>

  			<thead>

  				<tr>
  					<th scope="col">Name of the agents</th>
  				</tr>

  			</thead>

  			<tbody>

  				<tr>
  					<th scope="row" data-title="Name of the agents">
    					 <label>
    					  <input type="checkbox"> Joe Curry
    					 </label>
    				</th>
  				</tr>

  				<tr>
  					<th scope="row" data-title="Name of the agents">
    					 <label>
    					  <input type="checkbox"> Anna Simmons
    					 </label>
    				</th>
  				</tr>

  				<tr>
  					<th scope="row" data-title="Name of the agents">
    					 <label>
    					  <input type="checkbox">  Jeremy Curtis
    					 </label>
    				</th>
  				</tr>

  				<tr>
  					<th scope="row" data-title="Name of the agents">
    					 <label>
    					  <input type="checkbox"> Florence Sims
    					 </label>
    				</th>
  				</tr>

  			</tbody>

  		</table>

    </form>


		<div class="pager">

      <div class="pager-controls">

        <a class="pager-prev" href="#">Prev</a>

        <div class="pager-items">
          <a href="#">142</a>
          <a href="#">143</a>
          <a href="#">144</a>
          <a href="#">145</a>
          <span>146</span>
        </div>

      </div>

      <div class="pager-summary">Showing 50 &ndash; 50 of 146 agents</div>

		</div>


