	<a class="back-link" href="/">Back to the index</a>


	<h1 class="heading-xlarge">Pagination</h1>
	
	
	<!-- introduction -->
	<div class="text">
		
		<p>Pagination should only be used when a large amount of records are shown. If the record count is less than '50' then don't show pagination at all.</p>
		
		<h2 class="heading-medium">Looking for the HTML?</h2>
    
    <p>The HTML snippets can be found in the <a href="/elements/snippets/#pagination">snippets page</a>.</p>
		
	</div>


  <!-- first item -->
	<h2 class="heading-medium">First item</h2>


	<div class="example">
		
		<div class="pager">

      <div class="pager-controls">

        <ul class="pager-items">
          <li>1</li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
        </ul>

        <a class="pager-next" href="#">Next</a>

      </div>

      <div class="pager-summary">Showing 1 &ndash; 50 of 146 agents</div>

	 </div>
 
	</div>


  <!-- middle item -->
	<h2 class="heading-medium">Middle items</h2>


  <div class="example">

		<div class="pager">

      <div class="pager-controls">

        <a class="pager-prev" href="#">Prev</a>

        <ul class="pager-items">
          <li><a href="#">71</a></li>
          <li><a href="#">72</a></li>
          <li>73</li>
          <li><a href="#">74</a></li>
          <li><a href="#">75</a></li>
        </ul>

        <a class="pager-next" href="#">Next</a>

      </div>

      <div class="pager-summary">Showing 25 &ndash; 50 of 146 agents</div>

		</div>
	
  </div>


  <!-- last item -->
	<h2 class="heading-medium">Last item</h2>


  <div class="example">

		<div class="pager">

      <div class="pager-controls">

        <a class="pager-prev" href="#">Prev</a>

        <ul class="pager-items">
          <li><a href="#">142</a></li>
          <li><a href="#">143</a></li>
          <li><a href="#">144</a></li>
          <li><a href="#">145</a></li>
          <li>146</li>
        </ul>

      </div>

      <div class="pager-summary">Showing 50 &ndash; 50 of 146 agents</div>

		</div>
	
  </div>


  <p><a href="#content">Back to the top</a></p>