  {{>breadcrumb}}
  
  
  <h1 class="heading-xlarge"><span class="heading-secondary">{{title}}</span> {{page_name}}</h1>
  
  
  <div class="text">
    <p class="lede">Pagination should only be used when a large amount of records are shown. If the record count is less than '50' then don't show pagination at all.</p>
  </div>


	<h3 class="heading-medium">First item</h3>

	<div class="example">
		
		<div class="pager">

      <div class="pager-controls">

        <ul class="pager-items">
          <li>1</li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
        </ul>

        <a class="pager-next" href="#">Next</a>

      </div>

      <div class="pager-summary">Showing 1 &ndash; 50 of 146 agents</div>

	 </div>
 
	</div>
	<pre><code class="prettyprint">
  &lt;div class=&quot;pager&quot;&gt;
    
    &lt;div class=&quot;pager-controls&quot;&gt;
      
      &lt;ul class=&quot;pager-items&quot;&gt;
        &lt;li&gt;1&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;2&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;3&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;4&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;5&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
      
      &lt;a class=&quot;pager-next&quot; href=&quot;#&quot;&gt;Next&lt;/a&gt;
      
    &lt;/div&gt;
    
    &lt;div class=&quot;pager-summary&quot;&gt;Showing 1 &amp;ndash; 50 of 146 agents&lt;/div&gt;
    
  &lt;/div&gt;
  </code></pre>


	<h3 class="heading-medium">Middle items</h3>

  <div class="example">

		<div class="pager">

      <div class="pager-controls">

        <a class="pager-prev" href="#">Prev</a>

        <ul class="pager-items">
          <li><a href="#">71</a></li>
          <li><a href="#">72</a></li>
          <li>73</li>
          <li><a href="#">74</a></li>
          <li><a href="#">75</a></li>
        </ul>

        <a class="pager-next" href="#">Next</a>

      </div>

      <div class="pager-summary">Showing 25 &ndash; 50 of 146 agents</div>

		</div>
	
  </div>
  <pre><code class="prettyprint">
  &lt;div class=&quot;pager&quot;&gt;
  
    &lt;div class=&quot;pager-controls&quot;&gt;
    
      &lt;a class=&quot;pager-prev&quot; href=&quot;#&quot;&gt;Prev&lt;/a&gt;
      
      &lt;ul class=&quot;pager-items&quot;&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;71&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;72&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;73&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;74&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;75&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
      
      &lt;a class=&quot;pager-next&quot; href=&quot;#&quot;&gt;Next&lt;/a&gt;
    
    &lt;/div&gt;
    
    &lt;div class=&quot;pager-summary&quot;&gt;Showing 25 &amp;ndash; 50 of 146 agents&lt;/div&gt;
  
  &lt;/div&gt;
  </code></pre>


	<h3 class="heading-medium">Last item</h3>

  <div class="example">

		<div class="pager">

      <div class="pager-controls">

        <a class="pager-prev" href="#">Prev</a>

        <ul class="pager-items">
          <li><a href="#">142</a></li>
          <li><a href="#">143</a></li>
          <li><a href="#">144</a></li>
          <li><a href="#">145</a></li>
          <li>146</li>
        </ul>

      </div>

      <div class="pager-summary">Showing 50 &ndash; 50 of 146 agents</div>

		</div>
	
  </div>
  <pre><code class="prettyprint">
  &lt;div class=&quot;pager&quot;&gt;
  
    &lt;div class=&quot;pager-controls&quot;&gt;
    
      &lt;a class=&quot;pager-prev&quot; href=&quot;#&quot;&gt;Prev&lt;/a&gt;
      
      &lt;ul class=&quot;pager-items&quot;&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;142&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;143&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;144&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;145&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;146&lt;/li&gt;
      &lt;/ul&gt;
      
    &lt;/div&gt;
    
    &lt;div class=&quot;pager-summary&quot;&gt;Showing 50 &amp;ndash; 50 of 146 agents&lt;/div&gt;
    
  &lt;/div&gt;
  </code></pre>