    <a class="link-back" href="/sitiagri/">Back to Business overview</a>
    

    <div class="grid-row">
      
      <div class="column-two-thirds">
        
        <h1 class="heading-xlarge">Manage your applications and claims <span class="heading-secondary">Beech Farm</span></h1>
    
        <p class="lede">Phasellus semper, odio ac sagittis auctor, ex enim mattis justo, lacinia luctus odio erat a arcu.</p>
        
        <ul class="list-bullet">
          <li><a href="/sitiagri/manage-your-applications-and-claims/view/">view BPS claims from previous years</a></li>
          <li><a href="/sitiagri/manage-your-applications-and-claims/apply/">apply for BPS</a></li>
          <li><a href="/sitiagri/manage-your-applications-and-claims/update/">update BPS application</a></li>
        </ul>
        
      </div>
      
    </div>