    <a class="link-back" href="/sitiagri/common-rights/">Back to Common rights</a>
    
    
    <div class="grid-row">
      
      
      <div class="column-two-thirds">
        
        
        <h1 class="heading-xlarge">Update common rights <span class="heading-secondary">Beech Farm</span></h1>
    
    
        <p class="lede">Update any grazing rights you have for common land.</p>
        
        
      </div>
      
      
    </div>