  {{>breadcrumb}}


  <div class="grid-row">
    
    
    <div class="column-two-thirds">


      <h1 class="heading-xlarge">{{page_name}}</h1>
  
  
      <h2 class="heading-medium">Business eligibility</h2>
  
  
      <div class="checklist-notmet">
        <h3 class="heading-small">Land and entitlements</h3>
        <p>Bodmin Agr Ltd. does not have enough entitlements.</p>
        <p>If Bodmin Agr Ltd. is owned by someone under 40 years old, or is new to farming you may be able to <a href="#">claim entitlements from the national reserve</a>.</p>
        <p><a href="#">Transfer entitlements bought from another business.</a></p>
      </div>
  
  
      <div class="checklist-notmet">
        <p>You need to declare 100% of <a href="/">Bodmin Agr Ltd.'s land use</a> before you can apply.</p>
      </div>
  
  
      <div class="checklist-inprogress">
        <p><a href="#">You need to tell us about any cross compliance rules that apply to this business</a>.</p>
      </div>
  
  
      <h2 class="heading-medium">Greening</h2>
  
  
      <div class="checklist-inprogress">
        <h3 class="heading-small">Not enough land</h3>
        <p>You need to declare the land use for 80% of Bodmin Agr Ltd.'s land before we can calculate your greening requirements.</p>
        <p><a href="#">Update your land use</a>.</p>
      </div>
  
  
      <h2 class="heading-medium">Apply for the basic payment scheme</h2>
  
  
      <p>As Bodmin Agr Ltd. meets the requirements you may proceed with your application.</p>
  
  
      <p class="bold-small">You must apply for the scheme by 15 May 2015.</p>
  
  
      <p><a class="button" href="#" role="button">Apply for the basic payment scheme</a></p>
  
  
    </div>
  
  
  </div>