		<a class="link-back" href="/">Back to Rural Payments</a>


    <h1 class="heading-xlarge">Create new customer</h1>
    
    
    <div class="text">
      
      <p class="lede">Please complete all the details below to register a new customer.</p>
      
      <p>You must complete all fields, unless they're marked as (optional).</p>
      
    </div>


    <form class="form" method="get" action="/">


      <!-- personal details -->
      <fieldset> 
        
        
        <legend class="heading-medium">Personal details</legend>     


        <div class="form-group">
        
          <label for="title">
            <span class="form-label">Title (optional)</span>
          </label>
          
          <input class="form-control form-control-1-8" id="title" type="text">
          
        </div>


        <div class="form-group">
          
          <label for="first-name">
            <span class="form-label">First name</span>
          </label>
          
          <input class="form-control" id="first-name" type="text">
          
        </div>
  
  
        <div class="form-group">
          
          <label for="middle-name">
            <span class="form-label">Middle name (optional)</span>
          </label>
          
          <input class="form-control" id="middle-name" type="text">
          
        </div>


        <div class="form-group">
        
          <label for="last-name">
            <span class="form-label">Last name</span>
          </label>
          
          <input class="form-control" id="last-name" type="text">
          
        </div>


        <div class="form-group">

          <fieldset>
  
            <legend>
              <span class="form-label">Date of birth</span>
            </legend>
  
            <div class="form-date">
  
            	<div class="form-group form-group-day">
            		
            		<label for="dob-day">
            		  <span class="form-label">Day</span>
            		</label>
            		
            		<input class="form-control" id="dob-day" type="text">
            		
            	</div>
  
            	<div class="form-group form-group-month">
            		
            		<label for="dob-month">
            		  <span class="form-label">Month</span>
            		</label>
            		
            		<input class="form-control" id="dob-month" type="text">
            		
            	</div>
  
            	<div class="form-group form-group-year">
            		
            		<label for="dob-year">
            		  <span class="form-label">Year</span>
            		</label>
            		
            		<input class="form-control" id="dob-year" type="text">
            		
            	</div>
  
            </div>
  
          </fieldset>
  
        </div>
      
      
      </fieldset>
      
      
      
      <!-- address -->
      <fieldset>
        
        
        <legend class="heading-medium">Address</legend> 
        
        
        <div class="toggle">
        
        
          <p><a class="toggle-link" href="#find-postcode">Find a UK address</a></p>
          
          
          <div class="toggle-content">
            
            <div class="panel-indent">
            
              <div class="form-group-compound">
    
                <label for="postcode-search">
                  <span class="form-label">Postcode</span>
                </label>
      
                <div class="form-search">
                  <input class="form-control form-control-1-8" type="text" id="postcode-search">
                  <button class="button" type="button">Find UK address</button>
                </div>
      
              </div>
              
              <!--div class="form-group">
              
                <label class="form-label visuallyhidden" for="addresses">Addresses</label>
        
                <select class="form-control-select" for="addresses">
                  <option>Found 12 addresses</option>
                  <option value="1">1 Monument Way, Bodmin</option>
                  <option value="2">2 Monument Way, Bodmin</option>
                  <option value="3">3 Monument Way, Bodmin</option>
                  <option value="4">4 Monument Way, Bodmin</option>
                  <option value="5">5 Monument Way, Bodmin</option>
                  <option value="6">6 Monument Way, Bodmin</option>
                  <option value="7">7 Monument Way, Bodmin</option>
                  <option value="8">8 Monument Way, Bodmin</option>
                  <option value="9">9 Monument Way, Bodmin</option>
                  <option value="10">10 Monument Way, Bodmin</option>
                  <option value="11">11 Monument Way, Bodmin</option>
                  <option value="12">12 Monument Way, Bodmin</option>
                </select>
                
              </div-->
            
            </div>
            
          </div>
        
        
        </div>
        
        
        <div class="form-group-compound">
      						
					<label for="address-line-1">
					  <span class="form-label">Street</span>
					</label>
					
					<input class="form-control" id="address-line-1" type="text">
					
				</div>
				

				<div class="form-group">
					
					<label for="address-line-2">
					  <span class="form-label visuallyhidden">Street</span>
					</label>
					
					<input class="form-control" id="address-line-2" type="text">
					
				</div>
				

				<div class="form-group">
					
					<label for="address-town">
					  <span class="form-label">Town or City</span>
					</label>
					
					<input class="form-control form-control-1-4" id="address-town" type="text">
					
				</div>
				

				<div class="form-group">
					
					<label for="address-postcode">
					  <span class="form-label">Postcode</span>
					</label>
					
					<input class="form-control form-control-1-8" id="address-postcode" type="text">
				
				</div>       
        
        
      </fieldset>
      
      
      
      <!-- email and telephone -->
      <fieldset>
        
        
        <legend class="heading-medium">Email and telephone</legend>
        
        
        <p>You must enter either a landline or mobile number.</p>
        
        
        <div class="form-group">
          
          <label for="email">
            <span class="form-label">Email</span>
          </label>
          
          <input class="form-control" id="email" type="email">
          
        </div>
        

        <div class="form-group">
          
          <label for="landline">
            <span class="form-label">Landline</span>
          </label>
          
          <input class="form-control form-control-1-4" id="landline" type="tel">
          
        </div>
        

        <div class="form-group">
          
          <label for="mobile">
            <span class="form-label">Mobile</span>
          </label>
          
          <input class="form-control form-control-1-4" id="mobile" type="tel">
          
        </div>
        
        
      </fieldset>
      
      


      <button class="button" type="submit">Register</button>
      
      <p><a href="/">Back</a></p>


    </form>