		<a class="back-link" href="../">Back</a>


        <h1 class="heading-xlarge">Check and submit your land transfer</h1>


        <!-- Section 1 -->
        <section>

          <div class="summary">

            <ul>

              <li>
                <h4 class="summary-title">Transaction type</h4>
                <div class="summary-value">Sale (permanent transfer)</div>
                <div class="summary-edit"><a href="#">Edit</a></div>
              </li>

              <li>
                <h4 class="summary-title">Date of transfer</h4>
                <div class="summary-value">12 December 2015</div>
                <div class="summary-edit"><a href="#">Edit</a></div>
              </li>

              <li>
                <h4 class="summary-title">Parcels transferred</h4>
                <div class="summary-value">SJ7555 4680, SJ7555 4681, SJ7555 4682, SJ7555 4683, SJ7555 4684 </div>
                <div class="summary-edit"><a href="#">Edit</a></div>
              </li>

              <li>
                <h4 class="summary-title">Business transferred to</h4>
                <div class="summary-value">

                  <div itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope="">
                    <div itemprop="streetAddress">Hillhouse Farm</div>
                    <div itemprop="addressLocality">Penrith</div>
                    <div itemprop="addressRegion">Cumbria</div>
                    <div itemprop="postalCode">CH3 6NZ</div>
                    <div itemprop="addressCountry">United Kingdom</div>
                  </div>

                </div>
                <div class="summary-edit"><a href="#">Edit</a></div>
              </li>

              <li>
                <h4 class="summary-title">Additional information</h4>
                <div class="summary-value">None given</div>
                <div class="summary-edit"><a href="#">Edit</a></div>
              </li>

            </ul>

          </div>


        </section>
        <!-- end -->


        <!-- actions -->
        <div class="button-container">
          <a class="button" href="#" role="button">Submit</a>
        </div>
        <!-- end -->