		<a class="back-link" href="/">Back to the index</a>


    <!-- text block -->
		<div class="text">

  		<h1 class="heading-xlarge">Personal details <span class="heading-secondary">Sidney Bechet</span></h1>

			<p class="lede">Keeping your personal details up to date saves time when you apply for grants and schemes. Any details you view or update here will be used from January 2015.</p>

			<p>If you need to change your personal details for 2014 applications, agreements and claims, keep using existing services.</p>

		</div>
		<!-- end -->


    <!-- personal details -->
    <section>

  		<h1 class="heading-medium">Personal details</h1>

  		<div class="summary">

  			<ul>

  				<li>
  					<h4 class="summary-title">Full name</h4>
  					<div class="summary-value">Mr Sidney Bechet</div>
  				</li>

  				<li>
  					<h4 class="summary-title">Date of birth</h4>
  					<div class="summary-value">15 December 1977</div>
  				</li>

  				<li>
  					<h4 class="summary-title">National insurance number</h4>
  					<div class="summary-value">AA 12 34 57 C</div>
  				</li>

  				<li>
  					<h4 class="summary-title">Nationality</h4>
  					<div class="summary-value">British</div>
  				</li>

  				<li>
  					<h4 class="summary-title">Customer reference number</h4>
  					<div class="summary-value">1000000133</div>
  				</li>

  				<li>
  					<h4 class="summary-title">Personal identifier</h4>
  					<div class="summary-value">123456</div>
  				</li>

  			</ul>

  		</div>

  		<details>

				<summary><span class="summary">Find out more about customer reference number</span></summary>

				<div class="panel-indent">
					<p>Quisque dignissim nisi eu lobortis ultricies. Phasellus feugiat augue consequat dolor aliquet pretium.</p>
				</div>

			</details>

    </section>
		<!-- end -->


    <!-- contact details -->
		<section>

  		<h1 class="heading-medium">Contact details</h1>

  		<div class="summary">

  			<ul itemtype="http://schema.org/Organization" itemscope>

  				<li>
  					<h4 class="summary-title">Address</h4>
  					<div class="summary-value" itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope>
              <div itemprop="streetAddress">Pooley Bridge</div>
              <div itemprop="addressLocality">Penrith</div>
              <div itemprop="addressRegion">Cumbria</div>
              <div itemprop="postalCode">CH3 6NZ</div>
              <div itemprop="addressCountry">United Kingdom</div>
            </div>
  				</li>

  				<li>
  					<h4 class="summary-title">Landline</h4>
  					<div class="summary-value" itemprop="telephone">07337938476</div>
  				</li>

  				<li>
  					<h4 class="summary-title">Mobile</h4>
  					<div class="summary-value" itemprop="telephone">07449654321</div>
  				</li>

  				<li>
  					<h4 class="summary-title">Email</h4>
  					<div class="summary-value" itemprop="email"><a href="mailto:defra-user-1@kainos.com">defra-user-1@kainos.com</a></div>
  				</li>

  			</ul>

  		</div>

		</section>
		<!-- end -->


    <!-- text block -->
    <section class="text">

  		<h1 class="heading-medium">Contact preferences</h1>

  		<p>You have not specified a preferred way for us to contact you.</p>

    </section>
		<!-- end -->