  {{>breadcrumb}}


  <h1 class="heading-xlarge">{{page_name}} <span class="heading-secondary">Sidney Bechet</span></h1>


	<div class="text">

		<p class="lede">Keeping your personal details up to date saves time when you apply for grants and schemes. Any details you view or update here will be used from January 2015.</p>

		<p>If you need to change your personal details for 2014 applications, agreements and claims, keep using existing services.</p>

	</div>


	<h3 class="heading-medium">Personal details</h3>

	<table class="table-summary">

    <caption class="visuallyhidden">Business details listing</caption>

    <tbody>

      <tr>
        <th class="table-summary-title" scope="row">Full name</th>
        <td class="table-summary-content">Mr Sidney Bechet</td>
      </tr>

      <tr>
        <th class="table-summary-title" scope="row">Date of birth</th>
        <td class="table-summary-content">15 December 1977</td>
      </tr>

      <tr>
        <th class="table-summary-title" scope="row">National insurance number</th>
        <td class="table-summary-content">AA 12 34 57 C</td>
      </tr>

      <tr>
        <th class="table-summary-title" scope="row">Nationality</th>
        <td class="table-summary-content">British</td>
      </tr>

      <tr>
        <th class="table-summary-title" scope="row">Customer reference number</th>
        <td class="table-summary-content">1000000133</td>
      </tr>

      <tr>
        <th class="table-summary-title" scope="row">Personal identifier</th>
        <td class="table-summary-content">123456</td>
      </tr>

    </tbody>

  </table>
  

  <div class="text">

    <details>

			<summary><span class="summary">Find out more about customer reference number</span></summary>

			<div class="panel-indent">
				<p>Quisque dignissim nisi eu lobortis ultricies. Phasellus feugiat augue consequat dolor aliquet pretium.</p>
			</div>

		</details>

  </div>


	<h3 class="heading-medium">Contact details</h3>

  <table class="table-summary">

    <caption class="visuallyhidden">Business details listing</caption>

    <tbody itemtype="http://schema.org/Organization" itemscope>

      <tr>
        <th class="table-summary-title" scope="row">Address</th>
        <td class="table-summary-content" itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope>
          <div itemprop="streetAddress">Pooley Bridge</div>
          <div itemprop="addressLocality">Penrith</div>
          <div itemprop="addressRegion">Cumbria</div>
          <div itemprop="postalCode">CH3 6NZ</div>
          <div itemprop="addressCountry">United Kingdom</div>
        </td>
      </tr>

      <tr>
        <th class="table-summary-title" scope="row">Landline</th>
        <td class="table-summary-content" itemprop="telephone">07337938476</td>
      </tr>

      <tr>
        <th class="table-summary-title" scope="row">Mobile</th>
        <td class="table-summary-content" itemprop="telephone">07449654321</td>
      </tr>

      <tr>
        <th class="table-summary-title" scope="row">Email</th>
        <td class="table-summary-content" itemprop="email"><a href="mailto:defra-user-1@kainos.com">defra-user-1@kainos.com</a></td>
      </tr>

    </tbody>

  </table>


	<p><a class="button" href="#" role="button">Update your details</a></p>
	
	
	<div class="panel-indent text">
        
    <p>Defra is the data controller for personal data you give to us or we hold about you. We use it in line with the Data Protection Act. For more information <a href="https://www.gov.uk/government/organisations/rural-payments-agency/about/personal-information-charter" rel="external">visit our web site.</a></p>
    
  </div>