  {{>breadcrumb}}
  
  
  <h1 class="heading-xlarge"><span class="heading-secondary">{{title}}</span> {{page_name}}</h1>
  
  
  <h2 class="heading-medium heading-index">Single</h2>
  
  <div class="grid-row">
    
    <div class="column-third">
      
      <ul class="list-nav">
        <li><a href="/pages/your-account/">Your account</a></li>
        <li><a href="/pages/create-new-customer/">Create new customer</a></li>
        <li><a href="/pages/update-personal-details/">Update personal details</a></li>
        <li><a href="/pages/parcel-summary/">Parcel summary</a></li>
        <li><a href="/pages/parcel-details/">Parcel details</a></li>
        <li><a href="/pages/personal-details/">Personal details</a></li>
        <li><a href="/pages/self-assessment/">Self assessment</a></li>
        <li><a href="/pages/cross-compliance/">Cross compliance</a></li>
        <li><a href="/pages/confirmation/">Confirmation</a></li>
        <li><a href="/pages/apply-for-bps/">Apply for BPS</a></li>
      </ul>
      
    </div>
    
    <div class="column-third">
      
      <ul class="list-nav">
        <li><a href="#">Update business details</a></li>
        <li><a href="#">Register for Rural Payments</a></li>
        <li><a href="#">Send your new passport</a></li>
        <li><a href="#">Your details</a></li>
        <li><a href="#">Add and edit land</a></li>
        <li><a href="#">Update business details</a></li>
        <li><a href="#">Add and edit land</a></li>
        <li><a href="#">Manage land (make single page)</a></li>
        <li><a href="#">Rural Payments home</a></li>
      </ul>
      
    </div>
    
    <div class="column-third">
      
      <ul class="list-nav">
        <li><a href="#">Invalid or missing token</a></li>
        <li><a href="#">Removal of land</a></li>
        <li><a href="#">BPS application</a></li>
        <li><a href="#">BPS application summary</a></li>
        <li><a href="#">Activate your entitlements</a></li>
        <li><a href="#">Ecological focus areas</a></li>
        <li><a href="#">Sign in to Rural Payments</a></li>
        <li><a href="#">Forgotten your password</a></li>
        <li><a href="#">Change your password</a></li>
      </ul>
      
    </div>
    
  </div>
  
  
  <h2 class="heading-medium heading-index">Internal users</h2>
  
  <div class="grid-row">
    
    <div class="column-third">
      
      <ul class="list-nav">
        <li><a href="#">Search customer or business</a></li>
        <li><a href="#">Sign in</a></li>
        
      </ul>
      
    </div>
    
    <div class="column-third">
      
      <ul class="list-nav">
        <li><a href="#">Deactivate user</a></li>
      </ul>
      
    </div>
    
    <div class="column-third">
      
      <ul class="list-nav">
        <li><a href="#">Alerts</a></li>
      </ul>
      
    </div>
    
  </div>
  
  
  <h2 class="heading-medium heading-index">User journeys</h2>
  
  <div class="grid-row">
    
    <div class="column-third">
      
      <ul class="list-nav">
        <li><a href="#">Accountable people</a></li>
        <li><a href="#">SitiAgri</a></li>
      </ul>
      
    </div>
    
    <div class="column-third">
      
      <ul class="list-nav">
        <li><a href="#">Confirm journey</a></li>
      </ul>
      
    </div>
    
    <div class="column-third">
      
      <ul class="list-nav">
        <li><a href="#">Land query</a></li>
      </ul>
      
    </div>
    
  </div>