  {{>breadcrumb}}
  
  
  <h1 class="heading-xlarge"><span class="heading-secondary">{{title}}</span> {{page_name}}</h1>
  
  
  <h2 class="heading-medium heading-index">Single</h2>
  
  <div class="grid-row">
    
    <div class="column-third">
      
      <ul class="list">
        <li><a href="/pages/your-account/">Your account</a></li>
        <li><a href="/pages/create-new-customer/">Create new customer</a></li>
        <li><a href="/pages/update-personal-details/">Update personal details</a></li>
        <li><a href="/pages/parcel-summary/">Parcel summary</a></li>
        <li><a href="/pages/parcel-details/">Parcel details</a></li>
        <li><a href="/pages/personal-details/">Personal details</a></li>
        <li><a href="/pages/self-assessment/">Self assessment</a></li>
        <li><a href="/pages/cross-compliance/">Cross compliance</a></li>
        <li><a href="/pages/confirmation/">Confirmation</a></li>
        <li><a href="/pages/apply-for-bps/">Apply for BPS</a></li>
        <li><a href="/pages/update-business-details/">Update business details</a></li>
        <li><a href="/pages/register-for-rural-payments/">Register for Rural Payments</a></li>
        <li><a href="/pages/where-should-we-send-your-new-passport/">Send your new passport</a></li>
      </ul>
      
    </div>
    
    <div class="column-third">
      
      <ul class="list">
        <li><a href="/pages/your-details/">Your details</a></li>
        <li><a href="/pages/add-edit-land/">Add and edit land</a></li>
        <li><a href="/pages/update-business-details/">Update business details</a></li>
        <li><a href="/pages/check-your-land/">Check your land</a></li>
        <li><a href="/pages/add-feature-to-this-land/">Add feature to this land</a></li>
        <li><a href="/pages/add-feature-details-to-this-land/">Add feature details to this land</a></li>
        <li><a href="/pages/manage-your-land/">Manage your land</a></li>
        <li><a href="/pages/edit-land-feature/">Edit land feature</a></li>
        <li><a href="/pages/home/">Rural Payments home</a></li>
        <li><a href="/pages/invalid-or-missing-token/">Invalid or missing token</a></li>
        <li><a href="/pages/removal-of-land/">Removal of land</a></li>
        <li><a href="/pages/basic-payment-scheme-application/">BPS application</a></li>
        <li><a href="/pages/basic-payment-scheme-application/summary/">BPS application summary</a></li>
      </ul>
      
    </div>
    
    <div class="column-third">
      
      <ul class="list">        
        <li><a href="/pages/activate-your-entitlements/">Activate your entitlements</a></li>
        <li><a href="/pages/efas/">Ecological focus areas</a></li>
        <li><a href="/pages/signin/">Sign in to Rural Payments</a></li>
        <li><a href="/pages/forgotten-your-password/">Forgotten your password</a></li>
        <li><a href="/pages/your-password-has-expired/">Your password has expired</a></li>
        <li><a href="/pages/you-need-to-change-your-password/">You need to change your password</a></li>
        <li><a href="/pages/apply-for-the-basic-payment-scheme/">Apply for the basic payment scheme</a></li>
        <li><a href="/pages/terms-and-conditions/">Terms and conditions</a></li>
        <li><a href="/pages/business-details/">Business details</a></li>
        <li><a href="/pages/countryside-stewardship/">Countryside Stewardship</a></li>
        <li><a href="/pages/countryside-stewardship/questions/">Countryside Stewardship questions</a></li>
        <li><a href="/pages/countryside-stewardship/options/">Countryside Stewardship options</a></li>
      </ul>
      
    </div>
    
  </div>
  
  
  <h2 class="heading-medium heading-index">Internal users</h2>
  
  <div class="grid-row">
    
    <div class="column-third">
      
      <ul class="list">
        <li><a href="/internal/search-customer-or-business">Search for a customer</a></li>
        <li><a href="/internal/sign-in/">Sign in</a></li>
        
      </ul>
      
    </div>
    
    <div class="column-third">
      
      <ul class="list">
        <li><a href="/internal/deactivate-user/">Deactivate user</a></li>
      </ul>
      
    </div>
    
    <div class="column-third">
      
      <ul class="list">
        <li><a href="/internal/alerts/">Alerts</a></li>
      </ul>
      
    </div>
    
  </div>
  
  
  <h2 class="heading-medium heading-index">User journeys</h2>
  
  <div class="grid-row">
    
    <div class="column-third">
      
      <ul class="list">
        <li><a href="/accountable-people/">Accountable people</a></li>
        <li><a href="/land-query/">Land query</a></li>
      </ul>
      
    </div>
    
    <div class="column-third">
      
      <ul class="list">
        <li><a href="/confirm-journey/">Confirm journey</a></li>
        <li><a href="/sitiagri/">SitiAgri</a></li>
      </ul>
      
    </div>
    
    <div class="column-third">
      
      <ul class="list">
        <li><a href="/your-account/">Your account</a></li>
      </ul>
      
    </div>
    
  </div>