  {{>breadcrumb}}


  <div class="grid-row">


    <div class="column-half">


      <form class="form" method="post" action="/land/feature-details/">
        
        
        <h1 class="form-title heading-xlarge">{{page_name}}</h1>


        <div class="form-group">          
          <label for="feature-area">Area of this feature:</label>          
          <input class="form-control form-control-1-8" id="feature-area" name="feature_area" type="text" value="{{feature_area}}"> <abbr title="Hectare">ha</abbr>          
        </div>


        <div class="form-group">
          <label class="form-label" for="feature-additional">Tell us anything else about this feature (optional)</label>
          <textarea class="form-control form-control-3-4 form-control-textarea" id="feature-additional" name="feature_additional" rows="3" cols="50">{{feature_additional}}</textarea>
        </div>


        <div class="form-group">
          <button class="button" type="submit">Continue</button>
        </div>


        <p><a href="/land/add-feature-or-land-cover/">Back</a></p>
        

      </form>


    </div>


    <div class="column-half">

      {{>map}}

    </div>


  </div>