  {{>breadcrumb}}


  <div class="grid-row">


    <div class="column-half">      


      <form class="form" method="post" action="/land/feature-effective-date/">
        
        
        <h1 class="form-title heading-xlarge">{{page_name}}</h1>


        <p class="lede">Show us where your pond is by clicking on the map.</p>
        
        
        <p>Area of this feature: <b>{{feature_area}}<abbr title="hectare">ha</abbr></b></p>


        <div class="form-group">          
          <button class="button" type="submit">Save and continue</button>          
        </div>
        
        
        <p><a href="/land/add-details-to-this-land/">Back</a></p>


      </form>


    </div>


    <div class="column-half">

      {{>map}}
      
    </div>


  </div>