  {{>breadcrumb}}
  

  <div class="grid-row">


    <div class="column-two-thirds">


      <div class="page-header">
        
        <h1 class="heading-xlarge">{{page_name}} <span class="heading-secondary">{{business_name}}</span></h1>
      
        <dl class="list-parcel">
          <dt><abbr title="Ordnance Survey">OS</abbr> Title</dt>
          <dd>SJ4</dd>
        </dl>
      
      </div>      
      

      <p class="lede">This is a summary of the land parcel information Rural Payments currently holds for this <abbr title="Ordnance Survey">OS</abbr> (Ordnance Survey) tile.</p>


      <table>
        
        <caption class="visuallyhidden">Summary of land information</caption>
        
        <thead>
          
          <tr>
            <th scope="col" colspan="2">Summary</th>
          </tr>
          
        </thead>
        
        <tbody>
          
          <tr>
            <th scope="row">Number of parcels</th>
            <td class="numeric last">10</td>
          </tr>
          
          <tr>
            <th scope="row">Total area (<abbr title="hectare">ha</abbr>)</th> 
            <td class="numeric last">64.32</td>
          </tr>
          
          <tr>
            <th scope="row">Arable land (<abbr title="hectare">ha</abbr>)</th>
            <td class="numeric last">64.35</td>
          </tr>
          
          <tr>
            <th scope="row">Permanent grassland (<abbr title="hectare">ha</abbr>)</th>
            <td class="numeric last">57.62</td>
          </tr>
          
          <tr>
            <th scope="row">Permanent crops (<abbr title="hectare">ha</abbr>)</th>
            <td class="numeric last">6.70</td>
          </tr>
          
        </tbody>
        
      </table>
      
      
      <h2 class="heading-medium">Land parcels</h2>
      
      
      <p>This is how the land parcels for this business are distributed. Click on the Parcel ID to view it or tell Rural Payments about any changes.</p>
      
      
      <div class="panel-indent">
        <p>An <span class="text-pending" title="Changes pending"></span> icon denotes there are changes pending for this parcel.</p>
      </div>


      <table class="table-land-parcels table-highlight js-table-sortable">
        
        <caption class="visuallyhidden">Land parcel distribution</caption>
        
        <thead>
          <tr>
            <th scope="col" data-sort="string">Parcel ID</th>
            <th class="numeric" scope="col">Total area (<abbr title="hectare">ha</abbr>)</th>
            <th scope="col">Eligible covers</th>
            <th class="numeric last" scope="col">BPS eligible area (<abbr title="hectare">ha</abbr>)</th>
          </tr>
        </thead>
        
        <tbody>
          
          <tr>
            <th scope="row"><a href="parcel-details">SJ4307 2617</a> <span class="text-pending" title="Changes pending"></span></th>
            <td class="numeric">3.85</td>
            <td>Arable land</td>
            <td class="numeric last">3.85</td>
          </tr>
          
          <tr>
            <th scope="row">SJ4307 4824</th>
            <td class="numeric">10.04</td>
            <td>Arable land</td>
            <td class="numeric last">10.04</td>
          </tr>
          
          <tr>
            <th scope="row">SJ4307 9163</th>
            <td class="numeric">3.15</td>
            <td>Arable land</td>
            <td class="numeric last">3.14</td>
          </tr>
          
          <tr>
            <th scope="row">SJ4307 9687</th>
            <td class="numeric">8.06</td>
            <td>Arable land</td>
            <td class="numeric last">8.06</td>
          </tr>
          
          <tr>
            <th scope="row">SJ4308 8721</th>
            <td class="numeric">10.70</td>
            <td>Arable land</td>
            <td class="numeric last">10.69</td>
          </tr>
          
          <tr>
            <th scope="row">SJ4407 1356</th>
            <td class="numeric">8.89</td>
            <td>Arable land</td>
            <td class="numeric last">8.88</td>
          </tr>
          
          <tr>
            <th scope="row">SJ4407 2899 <span class="text-pending" title="Changes pending"></span></th>
            <td class="numeric">6.70</td>
            <td>Permanent grassland</td>
            <td class="numeric last">6.70</td>
          </tr>
          
          <tr>
            <th scope="row">SJ4407 4054</th>
            <td class="numeric">3.67</td>
            <td>Arable land</td>
            <td class="numeric last">3.67</td>
          </tr>
          
          <tr>
            <th scope="row">SJ4408 0911</th>
            <td class="numeric">6.49</td>
            <td>Arable land</td>
            <td class="numeric last">6.49</td>
          </tr>
          
          <tr>
            <th scope="row">SJ4510 4433</th>
            <td class="numeric">2.80</td>
            <td>Arable land</td>
            <td class="numeric last">2.80</td>
          </tr>
          
        </tbody>
        
      </table>


    </div>


    <div class="column-third sticky">

      {{>map}}
      
      <h3 class="heading-small">Is this information up to date?</h3>
      
      <p class="font-xsmall">If you have already asked us to make changes to information about your land, they might not show here yet.</p>

    </div>
    
    
  </div>