  <a class="link-back" href="/">Back to the index</a>


	<h1 class="heading-xlarge">Collapsibles</h1>
	
	
	<!-- introduction -->
  <div class="text">
    
    <h2 class="heading-medium">Looking for the HTML?</h2>
    
    <p>The HTML snippets can be found in the <a href="/elements/snippets/#collapsibles">snippets page</a>.</p>
    
  </div>


  <!-- collapsibles -->
  <div class="example">
  
  
    <section class="collapsible">
    
    
      <h2 class="heading-medium">People legally responsible for the business</h2>
      
      
      <div class="collapsible-item">
      
        <div class="collapsible-heading">
          <h3 class="name"><span>Mia Wallace</span></h3>
          <p class="owns">Percentage of business owned 40%</p>
        </div>
        
        <div class="collapsible-content">
        
          <dl class="details">
            <dt>Date became owner</dt>
            <dd>18 June 1972</dd>
            <dt>Email address</dt>
            <dd>m.wallace@abusiness.com</dd>
            <dt>Phone number</dt>
            <dd>07730670866</dd>
            <dt>Date of birth</dt>
            <dd>18 September 1964</dd>
            <dt>National Insurance</dt>
            <dd>QQ 12 34 56 A</dd>
          </dl>
        
        </div>
      
      </div>
      
      
      <div class="collapsible-item">
      
        <div class="collapsible-heading">
          <h3 class="name"><span>John Shelly</span></h3>
          <p class="owns">Percentage of business owned 30%</p>
        </div>
        
        <div class="collapsible-content">
        
          <dl class="details">
            <dt>Date became owner</dt>
            <dd>12 March 1984</dd>
            <dt>Email address</dt>
            <dd>j.shelly@abusiness.com</dd>
            <dt>Phone number</dt>
            <dd>07760670286</dd>
            <dt>Date of birth</dt>
            <dd>05 April 1978</dd>
            <dt>National Insurance</dt>
            <dd>QQ 18 34 53 B</dd>
          </dl>
        
        </div>
      
      </div>
      
      
      <div class="collapsible-item">
      
        <div class="collapsible-heading">
          <h3 class="name"><span>Peter Burns</span></h3>
          <p class="owns">Percentage of business owned 30%</p>
        </div>
        
        <div class="collapsible-content">
        
          <dl class="details">
            <dt>Date became owner</dt>
            <dd>10 October 1987</dd>
            <dt>Email address</dt>
            <dd>p.burns@abusiness.com</dd>
            <dt>Phone number</dt>
            <dd>06760670352</dd>
            <dt>Date of birth</dt>
            <dd>25 July 1977</dd>
            <dt>National Insurance</dt>
            <dd>QQ 28 45 53 A</dd>
          </dl>
        
        </div>
      
      </div>
    
    
    </section>
  
  
  </div>
  
  
  <p><a href="#content">Back to the top</a></p>