  {{>breadcrumb}}
  
  
  <h1 class="heading-xlarge"><span class="heading-secondary">{{title}}</span> {{page_name}}</h1>
  
  
  <p class="lede"><abbr title="Accessible Rich Internet Applications">ARIA</abbr> attributes are applied <strong>automatically</strong> if Javascript is enabled.</p>


  <h3 class="heading-medium">Example 1</h3>
  

  <div class="example">
  
  
    <div class="collapsible collapsible-borders">
    
    
      <h2 class="heading-medium">People legally responsible for the business</h2>
      
      
      <div class="collapsible-item">
      
        <div class="collapsible-heading">
          <h3><span class="collapsible-heading-primary">Mia Wallace</span> <span class="collapsible-heading-secondary">Percentage of business owned 40&#37;</span></h3>
        </div>
        
        <div class="collapsible-content">
          <p>Some content goes here&hellip;</p>
        </div>
      
      </div>
      
      
      <div class="collapsible-item">
      
        <div class="collapsible-heading">
          <h3><span class="collapsible-heading-primary">John Shelly</span> <span class="collapsible-heading-secondary">Percentage of business owned 30&#37;</span></h3>
        </div>
        
        <div class="collapsible-content">
          <p>Some content goes here&hellip;</p>
        </div>
      
      </div>
      
      
      <div class="collapsible-item">
      
        <div class="collapsible-heading">
          <h3><span class="collapsible-heading-primary">Peter Burns</span> <span class="collapsible-heading-secondary">Percentage of business owned 30&#37;</span></h3>
        </div>
        
        <div class="collapsible-content">
          <p>Some content goes here&hellip;</p>
        </div>
      
      </div>
    
    
    </div>
  
  
  </div>
  
  
  <h3 class="heading-medium">Example 2</h3>
  
  
  <p>Adding an 'is-open' class to the 'collapsible-item' will open the collapsible item at run&ndash;time.</p>
  
  
  <div class="example">
  
  
    <div class="messages">
    
    
      <h2 class="heading-medium">Messages</h2>
    
    
      <div class="messages-filter">
      
        <label>
        
          Sort messages by
          
          <select>
            <option value="newest">Newest on top</option>
            <option value="oldest">Oldest on top</option>
          </select>
        
        </label>
      
      </div>
      
      
      <p>You have 2 new messages.</p>
      
      
      <div class="collapsible collapsible-borders">
      
      
        <div class="collapsible-item is-open">
        
          <div class="collapsible-heading">
          
          <h3>
            <span class="collapsible-heading-primary messages-new">You have been given access to Agri Agents Ltd.</span> 
            <span class="collapsible-heading-secondary">15 Sep 2014</span>
          </h3>
          
          </div>
          
          <div class="collapsible-content">
            <div class="text">
              <p>John Smith has given you permission to view and amend information about this business and make applications on their behalf.</p>
              <p><a href="#" data-toggle="dialog" data-target="dialog-1">Delete this message</a>.</p>
            </div>
          </div>
        
       </div>
        
        
        <div class="collapsible-item">
        
          <div class="collapsible-heading">
            <h3>
              <span class="collapsible-heading-primary messages-new">You have been given access to Bodmin Agri Ltd.</span> 
              <span class="collapsible-heading-secondary">10 Sep 2014</span>
            </h3>
          </div>
          
          <div class="collapsible-content">
            <div class="text">
              <p>John Smith has given you permission to view and amend information about this business and make applications on their behalf.</p>
              <p><a href="#" data-toggle="dialog" data-target="dialog-1">Delete this message</a>.</p>
            </div>
          </div>
        
        </div>
        
        
        <div class="collapsible-item">
        
          <div class="collapsible-heading">
            <h3>
              <span class="collapsible-heading-primary">Welcome to Rural Payments</span> 
              <span class="collapsible-heading-secondary">5 Sep 2014</span>
            </h3>
          </div>
          
          <div class="collapsible-content">
            <div class="text">
              <p>Fusce a risus libero. Nam risus purus, pharetra eget porttitor in, dictum ut enim. In auctor, purus vitae luctus tempor.</p>
              <p><a href="#" data-toggle="dialog" data-target="dialog-1">Delete this message</a></p>
            </div>
          </div>
        
        </div>
    
    
      </div>
    
  
    </div>
  
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;div class=&quot;collapsible collapsible-borders&quot;&gt;
    
      &lt;h2 class=&quot;heading-medium&quot;&gt;Main heading&lt;/h2&gt;
      
      &lt;div class=&quot;collapsible-item&quot;&gt;
      
        &lt;div class=&quot;collapsible-heading&quot;&gt;
          &lt;h3&gt;
            &lt;span class=&quot;collapsible-heading-primary&quot;&gt;Title&lt;/span&gt; 
            &lt;span class=&quot;collapsible-heading-secondary&quot;&gt;Sub title (if required)&lt;/span&gt;
          &lt;/h3&gt;
        &lt;/div&gt;
        
        &lt;div class=&quot;collapsible-content&quot;&gt;
          &lt;p&gt;Content&lt;/p&gt;
        &lt;/div&gt;
        
      &lt;/div&gt;
    
    &lt;/div&gt;
  </code></pre>