  <a class="link-back" href="/">Back to the index</a>


	<h1 class="heading-xlarge">Collapsibles</h1>
	
	
	<!-- introduction -->
  <div class="text">
    
    <h2 class="heading-medium">Looking for the HTML?</h2>
    
    <p>The HTML snippets can be found in the <a href="/elements/snippets/#collapsibles">snippets page</a>.</p>
    
  </div>


  <!-- collapsibles -->
  <div class="example">
  
  
    <div class="collapsible">
    
    
      <h2 class="heading-medium">People legally responsible for the business</h2>
      
      
      <div class="collapsible-item">
      
        <div class="collapsible-heading">
          <h3><span class="collapsible-heading-primary">Mia Wallace</span> <span class="collapsible-heading-secondary">Percentage of business owned 40&#37;</span></h3>
        </div>
        
        <div class="collapsible-content">
          <p>Some content goes here&hellip;</p>
        </div>
      
      </div>
      
      
      <div class="collapsible-item">
      
        <div class="collapsible-heading">
          <h3><span class="collapsible-heading-primary">John Shelly</span> <span class="collapsible-heading-secondary">Percentage of business owned 30&#37;</span></h3>
        </div>
        
        <div class="collapsible-content">
          <p>Some content goes here&hellip;</p>
        </div>
      
      </div>
      
      
      <div class="collapsible-item">
      
        <div class="collapsible-heading">
          <h3><span class="collapsible-heading-primary">Peter Burns</span> <span class="collapsible-heading-secondary">Percentage of business owned 30&#37;</span></h3>
        </div>
        
        <div class="collapsible-content">
          <p>Some content goes here&hellip;</p>
        </div>
      
      </div>
    
    
    </div>
  
  
  </div>
  
  
  <p><a href="#content">Back to the top</a></p>