		<a class="back-link" href="/">Back to index</a>
		
		
    <h2 class="heading-large">Alerts</h2>
  
  
    <!-- locked account -->
    <h3 class="heading-medium">Locked</h3>
    
    
    <div class="example">
    
      <div class="alert-info text" role="alert">
      
        <span class="icon icon-lock" role="presentation"></span>
        
        <div class="alert-message">
        
          <p>This account has been locked.</p>
        
        </div>
      
      </div>
    
    </div> 
    
    
    <!-- deactivated account -->
    <h3 class="heading-medium">Deactivated</h3>
    
    
    <div class="example">
    
      <div class="alert-info text" role="alert">
      
        <span class="icon icon-deactivate" role="presentation"></span>
        
        <div class="alert-message">
        
          <p>This account has been locked and deactivated.</p>
        
        </div>
      
      </div>
    
    </div>    