    <a class="link-back" href="/sitiagri/manage-commons/">Back to Manage commons</a>
    
    
    <div class="grid-row">
      
      <div class="column-two-thirds">
        
        <h1 class="heading-xlarge">Update commons rights <span class="heading-secondary">Beech Farm</span></h1>
    
        <p class="lede">Maecenas et neque luctus, feugiat velit quis, porta augue. Vestibulum et dictum turpis, in rhoncus quam.</p>
        
      </div>
      
    </div>