		<a class="link-back" href="/pages/confirm-journey/additional-business-details/">Back to additional business details</a>


    <div class="text">

      <h1 class="heading-xlarge">People accountable <span class="heading-secondary">Beech Farm</span></h1>

      <p class="lede">Before applying for any schemes, you need to provide us with details of people who are accountable for your business. You can do this now or choose to do it later.</p>

      <p><a href="/pages/confirm-journey/business-details-summary/">Continue and provide additional business details later</a></p>

    </div>


    <form class="form" method="get" action="/pages/confirm-journey/people-accountable-summary/">


      <fieldset>


        <legend class="heading-medium">Add an accountable person</legend>
        

        <div class="form-group">
        
          <label for="name">
            <spna class="form-label">Name</spna>
          </label>
          
          <input class="form-control" id="name" type="text">
        
        </div>


        <div class="form-group">
          
          <label for="email">
            <span class="form-label">Email</span>
          </label>
          
          <input class="form-control" id="email" type="email">
          
        </div>


        <div class="form-group">
          
          <label for="telephone">
            <span class="form-label">Telephone number</span>
          </label>
          
          <input class="form-control form-control-1-4" id="telephone" type="tel">
        
        </div>


        <fieldset class="form-group">

          <legend>
            <span class="form-label">Date of birth (optional)</span>
          </legend>

          <div class="form-date">

          	<div class="form-group form-group-day">
          		
          		<label for="dob-day">
          		  <span class="form-label">Day</span>
          		</label>
          		
          		<input class="form-control" id="dob-day" type="text">
          		
          	</div>

          	<div class="form-group form-group-month">
          		
          		<label for="dob-month">
          		  <span class="form-label">Month</span>
          		</label>
          		
          		<input class="form-control" id="dob-month" type="text">
          		
          	</div>

          	<div class="form-group form-group-year">
          		
          		<label for="dob-year">
          		  <span class="form-label">Year</span>
          		</label>
          		
          		<input class="form-control" id="dob-year" type="text">
          	
          	</div>

          </div>

        </fieldset>


        <div class="form-group">
          
          <label for="business-attributed">
            <span class="form-label">Percentage of business attributed</span>
            <span class="form-hint">For example, 20%.</span>
          </label>
          
          <input class="form-control" id="business-attributed" type="text">
          
        </div>


        <div class="form-group">
          
          <label for="ni-number">
            <span class="form-label">National Insurance number</span>
          </label>
          
          <input class="form-control form-control-1-4" id="ni-number" type="text">
          
        </div>


        <div class="form-group form-group-compound">

          <fieldset class="inline">

            <legend>
              <span  class="form-label">Is this person an owner?</span>
            </legend>

            <div class="form-group form-group-compound">

              <label class="block-label" data-target="person-dob" for="radio-indent-1">
                <input id="radio-indent-1" name="radio-indent-group" value="Yes" type="radio">
                Yes
              </label>

              <label class="block-label" for="radio-indent-2">
                <input id="radio-indent-2" name="radio-indent-group" value="No" type="radio">
                No
              </label>

            </div>

            <div class="panel-indent js-hidden" id="person-dob">

              <div class="form-date">

                <label>
                  <span class="form-label">Date this person became an owner</span>
                </label>

              	<div class="form-group form-group-day">
              		
              		<label for="dob-day-2">
              		  <span class="form-label">Day</span>
              		</label>
              		
              		<input class="form-control" id="dob-day-2" type="text">
              	
              	</div>

              	<div class="form-group form-group-month">
              		
              		<label for="dob-month-2">
              		  <span class="form-label">Month</span>
              		</label>
              		
              		<input class="form-control" id="dob-month-2" type="text">
              	
              	</div>

              	<div class="form-group form-group-year">
              		
              		<label for="dob-year-2">
              		  <span class="form-label">Year</span>
              		</label>
              		
              		<input class="form-control" id="dob-year-2" type="text">
              		
              	</div>

              </div>

            </div>

          </fieldset>

        </div>


        <div class="form-group">

          <fieldset class="inline">

            <legend>
              <span class="form-label">Is this person head of holding?</span>
            </legend>

            <div class="form-group">

              <label class="block-label" for="radio-inline-1">
                <input id="radio-inline-1" name="radio-inline-group" value="Yes" type="radio"> Yes
              </label>

              <label class="block-label" for="radio-inline-2">
                <input id="radio-inline-2" name="radio-inline-group" value="No" type="radio"> No
              </label>

            </div>

          </fieldset>
          

          <div class="text">

            <details>

              <summary><span class="summary">What does head of holding mean?</span></summary>

              <div class="panel-indent">
                <p>According to the scheme rules, the ‘head of holding’ is the person who 'exercises effective and long-term control over the legal business in terms of decisions related to management, benefits and financial risks’. Go to <a href="http://www.gov.uk" rel="external">GOV.UK</a> to find out more about how we use this information to assess eligibility for <abbr title="Common Agricultural Policy">CAP</abbr> schemes.</p>
              </div>

            </details>

          </div>

        </div>


        <button class="button">Continue</button>


      </fieldset>


    </form>