		<a class="back-link" href="/">Back to index</a>


    <article>

      <h1 class="heading-xlarge">Amend business details</h1>

      <div class="text">

        <p class="lede">If you are already registered with us and have the correct permission you can amend your registration details.</p>

				<h3 class="heading-medium">Contact our customer service centre</h3>

				<ul class="list-bullet">
            <li>telephone 03000 200 301</li>
            <li>select the option for customer registration</li>
        </ul>

				<h3 class="heading-medium">What you will need</h3>

				<ul class="list-bullet">
            <li>the single business identifier (<abbr title="Single Business Identifer">SBI</abbr>) you are calling about</li>
            <li>your security question details</li>
            <li>the information you would like to amend</li>
        </ul>

        <h3 class="heading-medium">More information</h3>

        <p>For more information, please visit <a href="http://www.gov.uk/government/organisations/rural-payments-agency">Rural Payments Agency website</a>.

      </div>


    </article>