  {{>breadcrumb}}
  

  <div class="grid-row">
    
    
    <div class="column-two-thirds">
      
      
      <h1 class="heading-xlarge">{{page_name}} <span class="heading-secondary">{{business_name}}</span></h1>
  
  
      <p class="lede">Check what entitlements you have for the Basic Payment Scheme and transfer any that you’ve sold or leased.</p>
      
      
      <p><a class="help-open" href="#">Help</a></p>
      
      
      <p class="lead-in">Options</p>
      
      <ul class="list-bullet">
        <li><a href="/sitiagri/entitlements/view/">view entitlements</a></li>
        <li><a href="/sitiagri/entitlements/transfer/">transfer entitlements</a></li>
      </ul>
      
      
    </div>
    
    
  </div>


  {{>help}}
  