    <a class="link-back" href="/">Back to RPA Style Guide</a>

    
    <div class="grid-row">
      
      
      <div class="column-two-thirds">
        
        
        <h1 class="heading-xlarge">Business overview <span class="heading-secondary">Beech Farm</span></h1>
    

        <h2 class="heading-medium">Accountable people</h2>
        
        <div class="text">
          
          <p>Have you told us about people accountable for this business? If you have not told us, any payments due to the business for 2016 may be withheld.</p>
          
          <p><a href="/sitiagri/accountable-people/">Tell us about accountable people</a></p>
        
        </div>

        
        <h2 class="heading-medium">Give access to this business</h2>
        
        <div class="text">
          
          <p>You can give people access to your business if you'd like them to complete your application for you.</p>
          
          <p><a href="/sitiagri/people-and-permissions/">Give access to this business</a></p>
          
        </div>
        
        
        <h2 class="heading-medium">Manage your farm business</h2>
        
        <div class="text">
          
          <p>Etiam tempor euismod ullamcorper. Sed dui mi, posuere a tellus sed, accumsan convallis orci.</p>
          
          <p><a href="/sitiagri/manage-your-farm-business/">Manage your farm business</a></p>
          
        </div>
        
        
        <h2 class="heading-medium">Manage your land</h2>
        
        <div class="text">
          
          <p>Have you told us about changes to your land? You can transfer land to another business, make changes to your land or tell us about changes to your land use. You can also print a map of your holding.</p>
          
          <p><a href="/sitiagri/manage-your-land/">Manage your land</a></p>
          
        </div>
        
        
        <h2 class="heading-medium">Manage your entitlements</h2>
        
        <div class="text">
          
          <p>You can tell us if you have sold or leased entitlements. You can also view your entitlements and print an entitlements statement.</p>
          
          <p><a href="/sitiagri/manage-your-entitlements/">Manage your entitlements</a></p>
          
        </div>
        
        
        <h2 class="heading-medium">Manage commons</h2>
        
        <div class="text">
          
          <p>Nunc pretium efficitur nibh, sed interdum massa. Vivamus libero odio, finibus et diam eu, condimentum finibus neque.</p>
          
          <p><a href="/sitiagri/manage-commons/">Manage commons</a></p>
          
        </div>
        
        
        <h2 class="heading-medium">Manage your applications and claims</h2>
        
        <div class="text">
          
          <p>You can apply for Basic Payment Scheme and track the progress of your application online.</p>
          
          <p><a href="/sitiagri/manage-your-applications-and-claims/">Manage your applications and claims</a></p>
          
        </div>
        
        
      </div>
      
      
      <div class="column-third">
        
        
        <h2 class="heading-medium">Business details</h2>


        <div itemscope="" itemtype="http://schema.org/Organization" class="hcard">
    
          <!--div itemprop="name">Beech Farm</div-->
    
          <div itemscope="" itemprop="address" itemtype="http://schema.org/PostalAddress" class="hcard-adr">
            <div itemprop="streetAddress">Beech Farm</div>
            <div itemprop="addressLocality">Pooley Bridge</div>
            <div itemprop="addressRegion">Penrith</div>
            <div itemprop="postalCode">CA10 2NP</div>
            <div itemprop="addressCountry">United Kingdom</div>
          </div>
    
          <div itemprop="email"><a href="mailto:contact@beechfarm.co.uk">contact@beechfarm.co.uk</a></div>
          <div>Landline: <span itemprop="telephone">0147 9643 7770</span></div>
          <div>Mobile: <span itemprop="telephone">07231 839 187</span></div>
    
        </div>
    
        
        <p><a href="#">View full business details</a></p>
            
            
      </div>
      
      
    </div>