    <div id="global-breadcrumb">
      <ol>
        <li><a href="/">RPA Style Guide</a></li>
        <li>Business overview</li>
      </ol>
    </div>

    
    <div class="grid-row">
      
      
      <div class="column-two-thirds">
        
        
        <h1 class="heading-xlarge">Beech Farm</h1>
    

        <h2 class="heading-medium">Accountable people</h2>
        
        <div class="text">
          
          <p>Have you told us about people accountable for this business? If you have not told us about your stakeholders, any payments due to you may be withheld.</p>
          
          <p><a href="#">Tell us about accountable people</a></p>
        
        </div>

        
        <h2 class="heading-medium">Give access to this business</h2>
        
        <div class="text">
          
          <p>You can give people access to your business if you'd like them to complete your application for you.</p>
          
          <p><a href="#">Give access to this business</a></p>
          
        </div>
        
        
        <h2 class="heading-medium">Manage your land</h2>
        
        <div class="text">
          
          <p>Etiam neque ex, maximus eu lobortis eget, vehicula quis eros. Cras aliquam eu ligula nec scelerisque.</p>
          
          <p><a href="/sitiagri/manage-your-land/">Manage your land</a></p>
          
        </div>
        
        
        <h2 class="heading-medium">Manage your entitlements</h2>
        
        <div class="text">
          
          <p>Etiam neque ex, maximus eu lobortis eget, vehicula quis eros. Cras aliquam eu ligula nec scelerisque.</p>
          
          <p><a href="/sitiagri/manage-your-entitlements/">Manage your entitlements</a></p>
          
        </div>
        
        
        <h2 class="heading-medium">Manage commons</h2>
        
        <div class="text">
          
          <p>Etiam neque ex, maximus eu lobortis eget, vehicula quis eros. Cras aliquam eu ligula nec scelerisque.</p>
          
          <p><a href="/sitiagri/manage-commons/">Manage commons</a></p>
          
        </div>
        
        
        <h2 class="heading-medium">Applications and claims</h2>
        
        <div class="text">
          
          <p>Etiam neque ex, maximus eu lobortis eget, vehicula quis eros. Cras aliquam eu ligula nec scelerisque.</p>
          
          <p><a href="/sitiagri/applications-and-claims/">Manage your applications and claims</a></p>
          
        </div>
        
        
      </div>
      
      
      <div class="column-third">
        
        
        <h2 class="heading-medium">Business details</h2>


        <div itemscope="" itemtype="http://schema.org/Organization" class="hcard">
    
          <div itemprop="name">Beech Farm</div>
    
          <div itemscope="" itemprop="address" itemtype="http://schema.org/PostalAddress" class="hcard-adr">
            <!--div itemprop="streetAddress">Beech Farm</div-->
            <div itemprop="addressLocality">Pooley Bridge</div>
            <div itemprop="addressRegion">Penrith</div>
            <div itemprop="postalCode">CA10 2NP</div>
            <div itemprop="addressCountry">United Kingdom</div>
          </div>
    
          <div itemprop="email"><a href="mailto:contact@beechfarm.co.uk">contact@beechfarm.co.uk</a></div>
          <div>Landline: <span itemprop="telephone">0147 9643 7770</span></div>
          <div>Mobile: <span itemprop="telephone">07231 839 187</span></div>
    
        </div>
    
        
        <p><a href="#">View full business details</a></p>
            
            
      </div>
      
      
    </div>