    <a class="link-back" href="/">Back to RPA Style Guide</a>

    
    <div class="grid-row">
      
      
      <div class="column-two-thirds">
        
        
        <h1 class="heading-xlarge">Business</h1>
    
    
        <p class="lede">You can view the business as a user <a href="/sitiagri/business-overview/yes/">with</a> or <a href="/sitiagri/business-overview/no/">without</a> permissions.</p>
    

      </div>
      
      
    </div>