  {{>breadcrumb}}


  <div class="grid-row">
    
    
    <div class="column-two-thirds">
      
      
      <form class="form" method="get">
    
    
        <h1 class="form-title heading-xlarge">{{page_name}}</h1>

        
        <p class="lede">Answering all the questions below will help us determine which Countryside Stewardship options are most applicable for your land and business.</p>
        

        <div class="form-group-compound">
        
          <fieldset class="inline">
    
            <legend class="heading-small">Do you have land within the Severely Disadvantaged Area (<abbr title="Severely Disadvantaged Area">SDA</abbr>)?</legend>
            
            <label class="block-label" for="radio-inline-1">
              <input id="radio-inline-1" name="radio-inline-group-1" value="Yes" type="radio"> Yes
            </label>
            
            <label class="block-label" for="radio-inline-2">
              <input id="radio-inline-2" name="radio-inline-group-1" value="No" type="radio"> No
            </label>
          
          </fieldset>
      
        </div>
        

        <div class="form-group-compound">
        
          <fieldset class="inline">
    
            <legend class="heading-small">Do you have organic land?</legend>
            
            <label class="block-label" for="radio-inline-3">
              <input id="radio-inline-3" name="radio-inline-group-2" value="Yes" type="radio"> Yes
            </label>
            
            <label class="block-label" for="radio-inline-4">
              <input id="radio-inline-4" name="radio-inline-group-2" value="No" type="radio"> No
            </label>
          
          </fieldset>
        
        </div>
        

        <div class="form-group-compound">
        
          <fieldset class="inline">
    
            <legend class="heading-small">Do you have arable land?</legend>
            
            <label class="block-label" for="radio-inline-5">
              <input id="radio-inline-5" name="radio-inline-group-3" value="Yes" type="radio"> Yes
            </label>
            
            <label class="block-label" for="radio-inline-6">
              <input id="radio-inline-6" name="radio-inline-group-3" value="No" type="radio"> No
            </label>
          
          </fieldset>
        
        </div>
        
      
        <div class="form-group-compound">
        
          <fieldset class="inline">
    
            <legend class="heading-small">Do you have grassland?</legend>
            
            <label class="block-label" for="radio-inline-7">
              <input id="radio-inline-7" name="radio-inline-group-4" value="Yes" type="radio"> Yes
            </label>
            
            <label class="block-label" for="radio-inline-8">
              <input id="radio-inline-8" name="radio-inline-group-4" value="No" type="radio"> No
            </label>
          
          </fieldset>
        
        </div>
        

        <div class="form-group-compound">
        
          <fieldset class="inline">
    
            <legend class="heading-small">Are you interested in options that help farmland birds and pollinators?</legend>
            
            <p>This includes bees, butterflies and moths</p>
            
            <label class="block-label" for="radio-inline-9">
              <input id="radio-inline-9" name="radio-inline-group-5" value="Yes" type="radio"> Yes
            </label>
            
            <label class="block-label" for="radio-inline-10">
              <input id="radio-inline-10" name="radio-inline-group-5" value="No" type="radio"> No
            </label>
          
          </fieldset>
        
        </div>
        

        <div class="form-group-compound">
        
          <fieldset class="inline">
    
            <legend class="heading-small">Are you interested in options to help breeding waders?</legend>
            
            <label class="block-label" for="radio-inline-11">
              <input id="radio-inline-11" name="radio-inline-group-6" value="Yes" type="radio"> Yes
            </label>
            
            <label class="block-label" for="radio-inline-12">
              <input id="radio-inline-12" name="radio-inline-group-6" value="No" type="radio"> No
            </label>
          
          </fieldset>
        
        </div>
        

        <div class="form-group-compound">
        
          <fieldset class="inline">
    
            <legend class="heading-small">Are you interested in addressing water quality issues identified in your area?</legend>
            
            <label class="block-label" data-target="example-radio-inline-13" for="radio-inline-13">
              <input id="radio-inline-13" name="radio-inline-group-7" value="Yes" type="radio"> Yes
            </label>
            
            <label class="block-label" for="radio-inline-14">
              <input id="radio-inline-14" name="radio-inline-group-7" value="No" type="radio"> No
            </label>
          
          </fieldset>
          
          <div class="panel-indent js-hidden" id="example-radio-inline-13">
            
            <fieldset>
      
              <legend class="heading-small">Which types of water issue are you interested in addressing?</legend>
              
              <p>Select all that apply</p>
              
              <label class="block-label" for="checkbox-1">
                <input id="checkbox-1" value="1" type="checkbox">
                Phosphate and sediment in surface water
              </label>
              
              <label class="block-label" for="checkbox-2">
                <input id="checkbox-2" value="2" type="checkbox">
                Nitrates in surface water
              </label>
              
              <label class="block-label" for="checkbox-3">
                <input id="checkbox-3" value="3" type="checkbox">
                Nitrates in ground water
              </label>
              
              <label class="block-label" for="checkbox-4">
                <input id="checkbox-4" value="4" type="checkbox">
                Pesticides in surface water
              </label>
              
              <label class="block-label" for="checkbox-5">
                <input id="checkbox-5" value="5" type="checkbox">
                Pesticides in ground water
              </label>
              
              <label class="block-label" for="checkbox-6">
                <input id="checkbox-6" value="6" type="checkbox">
                Priority bathing waters
              </label>
            
            </fieldset>
            
          </div>
        
        </div>


        <div class="form-group-compound">
        
          <fieldset class="inline">
    
            <legend class="heading-small">Are you interested in options to manage and protect historic environment features?</legend>
            
            <label class="block-label" for="radio-inline-15">
              <input id="radio-inline-15" name="radio-inline-group-8" value="Yes" type="radio"> Yes
            </label>
            
            <label class="block-label" for="radio-inline-16">
              <input id="radio-inline-16" name="radio-inline-group-8" value="No" type="radio"> No
            </label>
          
          </fieldset>
        
        </div>
        
        
        <div class="form-group">
        
          <fieldset class="inline">
    
            <legend class="heading-small">Are you interested in options to improve landscape features?</legend>
            
            <p>This includes walls, barns and hedges</p>
            
            <label class="block-label" for="radio-inline-17">
              <input id="radio-inline-17" name="radio-inline-group-9" value="Yes" type="radio"> Yes
            </label>
            
            <label class="block-label" for="radio-inline-18">
              <input id="radio-inline-18" name="radio-inline-group-9" value="No" type="radio"> No
            </label>
          
          </fieldset>
        
        </div>
        
        
        <div class="form-group">
          <button class="button" type="submit">Continue</button>
        </div>
        
    
      </form>
      
      
    </div>
    
    
  </div>