		<a class="back-link" href="/">Back to the index</a>


		<h1 class="heading-xlarge">Alerts</h1>


		<!-- Alerts -->
		<div class="text">


			<!-- Success alert -->
			<div class="alert-success" role="alert">

				<span class="icon icon-tick" role="presentation"></span>

				<div class="alert-message">

					<p>You have amended your <b>business details</b></p>

				</div>

			</div>
			<!-- End -->


			<!-- Info alert -->
			<div class="alert-info" role="alert">

				<div class="alert-message">

					<p>To view your business details, view and amend land parcels and land cover, select '<b>View business</b>' in the table below.</p>

				</div>

			</div>
			<!-- End -->


			<!-- Info alert -->
			<div class="alert-info" role="alert">

				<span class="icon icon-tick" role="presentation"></span>

				<div class="alert-message">

					<p>Based on the information you have given us, you might be eligble to receive entitlements from the National Reserve.</p>

				</div>

			</div>
			<!-- End -->


			<!-- Info alert -->
			<div class="alert-info" role="alert">

				<span class="icon icon-cross" role="presentation"></span>

				<div class="alert-message">

					<p>Based on the information you have given us, you are not eligble to receive entitlements from the National Reserve.</p>

				</div>

			</div>
			<!-- End -->


			<!-- Error alert -->
			<div class="alert-error" role="alert">

				<span class="icon icon-cross" role="presentation"></span>

				<div class="alert-message">

					<p>The land use area you've entered is greater than the size of the parcel. Check and try again.</p>

				</div>

			</div>
			<!-- End -->


			<!-- Info alert -->
			<div class="alert-info" role="alert">

				<div class="alert-message">

					<h3 class="alert-header"><span class="alert-number">4</span> businesses to check</h3>

					<p>To check your business details, select '<b>Check business</b>' in the table below.</p>

				</div>

			</div>
			<!-- End -->


			<!-- Info alert -->
			<div class="alert-info" role="alert">

				<div class="alert-message">

					<h3 class="alert-header"><span class="alert-number">125</span> businesses to check</h3>

					<p>To check your business details, select '<b>Check business</b>' in the table below.</p>

				</div>

			</div>
			<!-- End -->


			<!-- complete alert -->
			<div class="alert-complete" role="alert">

				<div class="alert-message">

					<p>Your reference number is</p>

          <strong class="alert-number">200113567</strong>

				</div>

			</div>
			<!-- End -->


			<!-- reference alert -->
			<div class="alert-reference" role="alert">

				<div class="alert-message">

					<p>CPH number</p>

          <strong class="alert-number">200113567</strong>

				</div>

			</div>
			<!-- End -->


		</div>
		<!-- End -->