	<a class="back-link" href="/">Back to the index</a>


	<h1 class="heading-xlarge">Alerts</h1>
	
	
	<!-- introduction -->
	<div class="text">
  	
  	<h2 class="heading-medium">Looking for the HTML?</h2>
    
    <p>The HTML snippets can be found in the <a href="/elements/snippets/#alerts">snippets page</a>.</p>
  	
	</div>


  <!-- success -->
  <h3 class="heading-medium">Success</h3>
  
  
  <div class="example">
  
    <div class="alert-success text" role="alert">
    
      <span class="icon icon-tick" role="presentation"></span>
      
      <div class="alert-message">
      
        <p>You have amended your business details</p>
      
      </div>
    
    </div>
  
  </div>


  <!-- information -->
  <h3 class="heading-medium">Information</h3>
  
  
  <div class="example">
  
    <div class="alert-info text" role="alert">
    
      <div class="alert-message">
      
        <p>To view your business details, view and amend land parcels and land cover, select 'View business' in the table below.</p>
      
      </div>
    
    </div>
  
  </div>


  <!-- eligible -->
  <h3 class="heading-medium">Eligible</h3>
  
  
  <div class="example">
  
    <div class="alert-info text" role="alert">
    
      <span class="icon icon-tick" role="presentation"></span>
      
      <div class="alert-message">
        <p>Based on the information you have given us, you might be eligble to receive entitlements from the National Reserve.</p>
      </div>
    
    </div>
  
  </div>


  <!-- not eligible -->
  <h3 class="heading-medium">Not eligible</h3>
  
  
  <div class="example">
  
    <div class="alert-info text" role="alert">
    
      <span class="icon icon-cross" role="presentation"></span>
      
      <div class="alert-message">
        <p>Based on the information you have given us, you are not eligble to receive entitlements from the National Reserve.</p>
      </div>
    
    </div>
  
  </div>


  <!-- error -->
  <h3 class="heading-medium">Error</h3>
  
  
  <div class="example">
  
    <div class="alert-error text" role="alert">
    
      <span class="icon icon-cross" role="presentation"></span>
      
      <div class="alert-message">
        <p>The land use area you've entered is greater than the size of the parcel. Check and try again.</p>
      </div>
    
    </div>
  
  </div>


  <!-- informative -->
  <h3 class="heading-medium">Informative</h3>
  
  
  <div class="example">
  
    <div class="alert-info text" role="alert">
    
      <div class="alert-message">
      
        <h3 class="alert-header"><span class="alert-number">4</span> businesses to check</h3>
        
        <p>To check your business details, select 'Check business' in the table below.</p>
        
      </div>
    
    </div>
  
  </div>


  <!-- completion -->
  <h3 class="heading-medium">Completion</h3>
  
  
  <div class="example">
  
    <div class="alert-complete text" role="alert">
    
      <div class="alert-message">
      
        <p>Your reference number is</p>
        
        <strong class="alert-number">200113567</strong>
        
      </div>
    
    </div>
  
  </div>


  <!-- reference -->
  <h3 class="heading-medium">Reference</h3>
  
  
  <div class="example">
  
    <div class="alert-info text" role="alert">
    
      <div class="alert-message">
      
        <p>CPH number</p>
        
        <strong class="alert-number">200113567</strong>
        
      </div>
    
    </div>
  
  </div>
  
  
  <p><a href="#content">Back to the top</a></p>