		<a class="back-link" href="/pages/accountable-people/business-ownership/">Back to business ownership</a>
    
    
    <h1 class="heading-xlarge">Sole trader details <span class="heading-secondary">Beech Farm</span></h1>
    
    <p class="lede text">By declaring this business as being operated by a sole trader we will assume that this person is 100&#37; accountable.</p>
    
    
    <form class="form" id="form-sole-trader-details" method="get" action="/pages/accountable-people/confirm-sole-trader-details/">
      
      
      <div class="form-group">
        
        <label class="block-label">
          <input type="checkbox" id="business-owner" value="yes" name="checkbox-group">I am the business owner; use my details
        </label>
        
      </div>
      
      
      <div class="form-group">
        
        <label for="first-name">
          <span class="form-label">First name</span>
        </label>
        
        <input class="form-control" id="first-name" type="text">
        
      </div>
      
      
      <div class="form-group">
        
        <label for="last-name">
          <span class="form-label">Last name</span>
        </label>
        
        <input class="form-control" id="last-name" type="text">
        
      </div>
      
      
      <div class="form-group">
        
        <label for="email">
          <span class="form-label">Email</span>
        </label>
        
        <input class="form-control" id="email" type="email">
        
      </div>
      
      
      <div class="form-group-compound">
        
        <label for="ni-number">
          <span class="form-label">National Insurance number</span>
          <span class="form-hint">What is the national insurance number of this person?</span>
        </label>
        
        <input class="form-control" id="ni-number" type="text">
        
      </div>
      
      
      <div class="form-group">
      
        <details>
      
          <summary><span class="summary">Why do I need to provide a National Insurance number?</span></summary>
          
          <div class="panel-indent text">
            <p>Donec maximus placerat turpis, varius ullamcorper ligula. In ac egestas dui. Maecenas at imperdiet turpis, non luctus lorem.</p>
            <p>Proin placerat, enim a vehicula tincidunt, risus mi rutrum felis, ut mattis augue mauris ac augue. Ut at nisi eget purus tempus vulputate sed in lacus.</p>
          </div>
        
        </details>
      
      </div>
    
    
      <div class="form-group">
        
        <div class="data">
          <h2 class="bold-large">100%</h2>
          <p class="font-xsmall">share in business</p>
        </div>
        
      </div>
      
      
      <div class="form-group">
        
        <div class="data">
          <h2 class="bold-large">100%</h2>
          <p class="font-xsmall">voting rights (if applicable)</p>
        </div>
        
      </div>
    
    
      <!--div class="form-group">
        
        <label for="business-share">
          <span class="form-label">Share in business</span>
        </label>
        
        <input class="form-control form-control-1-8" id="business-share" type="text" value="60%" disabled>
        
      </div>
      
      
      <div class="form-group">
        
        <label for="voting-rights">
          <span class="form-label">Voting rights (if applicable)</span>
        </label>
        
        <input class="form-control form-control-1-8" id="voting-rights" type="text" value="10%" disabled>
        
      </div-->
    
      
      <div class="form-group">
      
        <fieldset class="inline">
        
          <legend>
            <span class="form-label">Is this person involved in any other farming businesses?</span>
          </legend>
          
          <div class="form-group form-group-compound">
          
            <label class="block-label" data-target="other-businesses" for="radio-indent-3">
              <input id="radio-indent-3" name="radio-indent-group" value="Yes" type="radio"> Yes
            </label>
            
            <label class="block-label" for="radio-indent-4">
              <input id="radio-indent-4" name="radio-indent-group" value="No" type="radio"> No
            </label>
          
          </div>
          
          <div class="panel-indent js-hidden" id="other-businesses">
    
            <label for="farming--businesses">
              <span class="form-label">Tell us the <abbr title="Single Business Identifiers">SBIs</abbr> for other farming businesses</span>
            </label>
            
            <textarea class="form-control form-control-textarea" id="farming--businesses" rows="6" cols="50"></textarea>
            
          </div>
          
        </fieldset>
      
      </div>
    
    
      <button class="button" type="submit">Continue</button>
      
      
    </form>
    
    