		<a class="link-back" href="/accountable-people/business-ownership/accountable-person/summary/">Back to Accountable people summary</a>
    
    
    <div class="text">
      
      <h1 class="heading-xlarge">{{pagetitle}} <span class="heading-secondary">Beech Farm</span></h1>

    </div>
    
    
    <form class="form" method="get" action="/accountable-people/business-ownership/accountable-person/business-details/">
      
      
      <div class="text">
      
        <h2 class="heading-medium">Have you given us the details of all people currently accountable for this business?</h2>
        
        <p>If you need to inform us of any changes to accountable people you can do so through this service at any time, for example if the shareholder structure changes significantly.</p>
      
      </div>
    
        
      <div class="form-group form-group-compound">
        
        <fieldset class="inline">
      
          <legend class="visuallyhidden">Choose if you have given us all the accountable people details for this business</legend>
          
          <div class="form-group form-group-compound">
          
            <label class="block-label" for="radio-inline-1">
              <input id="radio-inline-1" name="radio-inline-group" value="Yes" type="radio"> Yes
            </label>
            
            <label class="block-label" for="radio-inline-2">
              <input id="radio-inline-2" name="radio-inline-group" value="No" type="radio"> No
            </label>
          
          </div>
        
        </fieldset>
      
      </div>
    
    
      <button class="button" type="submit">Continue</button>
      
      
      <p><a href="/accountable-people/business-ownership/accountable-person/summary/">Cancel</a></p>
      
      
    </form>