  {{>breadcrumb}}

  <div class="grid-row">
    
    
    <div class="column-two-thirds">


      <form class="form">
        
        
        <h1 class="form-title heading-xlarge">{{page_name}}</h1>
        
        
        <div class="form-group">
        
          <fieldset>
          
            <legend class="visuallyhidden">Choose the address to send your new passport to</legend>
            
            <label class="block-label" for="radio-home-address">
              <input id="radio-home-address" type="radio" name="radio-indent-group" value="Yes">Home address
            </label>
            
            <label class="block-label" for="radio-other-address" data-target="other-address">
              <input id="radio-other-address" type="radio" name="radio-indent-group" value="No">Other address
            </label>
          
          </fieldset>
        
        </div>
        
        
        <div class="panel-indent toggle-content js-hidden" id="other-address">
        
          <fieldset>
          
            <legend class="heading-medium">Your other address</legend>
            
            <div class="form-group form-group-compound">
              <label class="form-label" for="address-line-1">Street</label>
              <input class="form-control" id="address-line-1" type="text">
            </div>
            
            <div class="form-group">
              <label class="form-label visuallyhidden" for="address-line-2">Street</label>
              <input class="form-control" id="address-line-2" type="text">
            </div>
            
            <div class="form-group">
              <label class="form-label" for="address-town">Town or City</label>
              <input class="form-control form-control-1-4" id="address-town" type="text">
            </div>
            
            <div class="form-group">
              <label class="form-label" for="address-postcode">Postcode</label>
              <input class="form-control form-control-1-8" id="address-postcode" type="text">
            </div>
          
          </fieldset>
        
        </div>
        
        
        <div class="form-group">
        
          <button class="button" type="submit">Continue</button>
        
        </div>
        
        
        <ul>
          <li><a href="../">Skip this section for now</a></li>
          <li><a href="../">Back</a></li>
        </ul>
      
      
      </form>


    </div>
    
    
  </div>