  {{>breadcrumb}}
  
  
  <h1 class="heading-xlarge"><span class="heading-secondary">{{title}}</span> {{page_name}}</h1>


  <h3 class="heading-medium">Headings</h3>
  
  <div class="example">
    <h1 class="heading-xlarge">A <mark class="highlight">48px bold</mark> heading</h1>
    <h2 class="heading-large">A <mark class="highlight">36px bold</mark> heading</h2>
    <h3 class="heading-medium">A <mark class="highlight">24px bold</mark> heading</h3>
    <h4 class="heading-small">A <mark class="highlight">19px bold</mark> heading</h4>
  </div>
  <pre><code class="prettyprint">
  &lt;h1 class=&quot;heading-xlarge&quot;&gt;A 48px bold heading&lt;/h1&gt;
  &lt;h2 class=&quot;heading-large&quot;&gt;A 36px bold heading&lt;/h2&gt;
  &lt;h3 class=&quot;heading-medium&quot;&gt;A 24px bold heading&lt;/h3&gt;
  &lt;h4 class=&quot;heading-small&quot;&gt;A 19px bold heading&lt;/h4&gt;
  </code></pre>
    

  <h3 class="heading-medium">Lead paragraph</h3>
  
  <p>There should only be one lead paragraph per page.</p>
  
  
  <div class="example">
  
    <div class="text">
    
      <p class="lede">A <mark class="highlight">24px</mark> lead paragraph, maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      
      <p>A <mark class="highlight">19px</mark> body copy paragraph, maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      
    </div>
  
  </div>
  
  <pre><code class="prettyprint">
  &lt;p class=&quot;lede&quot;&gt;
    A 24px lead paragraph, maecenas sed diam eget risus varius blandit sit amet non magna.
  &lt;/p&gt;
  
  &lt;p&gt;
    A 19px body copy paragraph, maecenas sed diam eget risus varius blandit sit amet non magna.
  &lt;/p&gt;
  </code></pre>
  

  <h3 class="heading-medium">Links</h3>
  
  <p>Links without surrounding text should not have a full stop at the end</p>
  
  
  <div class="example">
  
    <div class="text">
      
      <p><a href="#">A 19px link without surrounding text</a></p>
    
      <p><a href="#">A 19px body copy link.</a> Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    
      <p><a href="#" rel="external">A 19px body copy external link.</a> Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      
      <a class="link-back" href="#">Back</a>
      
    </div>
    
  </div>
  
  <pre><code class="prettyprint">
  &lt;p&gt;&lt;a href=&quot;#&quot;&gt;A 19px link without surrounding text&lt;/a&gt;&lt;/p&gt;
  
  &lt;p&gt;&lt;a href=&quot;#&quot;&gt;A 19px body copy link.&lt;/a&gt; Fusce dapibus, tellus ac cursus commodo, 
  tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.&lt;/p&gt;
  
  &lt;p&gt;&lt;a href=&quot;#&quot; rel=&quot;external&quot;&gt;A 19px body copy external link.&lt;/a&gt; Fusce dapibus, 
  tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo 
  sit amet risus.&lt;/p&gt;
  
  &lt;a class=&quot;back-link&quot; href=&quot;#&quot;&gt;Back&lt;/a&gt;
  </code></pre>
  
  
  <h3 class="heading-medium">Lists</h3>
  
  <p class="text">List items start with a lowercase letter and have no full stop at the end.</p>
  
  
  <div class="example">
    
    <ul class="list-bullet">
      <li>here is a bulleted list</li>
      <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor</li>
      <li>vestibulum id ligula porta felis euismod semper</li>
      <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
    </ul>
    
    <ol class="list-number">
      <li>here is a numbered list</li>
      <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor</li>
      <li>vestibulum id ligula porta felis euismod semper</li>
      <li>integer posuere erat <a href="https://www.gov.uk" rel="external">visit gov.uk</a></li>
    </ol>
    
    <ul class="list-alpha">
      <li>here is a lower alpha list</li>
      <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor</li>
      <li>vestibulum id ligula porta felis euismod semper</li>
      <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
    </ul>
    
  </div>
  <pre><code class="prettyprint">
  &lt;ul class=&quot;list-bullet&quot;&gt;
    &lt;li&gt;here is a bulleted list&lt;/li&gt;
    &lt;li&gt;vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor&lt;/li&gt;
    &lt;li&gt;vestibulum id ligula porta felis euismod semper&lt;/li&gt;
    &lt;li&gt;integer posuere erat a ante venenatis dapibus posuere velit aliquet&lt;/li&gt;
  &lt;/ul&gt;
  
  &lt;ol class=&quot;list-number&quot;&gt;
    &lt;li&gt;here is a numbered list&lt;/li&gt;
    &lt;li&gt;vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor&lt;/li&gt;
    &lt;li&gt;vestibulum id ligula porta felis euismod semper&lt;/li&gt;
    &lt;li&gt;integer posuere erat &lt;a href=&quot;#&quot; rel=&quot;external&quot;&gt;visit gov.uk&lt;/a&gt;&lt;/li&gt;
  &lt;/ol&gt;
  
  &lt;ul class=&quot;list-alpha&quot;&gt;
    &lt;li&gt;here is a lower alpha list&lt;/li&gt;
    &lt;li&gt;vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor&lt;/li&gt;
    &lt;li&gt;vestibulum id ligula porta felis euismod semper&lt;/li&gt;
    &lt;li&gt;integer posuere erat a ante venenatis dapibus posuere velit aliquet&lt;/li&gt;
  &lt;/ul&gt;
  </code></pre>
  
  
  <h3 class="heading-medium">Inset text</h3>
  
  <p class="text">Use bordered inset text to draw attention to important content on the page.</p>
  
  
  <div class="example">
    
    <div class="panel-indent text">
      <p>It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes 
      in the application.</p>
    </div>
  
  </div>
  
  <pre><code class="prettyprint">
  &lt;div class=&quot;panel-indent&quot;&gt;
    &lt;p&gt;It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes 
    in the application.&lt;/p&gt;
  &lt;/div&gt;
  </code></pre>
  

  <h3 class="heading-medium">Hidden text (progressive disclosure)</h3>
  
  <p class="text">Click on "Help with nationality" to see how this works.</p>
  
  
  <div class="example">
  
    <details>
      <summary><span class="summary">Help with nationality</span></summary>
      <div class="panel-indent text">
        <p>If you’re not sure about your nationality, try to find out from an official document like a passport or national ID card.</p>
        <p>We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post.</p>
      </div>
    </details>
  
  </div>
  
  <pre><code class="prettyprint">
  &lt;details&gt;
  
    &lt;summary&gt;&lt;span class=&quot;summary&quot;&gt;Help with nationality&lt;/span&gt;&lt;/summary&gt;
    
    &lt;div class=&quot;panel-indent&quot;&gt;
    
      &lt;p&gt;If you&#x2019;re not sure about your nationality, try to find out from an official 
      document like a passport or national ID card.&lt;/p&gt;
      
      &lt;p&gt;We need to know your nationality so we can work out which elections 
      you&#x2019;re entitled to vote in. If you can&#x2019;t provide your nationality, you&#x2019;ll 
      have to send copies of identity documents through the post.&lt;/p&gt;
    
    &lt;/div&gt;
  
  &lt;/details&gt;
  </code></pre>

  
  <h3 class="heading-medium">Heading (supporting information)</h3>
  
  <div class="example">
  
    <h1 class="heading-xlarge">Personal details 
      <span class="heading-secondary">Sidney Bechet</span>
    </h1>
  
  </div>
  
  <pre><code class="prettyprint">
  &lt;h1 class=&quot;heading-xlarge&quot;&gt;
    Personal details 
    &lt;span class=&quot;heading-secondary&quot;&gt;Sidney Bechet&lt;/span&gt;
  &lt;/h1&gt;
  </code></pre>

  <div class="example">
  
    <h1 class="heading-xlarge">
      <span class="heading-secondary">Sidney Bechet</span>
      Personal details 
    </h1>
  
  </div>
  
  <pre><code class="prettyprint">
  &lt;h1 class=&quot;heading-xlarge&quot;&gt;
    &lt;span class=&quot;heading-secondary&quot;&gt;Sidney Bechet&lt;/span&gt;
    Personal details 
  &lt;/h1&gt;
  </code></pre>
  

  <h3 class="heading-medium">Headings as links with description</h3>
  
  <div class="example">
    <h3 class="heading-medium"><a href="#">Venenatis dapibus posuere</a></h3>
    <p>Vestibulum id ligula porta felis euismod semper.</p>
    <h4 class="heading-small"><a href="#">Venenatis dapibus posuere</a></h4>
    <p>Vestibulum id ligula porta felis euismod semper.</p>
  </div>
  
  <pre><code class="prettyprint">
  &lt;h3 class=&quot;heading-medium&quot;&gt;&lt;a href=&quot;#&quot;&gt;Venenatis dapibus posuere&lt;/a&gt;&lt;/h3&gt;
  &lt;p&gt;Vestibulum id ligula porta felis euismod semper.&lt;/p&gt;
  
  &lt;h3 class=&quot;heading-small&quot;&gt;&lt;a href=&quot;#&quot;&gt;Venenatis dapibus posuere&lt;/a&gt;&lt;/h3&gt;
  &lt;p&gt;Vestibulum id ligula porta felis euismod semper.&lt;/p&gt;
  </code></pre>
  
  
  <h3 class="heading-medium">Steps</h3>
  
  <p>A multiple step process.</p>
  
  
  <div class="example">
    <h2 class="steps-heading"><span class="steps-pos">Step 1 of 6</span> Your details</h2>
  </div>
  
  <pre><code class="prettyprint">
  &lt;h2 class=&quot;steps-heading&quot;&gt;
    &lt;span class=&quot;steps-pos&quot;&gt;Step 1 of 6&lt;/span&gt; 
    Your details
  &lt;/h2&gt;
  </code></pre>
  

  <h3 class="heading-medium">Titled list</h3>
  
  <div class="example">
  
    <div class="titled-list">
    
      <h4 class="titled-list-title"><abbr title="Single Business Identifier">SBI:</abbr></h4>
      
      <div class="titled-list-value">
      
        <ul>
          <li>064865934</li>
          <li>593768976</li>
          <li>234757999</li>
        </ul>
      
      </div>
    
    </div>
  
  </div>
  
  <pre><code class="prettyprint">
  &lt;div class=&quot;titled-list&quot;&gt;
  
    &lt;h4 class=&quot;titled-list-title&quot;&gt;
      &lt;abbr title=&quot;Single Business Identifier&quot;&gt;SBI:&lt;/abbr&gt;
    &lt;/h4&gt;
    
    &lt;div class=&quot;titled-list-value&quot;&gt;
      &lt;ul&gt;
        &lt;li&gt;064865934&lt;/li&gt;
        &lt;li&gt;593768976&lt;/li&gt;
        &lt;li&gt;234757999&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  
  &lt;/div&gt;
  </code></pre>
  
  
  <h2 class="heading-medium">Address</h2>
  
  <p class="text">Addresses are using <a href="http://microformats.org/wiki/microdata" rel="external">microdata</a> as a way of giving more semantic meaning to our content and data.</p>
  
  
  <div class="example">
  
    <div class="hcard" itemtype="http://schema.org/Organization" itemscope>
    
      <div itemprop="name"><b>Beech Farm</b></div>
      
      <div class="hcard-adr" itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope>
        <div itemprop="streetAddress">Pooley Bridge</div>
        <div itemprop="addressLocality">Penrith</div>
        <div itemprop="addressRegion">Cumbria</div>
        <div itemprop="postalCode">CH3 6NZ</div>
        <div itemprop="addressCountry">United Kingdom</div>
      </div>
      
      <div itemprop="telephone">0147 9643 7770</div>
      <div itemprop="email"><a href="mailto:joe.bloggs@beechfarm.co.uk">joe.bloggs@beechfarm.co.uk</a></div>
      
    </div>
  
  </div>
  
  <pre><code class="prettyprint">
  &lt;div class=&quot;hcard&quot; itemtype=&quot;http://schema.org/Organization&quot; itemscope&gt;
    
    &lt;div itemprop=&quot;name&quot;&gt;&lt;b&gt;Beech Farm&lt;/b&gt;&lt;/div&gt;
    
    &lt;div class=&quot;hcard-adr&quot; itemprop=&quot;address&quot; itemtype=&quot;http://schema.org/PostalAddress&quot; itemscope&gt;
      &lt;div itemprop=&quot;streetAddress&quot;&gt;Pooley Bridge&lt;/div&gt;
      &lt;div itemprop=&quot;addressLocality&quot;&gt;Penrith&lt;/div&gt;
      &lt;div itemprop=&quot;addressRegion&quot;&gt;Cumbria&lt;/div&gt;
      &lt;div itemprop=&quot;postalCode&quot;&gt;CH3 6NZ&lt;/div&gt;
      &lt;div itemprop=&quot;addressCountry&quot;&gt;United Kingdom&lt;/div&gt;
    &lt;/div&gt;
    
    &lt;div itemprop=&quot;telephone&quot;&gt;0147 9643 7770&lt;/div&gt;
    &lt;div itemprop=&quot;email&quot;&gt;&lt;a href=&quot;mailto:joe.bloggs@beechfarm.co.uk&quot;&gt;joe.bloggs@beechfarm.co.uk&lt;/a&gt;&lt;/div&gt;
    
  &lt;/div&gt;
  </code></pre>