  <a class="back-link" href="/">Back to the index</a>


  <h1 class="heading-xlarge">Typography</h1>
  

  <!-- introduction -->
  <div class="text">
    
    <p>Use the GDS Transport Website font in Light and Bold. It's licensed for use on the GOV.UK domains only.</p>  
    
    <h2 class="heading-medium">Looking for the HTML?</h2>
    
    <p>The HTML snippets can be found in the <a href="/elements/snippets/#typography">snippets page</a>.</p>
  
  </div>


  <!-- headings -->
  <h3 class="heading-medium">Headings</h3>
  
  
  <ul class="list-bullet text">
    <li>use GDS Transport Website Bold</li>
    <li>use sentence case for headings</li>
    <li>use headings consistently to create a clear hierarchy</li>
  </ul>
  
  
  <div class="example">
    <h1 class="heading-xlarge">A <mark class="highlight">48px bold</mark> heading</h1>
    <h2 class="heading-large">A <mark class="highlight">36px bold</mark> heading</h2>
    <h3 class="heading-medium">A <mark class="highlight">24px bold</mark> heading</h3>
    <h4 class="heading-small">A <mark class="highlight">19px bold</mark> heading</h4>
  </div>
    

  <!-- lead paragraph -->
  <h3 class="heading-medium">Lead paragraph</h3>
  
  
  <p>There should only be one lead paragraph per page.</p>
  
  
  <div class="example">
  
    <div class="text">
    
      <p class="lede">A <mark class="highlight">24px</mark> lead paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.</p>
      
      <p>A <mark class="highlight">19px</mark> body copy paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.</p>
      
    </div>
  
  </div>
  
  
  <!-- body copy -->
  <h3 class="heading-medium">Body copy</h3>
  
  
  <ul class="list-bullet text">
    <li>use GDS Transport Website Light</li>
    <li>avoid using bold and italics</li>
    <li>use 19px for body copy &ndash; 16px for smaller screens</li>
    <li>use smaller sizes only if there's a user need (eg 16px, 14px, 12px)</li>
    <li>make sure lines of text don't exceed 75 characters, as they become harder to read beyond that point</li>
    <li>for example, on this page &ndash; text blocks are two&ndash;thirds of the page width</li>
  </ul>
  
  
  <div class="example">
  
    <div class="text">
    
      <p>A <mark class="highlight">19px</mark> body copy paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.</p>
      
      <p class="font-xsmall">A <mark class="highlight">16px</mark> supporting text paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.</p>
      
    </div>
  
  </div>
  
  
  <!-- links -->
  <h3 class="heading-medium">Links</h3>
  
  
  <ul class="list-bullet">
    <li>links within body copy should be blue and underlined</li>
    <li>links without surrounding text should not have a full stop at the end</li>
  </ul>
  
  
  <div class="example">
  
    <p><a href="/">A 19px link without surrounding text</a></p>
    
    <p><a href="/">A 19px body copy link</a>. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    
    <p><a href="/" rel="external">A 19px body copy external link</a>. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    
  </div>
  
  
  <!-- lists -->
  <h3 class="heading-medium">Lists</h3>
  
  
  <p class="text">List items start with a lowercase letter and have no full stop at the end.</p>
  
  
  <div class="example">
    
    <ul class="list-bullet">
      <li>here is a bulleted list</li>
      <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor</li>
      <li>vestibulum id ligula porta felis euismod semper</li>
      <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
    </ul>
    
    <ul class="list-number">
      <li>here is a numbered list</li>
      <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor</li>
      <li>vestibulum id ligula porta felis euismod semper</li>
      <li>integer posuere erat <a href="https://www.gov.uk" rel="external">visit gov.uk</a></li>
    </ul>
    
    <ul class="list-alpha">
      <li>here is a lower alpha list</li>
      <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor</li>
      <li>vestibulum id ligula porta felis euismod semper</li>
      <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
    </ul>
    
  </div>
  
  
  <!-- inset text -->
  <h3 class="heading-medium">Inset text</h3>
  
  
  <div class="example">
    
    <div class="panel-indent text">
      <p>It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes 
      in the application.</p>
    </div>
  
  </div>


  <!-- hidden text -->
  <h3 class="heading-medium">Hidden text (progressive disclosure)</h3>
  
  
  <div class="text">
    
    <p>Use this to make your page easier to scan, only showing contextual information when required.</p>
    
    <p>Click on 'Help with nationality' to see how this works.</p>
  
  </div>
  
  
  <div class="example">
  
    <details>
      <summary><span class="summary">Help with nationality</span></summary>
      <div class="panel-indent text">
        <p>If you’re not sure about your nationality, try to find out from an official document like a passport or national ID card.</p>
        <p>We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post.</p>
      </div>
    </details>
  
  </div>
  
  
  <!-- heading with parcel information -->
  <h3 class="heading-medium">Heading with parcel information</h3>
  
  
  <div class="example">
  
    <header class="page-header">
    
      <h1>North paddock</h1>
      
      <dl class="list-parcel">
        <dt>Area</dt>
        <dd>5.76<abbr title="hectares">ha</abbr></dd>
        <dt>ID</dt>
        <dd>SJ8063_3931</dd>
        <dt>Organic status</dt>
        <dd>In conversion</dd>
      </dl>
    
    </header>
  
  </div>
  
  
  <!-- heading with supporting information -->
  <h3 class="heading-medium">Heading with supporting information</h3>
  
  
  <div class="example">
  
    <h1 class="heading-xlarge">Personal details 
      <span class="heading-secondary">Sidney Bechet</span>
    </h1>
  
  </div>
  
  
  <!-- headings as links with description -->
  <h3 class="heading-medium">Headings as links with description</h3>
  
  
  <div class="example">
    <h3 class="heading-medium"><a href="#">Venenatis dapibus posuere</a></h3>
    <p>Vestibulum id ligula porta felis euismod semper.</p>
    <h4 class="heading-small"><a href="#">Venenatis dapibus posuere</a></h4>
    <p>Vestibulum id ligula porta felis euismod semper.</p>
  </div>
  
  
  <!-- step process -->
  <h3 class="heading-medium">Steps</h3>
  
  
  <p>A multiple step process.</p>
  
  
  <div class="example">
    <h2 class="steps-heading"><span class="steps-pos">Step 1 of 6</span> Your details</h2>
  </div>
  
  
  <!-- titled list -->
  <h3 class="heading-medium">Titled list</h3>
  
  
  <div class="example">
  
    <div class="titled-list">
    
      <h4 class="titled-list-title"><abbr title="Single Business Identifier">SBI:</abbr></h4>
      
      <div class="titled-list-value">
      
        <ul>
          <li>064865934</li>
          <li>593768976</li>
          <li>234757999</li>
        </ul>
      
      </div>
    
    </div>
  
  </div>
  
  
  <!-- address -->
  <h2 class="heading-medium">Address</h2>
  
  
  <div class="text">
    
    <p>Addresses are using <a href="http://microformats.org/wiki/microdata" rel="external">microdata</a> as a way of giving more semantic meaning to our content and data.</p>
    
  </div>
  
  
  <div class="example">
  
    <div class="hcard" itemtype="http://schema.org/Organization" itemscope>
    
      <div itemprop="name"><b>Beech Farm</b></div>
      
      <div class="hcard-adr" itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope>
        <div itemprop="streetAddress">Pooley Bridge</div>
        <div itemprop="addressLocality">Penrith</div>
        <div itemprop="addressRegion">Cumbria</div>
        <div itemprop="postalCode">CH3 6NZ</div>
        <div itemprop="addressCountry">United Kingdom</div>
      </div>
      
      <div itemprop="telephone">0147 9643 7770</div>
      <div itemprop="email"><a href="mailto:joe.bloggs@beechfarm.co.uk">joe.bloggs@beechfarm.co.uk</a></div>
      
    </div>
  
  </div>
  
  
  <p><a href="#content">Back to the top</a></p>