		<a class="back-link" href="../">Back to Fallow field</a>


    <div class="grid-row">


      <div class="column-half">


        <h1 class="heading-xlarge">Arable land</h1>


        <!-- form -->
        <form class="form" method="get" action="../edit-feature/">


          <div class="form-group">

            <label class="form-label" for="land-use">What is this land used for?
              <span class="form-hint">For example 'Pond', 'Trees' or 'Farmyard'</span>
            </label>

            <input class="form-control form-control-3-4" id="land-use" type="text" value="Pond">

          </div>


          <p class="form-block"><a href="#">Add another crop</a></p>


          <div class="form-group">
            <button class="button" type="submit">Continue</button>
          </div>


        </form>
        <!-- end -->


      </div>


      <div class="column-half">

        <img class="img-border img-responsive" src="http://placehold.it/930x930/dee0e2" alt="*">

      </div>


    </div>