		<a class="back-link" href="/">Back to the index</a>


		<h1 class="heading-xlarge"><abbr title="Hypertext Markup Language">HTML</abbr> Snippets</h1>


    <!-- introduction -->
		<div class="text">
  		
  		<p class="lede"><abbr title="Hypertext Markup Language">HTML</abbr> snippets can be used to help with prototyping and becoming more familiar with reusable <abbr title="Hypertext Markup Language">HTML</abbr>.</p>
  		
  		<p>When you mark&ndash;up elements please ensure that the 'class tag' is used first! This allows for quick visibility for styles associated to elements, and allows for consistency.</p>

		</div>
		
		
		<!-- index -->
		<h2 class="heading-medium">Index</h2>


    <div class="grid-row">

      <div class="column-third">

				<ul class="list-nav">
				  <li><a href="#layout">Layout</a></li>
				  <li><a href="#typography">Typography</a></li>
				  <li><a href="#forms">Forms</a></li>
				  <li><a href="#buttons">Buttons</a></li>
				  <li><a href="#validation">Errors &amp; Validation</a></li>
				</ul>

      </div>

      <div class="column-third">

				<ul class="list-nav">
  				<li><a href="#tables">Tables</a></li>
				  <li><a href="#details">Details</a></li>
				  <li><a href="#pagination">Pagination</a></li>
          <li><a href="#alerts">Alerts</a></li>
				</ul>

      </div>

      <div class="column-third">

				<ul class="list-nav">
  				<li><a href="#tabs">Tabs</a></li>
  				<li><a href="#collapsibles">Collapsibles</a></li>
  				<li><a href="#checklist">Checklist</a></li>
				  <li><a href="#related">Related</a></li>
				</ul>

      </div>

    </div>
    
    
{{>snippets/layout}}
{{>snippets/typography}}
{{>snippets/forms}}
{{>snippets/buttons}}
{{>snippets/validation}}
{{>snippets/tables}}
{{>snippets/details}}
{{>snippets/pagination}}
{{>snippets/alerts}}
{{>snippets/tabs}}
{{>snippets/collapsibles}}
{{>snippets/checklist}}
{{>snippets/related}}