    {{>breadcrumb}}
    
    
    <div class="grid-row">
      
      
      <div class="column-two-thirds">
        
      
        <h1 class="heading-xlarge">{{page_name}} <span class="heading-secondary">{{business_name}}</span></h1>
  
      
        <form class="form" id="form-declaration-accountable-people" method="post">
          
          
          <h2 class="heading-medium">Have you given us the details of all people currently accountable for this business?</h2>
            
          <p>If you need to inform us of any changes to accountable people you can do so through this service at any time, for example if the shareholder structure changes significantly.</p>
        
            
          <div class="form-group form-group-compound">
            
            <fieldset class="inline">
          
              <legend class="visuallyhidden">Choose if you have given us all the accountable people details for this business</legend>
              
              <div class="form-group form-group-compound">
              
                <label class="block-label" for="radio-inline-1" data-target="yes">
                  <input id="radio-inline-1" name="radio-inline-group" value="Yes" type="radio"> Yes
                </label>
                
                <label class="block-label" for="radio-inline-2" data-target="no">
                  <input id="radio-inline-2" name="radio-inline-group" value="No" type="radio"> No
                </label>
                
                <div class="panel-indent js-hidden" id="yes">
                  <p>I have completed the details of all the accountable people for this business.</p>
                </div>
                
                <div class="panel-indent js-hidden" id="no">
                  <p>I have not completed all the details yet, they will be declared later. I understand that if this information is not provided, any payments due to the business may be withheld.</p>
                </div>
              
              </div>
            
            </fieldset>
          
          </div>
        
        
          <div class="form-group">
            
            <button class="button" type="submit" disabled="disabled">Continue</button>
            
          </div>
          
          
          <p><a href="/accountable-people/business-ownership/accountable-person/summary/">Cancel</a></p>
          
          
        </form>
      
      
      </div>
      
      
    </div>