  {{>breadcrumb}}
  
  
  <h1 class="heading-xlarge"><span class="heading-secondary">{{title}}</span> {{page_name}}</h1>


  <div class="example">
  
    <div class="checklist-done">
      <p>This business has enough eligible land.</p>
    </div>
    
    <div class="checklist-notmet">
      <p>This business doesn't have enough eligible land.</p>
    </div>
    
    <div class="checklist-inprogress">
      <p>Tell us more about your <a href="#">business activities</a>.</p>
    </div>
  
  </div>
  
  
  <pre><code class="prettyprint">
    &lt;div class=&quot;checklist-done&quot;&gt;
      &lt;p&gt;This business has enough eligible land.&lt;/p&gt;
    &lt;/div&gt;
    
    &lt;div class=&quot;checklist-notmet&quot;&gt;
      &lt;p&gt;This business doesn't have enough eligible land.&lt;/p&gt;
    &lt;/div&gt;
    
    &lt;div class=&quot;checklist-inprogress&quot;&gt;
      &lt;p&gt;Tell us more about your &lt;a href=&quot;#&quot;&gt;business activities&lt;/a&gt;.&lt;/p&gt;
    &lt;/div&gt;
  </code></pre>
  
  
  <h3 class="heading-medium">Examples</h3>
  
  <ul class="list-bullet">
    <li><a href="example">an example page with a checklist</a></li>
  </ul>