  <a class="back-link" href="/">Back to the index</a>


	<h1 class="heading-xlarge">Checklist</h1>
	
	
	<!-- introduction -->
  <div class="text">
    
    <p>See an example of an in&ndash;page <a href="example">checklist</a>.</p>
    
    <h2 class="heading-medium">Looking for the HTML?</h2>
    
    <p>The HTML snippets can be found in the <a href="/elements/snippets/#checklist">snippets page</a>.</p>
    
  </div>


  <!-- checklist -->
  <div class="example">
  
    <div class="checklist-done">
      <p>This business has enough eligible land.</p>
    </div>
    
    <div class="checklist-notmet">
      <p>This business doesn't have enough eligible land.</p>
    </div>
    
    <div class="checklist-inprogress">
      <p>Tell us more about your <a href="#">business activities</a>.</p>
    </div>
  
  </div>
  
  
  <p><a href="#content">Back to the top</a></p>