    <a class="back-link" href="/">Back to the index</a>


		<h1 class="heading-xlarge">Checklist</h1>


    <div class="text">

      <div class="checklist-done">
        <p>This business has enough eligible land.</p>
      </div>

      <div class="checklist-notmet">
        <p>This business doesn't have enough eligible land.</p>
      </div>

      <div class="checklist-inprogress">
        <p><a href="#">Tell us more about your business activities</a>.</p>
      </div>

      <p>See an example of an in page <a href="example">checklist</a></p>

    </div>