  {{>breadcrumb}}


  <div class="grid-row">


    <div class="column-two-thirds">


      <h1 class="form-title heading-xlarge">{{page_name}}</h1>


      <p class="lede">Find out what options are available to encourage environmental land management.</p>


      <h2 class="heading-medium">Statements of Priorities</h2>


      <p>Applicants should select options and items that are most closely aligned to the environmental priorities for their area, as described in the <a rel="external" target="_blank" href="https://www.gov.uk/government/collections/countryside-stewardship-statements-of-priorities">Statements of Priorities</a>. An interactive map of Countryside Stewardship targeting layers is available on <a rel="external" target="_blank" href="http://www.magic.gov.uk/">Magic</a>.</p>
      
      
      <p>Our records indicate that the following Statements of Priorities may be the most relevant for your land:</p>
      
      <ul class="list list-bullet">
        <li><a rel="external" target="_blank" href="https://www.gov.uk/government/publications/countryside-stewardship-statement-of-priorities-berkshire-and-marlborough-downs-nca116">Berkshire and Marlborough Downs (NCA116)</a></li>
        <li><a rel="external" target="_blank" href="https://www.gov.uk/government/publications/countryside-stewardship-statement-of-priorities-thames-basin-heaths-nca129">Thames Basin Heaths (NCA129)</a></li>
      </ul>
      
      
      <h2 class="heading-medium">Priority options</h2>
      
      
      <p>There are 3 main elements to Countryside Stewardship:</p>
      
      
      <ul class="list list-bullet">
        <li>mid Tier</li>
        <li>higher Tier</li>
        <li>capital grants</li>
      </ul>
      
      
      <p>For important and significant environmental features such as large areas of priority habitat and for woodland, higher tier options are available. Find out more on <a href="https://www.gov.uk/government/collections/countryside-stewardship-get-paid-for-environmental-land-management#higher-tier" target="_blank"  rel="external">GOV.UK</a></p>
      
      
      <p>To support the delivery of environmental outcomes, standalone capital grants are available. Find out more on <a href="https://www.gov.uk/government/collections/countryside-stewardship-get-paid-for-environmental-land-management#capital-grants" target="_blank"  rel="external">GOV.UK</a></p>
      
      
      <p>Mid Tier offers options and capital items to achieve simple, but effective environmental benefit. You can find out about which options are most closely aligned to the environmental priorities for your area by clicking 'Continue'.</p>
      
      
      <p><a class="button" href="#" role="button">Continue</a></p>
      
      
    </div>


  </div>
