  {{>breadcrumb}}


  <div class="grid-row">


    <div class="column-two-thirds">


      <h1 class="form-title heading-xlarge">{{page_name}}</h1>


      <p class="lede">Based on the information you have provided, we have determined the Mid Tier Countryside Stewardship options most appropriate for you.</p>
      
      
      <p><a class="help-open" href="#">Help</a></p>


      <div class="panel-indent">

        <p>The assessment of option priority is based on the following information:</p>

        <ul class="list list-bullet">
          <li>you hold land in:
            <ul class="list">
              <li><a href="#" target="_blank" rel="external">Berkshire and Marlborough Downs (NCA116)</a></li>
              <li><a href="#" target="_blank" rel="external">Thames Basin Heaths (NCA129)</a></li>
            </ul>
          </li>
          <li>you do have arable land</li>
          <li>you do have grassland</li>
          <li>you do not have land within the <abbr title="Severely Disadvantaged Area">SDA</abbr></li>
          <li>you do not have organic land</li>
          <li>you are interested in options that help famland birds and pollinators</li>
          <li>you are not interested in options to help breeding waders</li>
          <li>you are interested in addressing water quality issues:
            <ul class="list">
              <li>Phosphate and sediment in surface water</li>
            </ul>
          </li>
          <li>you are not interested in options to manage and protect historic environment features</li>
          <li>you are not interested in options to improve landscape features</li>
        </ul>

      </div>


      <p>Mid Tier Countryside Stewardship applications will score more if they include high priority options. You can find out more on <a href="https://www.gov.uk/government/collections/countryside-stewardship-get-paid-for-environmental-land-management" target="_blank"  rel="external">GOV.UK</a></p>

      <p>Make sure you check the eligibility requirements for each option you wish to apply for before submitting an application. Options must be compatible with the land use declaration made as part of your Basic Payment Scheme application.</p>
      
      
      <form class="form">
      
        <div class="form-group">
          
          <label class="form-label" for="option-priority">Show option priority for</label>
    
          <select class="form-control" name="option-priority" id="option-priority">
            <option>All land for this business</option>
            <option value="1">Land in Berkshire and Marlborough Downs (NCA116)</option>
            <option value="2">Land in Thames Basin Heaths (NCA129)</option>
          </select>
        
        </div>
      
      </form>
      

      <h2 class="heading-medium">High priority options</h2>


      <p>The following options are likely to receive a high score based on the priority areas shown above.</p>


      <div class="collapsible collapsible-borders">

        <div class="collapsible-item">

          <div class="collapsible-heading">
            <h3>
              <span class="collapsible-heading-primary">Nectar Flower Mix</span>
            </h3>
          </div>

          <div class="collapsible-content">
            <p>To provide areas of flowering plants that will boost the availability of essential food sources for butterflies, bumblebees and other pollinators.</p>
            <p><a target="blank" rel="external" href="#">Find out more</a></p>
          </div>

        </div>

        <div class="collapsible-item">

          <div class="collapsible-heading">
            <h3>
              <span class="collapsible-heading-primary">Basic Overwinter Stubble</span>
            </h3>
          </div>

          <div class="collapsible-content">
            <p>To provide a winter food source for seed-eating birds, which feed on spilt grain and the seeds of broad-leaved weeds, and a foraging habitat for brown hare. Available on parcels following the harvest of the following combinable crops;  cereals (not maize), oilseed rape or linseed.</p>
            <p><a target="blank" rel="external" href="#">Find out more</a></p>
          </div>

        </div>

      </div>


      <h2 class="heading-medium">Medium priority options</h2>

      <p>Based on the information you have provided, there are no medium priority options appropriate for your land and business.</p>

      <h2 class="heading-medium">How to apply</h2>

      <p>If you are interested in applying for Countryside Stewardship, you can find out more on <a href="https://www.gov.uk/guidance/countryside-stewardship-manual" target="_blank"  rel="external">GOV.UK</a></p>

      <p><a class="button" href="#" role="button">Finish</a></p>


    </div>


  </div>
  
  
  {{>help}}
