    {{>breadcrumb}}


    <div class="grid-row">


      <div class="column-two-thirds">

        <div class="text">
          
          <h1 class="heading-xlarge"><span class="heading-secondary">Quick answer</span> Check if you need to fill in a Self Assessment tax return</h1>

          <p>You can use this tool for any tax year. Answer the questions according to the year you want to check. The tax year runs from 6 April to 5 April the following year.</p>

          <p><a class="button button-get-started" href="#">Start now</a></p>
          
        </div>

      </div>


      <div class="column-third">

        <aside class="related">

          <div class="related-section">

            <h2 class="related-section-title">Self Assessment</h2>

            <ul class="related-section-links">
              <li><a href="/">Self Assessment tax returns</a></li>
              <li><a href="/">Log in and file your Self Assessment tax return</a></li>
              <li><a href="/">Self Assesment deadlines</a></li>
              <li><a href="/">Register for Self Assessment</a></li>
            </ul>

          </div>

        </aside>

      </div>
      

    </div>