    <a class="link-back" href="/sitiagri/business-overview/yes/">Back to Business overview</a>
    
    
    <div class="grid-row">
      
      
      <div class="column-two-thirds">
    
    
        <h1 class="heading-xlarge">People and permissions <span class="heading-secondary">Beech Farm</span></h1>
    
        
        <p>These people can already act on behalf of this business.</p>
    
    
      </div>
      
      
    </div>
    
    
    <table class="table-business-search">
      
      <caption class="visuallyhidden">People with permissions for this business listing</caption>
      
      <thead>
        <tr>
          <th scope="col">Full name</th>
          <th scope="col">Relationship</th>
          <th scope="col"><span class="visuallyhidden">Action</span></th>
        </tr>
      </thead>
      
      <tbody>
        
        <tr>
          <th scope="row"><a href="#">Sidney Bechet</a></th>
          <td>Owner or Sole Trader</td>
          <td><a href="/">Remove <span class="visuallyhidden">Sidney Bechet</span></a></td>
        </tr>
        
        <tr>
          <th scope="row"><a href="#">Jim Booth</a></th>
          <td>Owner or Sole Trader</td>
          <td><a href="/">Remove <span class="visuallyhidden">Jim Booth</span></a></td>
        </tr>
        
        <tr>
          <th scope="row"><a href="#">Shosanna Dreyfus</a></th>
          <td>Owner or Sole Trader</td>
          <td><a href="/">Remove <span class="visuallyhidden">Shosanna Dreyfus</span></a></td>
        </tr>
        
        <tr>
          <th scope="row"><a href="#">Aldo Raine</a></th>
          <td>Agent</td>
          <td><a href="/">Remove <span class="visuallyhidden">Aldo Raine</span></a></td>
        </tr>
        
      </tbody>
      
    </table>
    
    
    <div class="grid-row">
      
      
      <div class="column-two-thirds">
    
    
        <h1 class="heading-medium">Give someone access to this business</h1>
    
        
        <ul class="list-bullet">
          <li><a href="#">add an individual</a></li>
          <li><a href="#">add people responsible from a firm of agents</a></li>
        </ul>
        
        
        <div class="panel-indent">
          <p>You are responsible for all information provided to us either by you or someone acting for you, including its accuracy.</p>
        </div>
    
    
      </div>
      
      
    </div>
    
    