    <a class="link-back" href="/">Back to the index</a>


    <div class="grid-row">
      
      
      <div class="column-two-thirds">
        
        
        <h1 class="heading-xlarge">Accountable people</h1>
        
        
        <p class="lede">You can view accountable people as a user <a href="/accountable-people/your-businesses/yes/">with</a> or <a href="/accountable-people/your-businesses/no/">without</a> permissions.</p>
        
        
      </div>
      
      
    </div>