    <a class="back-link" href="/">Back to the index</a>
    
    
    <h1 class="heading-xlarge">Accountable people <span class="heading-secondary">Beech Farm</span></h1>


    <p class="lede text">Under <abbr title="European Union">EU</abbr> regulations you must tell us about accountable people for this business.</p>


    <details>
  
      <summary><span class="summary">What is an accountable person?</span></summary>
      
      <div class="panel-indent text">
        <p>An accountable person is anyone in a business who receives a payment from the <abbr title="European Union">EU</abbr>. There can be more than one accountable person in a business.</p>
      </div>
    
    </details>
    
    <p>Accountable people include:</p>
    
    <ul class="list-bullet">
      <li>business owner</li>
      <li>directors</li>
      <li>partners</li>
      <li>anyone with a 10&#37; or higher share</li>
      <li>anyone with controlling voting rights (if different to shares)</li>
    </ul>
    
    <h2 class="heading-medium">Before you start</h2>
    
    <p>You need to tell us the following about each accountable person:</p>
    
    <ul class="list-bullet">
      <li>full name</li>
      <li>email address</li>
      <li>National Insurance number</li>
      <li>percentage share (or voting rights if different to shares) in the business</li>
      <li>role within the business (for example, a director)</li>
    </ul>
    
    <p><a class="button" href="/pages/accountable-people/business-ownership/" role="button">Add an accountable person</a></p>