    <a class="link-back" href="/">Back to the index</a>


    <form class="form" method="get" action="/pages/confirm-journey/personal-details/">

    
      <h1 class="heading-xlarge">Accountable people</h1>
      
      <div class="text">
        <p class="lede">You can view accountable people as a user <a href="/pages/accountable-people/your-businesses/yes/">with</a> or <a href="/pages/accountable-people/your-businesses/no/">without</a> permissions.</p>
      </div>
      

    </form>