		<a class="link-back" href="/pages/confirm-journey/personal-details/">Back to Your personal details</a>


    <h1 class="heading-xlarge">Your contact preferences</h1>


    <form class="form" method="get" action="/pages/confirm-journey/check-business-details/">


      <fieldset class="form-group">

        <legend>
          <span class="form-label-bold">How would you like us to keep in touch with you?</span>
        </legend>

        <p>Select all that apply</p>

        <label class="block-label" for="checkbox-1">
          <input id="checkbox-1" value="email" type="checkbox">
          Email
        </label>

        <label class="block-label" for="checkbox-2">
          <input id="checkbox-2" value="landline" type="checkbox">
          Landline
        </label>

        <label class="block-label" for="checkbox-3">
          <input id="checkbox-3" value="mobile" type="checkbox">
          Mobile
        </label>

        <label class="block-label" for="checkbox-4">
          <input id="checkbox-4" value="post" type="checkbox">
          Post
        </label>

      </fieldset>


      <button class="button" type="submit">Continue</button>


    </form>