		<a class="back-link" href="/">Back to the index</a>


		<h1 class="heading-xlarge">Tables</h1>


		<div class="text">

  		<p class="lede">Consider putting content into tables to make it easier to scan.</p>

  		<div class="alert-info" role="alert">

				<div class="alert-message">

					<p>When you mark-up elements please ensure that the <b>class tag</b> is used first! This allows for quick visibility for styles associated to elements, and allows for consistency.</p>

				</div>

			</div>

		</div>


		<h2 class="heading-large">Table examples</h2>


		<ul class="list-bullet">
		  <li><a href="validation/">Table form validation</a></li>
		</ul>


    <!-- standard -->
		<h2 class="heading-medium">Standard table</h2>


		<table>

      <caption class="visuallyhidden">Business plan execution results</caption>

			<thead>

				<tr>
					<th></th>
					<th class="numeric" scope="col">Business Plan</th>
					<th class="numeric" scope="col">Actual</th>
				</tr>

			</thead>

			<tbody>

				<tr>
					<th scope="row" data-title="">Vehicle volumes</th>
					<td class="numeric" data-title="Business Plan">103,672,000</td>
					<td class="numeric" data-title="Actual">97,424,000</td>
				</tr>

				<tr>
					<th scope="row" data-title="">Driver volumes</th>
					<td class="numeric" data-title="Business Plan">16,891,000</td>
					<td class="numeric" data-title="Actual">15,197,000</td>
				</tr>

				<tr>
					<th scope="row">Electronic take-up target</th>
					<td class="numeric" data-title="Business Plan">54%</td>
					<td class="numeric" data-title="Actual">-</td>
				</tr>

				<tr>
					<th scope="row">Electronic take-up (actual)</th>
					<td class="numeric" data-title="Business Plan">-</td>
					<td class="numeric" data-title="Actual">50.3%</td>
				</tr>

			</tbody>

		</table>


		<!-- land features -->
		<h2 class="heading-medium">Land features table</h2>


    <table class="table-land-features">

      <caption class="visuallyhidden">Land uses and features information</caption>

      <thead>

        <tr>
          <th scope="col">Land uses and features</th>
          <th class="numeric" scope="col">Area</th>
          <th class="action"></th>
        </tr>

      </thead>

      <tfoot>

        <tr>
          <th>Total area</th>
          <td class="numeric">5.6ha</td>
          <td class="action"></td>
        </tr>

      </tfoot>

      <tbody>

        <tr>
          <th scope="row" data-title="Land feature"><a href="#">Hedge</a></th>
          <td class="numeric" data-title="Area">0.56ha</td>
          <td class="action"><a class="link-secondary" href="#">Remove</a></td>
        </tr>

        <tr>
          <th scope="row" data-title="Land feature"><a href="#">Buffer strip</a></th>
          <td class="numeric" data-title="Area">0.67ha</td>
          <td class="action"><a class="link-secondary" href="#">Remove</a></td>
        </tr>

        <tr>
          <th scope="row" data-title="Land feature"><a href="#">Arable land</a> <span class="text-warning">More information required</span></th>
          <td class="numeric" data-title="Area">4.32ha</td>
          <td class="action"><a class="link-secondary" href="#">Remove</a></td>
        </tr>

        <tr>
          <th scope="row" data-title="Land feature"><a href="#">Unknown</a></th>
          <td class="numeric" data-title="Area">0.05ha</td>
          <td class="action"><a class="link-secondary" href="#">Remove</a></td>
        </tr>

      </tbody>

    </table>


    <!-- land parcels -->
		<h2 class="heading-medium">Land parcels table</h2>

    <table class="table-land-parcels">

      <caption class="visuallyhidden">Land parcels</caption>

      <thead>

        <tr>
          <th scope="col">Land parcel name</th>
          <th class="numeric" scope="col">ID</th>
          <th class="numeric" scope="col">Area</th>
          <th class="checked" scope="col">Checked</th>
        </tr>

      </thead>

      <tbody>

        <tr>
          <th scope="row" data-title="Land parcel name"><a href="#">Arable land</a></th>
          <td class="numeric" data-title="ID"><span class="text-secondary">SJ8063_3931</span></td>
          <td class="numeric" data-title="Area">5.76ha</td>
          <td class="checked" data-title="Checked"><span class="tag tag-done">Yes</span></td>
        </tr>

        <tr>
          <th scope="row" data-title="Land parcel name"><a href="#">Top field</a></th>
          <td class="numeric" data-title="ID"><span class="text-secondary">SJ8063_5971</span></td>
          <td class="numeric" data-title="Area">6.05ha</td>
          <td class="checked" data-title="Checked"><span class="tag tag-done">Yes</span></td>
        </tr>

        <tr>
          <th scope="row" data-title="Land parcel name"><a href="#">East field</a></th>
          <td class="numeric" data-title="ID"><span class="text-secondary">SJ8063_4541</span></td>
          <td class="numeric" data-title="Area">0.49ha</td>
          <td class="checked" data-title="Checked"><span class="tag">No</span></td>
        </tr>

        <tr>
          <th scope="row" data-title="Land parcel name"><a href="#">Fallow field</a></th>
          <td class="numeric" data-title="ID"><span class="text-secondary">SJ8063_3254</span></td>
          <td class="numeric" data-title="Area">5.6ha</td>
          <td class="checked" data-title="Checked"><span class="tag">No</span></td>
        </tr>

        <tr>
          <th scope="row" data-title="Land parcel name"><a href="#">The Fen</a></th>
          <td class="numeric" data-title="ID"><span class="text-secondary">SJ8063_4248</span></td>
          <td class="numeric" data-title="Area">4.56ha</td>
          <td class="checked" data-title="Checked"><span class="tag tag-done">Yes</span></td>
        </tr>

        <tr>
          <th scope="row" data-title="Land parcel name"><a href="#">Wheat and Barle</a></th>
          <td class="numeric" data-title="ID"><span class="text-secondary">SJ8063_1039</span></td>
          <td class="numeric" data-title="Area">5.34ha</td>
          <td class="checked" data-title="Checked"><span class="tag">No</span></td>
        </tr>

        <tr>
          <th scope="row" data-title="Land parcel name"><a href="#">Untilted</a></th>
          <td class="numeric" data-title="ID"><span class="text-secondary">SJ8063_1039</span></td>
          <td class="numeric" data-title="Area">5.34ha</td>
          <td class="checked" data-title="Checked"><span class="tag">No</span></td>
        </tr>

        <tr>
          <th scope="row" data-title="Land parcel name"><a href="#">Untilted</a></th>
          <td class="numeric" data-title="ID"><span class="text-secondary">SJ8063_4461</span></td>
          <td class="numeric" data-title="Area">3.25ha</td>
          <td class="checked" data-title="Checked"><span class="tag">No</span></td>
        </tr>

        <tr>
          <th scope="row" data-title="Land parcel name"><a href="#">Untilted</a></th>
          <td class="numeric" data-title="ID"><span class="text-secondary">SJ8063_4369</span></td>
          <td class="numeric" data-title="Area">2.1ha</td>
          <td class="checked" data-title="Checked"><span class="tag">No</span></td>
        </tr>

        <tr>
          <th scope="row" data-title="Land parcel name"><a href="#">Untilted</a></th>
          <td class="numeric" data-title="ID"><span class="text-secondary">SJ8063_4774</span></td>
          <td class="numeric" data-title="Area">7.12ha</td>
          <td class="checked" data-title="Checked"><span class="tag">No</span></td>
        </tr>

      </tbody>

    </table>


    <!-- screen reader optimised -->
		<h2 class="heading-medium">Screen reader optimised table</h2>


		<table>

		  <caption class="visuallyhidden">Busness details listing</caption>

			<thead>

				<tr>
					<th scope="col">Business</th>
					<th class="action" scope="col">Permissions</th>
					<th class="action" scope="col">View or check</th>
				</tr>

			</thead>

			<tbody>

				<tr>
					<th scope="row" data-title="Business">Hansels Farm <br> <b><abbr title="Single Business Identifier">SBI</abbr></b>: 222222235</th>
					<td class="action" data-title="Permissions"><a href="/">View or give permissions <span class="visuallyhidden">to Hansels Farm</span></a></td>
					<td class="action" data-title="View or check"><a href="/">View business <span class="visuallyhidden">Hansels Farm</span></a></td>
				</tr>

				<tr>
					<th scope="row" data-title="Business">Willow Farm <br> <b><abbr title="Single Business Identifier">SBI</abbr></b>: 222222236</th>
					<td class="action" data-title="Permissions"><a href="/">View or give permissions <span class="visuallyhidden">to Willow Farm</span></a></td>
					<td class="action" data-title="View or check"><a href="/">View business <span class="visuallyhidden">Willow Farm</span></a></td>
				</tr>

			</tbody>

		</table>


    <!-- form elements -->
		<h2 class="heading-medium">Form tables</h2>


    <form class="form-table" method="post" action="/">

  		<table>

  		  <caption class="visuallyhidden">Business plan execution results</caption>

  			<thead>

  				<tr>
  					<th scope="col">Parcel</th>
  					<th scope="col">Reference</th>
  					<th scope="col">Total area</th>
  					<th scope="col">Eligible area</th>
  					<th scope="col">Land cover</th>
  					<th scope="col">Land use area</th>
  					<th scope="col">Land use</th>
  					<th scope="col">Area to claim</th>
  				</tr>

  			</thead>

  			<tfoot>

    			<tr>
  					<th scope="col" colspan="7">Total</th>
  					<td>20.20 ha</td>
  				</tr>

  			</tfoot>

  			<tbody>

  				<tr>
  					<th scope="row" data-title="Parcel">Field E</th>
  					<td data-title="Reference">NZ1234</td>
  					<td data-title="Total area">10.50ha</td>
  					<td data-title="Eligible area">10.50ha</td>
  					<td data-title="Land cover">Arable</td>
  					<td data-title="Land use area">5.40ha</td>
  					<td data-title="Land use">Wheat</td>
  					<td data-title="Area to claim">
    					<label class="visuallyhidden" for="land-area-1">Land Area</label>
    					<input class="form-control" type="text" id="land-area-1" size="5" value="5.20"> ha
  					</td>
  				</tr>

  				<tr>
  					<th scope="row" data-title="Parcel">Field E</th>
  					<td data-title="Reference">NZ1234</td>
  					<td data-title="Total area">10.50ha</td>
  					<td data-title="Eligible area">10.50ha</td>
  					<td data-title="Land cover">Arable</td>
  					<td data-title="Land use area">5.40ha</td>
  					<td data-title="Land use">Wheat</td>
  					<td data-title="Area to claim">
    					<label class="visuallyhidden" for="land-area-2">Land Area</label>
    					<input class="form-control" type="text" id="land-area-2" size="5" value="5.00"> ha
  					</td>
  				</tr>

  				<tr>
  					<th scope="row" data-title="Parcel">Field E</th>
  					<td data-title="Reference">NZ1234</td>
  					<td data-title="Total area">10.50ha</td>
  					<td data-title="Eligible area">10.50ha</td>
  					<td data-title="Land cover">Arable</td>
  					<td data-title="Land use area">-</td>
  					<td data-title="Land use">Peas</td>
  					<td data-title="Area to claim">
    					<label class="visuallyhidden" for="land-area-3">Land Area</label>
    					<input class="form-control" type="text" id="land-area-3" size="5" value="10.00"> ha
  					</td>
  				</tr>

  			</tbody>

  		</table>

    </form>


		<!-- reset passwords -->
    <h2 class="heading-medium">Reset passwords table</h2>


		<table>

		  <caption class="visuallyhidden">Reset user passwords</caption>

			<thead>

				<tr>
					<th scope="col">Users name</th>
					<th></th>
				</tr>

			</thead>

			<tbody>

				<tr>
					<th scope="row" data-title="Users name"><b>Connor Auditor</b> <br> selenium-test-internal-auditor@test.kainos.com</th>
					<td class="action"><a href="/">Reset password</a></td>
				</tr>

				<tr>
					<th scope="row" data-title="Users name"><b>Connor Basic</b> <br> selenium-test-internal-basic@test.kainos.com</th>
					<td class="action"><a href="/">Reset password</a></td>
				</tr>

				<tr>
					<th scope="row" data-title="Users name"><b>Connor Higher</b> <br> selenium-test-internal-higher@test.kainos.com</th>
					<td class="action"><a href="/">Reset password</a></td>
				</tr>

				<tr>
					<th scope="row" data-title="Users name"><b>Connor Operations</b> <br> selenium-test-internal-operations@test.kainos.com</th>
					<td class="action"><a href="/">Reset password</a></td>
				</tr>

				<tr>
					<th scope="row" data-title="Users name"><b>Connor Qc</b> <br> selenium-test-internal-qc@test.kainos.com</th>
					<td class="action"><a href="/">Reset password</a></td>
				</tr>

			</tbody>

		</table>