	<a class="link-back" href="/">Back to the index</a>


	<h1 class="heading-xlarge">Tables</h1>
	
	
  <div class="text">
    
    <p>Consider putting content into tables to make it easier to scan.</p>
    
    <p>See an example of a table with <a href="validation/">form validation</a>.</p>
    
    <h2 class="heading-medium">Looking for the <abbr title="HyperText Markup Language">HTML</abbr>?</h2>
    
    <p>The <abbr title="HyperText Markup Language">HTML</abbr> snippets can be found in the <a href="/snippets/#tables">snippets page</a>.</p>
    
  </div>


  <h3 class="heading-medium">Standard</h3>
  
  <div class="example">
    <table>
      <caption class="visuallyhidden">Business plan execution results</caption>
      <thead>
        <tr>
          <th></th>
          <th class="numeric" scope="col">Business Plan</th>
          <th class="numeric last" scope="col">Actual</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Vehicle volumes</th>
          <td class="numeric">103,672</td>
          <td class="numeric last">97,424</td>
        </tr>
        <tr>
          <th scope="row">Driver volumes</th>
          <td class="numeric">16,891</td>
          <td class="numeric last">15,197</td>
        </tr>
        <tr>
          <th scope="row">Electronic take-up target</th>
          <td class="numeric">54&#37;</td>
          <td class="numeric last">-</td>
        </tr>
        <tr>
          <th scope="row">Electronic take-up (actual)</th>
          <td class="numeric">-</td>
          <td class="numeric last">50.3&#37;</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
  <h3 class="heading-medium">Sortable</h3>
  
  <div class="example">
    <table class="table-land-parcels js-table-sortable">
      <caption class="visuallyhidden">Land parcel distribution</caption>
      <thead>
        <tr>
          <th scope="col" data-sort="string">Parcel ID</th>
          <th class="numeric" scope="col">Total area (<abbr title="Hectare">ha</abbr>)</th>
          <th scope="col">Eligible covers</th>
          <th class="numeric last" scope="col">BPS eligible area (<abbr title="Hectare">ha</abbr>)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><a href="/">SP1561 5978</a> <span class="text-pending">Pending</span></th>
          <td class="numeric">2.62</td>
          <td>Grassland</td>
          <td class="numeric last">2.62</td>
        </tr>
        <tr>
          <th scope="row"><a href="/">SP1561 6596</a></th>
          <td class="numeric">2.05</td>
          <td>Arable</td>
          <td class="numeric last">2.05</td>
        </tr>
        <tr>
          <th scope="row"><a href="/">SP1561 7039</a> <span class="text-pending">Pending</span></th>
          <td class="numeric">10.16</td>
          <td>Grassland</td>
          <td class="numeric last">10.16</td>
        </tr>
        <tr>
          <th scope="row"><a href="/">SP1561 7070</a> <span class="text-pending">Pending</span></th>
          <td class="numeric">6.63</td>
          <td>Grassland</td>
          <td class="numeric last">6.63</td>
        </tr>
        <tr>
          <th scope="row"><a href="/">SP1561 9086</a></th>
          <td class="numeric">9.15</td>
          <td>Arable</td>
          <td class="numeric last">9.15</td>
        </tr>
        <tr>
          <th scope="row"><a href="/">SP1562 8012</a></th>
          <td class="numeric">3.01</td>
          <td>Arable</td>
          <td class="numeric last">3.01</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
  <h3 class="heading-medium">Summary</h3>
  
  <p>A summary of items including <a href="http://schema.org/Organization/" rel="external">schema data</a> for a particular business.</p>

  <div class="example">
  
    <h2 class="heading-medium">Business details</h2>
    
    <table class="table-summary" itemtype="http://schema.org/Organization" itemscope>
    
      <caption class="visuallyhidden">Business details</caption>
      
      <tbody>
      
        <tr>
          <th class="table-summary-title" scope="row">Business name</th>
          <td class="table-summary-content" itemprop="name">Beech Farm</td>
        </tr>
        
        <tr>
          <th class="table-summary-title" scope="row">Firm reference</th>
          <td class="table-summary-content">2000000045</td>
        </tr>
        
        <tr>
          <th class="table-summary-title" scope="row"><abbr title="Value Added Tax">VAT</abbr> registration number</th>
          <td class="table-summary-content">567890123</td>
        </tr>
        
        <tr>
          <th class="table-summary-title" scope="row">Address</th>
          <td class="table-summary-content">
          <div itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope>
            <div itemprop="streetAddress">Pooley Bridge</div>
            <div itemprop="addressLocality">Penrith</div>
            <div itemprop="addressRegion">Cumbria</div>
            <div itemprop="postalCode">CH3 6NZ</div>
            <div itemprop="addressCountry">United Kingdom</div>
          </div>
          </td>
        </tr>
        
        <tr>
          <th class="table-summary-title" scope="row">Landline</th>
          <td class="table-summary-content" itemprop="telephone">07337938476</td>
        </tr>
        
        <tr>
          <th class="table-summary-title" scope="row">Mobile</th>
          <td class="table-summary-content" itemprop="telephone">07449654321</td>
        </tr>
        
        <tr>
          <th class="table-summary-title" scope="row">Email</th>
          <td class="table-summary-content" itemprop="email"><a href="mailto:defra-user-1@kainos.com">defra-user-1@kainos.com</a></td>
        </tr>
      
      </tbody>
    
    </table>
  
  </div>
  
  
  <h3 class="heading-medium">Land features</h3>
  
  <div class="example">
  
    <table class="table-land-features">
      <caption class="visuallyhidden">Land uses and features information</caption>
      <thead>
        <tr>
          <th scope="col">Land uses and features</th>
          <th class="numeric" scope="col">Area (<abbr title="hectare">ha</abbr>)</th>
          <th class="action last"></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Total area:</th>
          <td class="numeric"><span class="bold-medium">5.6</span></td>
          <td class="action last"></td>
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <th scope="row"><a href="/">Hedge</a> <span class="text-warning">More details required</span></th>
          <td class="numeric">0.56</td>
          <td class="action last"><a href="/">Remove</a></td>
        </tr>
        <tr>
          <th scope="row"><a href="/">Buffer strip</a></th>
          <td class="numeric">0.67</td>
          <td class="action last"><a href="/">Remove</a></td>
        </tr>
      </tbody>
    </table>
  
  </div>
  
  
  <h3 class="heading-medium">Land parcels</h3>
  
  <div class="example">
  
    <table class="table-land-parcels">
      <caption class="visuallyhidden">Land parcels</caption>
      <thead>
        <tr>
          <th scope="col">Land parcel name</th>
          <th class="numeric" scope="col"><abbr title="Single Business Identifier">SBI</abbr></th>
          <th class="numeric" scope="col">Area (<abbr title="hectare">ha</abbr>)</th>
          <th class="checked last" scope="col">Checked</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><a href="#">Arable land</a></th>
          <td class="numeric"><span class="text-secondary">SJ8063_3931</span></td>
          <td class="numeric">5.76</td>
          <td class="checked last"><span class="tag tag-done">Yes</span></td>
        </tr>
        <tr>
          <th scope="row"><a href="#">East field</a></th>
          <td class="numeric"><span class="text-secondary">SJ8063_4541</span></td>
          <td class="numeric">0.49</td>
          <td class="checked last"><span class="tag">No</span></td>
        </tr>
      </tbody>
    </table>
  
  </div>
  

  <h3 class="heading-medium">Search results with pagination</h3>
  
  <div class="example">
    
    <table class="table-business-search">
      <caption class="visuallyhidden">Customer and Business search listing</caption>
      <thead>
        <tr>
          <th scope="col">Business</th>
          <th scope="col">Address</th>
          <th class="numeric" scope="col"><abbr title="Single Business Identifier">SBI</abbr></th>
          <th class="action last" scope="col"><span class="visuallyhidden">View</span></th>
        </tr>
      </thead>
      <tbody>
        <tr itemtype="http://schema.org/Organization" itemscope>
          <th scope="row" itemprop="name">Appletree</th>
          <td itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope>
            <div itemprop="streetAddress">8 Mckenzie Springs</div>
            <div itemprop="addressLocality">Menai Street</div>
            <div itemprop="addressRegion">Hatfield</div>
            <div itemprop="postalCode">RH8 6LA</div>
            <div itemprop="addressCountry">United Kingdom</div>
          </td>
          <td class="numeric"><span class="text-secondary">SJ8063_4461</span></td>
          <td class="action last"><a href="/">View business <span class="visuallyhidden">Appletree</span></a></td>
        </tr>
      </tbody>
    </table>
    
    <div class="pager">
      <div class="pager-controls">
        <ul class="pager-items">
          <li>1</li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
        </ul>
        <a class="pager-next" href="#">Next</a>
      </div>
      <div class="pager-summary">Showing 1 &ndash; 50 of 146 results</div>
    </div>
  
  </div>
  
  
  <h3 class="heading-medium">Clickable rows</h3>
  
  <p>Each row must contain only one link using the data-link attribute.</p>
  
  <div class="example">
    <table class="table-business-search js-table-rows-clickable">
      <caption class="visuallyhidden">Customer and Business search listing</caption>
      <thead>
        <tr>
          <th scope="col">Customer</th>
          <th scope="col">Address</th>
          <th scope="col">Email</th>
          <th class="numeric last" scope="col">Reference</th>
        </tr>
      </thead>
      <tbody>
        <tr itemtype="http://schema.org/Organization" data-link="/" itemscope>
          <th scope="row" itemprop="name"><a href="/">Agent Smith</a></th>
          <td itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope>
            <div itemprop="streetAddress">Beech Farm</div>
            <div itemprop="addressLocality">Pooley Bridge</div>
            <div itemprop="addressRegion">Penrith</div>
            <div itemprop="postalCode">CA10 2NP</div>
            <div itemprop="addressCountry">United Kingdom</div>
          </td>
          <td itemprop="email">selenium@kainos.com</td>
          <td class="numeric last"><span class="text-secondary">1000000222</span></td>
        </tr>
        <tr itemtype="http://schema.org/Organization" data-link="/" itemscope>
          <th scope="row" itemprop="name"><a href="/">Andrew Smith</a></th>
          <td itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope>
            <div itemprop="streetAddress">144</div>
            <div itemprop="addressLocality">Holt Road</div>
            <div itemprop="addressRegion">Fakenham</div>
            <div itemprop="postalCode">NR21 0AX</div>
            <div itemprop="addressCountry">United Kingdom</div>
          </td>
          <td itemprop="email">sandrew.smith@kainos.com</td>
          <td class="numeric last"><span class="text-secondary">1000000087</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
  <h3 class="heading-medium">Table with inputs</h3>
  
  <div class="example">
    <form class="form">
      <table class="table-form">
        <caption class="visuallyhidden">Business plan execution results</caption>
        <thead>
          <tr>
            <th scope="col">Parcel</th>
            <th scope="col">Reference</th>
            <th scope="col">Total area (<abbr title="hectare">ha</abbr>)</th>
            <th scope="col">Eligible area (<abbr title="hectare">ha</abbr>)</th>
            <th scope="col">Land cover</th>
            <th scope="col">Land use area (<abbr title="hectare">ha</abbr>)</th>
            <th scope="col">Land use</th>
            <th class="numeric last" scope="col">Area to claim (<abbr title="hectare">ha</abbr>)</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th scope="col" colspan="7">Total:</th>
            <td class="numeric last"><span class="bold-medium">10.20</span></td>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <th scope="row">Field E</th>
            <td>NZ1234</td>
            <td>10.50</td>
            <td>10.50</td>
            <td>Arable</td>
            <td>5.40</td>
            <td>Wheat</td>
            <td class="numeric last">
              <label class="visuallyhidden" for="land-area-1">Land Area</label>
              <input class="form-control" type="text" id="land-area-1" size="5" value="5.20">
            </td>
          </tr>
          <tr>
            <th scope="row">Field F</th>
            <td>NZ1234</td>
            <td>10.50</td>
            <td>10.50</td>
            <td>Arable</td>
            <td>5.40</td>
            <td>Wheat</td>
            <td class="numeric last">
              <label class="visuallyhidden" for="land-area-2">Land Area</label>
              <input class="form-control" type="text" id="land-area-2" size="5" value="5.00">
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  
  
  <h3 class="heading-medium">Table with errors</h3>
  
  <div class="example">
    
    <div class="error-summary" tabindex="-1" aria-labelledby="error-summary-heading-1" role="group">

      <h1 class="heading-medium error-summary-heading" id="error-summary-heading-1">Message to alert the user to a problem goes here</h1>
  
      <p>Optional description of the error(s) and how to correct them</p>
  
      <ul class="error-summary-list">
        <li><a href="#error-land-area-1">Descriptive link to the question with an error</a></li>
        <li><a href="#error-land-area-2">Descriptive link to the question with an error</a></li>
      </ul>
  
    </div>

		<table class="table-form">

		  <caption class="visuallyhidden">Business plan execution results</caption>

			<thead>

				<tr>
					<th scope="col">Parcel</th>
					<th scope="col">Reference</th>
					<th scope="col">Total area (<abbr title="hectare">ha</abbr>)</th>
					<th scope="col">Eligible area (<abbr title="hectare">ha</abbr>)</th>
					<th scope="col">Land cover</th>
					<th scope="col">Land use area (<abbr title="hectare">ha</abbr>)</th>
					<th scope="col">Land use</th>
					<th class="numeric last" scope="col">Area to claim (<abbr title="hectare">ha</abbr>)</th>
				</tr>

			</thead>

			<tfoot>

  			<tr>
					<th scope="col" colspan="7">Total:</th>
					<td class="numeric last"><span class="bold-medium">NaN</span></td>
				</tr>

			</tfoot>

			<tbody>

				<tr>
					<th scope="row">Field E</th>
					<td>NZ1234</td>
					<td>10.50</td>
					<td>10.50</td>
					<td>Arable</td>
					<td>5.40</td>
					<td>Wheat</td>
					<td class="numeric last error" id="error-land-area-1">
  					<label class="visuallyhidden" for="land-area-1">Land Area</label>
  					<input class="form-control" type="text" id="land-area-1" size="5" value="34.fs">
					</td>
				</tr>

				<tr>
					<th scope="row">Field E</th>
					<td>NZ1234</td>
					<td>10.50</td>
					<td>10.50</td>
					<td>Arable</td>
					<td>5.40</td>
					<td>Wheat</td>
					<td class="numeric last error" id="error-land-area-2">
  					<label class="visuallyhidden" for="land-area-2">Land Area</label>
  					<input class="form-control" type="text" id="land-area-2" size="5" value="abcdef">
					</td>
				</tr>

				<tr>
					<th scope="row">Field E</th>
					<td>NZ1234</td>
					<td>10.50</td>
					<td>10.50</td>
					<td>Arable</td>
					<td>-</td>
					<td>Peas</td>
					<td class="numeric last">
  					<label class="visuallyhidden" for="land-area-3">Land Area</label>
  					<input class="form-control" type="text" id="land-area-3" size="5" value="3.5">
					</td>
				</tr>

			</tbody>

		</table>
    
  </div>
  
  
  <h3 class="heading-medium">Table with checkboxes</h3>
  
  <div class="example">
    <form class="form">
      <table class="table-form">
        <caption class="visuallyhidden">Name of agents listing</caption>
          <thead>
            <tr>
              <th scope="col">Name of the agents</th>
            </tr>
          </thead>
        <tbody>
          <tr>
            <th scope="row">
              <label><input type="checkbox"> Clarinda Bainbridge</label>
            </th>
          </tr>
          <tr>
            <th scope="row">
              <label><input type="checkbox"> Patrick Fensome</label>
            </th>
          </tr>
        </tbody>
      </table>
    </form>
  
  </div>
  
  
  <h3 class="heading-medium">Reset password</h3>
  
  <div class="example">
    <table>
      <caption class="visuallyhidden">Reset user passwords</caption>
      <thead>
        <tr>
          <th scope="col" colspan="2">User details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Connor Auditor <br> <span class="text-secondary">auditor@kainos.com</span></th>
          <td class="action last"><a href="/">Reset password</a></td>
        </tr>
        <tr>
          <th scope="row">Connor Basic <br> <span class="text-secondary">basic@kainos.com</span></th>
          <td class="action last"><a href="/">Reset password</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
  <p><a href="#content">Back to the top</a></p>