		<a class="back-link" href="/">Back to the index</a>


		<h1 class="heading-xlarge">Tables</h1>


		<div class="text">

  		<p class="lede">Consider putting content into tables to make it easier to scan.</p>

  		<div class="alert-info" role="alert">

				<div class="alert-message">

					<p>When you mark-up elements please ensure that the <b>class tag</b> is used first! This allows for quick visibility for styles associated to elements, and allows for consistency.</p>

				</div>

			</div>

		</div>


		<h2 class="heading-large">Table examples</h2>


		<ul class="list-bullet">
		  <li><a href="validation/">Table form validation</a></li>
		</ul>


    <!-- standard -->
		<h2 class="heading-medium">Standard table</h2>


		<table>

      <caption class="visuallyhidden">Business plan execution results</caption>

			<thead>

				<tr>
					<th></th>
					<th class="numeric" scope="col">Business Plan</th>
					<th class="numeric" scope="col">Actual</th>
				</tr>

			</thead>

			<tbody>

				<tr>
					<th scope="row">Vehicle volumes</th>
					<td class="numeric">103,672,000</td>
					<td class="numeric">97,424,000</td>
				</tr>

				<tr>
					<th scope="row">Driver volumes</th>
					<td class="numeric">16,891,000</td>
					<td class="numeric">15,197,000</td>
				</tr>

				<tr>
					<th scope="row">Electronic take-up target</th>
					<td class="numeric">54%</td>
					<td class="numeric">-</td>
				</tr>

				<tr>
					<th scope="row">Electronic take-up (actual)</th>
					<td class="numeric">-</td>
					<td class="numeric">50.3%</td>
				</tr>

			</tbody>

		</table>


		<!-- land features -->
		<h2 class="heading-medium">Land features table</h2>


    <table class="table-land-features">

      <caption class="visuallyhidden">Land uses and features information</caption>

      <thead>

        <tr>
          <th scope="col">Land uses and features</th>
          <th class="numeric" scope="col">Area</th>
          <th class="action"></th>
        </tr>

      </thead>

      <tfoot>

        <tr>
          <th>Total area</th>
          <td class="numeric">5.6ha</td>
          <td class="action"></td>
        </tr>

      </tfoot>

      <tbody>

        <tr>
          <th scope="row"><a href="#">Hedge</a></th>
          <td class="numeric">0.56ha</td>
          <td class="action"><a class="link-secondary" href="#">Remove</a></td>
        </tr>

        <tr>
          <th scope="row"><a href="#">Buffer strip</a></th>
          <td class="numeric">0.67ha</td>
          <td class="action"><a class="link-secondary" href="#">Remove</a></td>
        </tr>

        <tr>
          <th scope="row"><a href="#">Arable land</a> <span class="text-warning">More information required</span></th>
          <td class="numeric">4.32ha</td>
          <td class="action"><a class="link-secondary" href="#">Remove</a></td>
        </tr>

        <tr>
          <th scope="row"><a href="#">Unknown</a></th>
          <td class="numeric">0.05ha</td>
          <td class="action"><a class="link-secondary" href="#">Remove</a></td>
        </tr>

      </tbody>

    </table>


    <!-- land parcels -->
		<h2 class="heading-medium">Land parcels table</h2>

    <table class="table-land-parcels">

      <caption class="visuallyhidden">Land parcels</caption>

      <thead>

        <tr>
          <th scope="col">Land parcel name</th>
          <th class="numeric" scope="col">ID</th>
          <th class="numeric" scope="col">Area</th>
          <th class="checked" scope="col">Checked</th>
        </tr>

      </thead>

      <tbody>

        <tr>
          <th scope="row"><a href="#">Arable land</a></th>
          <td class="numeric"><span class="text-secondary">SJ8063_3931</span></td>
          <td class="numeric">5.76ha</td>
          <td class="checked"><span class="tag tag-done">Yes</span></td>
        </tr>

        <tr>
          <th scope="row"><a href="#">Top field</a></th>
          <td class="numeric"><span class="text-secondary">SJ8063_5971</span></td>
          <td class="numeric">6.05ha</td>
          <td class="checked"><span class="tag tag-done">Yes</span></td>
        </tr>

        <tr>
          <th scope="row"><a href="#">East field</a></th>
          <td class="numeric"><span class="text-secondary">SJ8063_4541</span></td>
          <td class="numeric">0.49ha</td>
          <td class="checked"><span class="tag">No</span></td>
        </tr>

        <tr>
          <th scope="row"><a href="#">Fallow field</a></th>
          <td class="numeric"><span class="text-secondary">SJ8063_3254</span></td>
          <td class="numeric">5.6ha</td>
          <td class="checked"><span class="tag">No</span></td>
        </tr>

        <tr>
          <th scope="row"><a href="#">The Fen</a></th>
          <td class="numeric"><span class="text-secondary">SJ8063_4248</span></td>
          <td class="numeric">4.56ha</td>
          <td class="checked"><span class="tag tag-done">Yes</span></td>
        </tr>

        <tr>
          <th scope="row"><a href="#">Wheat and Barle</a></th>
          <td class="numeric"><span class="text-secondary">SJ8063_1039</span></td>
          <td class="numeric">5.34ha</td>
          <td class="checked"><span class="tag">No</span></td>
        </tr>

        <tr>
          <th scope="row"><a href="#">Untilted</a></th>
          <td class="numeric"><span class="text-secondary">SJ8063_1039</span></td>
          <td class="numeric">5.34ha</td>
          <td class="checked"><span class="tag">No</span></td>
        </tr>

        <tr>
          <th scope="row"><a href="#">Untilted</a></th>
          <td class="numeric"><span class="text-secondary">SJ8063_4461</span></td>
          <td class="numeric">3.25ha</td>
          <td class="checked"><span class="tag">No</span></td>
        </tr>

        <tr>
          <th scope="row"><a href="#">Untilted</a></th>
          <td class="numeric"><span class="text-secondary">SJ8063_4369</span></td>
          <td class="numeric">2.1ha</td>
          <td class="checked"><span class="tag">No</span></td>
        </tr>

        <tr>
          <th scope="row"><a href="#">Untilted</a></th>
          <td class="numeric"><span class="text-secondary">SJ8063_4774</span></td>
          <td class="numeric">7.12ha</td>
          <td class="checked"><span class="tag">No</span></td>
        </tr>

      </tbody>

    </table>


    <!-- screen reader optimised -->
		<h2 class="heading-medium">Screen reader optimised table</h2>


		<table>

		  <caption class="visuallyhidden">Busness details listing</caption>

			<thead>

				<tr>
					<th scope="col">Business</th>
					<th class="action" scope="col">Permissions</th>
					<th class="action" scope="col">View or check</th>
				</tr>

			</thead>

			<tbody>

				<tr>
					<th scope="row">Hansels Farm <br> <b><abbr title="Single Business Identifier">SBI</abbr></b>: 222222235</th>
					<td class="action"><a href="/">View or give permissions <span class="visuallyhidden">to Hansels Farm</span></a></td>
					<td class="action"><a href="/">View business <span class="visuallyhidden">Hansels Farm</span></a></td>
				</tr>

				<tr>
					<th scope="row">Willow Farm <br> <b><abbr title="Single Business Identifier">SBI</abbr></b>: 222222236</th>
					<td class="action"><a href="/">View or give permissions <span class="visuallyhidden">to Willow Farm</span></a></td>
					<td class="action"><a href="/">View business <span class="visuallyhidden">Willow Farm</span></a></td>
				</tr>

			</tbody>

		</table>


		<!-- business search results -->
		<h2 class="heading-medium">Search results</h2>


		<table class="table-business-search">

		  <caption class="visuallyhidden">Customer and Business search listing</caption>

			<thead>

				<tr>
					<th scope="col">Business</th>
					<th scope="col">Address</th>
					<th scope="col"><abbr title="Single Business Identifier">SBI</abbr></th>
					<th class="action" scope="col"><span class="visuallyhidden">View</span></th>
				</tr>

			</thead>

			<tbody>

				<tr>
					<th scope="row">Appletree Acres</th>
					<td>8 Mckenzie Springs<br>Menai Street<br>Hatfield<br>RH8 6LA<br>United Kingdom</td>
					<td>222222857</td>
					<td class="action"><a href="/">View business <span class="visuallyhidden">Appletree Acres</span></a></td>
				</tr>

				<tr>
					<th scope="row">Appletree Agriculture</th>
					<td>Chad Creek Lane<br>Reform Street<br>Aldeburgh<br>BH4 7ST<br>United Kingdom</td>
					<td>222223212</td>
					<td class="action"><a href="/">View business <span class="visuallyhidden">Appletree Agriculture</span></a></td>
				</tr>

				<tr>
					<th scope="row">Appletree Farm</th>
					<td>2 Eryn Islands<br>Witham<br>HX93 X51<br>United Kingdom</td>
					<td>222222592</td>
					<td class="action"><a href="/">View business <span class="visuallyhidden">Appletree Farm</span></a></td>
				</tr>

				<tr>
					<th scope="row">Appletree Farmstead</th>
					<td>214 Scarlett Coves<br>Henry Street<br>Frodsham<br>DY7 7NN<br>United Kingdom</td>
					<td>222223113</td>
					<td class="action"><a href="/">View business <span class="visuallyhidden">Appletree Farmstead</span></a></td>
				</tr>

			</tbody>

		</table>


		<div class="pager">

      <div class="pager-controls">

        <ul class="pager-items">
          <li>1</li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
        </ul>

        <a class="pager-next" href="#">Next</a>

      </div>

      <div class="pager-summary">Showing 1 &ndash; 50 of 146 results</div>

		</div>


		<!-- business search results -->
		<h2 class="heading-medium">Your businesses</h2>


		<table>

		  <caption class="visuallyhidden">Your businesses listing</caption>

			<thead>

				<tr>
					<th scope="col">Business</th>
					<th scope="col">Status</th>
					<th class="action" scope="col"><span class="visuallyhidden">Action</span></th>
				</tr>

			</thead>

			<tbody>

				<tr>
					<th scope="row">B &amp; G Farms</th>
					<td>In Progress</td>
					<td class="action"><a href="/">Continue application <span class="visuallyhidden">B &amp; G Farms</span></a></td>
				</tr>

				<tr>
					<th scope="row">Red Farm</th>
					<td>In Progress</td>
					<td class="action"><a href="/">Continue application <span class="visuallyhidden">Red Farm</span></a></td>
				</tr>

				<tr>
					<th scope="row">Bodmin Agr Ltd</th>
					<td>Submitted</td>
					<td class="action"><a href="/">View business <span class="visuallyhidden">Bodmin Agr Ltd</span></a></td>
				</tr>

				<tr>
					<th scope="row">Beech Farm</th>
					<td>Submitted</td>
					<td class="action"><a href="/">View business <span class="visuallyhidden">Beech Farm</span></a></td>
				</tr>

			</tbody>

		</table>


    <!-- form elements -->
		<h2 class="heading-medium">Form table</h2>


    <form class="form-table" method="post" action="/">

  		<table>

  		  <caption class="visuallyhidden">Business plan execution results</caption>

  			<thead>

  				<tr>
  					<th scope="col">Parcel</th>
  					<th scope="col">Reference</th>
  					<th scope="col">Total area</th>
  					<th scope="col">Eligible area</th>
  					<th scope="col">Land cover</th>
  					<th scope="col">Land use area</th>
  					<th scope="col">Land use</th>
  					<th scope="col">Area to claim</th>
  				</tr>

  			</thead>

  			<tfoot>

    			<tr>
  					<th scope="col" colspan="7">Total</th>
  					<td>20.20 ha</td>
  				</tr>

  			</tfoot>

  			<tbody>

  				<tr>
  					<th scope="row">Field E</th>
  					<td>NZ1234</td>
  					<td>10.50ha</td>
  					<td>10.50ha</td>
  					<td>Arable</td>
  					<td>5.40ha</td>
  					<td>Wheat</td>
  					<td>
    					<label class="visuallyhidden" for="land-area-1">Land Area</label>
    					<input class="form-control" type="text" id="land-area-1" size="5" value="5.20"> ha
  					</td>
  				</tr>

  				<tr>
  					<th scope="row">Field E</th>
  					<td>NZ1234</td>
  					<td>10.50ha</td>
  					<td>10.50ha</td>
  					<td>Arable</td>
  					<td>5.40ha</td>
  					<td>Wheat</td>
  					<td>
    					<label class="visuallyhidden" for="land-area-2">Land Area</label>
    					<input class="form-control" type="text" id="land-area-2" size="5" value="5.00"> ha
  					</td>
  				</tr>

  				<tr>
  					<th scope="row">Field E</th>
  					<td>NZ1234</td>
  					<td>10.50ha</td>
  					<td>10.50ha</td>
  					<td>Arable</td>
  					<td>-</td>
  					<td>Peas</td>
  					<td>
    					<label class="visuallyhidden" for="land-area-3">Land Area</label>
    					<input class="form-control" type="text" id="land-area-3" size="5" value="10.00"> ha
  					</td>
  				</tr>

  			</tbody>

  		</table>

    </form>


    <!-- form table with checkboxes -->
		<h2 class="heading-medium">Form table with checkboxes</h2>

      <form class="form-table" method="post" action="/">

  		<table>

        <caption class="visuallyhidden">Name of agents listing</caption>

  			<thead>

  				<tr>
  					<th scope="col">Name of the agents</th>
  				</tr>

  			</thead>

  			<tbody>

  				<tr>
  					<th scope="row">
    					 <label>
    					  <input type="checkbox"> Clarinda Bainbridge
    					 </label>
    				</th>
  				</tr>

  				<tr>
  					<th scope="row">
    					 <label>
    					  <input type="checkbox"> Patrick Fensome
    					 </label>
    				</th>
  				</tr>

  			</tbody>

  		</table>

    </form>


		<!-- reset passwords -->
    <h2 class="heading-medium">Reset passwords table</h2>


		<table>

		  <caption class="visuallyhidden">Reset user passwords</caption>

			<thead>

				<tr>
					<th scope="col">Users name</th>
					<th></th>
				</tr>

			</thead>

			<tbody>

				<tr>
					<th scope="row"><b>Connor Auditor</b> <br> selenium-test-internal-auditor@test.kainos.com</th>
					<td class="action"><a href="/">Reset password</a></td>
				</tr>

				<tr>
					<th scope="row"><b>Connor Basic</b> <br> selenium-test-internal-basic@test.kainos.com</th>
					<td class="action"><a href="/">Reset password</a></td>
				</tr>

				<tr>
					<th scope="row"><b>Connor Higher</b> <br> selenium-test-internal-higher@test.kainos.com</th>
					<td class="action"><a href="/">Reset password</a></td>
				</tr>

				<tr>
					<th scope="row"><b>Connor Operations</b> <br> selenium-test-internal-operations@test.kainos.com</th>
					<td class="action"><a href="/">Reset password</a></td>
				</tr>

				<tr>
					<th scope="row"><b>Connor Qc</b> <br> selenium-test-internal-qc@test.kainos.com</th>
					<td class="action"><a href="/">Reset password</a></td>
				</tr>

			</tbody>

		</table>