		<a class="link-back" href="../">Back to tables</a>


		<h1 class="heading-xlarge">Example: Table validation</h1>


    <!-- form table -->
		<form class="form" method="post" action="/">
      
      
      <div class="error-summary" tabindex="-1" aria-labelledby="error-summary-heading-1" role="group">

        <h1 class="heading-medium error-summary-heading" id="error-summary-heading-1">Message to alert the user to a problem goes here</h1>
    
        <p>Optional description of the error(s) and how to correct them</p>
    
        <ul class="error-summary-list">
          <li><a href="#error-land-area-1">Descriptive link to the question with an error</a></li>
          <li><a href="#error-land-area-2">Descriptive link to the question with an error</a></li>
        </ul>
    
      </div>
      

  		<table class="table-form">

  		  <caption class="visuallyhidden">Business plan execution results</caption>

  			<thead>

  				<tr>
  					<th scope="col">Parcel</th>
  					<th scope="col">Reference</th>
  					<th scope="col">Total area (<abbr title="hectare">ha</abbr>)</th>
  					<th scope="col">Eligible area (<abbr title="hectare">ha</abbr>)</th>
  					<th scope="col">Land cover</th>
  					<th scope="col">Land use area (<abbr title="hectare">ha</abbr>)</th>
  					<th scope="col">Land use</th>
  					<th class="numeric last" scope="col">Area to claim (<abbr title="hectare">ha</abbr>)</th>
  				</tr>

  			</thead>

  			<tfoot>

    			<tr>
  					<th scope="col" colspan="7">Total:</th>
  					<td class="numeric last"><span class="bold-medium">NaN</span></td>
  				</tr>

  			</tfoot>

  			<tbody>

  				<tr>
  					<th scope="row">Field E</th>
  					<td>NZ1234</td>
  					<td>10.50</td>
  					<td>10.50</td>
  					<td>Arable</td>
  					<td>5.40</td>
  					<td>Wheat</td>
  					<td class="numeric last error" id="error-land-area-1">
    					<label class="visuallyhidden" for="land-area-1">Land Area</label>
    					<input class="form-control" type="text" id="land-area-1" size="5" value="34.fs">
  					</td>
  				</tr>

  				<tr>
  					<th scope="row">Field E</th>
  					<td>NZ1234</td>
  					<td>10.50</td>
  					<td>10.50</td>
  					<td>Arable</td>
  					<td>5.40</td>
  					<td>Wheat</td>
  					<td class="numeric last error" id="error-land-area-2">
    					<label class="visuallyhidden" for="land-area-2">Land Area</label>
    					<input class="form-control" type="text" id="land-area-2" size="5" value="abcdef">
  					</td>
  				</tr>

  				<tr>
  					<th scope="row">Field E</th>
  					<td>NZ1234</td>
  					<td>10.50</td>
  					<td>10.50</td>
  					<td>Arable</td>
  					<td>-</td>
  					<td>Peas</td>
  					<td class="numeric last">
    					<label class="visuallyhidden" for="land-area-3">Land Area</label>
    					<input class="form-control" type="text" id="land-area-3" size="5" value="3.5">
  					</td>
  				</tr>

  			</tbody>

  		</table>

    </form>