    {{>breadcrumb}}
    
    
    <h1 class="heading-xlarge">{{page_name}} <span class="heading-secondary">{{business_name}}</span></h1>
    
    
    <h2 class="heading-medium">Business contact details</h2>
    		
		<table class="table-summary" itemtype="http://schema.org/Organization" itemscope>

      <caption class="visuallyhidden">Business contact details</caption>
      
      <tbody>
      
        <tr>
          <th class="table-summary-title" scope="row">Business name</th>
          <td class="table-summary-content" itemprop="name">Beech Farm</td>
        </tr>
        
        <tr>
          <th class="table-summary-title" scope="row">Address</th>
          <td class="table-summary-content">
            <div itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope>
              <div itemprop="streetAddress">Pooley Bridge</div>
              <div itemprop="addressLocality">Penrith</div>
              <div itemprop="addressRegion">Cumbria</div>
              <div itemprop="postalCode">CH3 6NZ</div>
              <div itemprop="addressCountry">United Kingdom</div>
            </div>
          </td>
        </tr>
        
        <tr>
          <th class="table-summary-title" scope="row">Landline</th>
          <td class="table-summary-content" itemprop="telephone">07337938476</td>
        </tr>
        
        <tr>
          <th class="table-summary-title" scope="row">Mobile</th>
          <td class="table-summary-content" itemprop="telephone">07449654321</td>
        </tr>
      
      </tbody>
    
    </table>
    
    
    <h2 class="heading-medium">Reference numbers</h2>
    
    <table class="table-summary">

      <caption class="visuallyhidden">Business reference numbers for business</caption>
      
      <tbody>
        
        <tr>
          <th class="table-summary-title" scope="row">Single Business Identifier</th>
          <td class="table-summary-content">222223250</td>
        </tr>
        
        <tr>
          <th class="table-summary-title" scope="row"><abbr title="Value Added Tax">VAT</abbr> Registration Number</th>
          <td class="table-summary-content">GB999 9999 73</td>
        </tr>
        
        <tr>
          <th class="table-summary-title" scope="row">Vendor number</th>
          <td class="table-summary-content">1000001022</td>
        </tr>
      
      </tbody>
    
    </table>
    
    
    <p><a href="#">Update business contact details and reference numbers</a></p>
    
    
    <h2 class="heading-medium">Additional details</h2>
        
    <table class="table-summary">
    
      <caption class="visuallyhidden">Additional details for business</caption>
      
      <tbody>
      
        <tr>
          <th scope="row" class="table-summary-title">Legal status</th>
          <td class="table-summary-content">Sole trader</td>
        </tr>
        
        <tr>
          <th scope="row" class="table-summary-title">Business type</th>
          <td class="table-summary-content">Farmer controlled business</td>
        </tr>
        
        <tr>
          <th scope="row" class="table-summary-title">Companies House registration</th>
          <td class="table-summary-content">1122334455</td>
        </tr>
        
        <tr>
          <th scope="row" class="table-summary-title">Business registered</th>
          <td class="table-summary-content">05 Jan 2001</td>
        </tr>
        
        <tr>
          <th scope="row" class="table-summary-title">Land registered</th>
          <td class="table-summary-content">Scotland</td>
        </tr>
      
      </tbody>
    
    </table>
    
    
    <p><a href="#">Update additional details</a></p>
    
    
    <h2 class="heading-medium">Accountable person</h2>
    
    <table class="table">
      
      <caption class="visuallyhidden">Person accountable for this business</caption>
      
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th class="numeric" scope="col">&#37; share</th>
          <th class="numeric" scope="col">&#37; votes</th>
          <th class="last" scope="col"><span class="visuallyhidden">Update</span></th>
        </tr>
      </thead>
      
      <tfoot>
        <tr>
          <td>&nbsp;</td>
          <td class="numeric"><span class="bold-medium">100</span></td>
          <td class="numeric"><span class="bold-medium">100</span></td>
          <td class="last">&nbsp;</td>
        </tr>
      </tfoot>
      
      <tbody>
        <tr>
          <td>Sydney Bechett</td>
          <td class="numeric">100</td>
          <td class="numeric">100</td>
          <td class="last"><a href="/accountable-people/business-ownership/sole-trader/update/1" title="Update Sydney Bechett">Update</a></td>
        </tr>
      </tbody>
      
    </table>
    
    
    <div class="text">
      
      <h2 class="heading-medium">Bank account details</h2>
    
      <p>To add or edit bank account details for this business, contact us on 03000 200 301.</p>
    
    </div>
    