	{{>breadcrumb}}
  
  
  <div class="grid-row">
    
    
    <div class="column-two-thirds">
        

      <h1 class="heading-xlarge">{{page_name}} <span class="heading-secondary">{{business_name}}</span></h1>
      
  
      <form class="form" id="form-sole-trader-details" method="post" action="/accountable-people/business-ownership/sole-trader/confirm/">
        
        
        <div class="form-group">
        
          <label class="block-label" for="radio-1" data-target="business-owner">
            <input id="radio-1" name="owner" value="business-owner" type="radio">
            I am this accountable person
          </label>
        
          <label class="block-label" for="radio-2" data-target="owner">
            <input id="radio-2" name="owner" value="owner" type="radio">
            Enter sole trader details
          </label>
        
        </div>
        
        
        <div class="panel-indent js-hidden" id="business-owner">
          <p>Sydney Bechett</p>
        </div>
        
        
        <div class="panel-indent js-hidden" id="owner">
  
          <div class="form-group">
            <label class="form-label" for="first-name">First name</label>
            <input class="form-control" id="first-name" name="firstName" type="text">
          </div>
          
          <div class="form-group">
            <label class="form-label" for="last-name">Last name</label>
            <input class="form-control" id="last-name" name="lastName" type="text">
          </div>
  
        </div>
        
        
        <div class="form-group form-group-compound">
          
          <label class="form-label" for="ni-number">National Insurance number 
            <span class="form-hint">What is the National Insurance number of this person?</span>
          </label>
          
          <input class="form-control" id="ni-number" name="niNumber" type="text">
          
        </div>
        
        
        <details>
        
          <summary><span class="summary">Why do I need to give you National Insurance numbers?</span></summary>
          
          <div class="panel-indent">
            <p>National Insurance numbers are unique and help us tell the difference between people who have the same name as each other.</p>
          </div>
        
        </details>
        
        
        <h2 class="heading-medium">Sole traders have:</h2>
      
      
        <div class="form-group">
          
          <div class="data">
            <h3 class="bold-large">100&#37;</h3>
            <p class="font-xsmall">share in business</p>
          </div>
          
          <div class="data">
            <h3 class="bold-large">100&#37;</h3>
            <p class="font-xsmall">voting rights (if applicable)</p>
          </div>
          
        </div>
      
        
        <div class="form-group">
        
          <fieldset class="inline">
          
            <legend>
              <span class="form-label">Is this person accountable in any other farming business that is involved in agricultural activity? (The definition of an agricultural activity can be found in the <abbr title="Basic Payment Scheme">BPS</abbr> handbook)</span>
            </legend>
            
            <div class="form-group form-group-compound">
            
              <label class="block-label" for="radio-indent-3">
                <input id="radio-indent-3" name="radio-indent-group" value="Yes" type="radio"> Yes
              </label>
              
              <label class="block-label" for="radio-indent-4">
                <input id="radio-indent-4" name="radio-indent-group" value="No" type="radio"> No
              </label>
            
            </div>
            
          </fieldset>
        
        </div>
      
      
        <div class="form-group">
          
          <button class="button" type="submit">Continue</button>
          
        </div>
        
        
      </form>
  
  
    </div>
    
    
  </div>