// Alerts
// ==========================================================================


%alert {
	border-left: 4px solid $error-colour;
	clear: both;
	margin: 0 0 1.05263em;
	padding: 1.05263em;
}


.alert-success {
	@extend %alert;
	border-color: $turquoise;
}


.alert-info {
	@extend %alert;
	border-color: $grey-2;
}


.alert-error {
	@extend %alert;
	border-color: $error-colour;
}


.alert-complete {
	@extend %alert;
	background-color: $turquoise;
	border-color: $turquoise;
	color: $white;
}


.alert-header {
  @extend .bold-medium;
	clear: both;
	//line-height: 2.083em; // 50px
	margin-bottom: .5em;
	overflow: hidden;
	vertical-align: middle;
}


.alert-number {
	float: left;
  margin-right: .41666667em; // 20px ÷ 48px font size
	@extend .bold-xlarge;
}


.alert-message {
	display: block;
	overflow: hidden;

  > p {
    margin-top: 0;
    margin-bottom: .5em;
  }

	p:last-child {
		margin: 0;
	}

}

