// ==========================================================================
// Collapsibles
// ==========================================================================


.collapsible {
  margin-bottom: 1em;

  &-heading {
    @include user-select(none); // Compass helper
    border-top: 1px solid $grey-2;
    padding: .5em 0;
    position: relative;
  }

  &-content {
    padding: .5em 0;
  }

  .name {
    font-weight: bold;
    position: relative;
    z-index: 2;
  }

  .owns {
    margin-bottom: 0;

    @include media(tablet) {
      position: absolute;
      right: 0; top: .5em;
    }

  }

  .details {
    margin-bottom: 0;
    overflow: hidden;

    &:after {
      clear: both;
      content: '';
      display: table;
    }

    dt {
      @extend .bold-small;

      @include media(tablet) {
        clear: left;
        float: left;
        margin-top: em(5);
        width: 40%;
      }

    }

    dd {
      display: block;
      @include media(tablet) {
        @include box-sizing(border-box);
        float: right;
        margin-top: em(5);
        padding-left: 20px;
        width: 60%;
      }

    }

  }

}



// JS Enabled

.js-enabled {

  .collapsible {

    &-heading {
      padding: 0;
    }

    &-content {
      padding: .5em .5em .5em 1.9em;
    }

    .owns {
      margin: 0 .5em .5em 1.9em;

      @include media(tablet) {
        margin: 0;
        right: .5em; top: .6em;
      }

    }

    button {
      background: transparent;
      border: 0 none;
      cursor: pointer;
      display: block;
      font-size: 1em;
      padding: .5em;
      text-align: left;
      width: 100%;

      span {
        color: $link-colour;
        font-weight: normal;
        text-decoration: underline;
      }

      &:before {
        color: $link-colour;
        margin-right: .35em;
      }


      // Closed

      &[aria-expanded=false] {
        &:before {
          content: '►';
        }
      }


      // Open

      &[aria-expanded=true] {
        &:before {
          content: '▼';
        }
      }

      &:hover {
        span,
        &:before {
          color: $link-hover-colour;
        }
      }

      &:focus {
        outline: 3px solid $yellow;
      }

    }


  }

}



// ==========================================================================
// Toggle
// ==========================================================================


.toggle {
  margin-bottom: 1.05263em * 2; // 40px
}


