// ==========================================================================
// Example
// ==========================================================================


.example {
  @extend %clearfix;
  border: 1px solid $grey-2;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 45px 30px 30px;
  position: relative;

  &:before {
    background: $grey-2;
    color: white;
    content: 'Example';
    font-size: 14px;
    line-height: 1;
    padding: em(10);
    position: absolute; top:0; left: 0;
    text-transform: uppercase;
  }

  .highlight {
    background-color: transparent;
    color: $govuk-blue;
  }

  &-grid {

    p {
      @include hide-text(left);
      background-color: rgba($govuk-blue,.5);
      background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%);
      background-size: 30px 30px;
      margin-top: 0;
      margin-bottom: 0;
      min-height: 60px;
    }

  }

}


.list-nav {
  list-style: none;
  padding-left: 0;
}


// Use for paragraphs before lists
.lead-in {
  margin-bottom: 0;
}


// Lists
.list-bullet {
  margin-bottom: ($gutter*1.5);
}


// Heading
.heading-index {
  margin: 1em 0 0;
}

