// ==========================================================================
// Forms
// ==========================================================================


/* form control errors */

/*.form-control-error {
  border-color: $error-colour;
  outline: 2px solid $error-colour;
}*/


/* form control focus */

/*.form-control:focus {
  border-color: $yellow;
  outline: 2px solid $yellow;
}*/


/* form control widths */

/*.form-control-wide {
  @include media(tablet) {
    width: 100%;
  }
}*/


/* checkboxes */

.form-checkboxes {
  // margin-top: 2em;

  ul {
    margin-bottom: 0;
  }

  .code {
    display: block;
    float: left;
    font-weight: bold;
    margin: 0 20px 0 10px;
  }

  .details {
    display: block;
    overflow: hidden;
  }

}


/* form control */

.form-control-textarea {
  @extend .form-control;
  display: block;
  min-height: 35px;
  max-height: 400px;
  resize: vertical;
  width: 100%;
}


.form-control-select {
  @include core-19;
  background-color: $white;
  border: 1px solid $border-colour;
  padding: 2px;
  width: 100%;

  @include media(tablet) {
    width: 50%;
  }


  /* prevent firefox from using default focus */

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $black;
  }


}


/* form search */

.form-search {

  .form-control {
    margin-bottom: 15px;
    
    @include media(tablet) {
      margin-bottom: 0;
    }
    
  }

  .form-group-search,
  .form-group-button {
    display: table-cell;
    vertical-align: top;
    width: 100%;
  }

  .button {
    line-height: 1em;
    white-space: nowrap;
    
    @include media(tablet) {
      margin-left: 15px;
    }
    
  }

}


/* form table */

.form-table {

  table th,
  table td {
    padding-top: em(13);
    padding-bottom: em(11);
  }

  .form-control {
    @include core-16;
    width: auto;
  }

}


/* autocomplete */

.twitter-typeahead {
  width: 50% !important; // Override inline style  
}


.js-tt {
  width: 100%;
}


.js-tt-menu {
  background-color: $white;
  border: 1px solid $border-colour;
  margin: 10px 0;
  width: 100%;
}


.js-tt-suggestion {
  padding: 4px;
}


.js-tt-selectable {
  cursor: pointer;
  
  &:hover {
    background-color: $grey-1;
    color: $white;
  }
  
}


.js-tt-cursor {
  background-color: $grey-1;
  color: $white;
}

