// ==========================================================================
// Icons
// ==========================================================================


$module: 'icon';


.#{$module} {
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: default;
  display: block;
  height: 22px;
  text-align: center;
  vertical-align: middle;
  width: 22px;
  
  
  // Variations
  
  &-close {
    background-image: url('../images/icons/icon-close.png');
    display: block;
  
  	@include device-pixel-ratio() {
  		background-image: url('../images/icons/icon-close-2x.png');
      background-size: 100%;
  	}
  }
  
  
  &-tick {
    background-image: url('../images/icons/icon-tick.png');
  	@include device-pixel-ratio() {
  		background-image: url('../images/icons/icon-tick-2x.png');
  		background-size: 100%;
  	}
  }
  
  
  &-cross {
    background-image: url('../images/icons/icon-cross.png');
    @include device-pixel-ratio() {
    	background-image: url('../images/icons/icon-cross-2x.png');
    	background-size: 100%;
    }
  }
  
  
  &-switch {
    background-image: url('../images/icons/icon-switch.png');
    @include device-pixel-ratio() {
    	background-image: url('../images/icons/icon-switch-2x.png');
    	background-size: 100%;
    }
  }

  
}


// Other icons

.icon-lock,
.icon-deactivate {
  background-image: url('../images/icons/statuses.png');
  background-size: auto; // Reset
  float: left;
  margin-right: 10px;
  overflow: hidden;
  
  @include device-pixel-ratio() {
    background-image: url('../images/icons/statuses-2x.png');
    background-size: 200%;
  }
  
}


.icon-lock {
  background-position: 0 0;
}


.icon-deactivate {
  background-position: -22px -22px;
}

