// Lists
// ==========================================================================


.list-alpha,
.list-nav {
  margin-top: 5px;
  margin-bottom: 20px;

  li {
    margin-bottom: 5px;
  }

}


// Alpha lists

.list-alpha {
  list-style-type: lower-alpha;
  padding-left: 20px;
  @include ie-lte(7) {
    padding-left: 28px;
  }
}


// Parcel lists

.list-parcel {

  dt, dd {
    display: inline;
  }

  dt {

    &:after {
      content: ':';
    }

  }

  dd {
    padding-right: 10px;

    &:last-child {
      padding-right: 0;
    }

  }

}


// Block list

.block-list {
  @include box-sizing(border-box);
  @include user-select(none);
  background: $panel-colour;
  border: 1px solid $panel-colour;
  clear: left;
  cursor: pointer; // Encourage clicking on block labels
  display: block;
  float: none;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: (18px $gutter $gutter-half $gutter*1.5);
  position: relative;
  width: 100%;

  label {
    cursor: pointer;
  }

  input {
    cursor: pointer;
    position: absolute;
    left: $gutter-half;
    top: 20px;
  }

  &:hover {
    border-color: $black;
  }

}


// Add selected state

.js-enabled .block-list.selected {
  background: $white;
  border-color: $black;
}


// Add focus to block labels

.js-enabled .block-list.focused {
  outline: 3px solid $yellow;
}


// Remove focus from radio/checkboxes

.js-enabled .block-list input:focus {
  outline: none;
}


// Description list

.description-list {
  margin-bottom: 1em;

  dt {
    float: left;
    margin-right: 5px;

    &:after {
      content: ':';
    }

  }

  dd {
    overflow: hidden;
  }

}

