// ==========================================================================
// Loading
// ==========================================================================


.loading {
  background-color: $white;
  height: 100%;
  position: absolute; top: 0; left: 0;
  width: 100%;
  z-index: 11;

  // Trick to cover anything that may pop out of edges
  &:before,
  &:after {
    background: $white;
    content: '';
    height: 100%;
    position: absolute; top: 0;
    width: 50%;
  }

  &:before {
    left: -50%;
  }

  &:after {
    right: -50%;
  }

  &-spinner {
    @extend %hide-text;
    background-image: url('../images/loading.gif');
    display: block;
    position: absolute; top: 150px; left: 50%;
    height: 36px;
    margin-top: -18px;
    margin-left: -18px;
    width: 36px;

    @include device-pixel-ratio() {
  		background-image: url('../images/loading-2x.gif');
      @include background-size(100%);
  	}

  }

}

