// ==========================================================================
// Map
// ==========================================================================


/* map */

.map-container {
  border: 1px solid #bfc1c3;
  clear: both;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  z-index: 10;

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

}

.map {
  @include abs-pos(0, 0, 0, 0);
  height: 100%;
  width: 100%;
}


/* print link */

.map-print {
  
  &-warning {
    border-left: 3px solid $error-colour;
    padding: 1em;
  }
  
  &-message {
    @extend .font-xsmall;
    color: $error-colour;
    display: block;
    margin-top: 5px;
  }
  
}


/* buttons */

.olButton {
  @extend %hide-text;
  background: $link-colour;
  display: block;
  height: 30px;
  position: relative;
  width: 30px;
  
  &:hover,
  &:focus {
    background-color: $focus-colour;
    outline: none;
  }
  
  &Hidden {
    display: none;
  }
  
  &Active {
    cursor: default;
    opacity: .5;
    
    &:hover,
    &:focus {
      background-color: $link-colour;
    }
    
  }
  
  &:before {
  	background: url('/assets/images/icons/map-controls.png');
  	background-position: 50% 0;
  	content: '';
  	height: 30px;
  	position: absolute; left: 0; top: 0;
  	width: 30px;

    @include device-pixel-ratio() {
      background: url('/assets/images/icons/map-controls-2x.png');
      @include background-size(30px);
    }

	}
  
}


/* controls */

.olControl {
  
  
  // measure
  
  &MeasureOutput {
    @extend .font-xsmall;
    background-color: $black;
    color: $grey-4;
    min-width: 80px;
    padding: 5px 10px;
    position: absolute; bottom: 10px; right: 10px;
    text-align: right;
    width: auto;
    z-index: 749;
  }
  
  
  // view controls
  
  &View {
    position: absolute;
    top: 10px; left: 10px;
    z-index: 749;
  }
  
  &Fullscreen {
    &:before {
      background-position: 50% -90px;
    } 
  }
  
  &FullscreenActive {
    &:before {
      background-position: 50% -120px;
    } 
  }
  
  
  // zoom controls
  
  &Zoom {
    position: absolute; 
    top: 50px; left: 10px;
    z-index: 749;
  }
  
  &ZoomReset {
  
    &:before {
      background-position: 50% 0;
    }
    
  }
  
  &ZoomIn {
  
    &:before {
      background-position: 50% -30px;
    }
    
  }
  
  &ZoomOut {
    
    &:before {
      background-position: 50% -60px;
    }
    
  }
  
  
  // measure controls
  
  &MeasureControls {
    position: absolute;
    top: 150px; left: 10px;
    z-index: 749;
  }
  
  &Measurement {
    
    &:before {
      background-position: 50% -150px;
    }
    
  }
  
  &MeasurementClear {
    
    &:before {
      background-position: 50% -180px;
    }
    
  }
  
  
}

