// ==========================================================================
// SitiAgri
// ==========================================================================


$module: 'guidance';


.#{$module} {
  background-color: white;
  border-left: 1px solid $grey-2;
  border-right: 1px solid $grey-2;
  // box-shadow: 0 em(2) em(5) rgba(0, 0, 0, .26); // Gov.uk don't seem to use css3 fancy filters
  box-sizing: border-box;
  position: fixed; top: 0;
  height: 100%;
  max-width: em(480);
  padding-top: em(87);
  overflow: hidden;
  width: 100%;
  z-index: 999;
  
  
  &-header {
    background-color: white;
    border-bottom: 1px solid $grey-2;
    height: em(87);
    max-width: em(478);
    position: fixed; top: 0;
    width: 100%;
  }
  
  
  &-title {
    @include bold-24();
    position: absolute; 
    top: 30px; left: 30px;
  }
  
  
  &-content {
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
    
    img {
      max-width: 100%; // Alow for responsive images
    }
    
  }
  
  
  &-inner {
    padding: em(30);
  }
  
  
  // Hide
  
  &[aria-hidden='true'] {
    display: none;
  }
  
  
  // Positioning
  
  &[data-position=right] {
    right: 0;
  }
  
  
  &[data-position=left] {
    left: 0;
  }
  
  
  &-close,
  &-move {
    @extend %hide-text;
    background-color: rgba(0,0,0,0);
    border: 0 none;
    cursor: pointer;
    display: block;
    margin: 4px;
    padding: 0;
    
    span {
      cursor: inherit;
    }
    
  }
  
  
  // Close
  
  &-close {
    position: absolute; 
    right: 30px; top: 30px;
  }
  
  
  // Move
  
  &-move {
    position: absolute; 
    right: 66px; top: 30px;
  }
  
  
}


// Iframe

iframe {
  border: 0;
  height: 100%;
  width: 100%;
}

