// ==========================================================================
// SitiAgri
// ==========================================================================


$module: 'guidance';


.#{$module} {
  background-color: white;
  box-sizing: border-box;
  position: fixed; top: 0;
  height: 100%;
  max-width: em(480);
  min-width: 0;
  padding-top: em(87);
  width: 100%;
  z-index: 999;
  
  
  &-header {
    background-color: white;
    border-bottom: 1px solid $grey-2;
    height: em(87);
    max-width: em(478);
    position: fixed; top: 0;
    width: 100%;
  }
  
  
  &-title {
    @include bold-24();
    position: absolute; 
    top: 30px; left: 30px;
  }
  
  
  &-content {
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    
    img {
      max-width: 100%; // Alow for responsive images
    }
    
  }
  
  
  &-inner {
    padding: em(30);
  }
  
  
  &-resize {
    background-color: $grey-2;
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -10px;
    cursor: ew-resize;
    
    &:hover {
      background-color: $govuk-blue;
    }
    
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      height: 30px;
      width: 2px;
      margin-top: -15px;
      margin-left: -1px;
      background-color: #fff;
      left: 50%;
    }
    
  }
  
  
  // Hide
  
  &[aria-hidden='true'] {
    display: none;
  }
  
  
  // Positioning
  
  &[data-position=right] {
    right: 0;
  }
  
  
  &[data-position=left] {
    left: 0;
  }
  
  
  &-close,
  &-move {
    @extend %hide-text;
    background-color: rgba(0,0,0,0);
    border: 0 none;
    cursor: pointer;
    display: block;
    margin: 4px;
    padding: 0;
    
    span {
      cursor: inherit;
    }
    
  }
  
  
  // Close
  
  &-close {
    position: absolute; 
    right: 30px; top: 30px;
  }
  
  
  // Move
  
  &-move {
    position: absolute; 
    right: 66px; top: 30px;
  }
  
  
}


// Iframe

iframe {
  border: 0;
  height: 100%;
  width: 100%;
}


.js-resizing {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

