// ==========================================================================
// SitiAgri
// ==========================================================================


$module: 'help';


.#{$module} {
  background-color: $page-colour;
  box-sizing: border-box;
  position: fixed; top: 0; right: 0;
  height: 100%;
  max-width: 480px;
  min-width: 200px;
  padding-top: em(74);
  width: 100%;
  z-index: 999;
  
  
  // Header
  &-header {
    background-color: $page-colour;
    border-bottom: 1px solid $grey-2;
    box-sizing: border-box;
    position: absolute; top: 0;
    padding: em(19);
    width: 100%;
    text-align: center;
  }
  
  
  &-title {
    @include bold-19();
    display: inline-block;
    line-height: 36px;
  }
  
  
  // Content
  &-content {
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    
    img {
      max-width: 100%; // Alow for responsive images
    }
    
  }
  
  
  &-inner {
    padding: em(19);
    overflow: hidden;
  }
  
  
  &-resize {
    background-color: $grey-2;
    cursor: ew-resize;
    height: 100%;
    position: absolute; left: -10px; top: 0;
    width: 10px;
    
    &:hover {
      background-color: lighten($grey-2,5%);
    }
    
    &:after {
      background-color: $page-colour;
      content: '';
      height: 30px;
      margin-top: -15px;
      margin-left: -1px;
      position: absolute; left: 50%; top: 50%;
      width: 2px;
    }
    
  }
  
  
  // Hide
  &[aria-hidden='true'] {
    display: none;
  }
  
  
  &-close,
  &-move {
    @extend %hide-text;
    background-color: rgba(0,0,0,0);
    background-image: url('../images/icons/help-and-guidance.png');
    background-position: 50% 0;
    border: 0 none;
    border-color: $grey-3;
    border-style: solid;
    cursor: pointer;
    display: block;
    height: 36px;
    padding: 0;
    width: 36px;
    
    @include device-pixel-ratio() {
      background: url('../images/icons/help-and-guidance-2x.png');
      @include background-size(36px);
    }
    
    &:hover {
      border-color: $black;
    }
    
  }
  
  
  // Close
  &-close {
    border-left-width: 1px;
    float: right;
  }
  
  
  // Move
  &-move {
    background-position: 50% -36px;
    border-right-width: 1px;
    float: left;
  }
  
  
  // Positioning
  &-left {
    right: auto;
    left: 0;
    
    .#{$module} {
      
      &-close {
        border-left: 0;
        border-right-width: 1px;
        float: left;
      }
      
      &-move {
        background-position: 50% -72px;
        border-right: 0;
        border-left-width: 1px;
        float: right;
      }
      
      &-resize {
        left: auto;
        right: -10px;
      }
      
    }
    
  }
  
  
}


// Iframe
iframe {
  border: 0;
  height: 100%;
  width: 100%; 
}


.iframe-tarpaulin {
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%;
  z-index: 1;
}


.js-resizing {
  cursor: ew-resize;

  // Prevent weird selection issues when resizing
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    
  .#{$module} {
  
    &-resize {
      background-color: $govuk-blue;
    }
  
  }
  
}

