// ==========================================================================
// Status
// ==========================================================================


.status {
  background-color: $govuk-blue;
  color: $white;
  padding: em(38) em(38) em(18) em(38); // accounts for paragraph and list margin
  
  
  // title
  
  &-title {
    @include bold-48();
    margin-bottom: em(30, 48);
  }
  
  
  // steps
  
  &-steps {
    margin-bottom: 20px;
    
    @include media(desktop) {
      display: table;
      border-collapse: collapse;
      margin-left: -10px;
      margin-right: -10px;
    }
    
    
    li {
      @include box-sizing(border-box);
      @include media(desktop) {
        display: table-cell;
        padding: 0 10px;
        width: 10%;
      }
      
      span {
        border-bottom: 3px solid $light-blue;
        color: $light-blue;
        display: block;
        font-weight: bold;
        padding: 10px 0;
        vertical-align: middle;
        width: 100%;
        
        img {
          float: right;
          height: 22px;
          margin-left: 5px;
          vertical-align: text-top;
          width: 22px;
          
          @include media(desktop) {
            float: none;
          }
          
        }
        
        
        &.status-complete { 
         color: $white;
        }
        
        &.status-processing { 
         border-color: $white;
         border-bottom-width: 6px;
         color: $white;
         padding-bottom: 7px;
        }
        
      }
      
    }
    
  }
  
}

