// Typography
// ==========================================================================

 
b,
strong {
  font-weight: bold;
}


// Text warning

.text-warning {
  color: $error-colour;
  display: block;

  &:before {
    @include border-radius(50%);
    background-color: $error-colour;
    content: '!';
    color: $white;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    height: 1em;
    line-height: 1;
    margin-right: 5px;
    padding: 2px;
    text-align: center;
    width: 1em;
  }

}


// Page header

.page-header {
  margin-top: em(15, 16);
  margin-bottom: em(30, 16);

  @include media(tablet) {
    margin-top: em(30, 19);
    margin-bottom: em(60, 19);
  }

  h1 {
    @include bold-48();
  }

  dl, 
  ul {
    margin: .5em 0 0 0;
  }

}


// Code blocks

pre {
  margin-bottom: em(40);
  line-height: 1.5;
}

pre, 
code {
  border: 0 none;
}

