	<a class="link-back" href="/">Back to the index</a>


	<h1 class="heading-xlarge">Buttons</h1>


  <!-- introduction -->
  <div class="text">
    
    <p>Use buttons to move though a transaction, aim to use only one button per page.</p>
    
    <h2 class="heading-medium">Looking for the HTML?</h2>
    
    <p>The HTML snippets can be found in the <a href="/elements/snippets/#buttons">snippets page</a>.</p>
    
  </div>
  
  
  <!-- button text -->
  <h3 class="heading-medium">Button text</h3>
  
  
  <div class="text">
    <p>Button text should be short and describe the action the button performs.</p>
  </div>
  
  
  <div class="example">
    <button class="button" type="button">Save and continue</button>
  </div>
  
  
  <div class="text">
    <p>Launch your service with a Start now button.</p>
  </div>
  
  
  <div class="example">
    <button class="button button-start" type="button">Start now</button>
  </div>
  
  
  <div class="text">
    <p>Align the primary action button to the left edge of your form, in the user's line of sight.</p>
  </div>
  
  
  <div class="example">
    
    <form class="form">
     
      <div class="form-group">
        <label class="form-label" for="form-email-address-1">Email address</label>
        <input class="form-control" type="text" id="form-email-address-1">
      </div>
     
      <div class="form-group">
        <button class="button" type="button">Save and continue</button>
        <p><a href="#">Back</a></p>
      </div>
      
    </form>
      
  </div>
  
  
  <!-- disabled button -->
  <h3 class="heading-medium">Disabled button</h3>
  
  
  <div class="text">
    <p>Disabled buttons should be set at 50% opacity.</p>
  </div>
  
  
  <div class="example">
    <button class="button" type="button" disabled="disabled">Primary button</button>
  </div>


  <p><a href="#content">Back to the top</a></p>