  <!-- Content -->
  <main id="page-container" role="main">


    {{>beta}}


    <div class="text">


  		<a class="back-link" href="../">Back to business details</a>


  		<h1 class="heading-xlarge">Amend business details <span class="heading-secondary">Beech Farm</span></h1>


      <!-- form group -->
      <fieldset class="form-group">


        <legend class="heading-large">Business name and address</legend>


        <div class="form-group">
          <label class="form-label" for="business-name">Business name</label>
          <input class="form-control" id="business-name" type="text" value="Beech Farm">
        </div>


        <div class="form-group">

          <label class="form-label" for="postcode-search">Postcode</label>

          <div class="form-search">

            <div class="form-group-search">
              <input class="form-control" id="postcode-search" type="text">
            </div>

            <div class="form-group-button">
              <button class="button" type="button">Find UK address</button>
            </div>

          </div>

        </div>


        <div class="toggle">

          <p><a class="toggle-link" href="#">Enter address manually</a></p>

          <div class="toggle-content">

            <div class="panel-indent">

      				<fieldset>

      					<legend class="heading-medium">Your address</legend>

      					<div class="form-group form-group-compound">
      						<label class="form-label" for="address-line-1">Street</label>
      						<input class="form-control" type="text" id="address-line-1">
      					</div>

      					<div class="form-group">
      						<label class="form-label visuallyhidden" for="address-line-2">Street</label>
      						<input class="form-control" type="text" id="address-line-2">
      					</div>

      					<div class="form-group">
      						<label class="form-label" for="address-town">Town or City</label>
      						<input class="form-control form-control-1-4" type="text" id="address-town">
      					</div>

      					<div class="form-group">
      						<label class="form-label" for="address-postcode">Postcode</label>
      						<input class="form-control form-control-1-8" type="text" id="address-postcode">
      					</div>

      				</fieldset>

            </div>

          </div>

        </div>


      </fieldset>
      <!-- end -->


      <!-- form group -->
      <fieldset class="form-group">


        <legend class="heading-large">Business contact details</legend>


        <div class="text">
          <p>You must enter either a landline or mobile number.</p>
        </div>


        <div class="form-group">
          <label class="form-label" for="email">Email</label>
          <input class="form-control" id="email" type="email" value="info@beechfarm.co.uk">
        </div>


        <div class="form-group">
          <label class="form-label" for="landline">Landline</label>
          <input class="form-control" id="landline" type="tel" value="0147 9643 7573">
        </div>


        <div class="form-group">
          <label class="form-label" for="mobile">Mobile</label>
          <input class="form-control" id="mobile" type="tel" value="0797 8377 7457">
        </div>


      </fieldset>
      <!-- end -->


      <!-- form group -->
      <fieldset class="form-group">


        <legend class="heading-large">Reference numbers</legend>


        <div class="form-group">
          <label class="form-label" for="vat-number">VAT registration number (if applicable)</label>
          <input class="form-control" id="vat-number" type="text" value="GB999 9999 73">
        </div>


      </fieldset>
      <!-- end -->


      <!-- form group -->
      <div class="form-group">

        <button class="button" type="submit">Business details are correct and complete</button>

      </div>
      <!-- end -->


    </div>


	</main>
	<!-- End -->