    <div class="text">


  		<a class="back-link" href="./">Back to business details</a>


  		<h1 class="heading-xlarge">Amend business details <span class="heading-secondary">Beech Farm</span></h1>


      <fieldset>


        <legend class="heading-medium">Business name and address</legend>


        <div class="form-group">
          
          <label for="business-name">
            <span class="form-label">Business name</span>
          </label>
          
          <input class="form-control" id="business-name" type="text" value="Beech Farm">
          
        </div>


        <div class="form-group">

          <label for="postcode-search">
            <pan  class="form-label">Postcode</pan>
          </label>

          <div class="form-search">

            <div class="form-group-search">
              <input class="form-control" id="postcode-search" type="text">
            </div>

            <div class="form-group-button">
              <button class="button" type="button">Find UK address</button>
            </div>

          </div>

        </div>


        <div class="toggle">

          <p><a class="toggle-link" href="/">Enter address manually</a></p>

          <div class="toggle-content">

            <div class="panel-indent">

      				<fieldset>

      					<legend class="heading-medium">Your address</legend>

      					<div class="form-group form-group-compound">
      						
      						<label for="address-line-1">
      						  <span class="form-label">Street</span>
      						</label>
      						
      						<input class="form-control" id="address-line-1" type="text">
      					
      					</div>

      					<div class="form-group">
      						
      						<label for="address-line-2">
      						  <span class="form-label visuallyhidden">Street</span>
      						</label>
      						
      						<input class="form-control" id="address-line-2" type="text">
      					
      					</div>

      					<div class="form-group">
      						
      						<label for="address-town">
      						  <span class="form-label">Town or City</span>
      						</label>
      						
      						<input class="form-control form-control-1-4" id="address-town" type="text">
      					
      					</div>

      					<div class="form-group">
      						
      						<label for="address-postcode">
      						  <span class="form-label">Postcode</span>
      						</label>
      						
      						<input class="form-control form-control-1-8" id="address-postcode" type="text">
      					
      					</div>

      				</fieldset>

            </div>

          </div>

        </div>


      </fieldset>


      <fieldset>


        <legend class="heading-medium">Business contact details</legend>


        <p class="text">You must enter either a landline or mobile number.</p>


        <div class="form-group">
          
          <label for="email">
            <span class="form-label">Email</span>
          </label>
          
          <input class="form-control" id="email" type="email" value="info@beechfarm.co.uk">
        
        </div>


        <div class="form-group">
          
          <label for="landline">
            <span class="form-label">Landline</span>
          </label>
          
          <input class="form-control" id="landline" type="tel" value="0147 9643 7573">
        
        </div>


        <div class="form-group">
          
          <label for="mobile">
            <span class="form-label">Mobile</span>
          </label>
          
          <input class="form-control" id="mobile" type="tel" value="0797 8377 7457">
        
        </div>


      </fieldset>


      <fieldset>

        <legend class="heading-medium">Reference numbers</legend>

        <div class="form-group">
          
          <label for="vat-number">
            <span class="form-label">VAT registration number (if applicable)</span>
          </label>
          
          <input class="form-control" id="vat-number" type="text" value="GB999 9999 73">
        
        </div>

      </fieldset>



      <button class="button" type="submit">Business details are correct and complete</button>


    </div>